[2019-02-12 20:15] #1452 closed

[2019-02-12 20:18] FrancescoBorzi commented on #1451
@Trystanosaurus @maikale

can you please let me know if this solves your issue? https://github.com/azerothcore/azerothcore-wotlk/pull/1455

I cannot reproduce since I'm not on Windows

[2019-02-12 20:29] maikale commented on #1451
oke wait

[2019-02-12 20:32] Trystanosaurus commented on #1451
I've just had a go now and it seems to compile and run properly now.

[2019-02-12 20:42] maikale commented on #1451
Severity	Code	Description	Project	File	Line	Suppression State
Error	LNK1181	cannot open input file '..\scripts\Release\scripts.lib'	worldserver	C:\Users\PC\Desktop\Build2\src\server\worldserver\LINK	1
Warning	C4715	'WorldSocket::ProcessIncoming': not all control paths return a value	game	c:\users\pc\desktop\azerothcore-wotlk-master\src\server\game\server\worldsocket.cpp	724

[2019-02-12 20:59] FrancescoBorzi commented on #1451
@maikale are you trying that PR? can you post the full error?

[2019-02-12 21:13] #1451 closed

[2019-02-12 21:14] FrancescoBorzi commented on #1451
@maikale please update to latest `master` and do a **clean** compile.

If you still have this problem, please open a new issue and include the full error that you get.

Thank you.

[2019-02-13 07:07] poszer commented on #1453
Can you try with DBAssembler?

[2019-02-13 10:02] maikale commented on #1451
Now works thanks.

[2019-02-13 10:39] maikale commented on #1453
2019-02-13 12:37:06 Opening DatabasePool 'auth'. Asynchronous connections: 1, synchronous connections: 1.
2019-02-13 12:37:06 MySQL client library: 5.7.24
2019-02-13 12:37:06 MySQL server ver: 5.5.9-log
2019-02-13 12:37:06 MySQL client library: 5.7.24
2019-02-13 12:37:06 MySQL server ver: 5.5.9-log
2019-02-13 12:37:06 DatabasePool 'auth' opened successfully. 2 total connections running.
2019-02-13

[2019-02-13 15:53] Azzaleo opened #1461 "[QUEST] "Assassin's Contract" & "Baron's Demise""
DESCRIPTION:

Quest-line:
1- Assassin's Contract (ID 522)
2- Baron's Demise (ID 523)
Can't be started.

EXPECTED BLIZZLIKE BEHAVIOUR:

Killing NPC's "Shadowy Assassin" attacking Southshore and respawning every 3 min (ID 2434), you have 100% chance to drop the item quest and you can start this little quest-line (quest item called "Assassin's Contract" ID 3668).

CURRENT BEHAVIOUR:

You can't start

[2019-02-13 18:39] Azzaleo opened #1462 "[QUEST] "The Lost Supplies" Bugged"
DESCRIPTION:

Quest "The Lost Supplies" not initiable.

EXPECTED BLIZZLIKE BEHAVIOUR:

Opening (clicking) one of the four "Scattered Crate" (ID: 28604) situated on Swamp of Sorrows ( https://vanilla-twinhead.twinstar.cz/?object=28604#map ), you can loot "Lost Supplies" (ID: 6172) giving you the quest "The Lost Supplies" (ID: 1423).

CURRENT BEHAVIOUR:

You can't start the quest because boxes are e

[2019-02-13 19:32] Azzaleo opened #1464 "[QUEST] "Fall From Grace" Bugged"
DESCRIPTION:

Quest "The Lost Supplies" not completable.

EXPECTED BLIZZLIKE BEHAVIOUR:

Speak with "Fallen Hero of the Horde" (ID:7572), accept the only quest you can accept (quest ID: 2784) speak with the same NPC (clicking on the different dialog tabs), complete the quest.

CURRENT BEHAVIOUR:

You can't complete the quest because the dialogs do not allow you to move on (Click on the same string

[2019-02-13 20:40] comix1988 commented on #1461
this npc spawn in a mini event in southshore but I do not know if the event works
https://wow.gamepedia.com/Southshore_Crier
https://vanilla-twinhead.twinstar.cz/?npc=2434#comments

[2019-02-13 22:21] CookieMonsterDev commented on #1462
Can't find info on the 'Loot Chance' of the item. Your link says 100% but is from Vanilla. This link says 2%
https://wotlk.evowow.com/?object=28604

[2019-02-14 06:08] Azzaleo commented on #1462
Nono, your link say 0.02%, is a suicide! 😅

[2019-02-14 06:11] Azzaleo commented on #1462
Nono, your link say 0.02%, is a suicide! 😅
Yesterday I opened like 30-40 of this crates, but nothing, its an impossible quest.

[2019-02-14 06:12] Azzaleo commented on #1461
A good compromise is spawn this NPC's only in the weekend or like this

[2019-02-14 06:27] poszer commented on #1462
So, is it correct 0.02 as drop chance?  Everyone will skip this quest if this is correct :rofl:

`UPDATE `gameobject_loot_template` SET `Chance`=100 WHERE `Item`=6172;`
Should be maybe ?

[2019-02-14 07:16] FrancescoBorzi commented on #1462
just quick notes:
- `0.02` would definitely be too low
- that link might also be not correct

[2019-02-14 14:57] poszer commented on #1462
Yeah lol

[2019-02-14 15:16] CookieMonsterDev commented on #1462
Well I couldn’t find any info on it. So I didn’t want to make a PR with wrong values. I figured 0.2 was too low.

[2019-02-14 15:35] Stoabrogga commented on #1462
Hmm, the comments here imply that the drop chance was 100%:
https://wow.gamepedia.com/The_Lost_Supplies#Notes
https://www.wowhead.com/quest=1423/the-lost-supplies

[2019-02-14 15:38] CookieMonsterDev commented on #1462
Then poszer sql will fix it, as I did the same and it works.

[2019-02-14 16:06] FrancescoBorzi commented on #1462
@poszer please open PR

[2019-02-14 18:11] #1422 closed

[2019-02-14 19:27] #966 closed

[2019-02-14 19:28] #1454 closed

[2019-02-14 19:29] #1464 closed

[2019-02-15 10:48] Azzaleo commented on #1464
Tested, now work perfectly!

[2019-02-15 12:23] GitVerge commented on #1403
just to give @BarbzYHOOL some support, I faced this issue a few weeks ago (i currenty have 11 realms) and I would love to see this change implemented.

[2019-02-15 14:46] Nefertumm opened #1469 "[Core] Worldserver spam and lag"
##### SMALL DESCRIPTION:

Since i updated my repo with latest commit, i'm getting this:
https://imgur.com/a/vqALqO4
and with that, i'm getting spikes of update time, which causes lag.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Worldserver should stay clean and only notifying the update time.

##### STEPS TO REPRODUCE THE PROBLEM:

1. Update AC to the latest commit.
2. See if you get the same problem th

[2019-02-15 15:05] Nefertumm commented on #1453
Can't reproduce, please, enter to our discord so we can bring you support about this.
https://discordapp.com/invite/gkt4y2x

[2019-02-15 15:05] #1453 closed

[2019-02-15 15:34] gtao725 opened #1470 "Eluna Engine Module not Compiling with"
##### SMALL DESCRIPTION:

Eluna Engine Module from AzerothCore not compiling with Latest commit 23e7ae6. Throws some serious errors.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

The module should compile as it did before the latest commit.

##### CURRENT BEHAVIOUR:

Throws errors during compilation in VS2017 Community Edition every time. Once module is removed it compiles just fine.

##### STEPS TO REPRO

[2019-02-15 15:54] GitVerge commented on #1469
https://github.com/azerothcore/azerothcore-wotlk/commit/51b8773528d7cf526d926ddb6edee2b0a8aec17f#diff-2094dfd21434b2fec5f1ba58018139f7R101

and

https://github.com/azerothcore/azerothcore-wotlk/commit/51b8773528d7cf526d926ddb6edee2b0a8aec17f#diff-2094dfd21434b2fec5f1ba58018139f7R93

This default might be set to a higher value or just put the output as debug?

[2019-02-15 17:11] comix1988 commented on #1469
![schermata 2019-02-15 18 10 05](https://user-images.githubusercontent.com/22867608/52872564-1f5de200-314d-11e9-8b4f-97efca6a5724.png)

confirm

[2019-02-15 18:14] #1469 closed

[2019-02-15 19:28] #1421 closed

[2019-02-15 20:58] BarbzYHOOL commented on #1469
Just for curiosity: `Recored update time`? what is this ? what does it mean? where is it from?

[2019-02-15 21:11] BarbzYHOOL commented on #1403
Yes, it's really annoying for my setup actually. I don't have 11 realms but just to organize them logically it's a pain, so that's 2 issues in 1

[2019-02-15 21:17] BarbzYHOOL commented on #1464
@Azzaleo thank you azzaleo, can you please comment on the Pull Request page next time?

And are you on our discord? You know we need help testing PRs :P it's really important

[2019-02-16 00:23] FrancescoBorzi commented on #1469
we should definitely investigate on this, maybe @Viste or @Nefertumm can give a hint here

[2019-02-16 00:28] FrancescoBorzi commented on #1470
@gtao725 Thanks for your report. However, one commit was just reverted, can you please try again on latest master?

Also this issue should be reported in the module repo, so please open it there if the issue is still on `master`.

[2019-02-16 00:28] #1470 closed

[2019-02-16 01:32] GitVerge commented on #1469
it's from the world update. I think the purpose of it is to have an output if a specific part of the code takes more time to update than expected. In this case the maximum time is set to 100ms for each process by default.

[2019-02-16 12:03] poszer commented on #1462
Okay

[2019-02-16 14:12] comix1988 opened #1475 "[QUEST] Morrowgrain to darnassus"
<DESCRIPTION:

The quest "morrowgrain to darnassus" can't be obtained

EXPECTED BLIZZLIKE BEHAVIOUR:

When the quest "morrowgrain research" -ID 3785-(normal quest) is completed, the quest "morrowgrain to darnassus" can be obtained -ID 3803- (daily quest)

CURRENT BEHAVIOUR:

After completing the "morrowgrain research" this becomes daily instead of giving the opportunity to obtain the"morrowgrain t

[2019-02-16 14:36] Naxxramas-Server commented on #351
I'v add 20$ bounty on this issue

[2019-02-16 14:39] Naxxramas-Server commented on #204
I'v add 15$ bounty on this

[2019-02-16 18:27] BarbzYHOOL commented on #1469
"recored" means nothing and I 've never seen it before

[2019-02-16 18:52] BarbzYHOOL commented on #204
how to display the bounty automatically @FrancescoBorzi @Yehonal (offtopic but we will hide the messages afterwards)

[2019-02-16 19:13] #1425 closed

[2019-02-16 19:13] #1428 closed

[2019-02-16 19:13] #1434 closed

[2019-02-17 11:38] GitVerge commented on #1469
it was introduced with this pr, probably a typo for recorded lol

[2019-02-17 15:31] BarbzYHOOL commented on #1141
@FrancescoBorzi plz add it to the original post and mark the obsolete comments as resolved (click on `Hide`) I don't know what your commit is for lol

[2019-02-17 19:40] #1462 closed

[2019-02-18 10:31] unrealking04 opened #1488 "Quest: enticing negolash"
Quest: enticing negolash

##### SMALL DESCRIPTION:
the quest cannot be completed

##### CURRENT BEHAVIOUR:
the ruined lifeboat, object situed in x -14653 y 152,51 z 3,68 map 0
cannot permit to complete the quest

##### STEPS TO REPRODUCE THE PROBLEM:
1.go to x -14653 y 152,51 z 3,68 map 0
2. .add 4457 10;
3.add 4595 5
4.speek to ruined lifeboat

##### EXTRA NOTES:

##### BRANCH(ES):
commit: https:

[2019-02-18 15:26] unrealking04 opened #1489 "Quest: Stone of Inner Binding"
<
![screenshot 20](https://user-images.githubusercontent.com/47576138/52959975-f8472080-3397-11e9-8197-03ba4a0675b2.png) the object haven't the interrogative and esclamative symbol

<the quest is completable but i can see the yellow interrogative symbol and found it with carbonite

##### SMALL DESCRIPTION:
<the quest is completable but i can see the yellow interrogative symbol and found it with ca

[2019-02-18 16:45] BarbzYHOOL commented on #1469
@GitVerge which PR?

[2019-02-18 17:27] Nefertumm commented on #1489
Can you bring us more info about the object (entry at least)?

[2019-02-18 17:28] Nefertumm commented on #1488
Same thing that your other issue, please, give us more info about the quest, like the id or a link to a wotlk database. Thanks!

[2019-02-18 17:33] GitVerge commented on #1469
@BarbzYHOOL https://github.com/azerothcore/azerothcore-wotlk/commit/51b8773528d7cf526d926ddb6edee2b0a8aec17f#diff-2094dfd21434b2fec5f1ba58018139f7R93

[2019-02-18 17:40] Maurowin commented on #1489
you are lvl 80 maybe its low level quest. Low level quests are not displayed with the exclamation mark

[2019-02-18 18:06] #1489 closed

[2019-02-18 18:06] #1488 closed

[2019-02-18 18:07] FrancescoBorzi commented on #1488
closing until reporter fix the report

[2019-02-18 18:07] FrancescoBorzi commented on #1489
closing until reporter fix the report

[2019-02-18 21:03] unrealking04 opened #1491 "Quest: Blueleaf Tubers"
<Quest: Blueleaf Tubers razorfen Kraul>

##### SMALL DESCRIPTION:
<https://vanilla-twinhead.twinstar.cz/?quest=1221
the quest requires:

Blueleaf Tuber (6)
Crate With Holes
Snufflenose Owner's Manual
Snufflenose Command Stick

but can't drop Blueleaf Tuber (#2906)
the drop rate should be 100 %>

##### EXPECTED BLIZZLIKE BEHAVIOUR:
<obj Blueleaf Tuber dropped by mobs in the instance
Razorfen Quilgu

[2019-02-18 21:38] zato90 opened #1494 "[QUEST] Meats to Orgrimmar"
##### SMALL DESCRIPTION:
the NPC Zargh doesn't give the quest

##### EXPECTED BLIZZLIKE BEHAVIOUR:
speak whith Zargh and accept the quest
https://vanilla-twinhead.twinstar.cz/?quest=6365

##### CURRENT BEHAVIOUR:
can't see the exclamative point and the NPC doesn't give the quest

##### STEPS TO REPRODUCE THE PROBLEM:
1- go to 52.6, 29.8 in the barrens
2- speak to Zargh
3- accept the quest

##### B

[2019-02-18 21:39] comix1988 commented on #1491
Branch
Staging

Operating system
Linux

[2019-02-18 22:30] comix1988 commented on #1491
the item isn't dropped by the npc  but there is a way to "summon" it

![gg](https://user-images.githubusercontent.com/22867608/52979133-96f17280-33d4-11e9-8e96-3404893af230.png)

the item [[Crate With Holes]](https://wowwiki.fandom.com/wiki/Crate_With_Holes) is bugged because not summon npc

STEPS TO REPRODUCE THE PROBLEM:

.quest add 1221
.go 2095 1675 60.4 47
.add 5880
.add 6684
.add 5897
try to

[2019-02-18 22:36] comix1988 commented on #1494
@zato90
This quest is only assigned to orcs or trolls.
Maybe you're tauren or blood elf or undead?

[2019-02-18 23:29] comix1988 opened #1495 "[quest] learn to ride in....."
<DESCRIPTION:

all the "learn to ride in ....." quests can't be obtained

EXPECTED BLIZZLIKE BEHAVIOUR:

When you reach level 20 in your mail you get a quest [item](https://wowgaming.altervista.org/aowow/?search=Riding+Training+Pamphlet) that allows you to complete the [quest](https://wowgaming.altervista.org/aowow/?search=learn+to+ride)

CURRENT BEHAVIOUR:

nothing arrives by mail

STEPS TO REPRO

[2019-02-19 08:23] FrancescoBorzi commented on #1494
Closing unless it gets confirmed

[2019-02-19 08:23] #1494 closed

[2019-02-19 10:57] Mitradis opened #1496 "Alterac DB errors"
##### SMALL DESCRIPTION:
Alterac Data Base errors

##### STEPS TO REPRODUCE THE PROBLEM:
1. Enter to Alterac
2. See DBErrors.log and Server.log
3.

##### BRANCH(ES):
AzerothCore rev. 23d78ce6bc75 2019-02-18 18:22:36 +0700 (master branch) (Win64, Release)

##### EXTRA NOTES:
[code]

[2019-02-19 11:18] Mitradis opened #1497 "Еndless enchantments"
##### SMALL DESCRIPTION:
Еndless enchantments.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
After using must be disappear.

##### CURRENT BEHAVIOUR:
Can be used infinity.

##### STEPS TO REPRODUCE THE PROBLEM:
1. Using items:
44874
44872
44873
44871
44879
44878
44877
44876

##### BRANCH(ES):
AzerothCore rev. 23d78ce6bc75 2019-02-18 18:22:36 +0700 (master branch) (Win64, Release)

<bountysource-plugin>

--

[2019-02-19 15:30] chendh123 opened #1499 "coredump"
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/70288410-coredump?utm_campaign=plugin&utm_content=tracker%2F40032087&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F40032087&utm_medium=issues&utm_source=github).
</bountysource

[2019-02-19 16:13] Mitradis commented on #1499
what happened? Write more info.

[2019-02-19 16:17] FrancescoBorzi commented on #1499
@chendh123 please add your AC commit hash. The issue will be reopened when you add it.

[2019-02-19 16:24] GitVerge commented on #1499
this is caused by an unnecessary assert in grid notifier. Related to https://github.com/azerothcore/azerothcore-wotlk/pull/1342

[2019-02-19 16:49] chendh123 commented on #1499
Thanks.
By the way,
if MSG_NULL_ACTION is allowed, why used ASSERT before?

[2019-02-19 16:59] zato90 commented on #1429
I have also encountered this problem but also using the cage the ferret is not summoned because it does not find nearby tubers. I tried in all the istance.

[2019-02-19 17:24] GitVerge commented on #1499
Actually I just saw that in the pr this assert is moved to worldsession, so is basically the same, they did not remove it. To "fix" this issue one of the following changes could be done:

- If we don't want servers to just crash when MSG_NULL_ACTION is going to be sent, replace with an error output message and don't send the package.
- Fix the issue in db, same as #1342

This is a msg from server

[2019-02-19 17:25] chendh123 commented on #1499
SHA-1: 3a39aaeed53d994d88d854dc63cfbc0cc80a6eb8

[2019-02-19 18:44] zato90 opened #1501 "[Quest] Mending old wounds"
##### SMALL DESCRIPTION:
the NPC named Mupsi Shacklefridd don't give me the quest

##### EXPECTED BLIZZLIKE BEHAVIOUR:
speak with Mupsi Shacklefridd and take the quest
https://vanilla-twinhead.twinstar.cz/?quest=9267

##### CURRENT BEHAVIOUR:
th NPC doesn't have the exclamative point and doesn't give me the quest

##### STEPS TO REPRODUCE THE PROBLEM:

1. go to 61.2, 37.9 of the barrens
2. speak w

[2019-02-19 19:52] FrancescoBorzi opened #1502 "Docker build cache"
The docker build step is currently always recompiling everything from scratch, so it takes quite some time to completed the build.

Ideally we should have some (optional) cache mechanism to speed up the build starting from the second run.

This would help a lot our testers that are testing PRs using Docker.

[2019-02-20 11:40] Asherdoom opened #1505 "[quest]Gorgron the dragon eater"
Gorgron the dragoneater totem placement

##### SMALL DESCRIPTION:
You can place all 3 totems on top of each other after killing Gorgron the dragoneater

##### EXPECTED BLIZZLIKE BEHAVIOUR:
you should place them in a triangular way around his corpse.

##### CURRENT BEHAVIOUR:
you can place each other nearby  (stacking on same pixel)

##### STEPS TO REPRODUCE THE PROBLEM:

1. go blade's edge mountai

[2019-02-20 19:36] boom8866 opened #1506 "worldserver.exe Error logging"
“worldserver.exe” A packet error occurred during operation

SMALL DESCRIPTION:
When "worldserver.exe" encountered DDOS attack traffic, there would be an error packet
![xs kz2p ua vvxmwr e ba](https://user-images.githubusercontent.com/16046064/53119175-c0caa680-3546-11e9-87e2-19d5580d557d.png)

EXPECTED BLIZZLIKE BEHAVIOUR:

Program error problem

CURRENT BEHAVIOUR:

Program error problem

STEPS TO

[2019-02-20 21:12] BarbzYHOOL commented on #1506
We have several Pull Requests about DOS and DDOS i think, so check them out

@Viste @FrancescoBorzi

[2019-02-21 08:19] Mindustry opened #1509 "Error when importing database file"
##### SMALL DESCRIPTION:

SQL file "broadcast_text_locale.sql" causes the assembler and HeidiSQL to spit out an error.

##### CURRENT BEHAVIOUR:

https://imgur.com/a/XKWmITk

##### STEPS TO REPRODUCE THE PROBLEM:

1. Run the assembler
2. Attempt to assemble and import all SQL

##### EXTRA NOTES:
I'm on Windows 10, built the core with VS2015. Running MySQL community 2.6

##### BRANCH(ES):

master

[2019-02-21 09:05] #1509 closed

[2019-02-21 16:47] boom8866 commented on #1464
Don't you test this submission?
 Quest:2702 Can't dialogue

[2019-02-21 19:51] BarbzYHOOL commented on #1506
Example @boom8866 https://github.com/azerothcore/azerothcore-wotlk/pull/1207

[2019-02-21 20:13] #1475 closed

[2019-02-21 20:35] BarbzYHOOL commented on #1449
very good suggestion

so like this

[code]

?

@Stoabrogga

[2019-02-21 21:21] FrancescoBorzi commented on #1449
be aware that if an import fails, the next time the bot will run it will import multiple pending files, that possible belonged to different PRs

[2019-02-21 21:59] comix1988 opened #1512 "[QUEST] wanted: boss grog'ak"
DESCRIPTION:

ally players can get this [quest](https://wowwiki.fandom.com/wiki/Quest:WANTED:_Boss_Grog%27ak) id 9820

EXPECTED BLIZZLIKE BEHAVIOUR:

the quest can only be obtained from horde players

CURRENT BEHAVIOUR:

read the description

STEPS TO REPRODUCE THE PROBLEM:

- create a alliance pg;
- .go 279.7 7866.6 24.1 530
- you can take the quest

![quest](https://user-images.githubusercontent

[2019-02-22 09:41] comix1988 opened #1513 "[BUG] gm fly at draenei isles"
**DESCRIPTION:**

there are flight problems of the GM pg near water in the draenei islands

**EXPECTED BLIZZLIKE BEHAVIOUR:**

fly normally

**CURRENT BEHAVIOUR:**

when you fly just above the water there seems to be some invisible wall that doesn't rise upwards

**STEPS TO REPRODUCE THE PROBLEM:**

.go -4239.3 -11970 -1.4 530
try to fly upwards

**BRANCH(ES):**
staging

**AC HASH/COMMIT:**
commit

[2019-02-22 14:14] talamortis commented on #1513
sorry but this is not an issue, you are not supposed to be able to fly on this isle.

[2019-02-22 14:20] comix1988 commented on #1513
With a gm account
The title is "gm fly"

[2019-02-22 14:32] VengefulWoW commented on #1512
I will make a fix

[2019-02-22 15:12] BarbzYHOOL commented on #1513
I don't understand the issue either @comix1988  :(

[2019-02-22 15:39] comix1988 commented on #1513
it's a minor bug but it's still a bug.
if a gm flies in those islands near the water this bug occurs.

[2019-02-22 15:40] GitVerge commented on #1513
if it doesn't affect the gameplay of normal players what's the reason to change it? can we prove that this wasn't this way on retail? :confused:

[2019-02-22 15:43] unrealking04 opened #1514 "Quest: Heroes of Old (2702)"
Quest: Heroes of Old (2702) quest cannot be completed.

##### SMALL DESCRIPTION:
<the quest start at the fallen hero of the horde and will complete at Thund Splithoof for the nex quest of the chain,but the npc does not spawn>

##### EXPECTED BLIZZLIKE BEHAVIOUR:
<https://www.youtube.com/watch?v=p52Jpb1Xu28 in this video you can watch how the quest should works

##### CURRENT BEHAVIOUR:
<the NPC do

[2019-02-22 16:49] ladiszlai opened #1515 "World & Auth server crash"
I updated my core to the latest version with DBs too...

[ERROR]: In mysql_stmt_prepare() id: 72, sql: "INSERT INTO logs_ip_actions (account_id,character_guid,type,ip,systemnote,unixtime,time) VALUES (?, ?, ?, (SELECT last_ip FROM account WHERE id = ?), ?, unix_timestamp(NOW()), NOW())"
[ERROR]: Table 'wotlk_auth.logs_ip_actions' doesn't exist
[ERROR]: In mysql_stmt_prepare() id: 73, sql: "INSERT

[2019-02-22 16:51] ladiszlai commented on #1515
Oh damn I missed the sql from the base folder. I only added the updates. Sorry delete this :c

[2019-02-22 16:51] #1515 closed

[2019-02-22 23:15] BarbzYHOOL commented on #1513
well it can waste a GM's/dev's time by confusing him

[2019-02-23 12:20] comix1988 commented on #1514
I confirm. When we talk to the NPC "fallen hero of the horde" we can not summon Thund Splithoof.

steps:
.go creature 35237
.quest add 2681
.quest complete 2681  and rewared it
take the quest "Hero of old" ,speak with the fallen hero of the horde and click " Hero, i have a urgent business with Thund Splithoof"

[2019-02-23 15:10] Stoabrogga opened #1518 "Travis build takes too long"
##### SMALL DESCRIPTION:
Travis build takes too long.

##### EXPECTED BEHAVIOUR:
A Travis run took around 30 minutes using Ubuntu 14.04, e.g.:
commit ffa7b7a286d1f59b7a726e18110310add630701c
Travis run: https://travis-ci.org/azerothcore/azerothcore-wotlk/builds/470475874

##### CURRENT BEHAVIOUR:
After commit a0595b73e3fcfde53a205a3c3b760353ed14e9bd, through which the Travis configuration was upda

[2019-02-23 16:34] #1502 closed

[2019-02-23 16:45] BarbzYHOOL commented on #1518
If we had donations we could get https://travis-ci.com/plans haha

[2019-02-23 17:04] BarbzYHOOL opened #1519 "Improve configuration files' location"
##### DESCRIPTION:

Primary:
- Add a Cmake option to specify the authserver.conf location

Secondary:
- Could also add an option to specify the modules' configuration location
- Specify the worldserver.conf location too (just change the name from  CONF_DIR to WORLDSERVER_CONF_DIR maybe?)
- Maybe add a way to rename the configuration directly in cmake so we can have "dev_1_worldserver.conf" alongsi

[2019-02-23 18:38] BarbzYHOOL commented on #1449
Stoa made a PR for this!

[2019-02-23 18:48] comix1988 commented on #1317
tested today and the problem is still present

[2019-02-23 20:29] BarbzYHOOL opened #1521 "Rename auth.realmlist.port to auth.realmlist.worldserver_port"
Quick suggestion:

Rename column `port` in `realmlist` table in the `auth` db to `worldserver_port` because each time I'm like "is it for authserver or worldserver?" :P

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/70496974-rename-auth-realmlist-port-to-auth-realmlist-worldserver_port?utm_campaign=plugin&utm_content=tracker%2F4003

[2019-02-23 23:55] FrancescoBorzi commented on #1521
I think this should just be documented in the wiki

[2019-02-24 15:43] BarbzYHOOL commented on #1521
why have to open a wiki page for that?

else we can name it "turtle" instead of port and then we open the wiki to see what turtle means

[2019-02-24 18:07] TheHighlord opened #1522 "Hunter: Deterrence spell [$5]"
##### SMALL DESCRIPTION:
Hunter Deterrence spell not working correctly.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
https://wotlk.evowow.com/?spell=19263
Parry chance increased by 100%, chance for ranged attacks to miss you increased by 100%, 100% chance to deflect spells, and unable to attack.

##### CURRENT BEHAVIOUR:
Currently the spell isnt parrying the melee damage at all.
https://youtu.be/D77rxBRFz

[2019-02-24 18:19] Yehonal commented on #204
should be fixed now

[2019-02-24 18:19] Yehonal commented on #204
solved the bounty issue

[2019-02-24 18:21] RaistlinAstragon commented on #1513
I replicated this issue also with a new blood elf character with GM powers. With fly activated, also in Eversong Woods near Silvermoon, if you press SPACE+W for flying the movement texture of the character is randomly changing from "swim straight" to "back swimming" while flying. In previous versions of AzerothCore, I confirm this minor bug was not present.

[2019-02-24 19:22] Nefertumm commented on #1521
I'm against this change.

[2019-02-24 20:04] comix1988 commented on #1397
I tested this sql file: (by @FrancescoBorzi )

UPDATE creature SET `phaseMask` = 4 WHERE `guid` = 1973070

now the npc is in the right phase

[2019-02-24 20:52] FrancescoBorzi commented on #1521
... also it would create a difference with the TC auth, and might cause issues to people using the same authserver with TC and AC.. I'm not sure if the benefit would be worth risking to fucks things up :)

[2019-02-24 20:56] Nefertumm commented on #1521
That's why I'm against this change.

[2019-02-24 22:24] BarbzYHOOL commented on #1521
We'll always be in the shadow of TC, let's keep their bad stuff!

It would be better to rename but I know in practice it's better (for now) to stay on the safe side though. I'm just (half) joking.

[2019-02-24 22:26] BarbzYHOOL opened #1524 "Add .cheat explore"
Follow up to this PR: https://github.com/azerothcore/azerothcore-wotlk/pull/1412

Command `.cheat explore` wasn't added because troublesome:

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/70532177-add-cheat-explore?utm_campaign=plugin&utm_content=tracker%2F40032087&utm_medium=issues&utm_source=github)** We accept bounties v

[2019-02-25 00:17] talamortis commented on #1513
@RaistlinAstragon this happens on all servers i have tested and even azerothcore v1.0 this has always been the case for these. I personally think that this issue needs closing as its is not intended game play to be able to fly in these area's! its just a waste of time trying to fix this when we are focusing on blizzlike content.

[2019-02-25 00:17] talamortis commented on #1522
please fill out the correct template.

[2019-02-25 10:30] #1449 closed

[2019-02-25 10:35] chendh123 opened #1525 "Memory leak？"
61032 cdh       20   0 3283568 2.624g  32224 S  51.5 33.6 225:35.47 worldserver

SHA-1: 15622225d642d9db207ebacf920d30c061aaa57f

Running for 12 hours, res increase from 1.3G to 2.6G

modules: mod-transmog  mod-vas-autobalance

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/70552884-memory-leak?utm_campaign=plugin&utm_content=tracke

[2019-02-25 12:40] FrancescoBorzi commented on #1525
I have the same behaviour and it then stabilizes at around 3-3.5 GB of memory.

Why do you think it's a leak? Does it keep growing or it stops at some point?

[2019-02-25 14:06] BarbzYHOOL commented on #1525
it stops, people use the word "leak" wrongly

[2019-02-25 14:56] zato90 commented on #1501
to get the quest you have to be hated with ratchet and I tried and the quest works

[2019-02-25 15:28] #1501 closed

[2019-02-25 17:32] Viste commented on #1525
It's okay, that's enough.
If you need, read the kernel code, you may understand that certain things are loaded into RAM and remain there until the kernel finishes its work.

[2019-02-25 17:40] FrancescoBorzi commented on #1525
closing since this does not mean that there is a memory leak, and it's the expected behaviour

[2019-02-25 17:40] #1525 closed

[2019-02-25 18:22] GrunzaTape opened #1526 "The problem with custom races."
##### SMALL DESCRIPTION:

If I change the character's appearance, I get a broken model when I get back.

##### STEPS TO REPRODUCE THE PROBLEM:

1. ChrRaces.dbc
2. Goblin (9). (Male - 32550) (Female - 32551) (DisplayID)
3. Queldorei (15). (Male - 32552) (Female - 32553) (DisplayID)
4. Completely filled: CharSections, Barber, CreatureModelData etc..
I'll add it.
If you copy it and run it on TrinityC

[2019-02-25 18:25] Mutevazi commented on #1526
idk, but I have the exact same problem with adding any races. At first, I thought I had a problem with models, and that's what it turns out to be.

[2019-02-25 19:04] Heisenberg520 opened #1527 "[SPELL][PVE] ARCANE TORRENT - BLOOD ELF RACIAL SPELL !"
##### SMALL DESCRIPTION:
The Arcane Torrent Spell , that is a Racial spell of the Blood Elf does not interrupt some Boss spells that should be interruptable

##### EXPECTED BLIZZLIKE BEHAVIOUR:
Should Interrupt , interruptable spells like https://www.wowhead.com/spell=71420/frostbolt or https://www.wowhead.com/spell=68982/phantom-blast , the arcane torrent spell should work as a Aoe silence , in P

[2019-02-26 10:16] Heisenberg520 opened #1528 "[SPELL][AURA][ICCBOSS]Gas Spore - Festergut"
##### SMALL DESCRIPTION:
After the explosion of the [https://www.wowhead.com/spell=69279/gas-spore](url) a spell of
Festergut ( https://www.wowhead.com/npc=36626/festergut)
the debuff ( [https://www.wowhead.com/spell=69290/blighted-spores](url) )  is not applied for every single one Spore that exploded  , is applied just one debuf olso if the players are hit by 2 o 3 spore

##### EXPECTED BLIZZLIK

[2019-02-26 10:25] Heisenberg520 opened #1529 "[ITEM][ICC] GUNSHIP BATTLE"
Description: The Goblin Rocket Pack the item needed for the third ICC boss, the Gunship Battle, should disappear once the opposing ship is killed.

https://wowwiki.fandom.com/wiki/Goblin_Rocket_Pack

Current behavior: The item remains in the Bags even after the fight is over.

Expected behavior: Once the Gunship Battle is won, the Goblin Rocket Pack should disappear

"Once the Gunship Battle has b

[2019-02-26 11:03] Heisenberg520 opened #1530 "[PVP/PVE][SPELL] FIRE NOVA"
##### SMALL DESCRIPTION:
The Shaman spell Fire Nova have not range limit , not the range of the damage of the spell that is activated on the totem https://wow.gamepedia.com/Magma_Totem , the range of activation of the spell from the totem
 https://wotlk-twinhead.twinstar.cz/?spell=1535 (spell fire nova )

##### EXPECTED BLIZZLIKE BEHAVIOUR:
 The shaman spell Fire Nova should have a range of 30 yar

[2019-02-26 14:05] GitVerge commented on #1530
Right, I'll probably fix this one during this week

[2019-02-26 14:18] FrancescoBorzi commented on #1530
@GitVerge I can help you, no problem. Just ping me in chat.

[2019-02-26 16:08] comix1988 commented on #1522
I confirm.
look at my video where i spam deterrence.

[link](https://youtu.be/_pVGlK4LMkY)

[2019-02-26 19:28] Heisenberg520 opened #1531 "[EQUIP][AURA][PVP/PVE] LIBRAM - SIGIL - RELIC -TOTEM !!"
##### SMALL DESCRIPTION:
LIBRAM - SIGIL - RELIC- TOTEM ACTIVATION IN SOME CASES DOESN'T WORK PROPERLY

##### EXPECTED BLIZZLIKE BEHAVIOUR:
The buff of the relic /totem /libram / sigil should procs when is equipped and u start a fight , when is not equipped u start a fight and after u equip it , when u switch a libram with an another libram in fight ,when u're in fight and the proc of the first lib

[2019-02-26 20:37] Heisenberg520 opened #1532 "[PVE/RAID][SPELL][AURA][MOB][ICCMOB] Lady Deathwhisper - Cult Adherent Empowered"
##### SMALL DESCRIPTION:
 Lady Deathwhisper add  Adherent Empowered

##### EXPECTED BLIZZLIKE BEHAVIOUR:

The Lady Deathwhisper add Cult Adherent ( http://www.wowhead.com/npc=37949/cult-adherent ) when Empowered  ( http://www.wowhead.com/spell=70901/dark-empowerment ) should not be interruptable when casts by any spell

##### CURRENT BEHAVIOUR:

The Cult Adherent spell when Empowered are interrupt

[2019-02-26 21:13] TheHighlord commented on #1522
https://www.youtube.com/watch?v=QadZiD8JX_4&feature=youtu.be

Then check this out. :)

[2019-02-27 12:11] Heisenberg520 opened #1533 "[ICCBOSS][MOBS] Lady Deathwisper second phase - Adds"
##### SMALL DESCRIPTION:
During the second phase of the Boss of Icc:
The Lady Deathwisper ( https://www.wowhead.com/npc=36855/lady-deathwhisper  )   adds that spawn
( https://www.wowhead.com/npc=37949/cult-adherent  -https://www.wowhead.com/npc=37890/cult-fanatic ) during the second phase  after used the spell  Dark Martyrdom
( https://www.wowhead.com/spell=70903/dark-martyrdom#used-by-npc ADHEREN

[2019-02-27 15:03] brussens commented on #1526
Checked it out. Problem not confirmed.

[2019-02-27 17:51] comix1988 opened #1534 "Visual-Bug command .cheat god (low priority)"
DESCRIPTION:

the command.cheat god must be allowed to the gm not to receive damages

EXPECTED BLIZZLIKE BEHAVIOUR:

-

CURRENT BEHAVIOUR:

For example, the marrowgar bone spikes bring the life of the GM up to 1 without killing it

STEPS TO REPRODUCE THE PROBLEM:

.cheat god

go to marrowgar in 2 player and wait that he cast bone spike

![bone spike](https://user-images.githubusercontent.com/22867

[2019-02-27 19:28] FrancescoBorzi commented on #1526
@GrunzaTape @Mutevazi @brussens thanks a lot for reporting/confirming/unconfirming. However please post your AC version (commit hash) whenever you report/confirm/unconfirm an issue.

[2019-02-27 19:48] unrealking04 opened #1535 "Quest:Wandering Shay"
<Quest:Wandering Shay cannot complete>

##### SMALL DESCRIPTION:
this is an escort quest.
Take the Shay's Bell (https://vanilla-twinhead.twinstar.cz/?item=9189) into "Shay's Chest" on the floor and with it you can call Shay Leafrunner back to you when she goes away;
Escort the NPC to Rockbiter(https://vanilla-twinhead.twinstar.cz/?npc=7765) for complete the quest

##### EXPECTED BLIZZLIKE BEHAVIOU

[2019-02-27 22:16] #204 closed

[2019-02-28 00:07] zato90 opened #1536 "[quest] kodo roundup"
##### SMALL DESCRIPTION:
after bringing the kodo to the field does not add the kodo to complete the quest.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
after using "kodo kombobulator" on a kodo, it must be brought to Scrabblescrew 's camp (60.9,61.9 of Desolace). all must be done until you bring 5 Kodos.

##### CURRENT BEHAVIOUR:
after bringing the kodo to Scrabblescrew 's camp (60.9,61.9 of Desolace), do

[2019-02-28 03:57] Nefertumm commented on #1533
During the second phase, Lady's adds shouldn't cast Dark Martyrdom.

[2019-02-28 03:57] #1533 closed

[2019-02-28 04:26] Nefertumm commented on #1528
Confirmed.

[2019-02-28 07:45] Heisenberg520 commented on #1533
Hey, hi man , why u say that ? The Adds are the SAME that spawn in the first phase , why the should not use dark martyrdom if is a spell of the mobs ? I don’t understand , they should explode buu spawn the other mobs, and for that reason u have to do dps on them

[2019-02-28 07:53] gtao725 opened #1537 "DB Errors related to Battle for Undercity"
##### SMALL DESCRIPTION:

Following DB Errors observed after world server came up:

Script named 'spell_blight_worm_ingest' does not have a script name assigned in database.
Script named 'spell_undercity_buffs' does not have a script name assigned in database.
Script named 'npc_varian_wrynn' does not have a script name assigned in database.
Script named 'npc_thrall_bfu' does not have a script name

[2019-02-28 10:37] gtao725 commented on #1537
My own bad. Closing.

[2019-02-28 10:37] #1537 closed

[2019-02-28 11:06] Heisenberg520 opened #1538 "[ICCMOB][PVE][SPELL] Lady Deathwhisper- Second Phase "Dark Martyrdom""
##### SMALL DESCRIPTION:
During the second phase of the Boss of Icc:
The Lady Deathwisper ( https://www.wowhead.com/npc=36855/lady-deathwhisper ) adds that spawn
( https://www.wowhead.com/npc=37949/cult-adherent -https://www.wowhead.com/npc=37890/cult-fanatic ) during the second phase should not use the spell Dark Martyrdom
( https://www.wowhead.com/spell=70903/dark-martyrdom#used-by-npc ADHERENT

[2019-02-28 12:21] chendh123 opened #1539 "Core/Loot: Can't get item (entry 33470) from creature (entry 31691)"
##### SMALL DESCRIPTION: Can't get item (entry 33470) from creature (entry 31691).

lootid 31691
![image](https://user-images.githubusercontent.com/15760697/53565994-f8b09a00-3b95-11e9-859c-d778c1ecd9b7.png)
![image](https://user-images.githubusercontent.com/15760697/53566043-1ed63a00-3b96-11e9-891d-b30b8b954bae.png)

From confing:
[code]
[code]

Why can't get item 33470, but get two 43852?

#####

[2019-02-28 12:24] chendh123 commented on #1539
creature_loot_template
Entry	Item	Reference	Chance	QuestRequired	LootMode	GroupId	MinCount	MaxCount	Comment
31691	26041	26041	100	0	1	0	1	1

reference_loot_template
Entry	Item	Reference	Chance	QuestRequired	LootMode	GroupId	MinCount	MaxCount	Comment
26041	33470	0	100	0	1	0	1	7
35063	43852	0	70	0	1	1	1	1
35063	33435	0	0	0	1	1	1	1

[2019-02-28 12:56] gtao725 opened #1540 "Add GM as friend but that Friend Always Offline in Friend List"
##### SMALL DESCRIPTION:

When adding another player of gmlevel 2 or 3 to the friend list, it adds ok but the status is always grey saying "unknown" even when that player is online.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Players of gmlevel 2 or 3 should also have their online/offline status displayed correctly in Friend List.

##### CURRENT BEHAVIOUR:

When adding another player of gmlevel 2 or 3 t

[2019-02-28 19:26] Nefertumm commented on #1538
Stop opening this "issue". It's not the normal behaviour of the boss.

[2019-02-28 19:28] Heisenberg520 commented on #1538
Man read the repart, on our server the adds during the second phase
explodes and u sayd dont have to cast Martyrtom , is a different report u
dont have even read ti D: i’ve report a different things

Il giorno gio 28 feb 2019 alle 20:26 Nefertumm <notifications@github.com>
ha scritto:

[2019-02-28 19:30] Heisenberg520 commented on #1538
Before i’ve report that explodes and dont spawn adds , but Watching tour
report i’ve understand that dont have to spawn nothing , but they still
explode and dont have to explode

Il giorno gio 28 feb 2019 alle 20:28 Massimiliano Lo Bello <
massimiliano.lobe@gmail.com> ha scritto:

[2019-02-28 19:34] #1397 closed

[2019-02-28 19:38] Nefertumm commented on #1538
My apologies. I'll test it when i have time :)

[2019-02-28 19:42] Heisenberg520 commented on #1538
On Shin Test server , i'm a tester

[2019-02-28 19:50] Nefertumm commented on #1538
Related #761

[2019-02-28 23:59] Nefertumm commented on #1538
Our Lady is a complete mess, i'll work on it.

[2019-03-01 01:17] Selyria opened #3972 "World Chat"
Hi I wanted to ask if there is a module with which you can open a world-chat

Something like this.

https://www.ownedcore.com/forums/world-of-warcraft/world-of-warcraft-emulator-servers/wow-emu-general-releases/780187-release-advanced-world-chat-system-3-3-5a-wotlk.html#post4017816

I'd be happy to answer that.

[2019-03-01 03:12] ide1234000 opened #1541 "Quest issues before "Battle for the Undercity""
##### SMALL DESCRIPTION:

Before do quest "Battle for the Undercity" start, Alliance and Horde is missing follow quest and portal to th Undercity

You can see these on my test Video: https://youtu.be/uNpvKjCvonw
##### EXPECTED BLIZZLIKE BEHAVIOUR:

For Alliance: After the quest "The Killing Time"(13371) starts, there should be appear a portal to outside the Undersity sewer gate.

For Horde: It sho

[2019-03-01 16:08] a3396616601 opened #1542 "Random dungeon （LFG）will save the player's copy progress BUG"
Sorry, my English is really not good, please forgive me!
description:
After the player finishes the random dungeon, the copy progress will not be saved.
This problem does not exist in (sunwellcore). Make sure everything is normal.
But in az I used the core of April 1, 2017 and tested this problem in the latest core!
Can this be solved? Or give a little solution! I am a C++ self-learning programmer

[2019-03-01 21:53] Maurowin commented on #1542
Hello, can you follow this http://www.azerothcore.org/wiki/Contribute#how-to-open-an-issue to open a issue.

[2019-03-01 21:57] StygianTheBest commented on #1110
This was caused by bad data in an earlier commit. It has been resolved.

[2019-03-01 21:57] #1110 closed

[2019-03-01 22:42] BarbzYHOOL commented on #1541
Follow up of https://github.com/azerothcore/azerothcore-wotlk/pull/1479

[2019-03-01 22:57] Nefertumm commented on #1541
Sorry about that, miss click. Not related to my pr, its related about the whole quest chain.

[2019-03-01 23:55] ide1234000 commented on #1541
Great job for your PR! Hope these quest chain can fix in the future.

[2019-03-02 02:55] maikale opened #1543 "Error.log"
2019-03-01 03:06:27 CreatureTextMgr: Could not find Text for Creature(Ebon Blade Prisoner) Entry 30186 in 'creature_text' table. Ignoring.
2019-03-01 03:13:00 CreatureTextMgr: Could not find Text for Creature(Ebon Blade Prisoner) Entry 30186 in 'creature_text' table. Ignoring.
2019-03-01 03:13:01 CreatureTextMgr: Could not find Text for Creature(Ebon Blade Prisoner) Entry 30186 in 'creature_text'

[2019-03-02 09:48] Yehonal opened #1545 "Password must be limited and we should use only latin"
https://github.com/azerothcore/azerothcore-wotlk/blob/9643ccdb9d8f0321f54482af3de0aa35e1b14dbe/src/server/game/Accounts/AccountMgr.cpp#L21

our account creation is quite "buggy", world of warcraft client doesn't accept too long passwords

Currently we don't have any check on password and we accept UTF-8 characters directly

On trinitycore it has been already fixed: https://github.com/TrinityCore/T

[2019-03-02 20:43] Maurowin opened #1548 "[RACIAL SPELL] Shadowmeld"
##### SMALL DESCRIPTION:

- The cooldown is started immediately after using the spell.
- When we are eating and we start it, it interrupts the action of eating

##### EXPECTED BLIZZLIKE BEHAVIOUR:

- The cooldown must not be triggered immediately after using the spell. But wait until you move or disable the spell manually
- It shouldn't interrupt eating or drinking

##### CURRENT BEHAVIOUR:

The c

[2019-03-02 22:37] Maurowin commented on #671
@poszer do you think you can fix this bug?

[2019-03-03 05:07] gtao725 commented on #1541
Can the broken quests in the chain also be ported from Dalaran WoW?

[2019-03-03 08:28] Nefertumm commented on #1541
Sure

[2019-03-03 15:11] MaelstromServer opened #3946 "How to lighten up your WoW login screen"
It's useful to have a light WoW screen interface, especially if you are a developer and often open/close many WoW clients a the same time:

http://mangosrumors.org/how-to-lighten-up-your-wow-login-screen/

[![image](https://user-images.githubusercontent.com/48177002/53697172-e1a8bc80-3dce-11e9-9133-fae5e27e22f4.png)](http://mangosrumors.org/how-to-lighten-up-your-wow-login-screen/)

[2019-03-03 15:13] #351 closed

[2019-03-03 15:25] FrancescoBorzi opened #3881 "[DEV] CLion open source licenses"
As you might have noticed, in the bottom of our README file of the main repo, we have listed [JetBrains](https://www.jetbrains.com/?from=AzerothCore) as a sponsor of AzerothCore.

JetBrains is a company that develops cross-platform IDEs for many different languages like IntelliJ, WebStorm, PHPStorm, PyCharm, etc...

For C++ they provide [CLion](https://www.jetbrains.com/clion/). Normally you can u

[2019-03-03 16:15] FrancescoBorzi opened #3913 "[POLL] Why & how did you choose AzerothCore?"
I would like to hear from the community your opinion about AC and the way you ended up choosing it.

Please answer the following questions:

### 1) Why you like AzerothCore?

E.g. what are the features that you appreciate the most, why you prefer it over other projects, why would you recommend it to someone else, etc..

### 2) Where did you find AzerothCore?

E.g. where did you hear about AzerothC

[2019-03-03 16:17] Naxxramas-Server opened #3944 "[JOB OFFER] [ADDON] Chardump Wotlk to other versions"
Hello all , i'm searching for someone who can adapt a wotlk chardump addon to make it compatible with other client version (1.12 , 2.4.3, and highter versions).

I can share the addon and add bounty if someone is interestef by this work.

[2019-03-03 16:31] FrancescoBorzi opened #3907 "[TOOL] PvPstats: the missing PvP statistics system for WoW"
PvPstats is a tool that I've created some years ago as part of my [Master's degree thesis about WoW emulation](https://community.trinitycore.org/topic/13025-just-thank-you-wow-emulation/). It allows to **store and display data about Battleground scores.**

Basically the PvPstats system is composed by a core modification (already included in AC) + a web application.

You can find more details & set

[2019-03-03 18:47] Seebaby opened #1554 "The Quest Completed text will not be translated from english to german"
SMALL DESCRIPTION:

The quest is not translated correctly from English to German
Quest name True translated
Details True Translated
Objectives Votes Oversees
CompletedText Is not translated although available in quest_template_locale

CURRENT BEHAVIOUR:

CompletedText Not translated

STEPS TO REPRODUCE THE PROBLEM:

Create Character
Accept Quest
Finish Quest
View CompletedText is not translated

E

[2019-03-03 19:07] FrancescoBorzi opened #3973 "[DEV] Use TypeScript to develop WoW"
Since using LUA one can write code for both the WoW client and the server (using Eluna), I thought it would be interesting to know that whenever you used LUA before, you can now use TypeScript thanks to this transpiler:

https://typescripttolua.github.io

A generic TypeScript to Lua transpiler. Write your code in TypeScript and publish Lua!

TypeScript is a modern language. According to Stackoverf

[2019-03-03 20:29] comix1988 commented on #1522
@TheHighlord in your video you take damage from disease.
Disengage prevent damage from melee attacks.

[2019-03-03 20:32] TheHighlord commented on #1522
Nope. The mob also gives me melee attack, also I tried it on the boars too.

[2019-03-03 20:54] Bogir opened #3933 "[SUGGESTION] move account_* tables from characters DB to auth"
it seems, tables

- characters@account_data
- characters@account_instance_times
- characters@account_tutorial

must be in "auth" DB

[2019-03-03 23:44] talamortis commented on #1522
You have placed a bounty on this but what hash are you using?

[2019-03-04 01:55] AyaseCore commented on #1519
Multiple "worldserver" can use this structure：
authserver.conf
authserver.exe
data/map
data/...
data/dbc
worldserver1/worldserver.exe
worldserver1/worldserver.conf
worldserver2/worldserver.exe
worldserver2/worldserver.conf

So I think it's okay if worldserver doesn't change.
But the config of the module does need to be sorted out, because it looks too messy at the moment.
Loading the config of the

[2019-03-04 09:17] TheHighlord commented on #1522
I am using [0a49447](https://github.com/azerothcore/azerothcore-wotlk/commit/0a49447f05d00ede689cd36e4c646547c2fee857)

[2019-03-04 18:50] Nefertumm commented on #1522
Try this:
[code]

[2019-03-04 21:53] TheHighlord commented on #1522
I don't get it... then why this was working for @comix1988 ?

[2019-03-04 22:34] BarbzYHOOL commented on #1519
Personally, I put my conf in a specific directory, not alongside the binary (.exe...)

[2019-03-04 22:36] Nefertumm commented on #1522
You are missunderstanding. Deterrence doesn't work and he confirmed it. The only thing he told you that you was taking damage from poison too, which is correct.
I think he meant deterrence should prevent damage from melee attacks.

[2019-03-05 16:28] GitVerge commented on #1522
Actually I'm also wondering why do we have different results on each video. Could you guys try with latest rev?

[2019-03-05 16:50] comix1988 commented on #1522
@GitVerge @Nefertumm look at my video, at the second 0:06 I take damage melee even with the buff of deterrence. It's a bug.

[2019-03-05 17:20] TheHighlord commented on #1522
Haha, yeah I tought @comix1998 just wanted to be sarcastic when he confirmed it. Then it is indeed a valid issue.

[2019-03-06 14:17] Seebaby commented on #1536
So with me on the server the Quest works super could not detect any problems.

You also have to address the Kodo who you are in the camp then he counts first that tells him the Npc but also that they should examine him.

BRANCH(ES): master

AC HASH/COMMIT: AzerothCore rev. 5348d9cbe590 2019-03-03 16:33:17 +0100 (master branch) (Win64, Release)

![wowscrnshot_030619_151330](https://user-images.gith

[2019-03-06 15:46] pklloveyou commented on #1541
DELETE FROM `creature_queststarter` WHERE `quest` = "13266";
INSERT INTO `creature_queststarter` VALUES (31412, 13266);
INSERT INTO `creature_queststarter` VALUES (32363, 13266); -- NEW

DELETE FROM `spell_area` WHERE `spell` = "60815";
INSERT INTO `spell_area` VALUES (60815, 14, 13242, 13266, 0, 690, 2, 1, 74, 11);
INSERT INTO `spell_area` VALUES (60815, 14, 13347, 13370, 0, 1101, 2, 1, 74, 11);

[2019-03-06 18:47] FrancescoBorzi commented on #1541
@pklloveyou thanks, can you please open PR with that? We can provide assistance if needed

[2019-03-06 23:01] Makpptfox commented on #1548
- Not in TLK, as of patch 3.0.3 I quote : "Cooldown starts upon melding instead of on becoming visible." (https://wow.gamepedia.com/Shadowmeld)

- Also intended, as of patch 3.0.2 "[...] able to use in combat." (same source as above)

- I don't have any proof for this one beside my own experience, but eating and using stealth doesn't stop your character from eating, but shadowmeld sure did back th

[2019-03-07 01:24] pangolp commented on #1554
Good evening, what search are you referring to? Any particular or all searches? I'm not quite clear.

[2019-03-07 01:37] pangolp commented on #1543
According to the video I saw, the npc with entry: 30186 - Ebon Blade Prisoner should follow the following random phrases:

- Thank you, $c. I owe you.
- Excellent. Let's kill some vrykul!
- Where's my damned helmet? Well, at least they left my sword here. Idiots.
- Kill!
- I can fight by your side for a few minutes before I need to return to The Shadow Vault.
- It's time for revenge!

You say that

[2019-03-07 01:44] pangolp commented on #1543
As far as I can see, npc doesn't have any scripts. Neither texts assigned in the DB. You can corroborate it by executing the following queries:

sql
-- See the texts.
SELECT * FROM `creature_text` WHERE `CreatureID`=30186;
-- See the smart_scripts.
SELECT * FROM `smart_scripts` WHERE `entryorguid`=30186;
-- See what type of script is assigned to it.
SELECT `entry`, `AIName`, `ScriptName` FROM `cre

[2019-03-07 01:55] pangolp commented on #1543
The only npc of the 3 mentioned in the log, which has a script is 29261, but I can't find information about the texts I should say.

[code]

[2019-03-07 11:10] Maurowin commented on #1548
U'are right, on your link shadowmeld interrupt eating action.
Wrath of the Lich King Patch 3.0.2 (2008-10-14): Cooldown increased to 2 minutes, able to use in combat. Can no longer eat while in Shadowmeld. If you are eating and/or drinking and then Shadowmeld, you stop eating/drinking

I think west can close this issue

[2019-03-07 11:12] #1548 closed

[2019-03-07 16:28] Seebaby commented on #1554
The translation from English to German from the CompletedText table is not done.

Wow Client German
Wow cache deleted

![ubersetzung](https://user-images.githubusercontent.com/179698/53972023-539a4200-40fe-11e9-9758-0e72821689ec.jpg)

[2019-03-08 01:24] kenpb opened #3974 "[GENERAL] A WoW client for power users"
Hello everyone!

I used to run the [Marforius Client](https://github.com/Marforius/Marforius-Client), you may want to check it out, it had some neat perks, quoting the readme directly:

If you're interested in doing bots or the like I also forked a [version](https://github.com/kenpb/Marforius-Client) with full Lua unlocking, I'd recommend using this one with the [WoWLua Addon](https://www.wowinter

[2019-03-08 09:01] Selyria opened #3914 "[GENERAL] Editor question"
I have a question there is a DB tool like Truice z.b what is tailored to Azerothcore.

What you can edit with

Smart_Ai
creatures
quest
Gameobject

So like Truice, that was really mega good.

Thanks for the info already once

[2019-03-08 09:26] pklloveyou commented on #1541
I use online translation to communicate, communication difficulties

[2019-03-08 22:13] FallingSnow opened #1562 "Worldserver spams systemd log"
##### SMALL DESCRIPTION:
While using a systemd service to run worldserver, worldserver spams systemd with new lines.

This is most likely due to systemd setting [stdin to `/dev/null`](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#StandardInput=).

Systemd service:
[code]

I'm not sure if the fix should be applied on the Azerothcore side or Systemd side.

Using `StandardInput=t

[2019-03-08 22:16] FallingSnow commented on #1562
Btw here is an excerpt of the spam that fills megabytes of my logs:

[code]

[2019-03-10 19:39] masterking32 commented on #1562
Change
`[Unit]
Description=Azerothcore Worldserver Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/azeroth-server/bin/worldserver

[Install]
WantedBy=default.target`

to

`[Unit]
Description=Azerothcore Worldserver Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/azeroth-server/bin/worldserver  > /dev/null 2>&1 &

[Install]
WantedBy=default.target`

[2019-03-10 19:40] masterking32 commented on #1562
Change
[code]

to

[code]

[2019-03-10 21:08] FallingSnow commented on #1562
Issue still remains the same with the updated config. Spam remains. :(

For the time being I've been using:
[code]

But I'd rather not dedicate a real tty to worldserver.

I'm not so sure about that. I'm starting to lean towards the idea that worldserver should be either checking if [stdin is a tty](https://linux.die.net/man/3/isatty) or no longer requesting input when [reading `EOF` from stdin](h

[2019-03-10 21:24] FallingSnow commented on #1562
Now I'm tripping out because it seems like worldserver does check for `EOF`...
https://github.com/azerothcore/azerothcore-wotlk/blob/832bccd9fa8ae5f3dd20eaeed244e74cd700f2de/src/server/worldserver/CommandLine/CliRunnable.cpp#L148-L192

[Systemd docs](https://www.freedesktop.org/software/systemd/man/systemd.exec.html) on StandardInput:

Worldserver uses readline, and [readline's docs](http://man7.o

[2019-03-10 22:08] FrancescoBorzi commented on #1562
Interesting. I had this issue only when trying to dockerize AC and I solve the issue giving by default:

`tty: true`

but I can't reproduce the issue on traditional setup

[2019-03-10 22:13] FallingSnow commented on #1562
Yeah, that's similar to what I'm doing. I'm just providing a tty to fix the issue. I wish there was a less hacky fix.

[2019-03-10 22:34] FallingSnow commented on #1562
So after doing some thinking, I think
[code]
should be changed to something like
[code]

I don't think it's wise to stop the worldserver if you read a EOF. That's something that should be handled by signals like `SIGINT`.

[2019-03-11 18:20] Viste commented on #1530
@Heisenberg520 check plz #1566

[2019-03-11 22:01] FallingSnow opened #1568 "Using C++17 causes compile fail"
##### SMALL DESCRIPTION:

e7ace60e59565833922c742a66cb2382be8f0ae6 causes compiling to fail with following error:
[code]

Reverting e7ace60e59565833922c742a66cb2382be8f0ae6 fixes the issue.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

##### CURRENT BEHAVIOUR:

##### STEPS TO REPRODUCE THE PROBLEM:

1. Clone repo.
2. `mkdir build && cmake cmake ../ -DCMAKE_INSTALL_PREFIX=/tmp -DCMAKE_C_COMPILER=/usr/bin/c

[2019-03-11 22:39] FallingSnow commented on #1562
Well I feel like an idiot. After going through the source code I realized it only starts the CLI thread if config option `Console.Enable` is true. So I set `Console.Enable = 0` and wallah, it works.

Here is the final working systemd.service for worldserver:
[code]

[2019-03-11 22:39] #1562 closed

[2019-03-11 22:40] Viste commented on #1568
what clang version you have?

[2019-03-11 22:41] FallingSnow commented on #1568
[code]

[2019-03-12 12:33] pangolp commented on #1554
It is possible that many translations are not done, the truth is that I only see the subject of Spanish because of the other languages much I do not understand. It would be necessary to complete them if they are missing.

[2019-03-12 14:07] Heisenberg520 opened #1569 "[PVE/SPELL][ICCBOSS/SPELL] Absorb spell and buff vs Conjure Flame"
##### SMALL DESCRIPTION:

The spell of the Priest https://www.wowhead.com/spell=17/power-word-shield make the player not able to share the spell https://www.wowhead.com/spell=71718/conjure-flame of the boss of icc https://www.wowhead.com/npc=37973/prince-taldaram#abilities

##### EXPECTED BLIZZLIKE BEHAVIOUR:
The spell of Taldaram https://www.wowhead.com/spell=71718/conjure-flame is  a Sphere of f

[2019-03-12 16:31] comix1988 commented on #1538
Me and Heisenberg520 are testing it @Nefertumm

[2019-03-13 02:08] innobankServer commented on #798
receive err yet with:
[ 96%] Linking C executable wifidatagather
/usr/bin/ld: /usr/local/lib/libcrypto.a(dso_dlfcn.o): undefined reference to symbol 'dlclose@@GLIBC_2.2.5'
//lib/x86_64-linux-gnu/libdl.so.2: error adding symbols: DSO missing from command line
collect2: error: ld returned 1 exit status

any solution except update openssl to laster version? my SDK use openssl 1.0.2g, so need help, 3k

[2019-03-13 02:21] sdsjServer commented on #798
hi, issue solved now? need your help,3ks

[2019-03-13 03:12] ide1234000 commented on #1541
The quest "A Life Without Regretafter" is ok, but no portal appears.

[2019-03-13 09:37] Helias commented on #1568
"Comparison operators should've always been const. This unspoken rule is now being actively enforced. "

This new version of clang enforce the const property during the comparison by operators.

For the first error
[code]

I think that the problem is the library <set>, that isn't updated at the new clang version.

reference: https://stackoverflow.com/questions/51235355/comparison-object-being-invo

[2019-03-13 15:55] Dreaxxx opened #1571 "[Warlock Spell] Conflagrate"
Warlock Spell Conflagrate

##### SMALL DESCRIPTION:
The warlock spell Conflagrate not work properly , after apply immolate on the target , conflagrate can be use after 1 seconde , and should be use instantly

##### EXPECTED BLIZZLIKE BEHAVIOUR:
The spell Conflagrate should be ready to use instantly after target immolated.

##### CURRENT BEHAVIOUR:
Actually , Conflagrate is ready to use aproximatel

[2019-03-13 16:26] talamortis commented on #1571
Im sure this issue has been addressed before. it was already deemed to be blizzlike

See Here https://github.com/azerothcore/azerothcore-wotlk/issues/298
and Here https://github.com/azerothcore/azerothcore-wotlk/issues/832

[2019-03-13 16:26] #1571 closed

[2019-03-13 17:02] konighter commented on #1144
Anyone solved it?

[2019-03-13 17:10] vhiperdev commented on #1571
It's correct as it was in retail it worked this way with a delay of 0.07

https://www.youtube.com/watch?v=yq3N1fP3a24&feature=youtu.be&t=194

[2019-03-13 17:38] FrancescoBorzi commented on #1144
@konighter no but you can still install AzerothCore on macOS using docker:

http://www.azerothcore.org/wiki/Install-with-Docker

![image](https://user-images.githubusercontent.com/75517/54301392-21d22100-45bf-11e9-8718-04f0e00b5b36.png)

[2019-03-13 18:42] FallingSnow commented on #1568
No, same result.

[2019-03-13 18:47] Viste commented on #1526
Can't confrim no problems here

[2019-03-13 18:47] #1526 closed

[2019-03-14 12:21] #1530 closed

[2019-03-14 15:47] Helias commented on #1568
Could try with
[code]

[2019-03-14 20:43] #1238 closed

[2019-03-15 11:37] Xandrice opened #1574 "[NPC][WOTLK] Archmage Timear"
##### SMALL DESCRIPTION:
NPC Archmage Timear (31439) does not give daily quests to give emblems.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
You should receive a quest from this NPC once a day to clear a heroic dungeon.

https://wowgaming.altervista.org/aowow/?search=Proof+of+Demise%3A

##### CURRENT BEHAVIOUR:
This NPC does not give any quests whatsoever.

##### STEPS TO REPRODUCE THE PROBLEM:
1. Telepo

[2019-03-15 19:35] talamortis commented on #1574
Patch 3.3.0 - This NPC no longer gives quest so this is working as intended since we are patch 3.3.5.

![image](https://user-images.githubusercontent.com/6143065/54457482-70b3be00-4759-11e9-94fc-e42970598096.png)

[2019-03-15 19:35] #1574 closed

[2019-03-16 14:25] #1518 closed

[2019-03-16 22:12] mindsear opened #1577 "Suggestion: Disable Quest Sharing and Ready Check in Battlegrounds"
Given the fact that some people can abuse quest sharing in Battlegrounds and they can be pretty annoying with that, I suggest disabling quest sharing in Battlegrounds altogether.
What is the point of Quest sharing in Battlegrounds?

I've done a few tests and so far it's working as intended

[code]
Also, "Ready Check" can be spammed in Battlegrounds by raid leaders.
[code]

<bountysource-plugin>

-

[2019-03-17 01:07] poszer commented on #1539
@chendh123 You mean, you can't get Frostweave Cloth as drop from creature Faceless Lurker in Icecrown ?
https://wotlk.evowow.com/?item=33470
https://wotlk.evowow.com/?npc=31691#drops

[2019-03-17 01:09] poszer commented on #1543
Please fill the AC HASH/COMMIT: field @maikale

[2019-03-17 01:10] Ercules76 commented on #1023
The problem in on phasemask, in gm mode it was set to 0xFFFFFFFF and when launch the query (in this case .gob near) the staement return NULL. The phaseMask is a value for the query
`SELECT guid, id, position_x, position_y, position_z, map, (POW(position_x - ?, 2) + POW(position_y - ?, 2) + POW(position_z - ?, 2)) AS order_ FROM gameobject WHERE map = ? AND (POW(position_x - ?, 2) + POW(position_y

[2019-03-17 01:14] poszer commented on #1536
The quest is working and can be completed.
When returning them, get them to Smeed. Once he talks, then speak with your tamed Kodo to dismiss it and then go off for the next one. :smiley:

[2019-03-17 01:14] #1536 closed

[2019-03-17 01:40] FrancescoBorzi commented on #1577
@mindsear can you make this configurable? feel free to send PR with that

[2019-03-17 02:03] Ercules76 commented on #1023
I found the issue, when prepare the statement the value setting is in float, and in a 32bit float the max number is different from an int32 (if i remember the mantissa is 24bit)

[2019-03-17 05:28] chendh123 commented on #1539
@poszer  yes.

[2019-03-17 13:14] Selyria opened #1582 "Quest translation only in original Possible not in Quest_template_locale"
SMALL DESCRIPTION:

For some reason the translations don't work as they should.
and are displayed twice

The WOW cache was deleted after each change and the server was restarted.

The translation only works if I write it directly into the Quest_Locale table.

CURRENT BEHAVIOUR:

Translations should be retrieved correctly

STEPS TO REPRODUCE THE PROBLEM:

translated them in the Quest_template_local

[2019-03-17 15:19] grimgravy commented on #1496
I'm checking, I've been able to correct a part

[2019-03-17 21:56] poszer commented on #1539
Nice catch. Will post fix soon :smiley:

[2019-03-17 23:20] FrancescoBorzi commented on #1539
@chendh123 can you please test the PR from @poszer that solves this issue?

The PR is: https://github.com/azerothcore/azerothcore-wotlk/pull/1583

You can find this useful: http://www.azerothcore.org/wiki/How-to-test-DB-only-changes

[2019-03-17 23:59] #1023 closed

[2019-03-18 03:55] gtao725 commented on #1541
That seems to me like now the correct data is in the db but the script still needs to be added to link the quest chain together and generate the correct portals for both alliance and horde side.

[2019-03-18 05:41] gtao725 commented on #1541
Also after applying the DB sql, the scene where Jaina walks out of the Stormwind Portal to warn Thrall still doesn't happen, the Stormwind Portal just stays there with an actionable click symbol but it does nothing.

[2019-03-18 13:06] chendh123 commented on #1539
Why is it not effective to use two references?
What's wrong with the original configuration?
creature_loot_template
![image](https://user-images.githubusercontent.com/15760697/54531969-9216e300-49c1-11e9-98ec-687dce533aac.png)
reference_loot_template
![image](https://user-images.githubusercontent.com/15760697/54531995-a4911c80-49c1-11e9-8f94-fc5a4ff88019.png)

[2019-03-19 00:50] chendh123 commented on #1539
Thanks.  @Stoabrogga

[2019-03-19 00:50] #1539 closed

[2019-03-19 08:04] #1075 closed

[2019-03-19 16:58] Shard-MW opened #1588 "Gob Move command not refreshing Gobject position to players [$20]"
**SMALL DESCRIPTION:**
[code]
Doesn't refresh gobject position to players in zone.
Players must relog to see changes.

**EXPECTED BLIZZLIKE BEHAVIOUR:**
Players should'nt have to relog to see gameobject updated coords.

**STEPS TO REPRODUCE THE PROBLEM:**
1. Add a new gameobject using `.gob add` command
2. Go away from the spawned gameobject
3. Use `.gps` to have other X Y Z position
4. Move the s

[2019-03-19 21:16] poszer commented on #1535
I can't reproduce it in that way. Anyway i can't complete it since RequiredItem (Shay's Bell) isn't recognized even if i have it in bag when i escord that Npc to the following place.
Also, what's happening with this, this worked before
https://github.com/azerothcore/azerothcore-wotlk/commit/8901e39cde2fb98a9739d360d09b98666082019a

[2019-03-19 23:00] poszer commented on #1513
I think we should close this. This is not issue, since it doesn't break anything for players. Also

[2019-03-19 23:51] poszer commented on #1505
Just taking a look on the old videos of this quest, and i think these req items are not required to be spawned in triangular way , also there isn't any information how these totems are spawned, so i think this can stay like this. Quest is acceptable, can be completed, everything works.
Tested several times, for me it's perfect.
![try2](https://user-images.githubusercontent.com/41213210/54649342-19

[2019-03-19 23:51] #1505 closed

[2019-03-20 00:01] poszer commented on #1497
Closing this.  I can't understand the issue reported.
Next time provide more details, how we can reproduce this problem.
Anyway, thanks for report @Mitradis

[2019-03-20 00:10] Helias commented on #1497
Confirmed, they don't disappear

[2019-03-20 00:34] poszer commented on #1497
Ok, know what's the problem. Will post fix soon

[2019-03-20 00:49] poszer commented on #1497
@Mitradis  Could you please test the referenced PR.

[2019-03-20 00:58] poszer commented on #1495
Can't reproduce issue. For me, everything works as it should be:

**Images below as proof:**

**Alliance**
![learnalli](https://user-images.githubusercontent.com/41213210/54651484-61af7180-4ab3-11e9-9e91-5d3ad32ab5d8.jpg)

**Horde**
![learniSilvermoon](https://user-images.githubusercontent.com/41213210/54651485-61af7180-4ab3-11e9-9e66-d78ce40e991c.jpg)

Closing this

[2019-03-20 00:58] #1495 closed

[2019-03-20 04:43] gtao725 commented on #1541
Also for the horde side of "Heralds of War" (Quest ID: 13257), As soon as the player accepts the quest a portal to Orgrimmar is supposed to open behind High Overlord Saurfang in Warsong Hold, right now there is no portal and players have to get to Orgrimmar on their own.

[2019-03-20 12:23] wizzymore opened #1593 "Building errors Battleground System C++"
##### SMALL DESCRIPTION:

When building the core i get errors about BattleGrounds Queue system

##### EXPECTED BLIZZLIKE BEHAVIOUR:

-

##### CURRENT BEHAVIOUR:

So, i get this:
[code]

##### STEPS TO REPRODUCE THE PROBLEM:

1. Git clone the repo
2. Use CMAKE
3. Build it clean

##### EXTRA NOTES:

This is something new that i get on linux, it was no present in windows 7 days ago

##### BRANCH(ES):

[2019-03-20 12:31] poszer commented on #1593
Please fill AC Hash/Commit field. Btw, Does the build complete at the end? Also include full log.

[2019-03-20 13:14] wizzymore commented on #1593
I added the commit, what do you mean by full log? from cmake or console? And no, it does not build

[2019-03-20 13:20] wizzymore commented on #1593
[code]

The line of code that gets the error is this:
[code]
The error happens even if i remove that part of code.

The clang i use:
[code]

[2019-03-20 14:33] Viste commented on #1593
can you post full log with cmake to pastebin.com or paste2.org here its hard to read

[2019-03-20 14:43] #1513 closed

[2019-03-20 15:37] Helias opened #3912 "[SUGGESTION] Expansion-switch idea and historical poisonous ideas"
Hello everyone,

I want to discuss about these points:
- historical community cores/servers failures -> avoid splitting developers
- planning a cross-expansion configuration, at least for Classic, TBC and WOTLK

## Historical community cores/servers failures and avoid splitting developers
Personally, I used to work on the old database (UDB) of MaNGOS, I contributed to many servers working with MaN

[2019-03-20 16:03] wizzymore commented on #1593
I never had problems with building before neither read something from other users about this so i don't know wich file contains the full log of the build, if you tell me i can put the log on pastebin.

[2019-03-20 18:03] Viste commented on #1593
@wizzymore i can only sugget one thing and its downgrade clang to 3.8

[2019-03-20 18:13] FrancescoBorzi commented on #1593
we should fix it and make it work with clang 7 too. Maybe @Stoabrogga, @naios or @Rochet2 can give a tip here

[2019-03-20 18:21] Mitradis commented on #1497
yes #1590 is same, this thread can be close

[2019-03-20 19:11] poszer commented on #1497
@Mitradis Did it fix your opened issue?

[2019-03-20 19:38] wizzymore commented on #1593
@Viste ubuntu 18.10 has only the repos for versions: 3.9, 4, 6, 7
if i install 3.9 cmake returns this:
[code]
How do i set /usr/bin/clang++ propely?

[2019-03-20 19:41] FrancescoBorzi commented on #1593
@wizzymore try version 6, I always use that version and it works for me

[2019-03-20 19:53] wizzymore commented on #1593
using -std=c++11 works perfectly normal, no errors, so this could be a temporary fix to remove the commit : e7ace60e59565833922c742a66cb2382be8f0ae6

[2019-03-20 19:56] FrancescoBorzi commented on #1593
@wizzymore can you please try `-std=c++14` and `-std=c++1y` and see if they also works for you ?

[2019-03-20 20:11] wizzymore commented on #1593
In travis indeed it works, i forked the repo and tried it myself.
Results of
-c++14: build passed
-c++1y: build passed
only c++1z fails building

[2019-03-20 21:39] FrancescoBorzi commented on #1593
@wizzymore thanks for your feedback.

Please test this PR and let me know if it solves the issue for you (in the PR discussion):

https://github.com/azerothcore/azerothcore-wotlk/pull/1595

I close this issue since it duplicates: https://github.com/azerothcore/azerothcore-wotlk/issues/1568

[2019-03-20 21:39] #1593 closed

[2019-03-20 21:41] FrancescoBorzi commented on #1568
@FallingSnow please try https://github.com/azerothcore/azerothcore-wotlk/pull/1595

[2019-03-20 21:53] FallingSnow commented on #1568
Deleted directory and recloned.
[code]

Let me know if you need more of the logs.

[2019-03-20 21:58] FrancescoBorzi commented on #1568
@FallingSnow what about `-std=c++1y` ?

[2019-03-20 22:13] FallingSnow commented on #1568
The issue seems to be with Cmake viewing `c++14` as regex and since `c++14` is in fact invalid regex this is a valid error. Since we should be matching strings and not regex we should alter the `genrev.cmake` code.

This patch fixes the issue.
[code]

After this patch branch`c++14` now compiles.

[2019-03-20 23:20] poszer commented on #1497
You provide wrong ID's. All of them are marked as '' This item is not available to players.'' .
Use other ID's for correct Enchantment.
Closing this

[2019-03-20 23:20] #1497 closed

[2019-03-20 23:44] FrancescoBorzi commented on #1568
@FallingSnow thanks, I've updated the PR. Can you please try it again? Please leave the feedback under the PR discussion:

https://github.com/azerothcore/azerothcore-wotlk/pull/1595

[2019-03-21 04:49] wizzymore opened #3975 "[DEV] What IDE should I use on linux"
I don't know if it is the correct word, but how can you get the completion data or an IDE to check for errors like Visual Studio on Linux? I don't care that much about showing errors, but autocompletion would be something really really nice

[2019-03-21 08:14] #1568 closed

[2019-03-21 14:11] Stoabrogga commented on #1541
I'll look into this.

[2019-03-21 18:38] #1196 closed

[2019-03-21 21:52] comix1988 commented on #1535
@poszer i tested this quest and:
to reproduce the reported bug you have to wait still on site for about 1 min after accepting the quest:
https://youtu.be/YGFpj_xeG7M

also the quest doesn't work because 1- it's not possible to complete & 2- the npc [shay](https://wowgaming.altervista.org/aowow/?npc=7774) should stop to rest and to wake it should use the bell
https://youtu.be/QB2kBjGZS0w

tested on

[2019-03-21 21:57] poszer commented on #1535
Oh, i get it now. Will check that issue again. Thanks for this video :laughing:

[2019-03-21 23:20] diluh opened #1601 "[QUEST] DK Zone - Into the Realm of Shadow"
**Description:**

Into the realm of shadows = id 12687
does not have the target to catch the horse.

**Current behaviour:**
target of the horse and the warrior becomes enemy and we can not get on the horse

**Expected behaviour:** The DK must attack the horse and when the creature on top of the horse dies, the DK must pick up the horse
https://www.youtube.com/watch?v=AFcO8U9wlfM

**Steps to reprod

[2019-03-21 23:45] poszer commented on #1601
You have to kill the rider, and take he's horde. Just tested this, the quest is working fully.
Just like the quest say :

So, kill Dark Rider, and after that take he's horse, and finish quest.

Images while doing quest :
![download (1)](https://user-images.githubusercontent.com/41213210/54791719-571fe400-4c3b-11e9-8608-65b60fbd6c5b.png)
![download (2)](https://user-images.githubusercontent.com/412

[2019-03-21 23:45] #1601 closed

[2019-03-22 00:06] #1512 closed

[2019-03-22 11:26] Helias commented on #1177
We can close this, thx @wizzymore https://github.com/azerothcore/azerothcore-wotlk/pull/1598

[2019-03-22 11:26] #1177 closed

[2019-03-22 12:37] poszer commented on #544
Yeah, it's a blank. Maybe we should use it like this, just so people can know what's the next step to do.

`UPDATE `quest_template` SET `QuestDescription`='You have to go in the Tanaris, Caverns of the Time. Find Anachronos and speak with him.' WHERE `ID`=8555;`

[2019-03-22 16:05] Knindzagxg opened #1604 "[Quest] Bluefeaf Tubers [Fix]"
Bluefeaf Tubers quest from Ratchet.

* Quest  ID  1221
* Quest giver  ID 3446

To test it, .quest add 1221
Be sure to visit quest giver and get required items for quest.

* Problem
- Once you try to use provided quest item while in Dungeon, nothing happen.
- Gameobject is spawned, but not visible to player until Gopher spawn and find it for you.

* Test without SQL fix first
- Take quest and requi

[2019-03-22 16:06] wizzymore opened #1605 "AddGossipItemFor() function fails on build in Linux"
##### SMALL DESCRIPTION:

[code]
Using this function on linux builds the file correctly with no error but it can't build worldserver, it fails there.

What the function does is:
[code]
If you want to create a gossip item from the DB and use directly the PlayerTalkClass the build works!

The only problem is when calling the function AddGossipItemFor()

##### EXPECTED BLIZZLIKE BEHAVIOUR:

---

####

[2019-03-22 16:38] wizzymore commented on #1604
[code]
For those who want to see the fix. ( I didn't tested it yet )

[2019-03-22 16:53] Knindzagxg commented on #1604
Cheers  Wizz

[2019-03-22 17:07] wizzymore commented on #1604
Tested it and indeed, you can now use the tools but you could already loot the Blueleef Tuber and the tiny Snufflenose remains there not moving and you can spawn an infinite amount of Snufflenose.

This is a fix, right, but only a partial fix, a fix for the items. Next thing to do is to make the Blueleef Tubers invisible and when the little guy is sniffing to make them visible.

To-do List:
- [ ]

[2019-03-22 18:18] wizzymore commented on #1604
@FrancescoBorzi i think this can be closed, right?

[2019-03-22 19:19] Knindzagxg commented on #1604
Cheers.

About spawn, i think we just need to limit via SAI. I will try it  tomorrow.

[2019-03-22 19:23] wizzymore commented on #1604
@Knindzagxg forget everything i said, i bugged it out looting the Blueleaf Tubers as a gm.
Everything works fine.

[2019-03-22 20:13] FrancescoBorzi commented on #1604
@Knindzagxg use triple apex when posting queries on GitHub.

I mean, three times this: `

[2019-03-22 21:01] #1189 closed

[2019-03-22 21:36] Knindzagxg commented on #1514
Apply fix.
.reload  smart_scripts
.npc  add 7572 just to test and delete after. Spwned NPC will work after next server restart

Video bellow as well.

`UPDATE `creature_template` SET `AIName` = 'SmartAI' WHERE `entry` = 7572;

DELETE FROM `smart_scripts` WHERE (source_type = 0 AND entryorguid = 7572);
INSERT INTO `smart_scripts` (`entryorguid`, `source_type`, `id`, `link`, `event_type`, `event_pha

[2019-03-22 21:49] poszer commented on #1514
Nice fix! Tested, working. The Npc is spawned, and quest can be completed. WIll create PR for this, and tag you as Author @Knindzagxg

[2019-03-23 11:13] Knindzagxg opened #1609 "[NPC] Librarian Garren [Fix included]"
https://www.wowhead.com/npc=25291/librarian-garren#abilities

While talking with Garren there's option to give u water breathing trough gossip.

How to test:

1. .go cre 114935
2. Talk with him and select water breathing option.

Problem:

Nothing happen when you chose option for water breathing.

Fix bellow:

[code]

.reload creature_template 25291
.reload smart_scripts
.npc  add 25291

Try talki

[2019-03-23 11:28] Knindzagxg commented on #1604
Yeah mate, havent been using git  to  much  sadly  :P
but  got  info  from   Poszer  about ```sql```
Ty tho :D

[2019-03-23 11:36] FrancescoBorzi commented on #1609
@Knindzagxg can you please open a PR with your fix ?

[2019-03-23 12:11] poszer commented on #1609
Tested without this commit @Knindzagxg  was right. You can't click on that water breathing menu.
Tested with this commit and it's working now.
Will create PR for it, thanks @Knindzagxg

[2019-03-23 12:56] Naxxramas-Server opened #1611 "[Ulduar] Spinning Up Mimiron P4 [$90]"
[Ulduar] Spinning Up Mimiron P4

##### SMALL DESCRIPTION:
Mimiron Spinning up spell in P4 doesn't work

##### EXPECTED BLIZZLIKE BEHAVIOUR:
When Mimiron arrive in P4 , the VX-001 have to use the spell Spinning-Up like in the P2

##### CURRENT BEHAVIOUR:
Actually , VX-001 use the Spinning up only on P2 and not on P4 , and if we uncomment this line : https://github.com/azerothcore/azerothcore-wotlk/

[2019-03-23 13:34] Naxxramas-Server opened #1612 "[Ulduar] Runemaster Molgeim - Rune of Summoning [$10]"
[Ulduar] Runemaster Molgeim - Rune of Summoning

##### SMALL DESCRIPTION:
Spell Rune of summoning of Runemaster Molgeim doesn't work on 25 raid Mode

##### EXPECTED BLIZZLIKE BEHAVIOUR:
When Runemaster Molgeim is the last alive boss in the encounter , he should use the spell Rune of summoning in 10 and 25 players raid mode

##### CURRENT BEHAVIOUR:
Actually , Runemaster Molgeim use this ability on

[2019-03-23 13:59] NixAJ opened #1613 "Internal Unit Heartbeat Timer"
##### SMALL DESCRIPTION:
This issue is about the discussion of a potential blizzlike 5 second internal unit timer based on some information provided by a user under the name of xvwyh.

https://github.com/TrinityCore/TrinityCore/pull/22380
This pull requests has some interesting information commented by xvwyh detailing information sniffed from the alpha. While alpha data shouldn't be taken as confi

[2019-03-23 14:20] Knindzagxg commented on #1461
Alrighty, trying to sort this  one,  and i  hope  it's  sorted.

[code]

[code]

[code]

[code]

[code]

Reload all creature_templates  and  smart_scripts

Video  bellow;
https://www.youtube.com/watch?v=mz6AmNLBiak&feature=youtu.be

[2019-03-23 14:51] Viste commented on #1611
do you have more info about it? wowwiki or somthing

[2019-03-23 14:58] Naxxramas-Server commented on #1611
You can see that in all official videos like :

https://youtu.be/ZjecQKcGuD4

See at 6:13 the spinning up in P4

[2019-03-23 20:38] #1609 closed

[2019-03-23 22:00] Nefertumm commented on #1611
What do you mean with that?

[2019-03-23 22:25] Naxxramas-Server commented on #1611
No because , you take damage by the spell , but not in the visual when the boss cast it.
When in P4 the boss use this ability , run around the room , you'll see you take damage out the visual

[2019-03-23 22:42] Nefertumm commented on #1611
I re-tested it, the first time i tested was normal, now i saw what you meant.

[2019-03-23 23:26] Naxxramas-Server commented on #1611
Yep i think it's that,  but don't know how to fix it , that's why i opened this issue :
^^

[2019-03-24 02:11] Viste commented on #1611
@Naxxramas-Server try:
https://github.com/Viste/Azeroth4you/tree/mimiron
https://github.com/Viste/Azeroth4you/commit/6d0f1d4e104188affbd2532c9b41d7536b40f8aa

[2019-03-24 06:06] Bogir commented on #1554
Localization dependences still are broken.

[2019-03-24 06:59] FrancescoBorzi commented on #1554
@Winfidonarleyan can you please have a look at this?

[2019-03-24 08:18] Winfidonarleyan commented on #1554
Look my PR

[2019-03-24 08:29] FrancescoBorzi commented on #1554
@Seebaby @Bogir @pangolp can you please test the PR from @Winfidonarleyan?

[2019-03-24 10:05] Motorheadx commented on #1612
This will fix your problem
UPDATE `creature_template` SET `entry`='33051', `difficulty_entry_1`='0' WHERE (`entry`='33051');

[2019-03-24 12:02] FrancescoBorzi commented on #1612
@Motorheadx can you please open a PR with it? So you can claim the bounty and earn 10 dollars

[2019-03-24 15:06] #1612 closed

[2019-03-24 15:29] Naxxramas-Server opened #1621 "[Hunter] Pet Disappear [$20]"
[Hunter] Pet Disappear (Priority Hight)

##### SMALL DESCRIPTION:
Hunter pets disappear when the try to call stable pet or tame new beast with active dismissed pet.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
When hunter have a dismissed pet and try to tame a beast or call stable pet with spell or stable master , message must appear and can't be possible to do this action

##### CURRENT BEHAVIOUR:
Actual

[2019-03-24 16:07] #1554 closed

[2019-03-24 16:33] Deku commented on #1621
Confirmed. When you dismiss your pet and pick one from the stable, your "current" pet disappears

[2019-03-24 18:13] #1514 closed

[2019-03-25 14:10] #1605 closed

[2019-03-25 16:18] #1461 closed

[2019-03-26 09:27] NixAJ commented on #1613
A friendly reminder to anyone reading that your point is valued :)

[2019-03-26 09:51] gtao725 opened #1635 "Latest Commit not Compiling with Eluna Engine"
##### SMALL DESCRIPTION:
Latest Commit not Compiling with Eluna Engine

Throws these errors in VS2017 Community Edition:

10>d:\ac\azerothcore\modules\mod-eluna-lua-engine\luaengine\GlobalMethods.h(1950): error C2065: 'BAN_ACCOUNT': undeclared identifier (compiling source file D:\AC\azerothcore\modules\mod-eluna-lua-engine\LuaEngine\LuaFunctions.cpp)
10>d:\ac\azerothcore\modules\mod-eluna-lua-engi

[2019-03-26 10:53] wizzymore commented on #1635
This commit compiles eluna module but now the function Ban only works with BanMode in numbers (1 - Account, 2- Char, 3-IP). I made the fix so it compiles and bans the account if needed. The duration now must be like in game: "4s", "4d5m4s"
Example script:
[code]

[2019-03-26 13:19] gtao725 commented on #1635
Thx wizzymore! that worked! I do kinda wish AC could have their own fork of Lua Engine instead of depending on others, maybe they should just use yours haha!

[2019-03-26 13:28] wizzymore commented on #1635
@gtao725 keep in mind that this is not a fix, is just a temporary solution!

[code]
[code]
banMode now works only as an integer ( 1 = BAN_ACCOUNT,  2 = BAN_CHAR, 3 = BAN_IP ) { i don't know how it was working before }
And note that BAN_CHARACTER is not working.

[2019-03-26 14:32] #1491 closed

[2019-03-26 14:32] #1604 closed

[2019-03-26 14:33] #1545 closed

[2019-03-26 15:09] gtao725 commented on #1635
noted! thx a a lot.

[2019-03-26 15:17] wizzymore commented on #1635
@gtao725 tell me if this commit works as it should with ban function please

https://github.com/wizzymore/Eluna/commit/3eaa54dc72f8f6ea7af7f692d99e07b5d1a60684

[2019-03-26 16:09] GitVerge commented on #1613
We could start by making a list of spells with flags mentioned in TC issue

[2019-03-26 17:00] NixAJ commented on #1613
Thats a good suggestion, if someone wants to get on this feel free, I will try and get around to it when I have some free time for it.

[2019-03-26 18:24] wizzymore commented on #1635
https://github.com/ElunaLuaEngine/Eluna/pull/286

[2019-03-26 20:11] ladiszlai opened #1636 "can't learn scripted spells via command"
When you try to learn a spell from spell_script_names table, you got error "spell cannot be learned by using a command". If I remove its row from the table it will work what the hell ?

Hash: 4193898

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/71949589-can-t-learn-scripted-spells-via-command?utm_campaign=plugin&utm_content=track

[2019-03-26 20:31] FrancescoBorzi commented on #1636
@ladiszlai please add your AC version

[2019-03-26 20:40] wizzymore commented on #1635
This issue can now be closed

[2019-03-26 20:41] #1635 closed

[2019-03-26 21:17] Knindzagxg opened #1637 "[Quest] Let Them Eat Crow [Fix included]"
Let Them Eat Crow quest in Howling Fjord.

How to test:

- .quest  add 11227
- .tele HowlingFjord
- .additem 33238 5
-  Move to quest mark location
- Use provided quest item to spawn Hound

Once spawned, hound will remain there for, at least 20 minutes  (Prolly even more, but i stoped after 20th)

Let's  force  despawn after 5-10  seconds.

[code]

.reload  creature_template 23943
.reload smart_sc

[2019-03-26 22:09] wizzymore commented on #1637
instead of this way of fixing, why don't you try to make it blizzlike?
- [ ] Make Plaguehound Cage create a guardian not a npc that doesn't move
- [ ] Make the guardian dissapear on quest complete

[2019-03-26 22:31] Ercules76 commented on #1621
I found the bug but have a question. If the pet is dismissed and i cast the spell 'Call Stabled Pet', it's right that i don't see the current pet at first slot?

[2019-03-26 23:01] #1541 closed

[2019-03-26 23:20] poszer commented on #627
Can't reproduce this. Closing

[2019-03-26 23:28] poszer commented on #628
1 minute is fine as normal. If you need more time, set it in your world configuration.
Also, check respawn time of creatures, if creature respawn < corpse decay, respawn time is in advantage.

#        Description: Time (in seconds) until creature corpse will decay if not looted or skinned.
#        Default:     60   - (1 Minute, Corpse.Decay.NORMAL)
#                     300  - (5 Minutes, Corpse

[2019-03-26 23:28] #628 closed

[2019-03-26 23:47] poszer commented on #632
You must to have [Quest](https://www.wowhead.com/quest=12718/more-skulls-for-brew) to see object window.
Also, the creature who speak is [Noth the Plaguebringer](https://www.wowhead.com/npc=28919/noth-the-plaguebringer) while doing these two quests :
[Noth's Special Brew](https://www.wowhead.com/quest=12717/noths-special-brew)
[The Plaguebringer's Request](https://www.wowhead.com/quest=12716/the-p

[2019-03-26 23:47] #632 closed

[2019-03-27 00:02] Viste commented on #1613
where is proofs from non alpha client?

[2019-03-27 00:32] poszer commented on #633
AreaTable.dbc

https://image.prntscr.com/image/a9D7FmJaSKaHUn7ZS3zzqw.png
https://image.prntscr.com/image/_Y6_qe9YRs2TWN9a1A-tkg.png

[2019-03-27 01:12] NixAJ commented on #1613
Perhaps you misunderstood the post. The post implies that the data was found when looking at the alpha client, and not in a non alpha client. https://gyazo.com/e0d920aa745c5c5880f2a295c35e79ae

The screenshot shows a snippet of a statement written in the issue linked above which explains that looking at these values from the alpha client there is a natural missing event that we currently do NOT ha

[2019-03-27 02:28] gtao725 commented on #1540
Read the following from: https://wow.gamepedia.com/GM_Island

"
Notes
Before patch 1.8, players could add GMs to their friends list, and they would be seen to be located at GM Island. However, since patch 1.8, it is no longer possible to add a GM to friends lists.
Against popular belief, there is very little on the island. A small doghouse, a rowboat and a dock that connects to it, a single buildi

[2019-03-27 03:04] gtao725 commented on #1635
@wizzymore thx so much, srry it was getting late, I didn't have time to try last nite. Just compiled and it worked like a charm! The BAN Commands also work flawlessly.

[2019-03-27 03:21] gtao725 opened #1639 "Black Temple NPC Teleports Broken"
##### SMALL DESCRIPTION:

1. Spirit of Olum: https://wow.gamepedia.com/Spirit_of_Olum
https://wowgaming.altervista.org/aowow/?npc=23411

This NPC currently only teleports player to Sanctuary of Shadows after killing High Warlord Naj'entus and Supremus.

After killing the Illidari Council, the option to teleport players to Chamber of Command just before Illidan encounter is NOT WORKING.

2. Spirit

[2019-03-27 05:07] Nefertumm commented on #1532
Hmm maybe this issue is invalid, according to wowwiki:

So the only spell that can't be interruptable is [Deathchill Blast](https://www.wowhead.com/spell=70906/deathchill-blast)

[2019-03-27 07:27] ladiszlai commented on #1636
@FrancescoBorzi newest fresh compiled core

[2019-03-27 07:59] FrancescoBorzi commented on #1636
@ladiszlai ok but still please add the hash commit to keep track of when this issue was experienced

[2019-03-27 08:00] #1532 closed

[2019-03-27 09:33] Knindzagxg commented on #1637
Hmm, ill try to make it.
Had to make this fix quick, cause  someone could spawn tons of them and prolly crash server at the end.

[2019-03-27 10:46] poszer commented on #1429
Fixed with https://github.com/azerothcore/azerothcore-wotlk/pull/1443

[2019-03-27 11:21] comix1988 commented on #1429
@poszer I remember that this fix was not imported. Looking at the sql file of the pr-1443  I don't see references to the quest data rescue

[2019-03-27 12:46] poszer commented on #1429
You re right. Will try to fix issue with it

[2019-03-27 14:53] Bogir opened #1642 "Talents Inspecting from the same and opposit faction."
Inspecting has 2 variants:
**1 (Enabled)** = **Everybody** can see Talents  of same and opposit faction.
**0 (Disabled)** = **No one** can see other people's talents.  Faction is no matter, only GM can see Talents.  But in this case player must to see tallents of players of his faction

**worldserver.conf**:
•    TalentsInspecting
•        Description: Allow inspecting characters from the opposing

[2019-03-27 15:04] poszer commented on #1642
Please fill the field hash commit ( Your AC version ) @Bogir

[2019-03-27 16:17] poszer commented on #1642
Oh, i understand now. Will post fix soon, thanks for report @Bogir

[2019-03-27 16:34] BarbzYHOOL commented on #1637
Some shit I had tried to fix long ago, it's INCOMPLETE:

[code]

[2019-03-27 16:36] BarbzYHOOL commented on #1613
I think viste asked "needs proofs from NON alpha client"

[2019-03-27 16:39] Maurowin opened #1644 "[WORLD] deposit"
##### SMALL DESCRIPTION:

Some deposits are in inaccessible areas and we cannot mine them. E.g like screenshot below
![WoWScrnShot_032719_173226](https://user-images.githubusercontent.com/31663279/55094597-fa974b80-50b6-11e9-8142-53f9e6648104.jpg)

##### EXPECTED BLIZZLIKE BEHAVIOUR:

We should have access to the deposits

##### CURRENT BEHAVIOUR:

Some deposits are in inaccessible areas and we ca

[2019-03-27 17:11] BarbzYHOOL commented on #1642
What's the issue??

[2019-03-27 17:13] Deku commented on #1644
Seems like this will be a loooong task 🤣

[2019-03-27 17:24] Winfidonarleyan commented on #1636
@ladiszlai,
[code]

[2019-03-27 17:28] BarbzYHOOL commented on #1644
This can only be done manually for each node?

[2019-03-27 17:35] Deku commented on #1642
This needs to follow the template for issues and add a proper explanation. Please fix it.

[2019-03-27 18:32] NixAJ commented on #1613
If I had proof from the non alpha client I surely would've posted it in the issue :)

I don't think we should look away from this just because there is no proof from a non alpha client. It should be relatively "easy" to figure if a system like this could potentially be running.

[2019-03-27 20:32] poszer commented on #1644
Yep xD Need to find which are wrong positioned lol

[2019-03-27 21:31] BarbzYHOOL commented on #1613
I don't understand what would this bring.

[2019-03-27 23:14] grimgravy commented on #1639
That's been fixed by trinitycore. In preview it will be available in PR

[2019-03-28 04:16] diluh opened #1647 "[Quest Item] - Miscellaneous quest item are not dropping"
**Description:**

several quests are not dropping the [Quest Item]

**Current Behavior:**

after doing several quests I noticed that many of them do not drop the [Quest Item] some of them are:
https://wotlk.evowow.com/?quest=9420
https://wotlk.evowow.com/?quest=10450
There are many

I already changed the drop to 100% and still do not drop, if it is some configuration, please kindly help me.

**Exp

[2019-03-28 04:25] #1429 closed

[2019-03-28 04:50] Nefertumm commented on #1637
Barbz's sql has a link to a trinity pr. Check that out and see if it's useful 👍

[2019-03-28 05:30] Viste commented on #1521
there is should be Realm server if be true, but now Realm server is part of worldserver so that info in DB is right

[2019-03-28 05:35] Viste commented on #1521
and its not TC stuff, its mangos the father of the TC and AC https://github.com/cmangos/mangos-wotlk/blob/master/sql/base/realmd.sql#L159

[2019-03-28 07:58] FrancescoBorzi commented on #1639
@grimgravy can you please import that fix or link the commit here so it can be imported?

[2019-03-28 09:14] NixAJ commented on #1613
Pros:
- Proper handling of auras depending on unit's internal timer
- Combining several individual and incorrect timers into a single timer

Cons:
- You have to fix the ugly code that was written before it

[2019-03-28 10:41] Maurowin opened #1649 "[STUCK] Lake Everstill"
##### SMALL DESCRIPTION:

Sometimes and sometimes often, when I am in this area and I charge murlocs, I get stuck and I can't move. If I invoke my mount, it unlocks me.
![WoWScrnShot_032819_113606](https://user-images.githubusercontent.com/31663279/55151099-c753cb80-514d-11e9-9ad4-8ded270e00c0.jpg)

##### EXPECTED BLIZZLIKE BEHAVIOUR:

I must not be stuck

##### CURRENT BEHAVIOUR:

##### STEPS TO

[2019-03-28 10:45] grimgravy commented on #1639
Yes, I can

[2019-03-28 12:15] Stoabrogga commented on #1613
Other cons in my opinion:
- You have to thoroughly test everything in order to prevent regression
- You still have the risk of some unforeseen side effects

Also, the pros mentioned here are in my opinion only a "nice to have", they don't improve the user experience for the players. So you have to weigh the risk of regression and unforeseen side effects against benefits to the user experience when

[2019-03-28 12:22] NixAJ commented on #1613
You're partly wrong. The main thing to test for is the Auras, the rest of the code will take 2 seconds to test, and if it really is wrong it will be obvious imediately, but this is not about the implementation details, rather the discussion if this is actually a thing.

Please keep it to suggestions or results of testing this exists.

[2019-03-28 12:40] ladiszlai commented on #1636
@Winfidonarleyan Is there a fourth level ? I have level 3 GM acc and I could learn spells which was not using scripts.

[2019-03-28 14:28] Winfidonarleyan commented on #1636
@ladiszlai need change condition

[2019-03-28 15:06] poszer commented on #1647
Just tested, the drop rate is fine. Also the item can be obtained by killing mobs, i don't see any problem with these quests :
Images below :

![Screenshot_12](https://user-images.githubusercontent.com/41213210/55168522-460f2f80-5173-11e9-93dc-9d5d6851756d.jpg)
![Screenshot_5](https://user-images.githubusercontent.com/41213210/55168524-460f2f80-5173-11e9-9663-c4265edc221c.jpg)
![Screenshot_6](http

[2019-03-28 15:06] #1647 closed

[2019-03-28 15:22] poszer commented on #1649
Tested and I can't reproduce this. I've tried many times, but without issue/stuck.

Closing this, Thank you anyway for reports.

[2019-03-28 15:22] #1649 closed

[2019-03-28 15:22] Viste commented on #1613
but where is proofs, or at least list auras what using this kind of mechanic?
Now it all looks like beautiful words and nothing more.

[2019-03-28 15:30] poszer commented on #1642
Like description said :
**Allow inspecting characters from the opposing faction.**
Tested with configuration set to 1 and 0 .
They re both fine, i don't see any problem with this configs.
Images below:
![HordeinspectAlly](https://user-images.githubusercontent.com/41213210/55170318-9e93fc00-5176-11e9-881c-6e67020fc34b.jpg)
![Bothnormalplayersinspect](https://user-images.githubusercontent.com/412132

[2019-03-28 15:30] #1642 closed

[2019-03-28 16:57] FrancescoBorzi commented on #1636
ideally this should be configurable via DB to be consistent with other commands, but a quickfix is better than nothing so well done @poszer

[2019-03-28 19:36] Bogir commented on #1642
You tested it from GM account?  Very nice!

[2019-03-28 19:56] BarbzYHOOL commented on #1642
Your description and english was so bad that nobody understood

[2019-03-28 19:56] poszer commented on #1642
Tested with A/H players - GM also.
I ask you to fill template while reporting issue, you didnt.
Tou didnt even read the introduction there, where it clearly say this :

IF YOU DO NOT FILL THIS TEMPLATE OUT, WE WILL CLOSE YOUR ISSUE

[2019-03-29 12:09] NixAJ commented on #1613
This issue was started so that we can investigate the possibility of this being a real thing and not just an alpha thing. I understand the curiosity and disbelief, but can we keep this to tracking down if it exists, and then when we know if it does or not, decide on the implementation details.

[2019-03-29 16:07] BarbzYHOOL commented on #1636
i guess to have this fully done via DB is called "RBAC" :P

[2019-03-29 16:23] gtao725 opened #1653 "2nd Boss in Serpent Shrine Cavern Not Spawning"
##### SMALL DESCRIPTION:
2nd Boss in Serpent Shrine Cavern does not spawn after fishing him up. The achievement pops but the fight just doesn't start.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

https://wow.gamepedia.com/The_Lurker_Below
https://www.youtube.com/watch?v=JhWuAKAwTaw

##### CURRENT BEHAVIOUR:

You fish, then when you successfully fish it up you see "enter combat", then immediately you see

[2019-03-29 17:25] comix1988 commented on #1653
issue already opened.
https://github.com/azerothcore/azerothcore-wotlk/issues/522

[2019-03-29 17:27] #1653 closed

[2019-03-29 17:30] wizzymore commented on #1644
So, we should create a PR that will be WIP and everyone can report bad spawns on deposits. Otherwise for only one man this would be a headache

[2019-03-29 17:31] comix1988 commented on #522
confirmed by @gtao725

here his report:

SMALL DESCRIPTION:

2nd Boss in Serpent Shrine Cavern does not spawn after fishing him up. The achievement pops but the fight just doesn't start.
EXPECTED BLIZZLIKE BEHAVIOUR:

https://wow.gamepedia.com/The_Lurker_Below
https://www.youtube.com/watch?v=JhWuAKAwTaw
CURRENT BEHAVIOUR:

You fish, then when you successfully fish it up you see "enter combat", the

[2019-03-29 17:47] comix1988 opened #1654 "[QUEST] Fall From Grace *only horde pg*"
DESCRIPTION:

The mission "[Fall From Grace](https://wowgaming.altervista.org/aowow/?quest=2784)" can be completed by only one player.

EXPECTED BLIZZLIKE BEHAVIOUR:

the mission can be completed by all players

CURRENT BEHAVIOUR:

read description

STEPS TO REPRODUCE THE PROBLEM:

- create a horde pg;
- .go c 35237
- take th quest "fall from grace", click on gossip and complete it;
- create anoth

[2019-03-29 18:14] poszer commented on #131
Fixed with https://github.com/azerothcore/azerothcore-wotlk/pull/1479

[2019-03-29 18:14] #131 closed

[2019-03-29 18:24] pangolp commented on #1554
A thousand apologies, but the part of testing I really don't understand well, even when I have to do a PR I have terrible problems.

[2019-03-29 21:12] ladiszlai commented on #1636
Thank you for fixing this :)

[2019-03-29 23:10] #1636 closed

[2019-03-30 00:34] poszer commented on #1644
Yea, we can report them on this opened isuse :+1:

[2019-03-30 13:25] FrancescoBorzi commented on #1554
@pangolp no problem, we can help you. Just let us know what you don't understand

[2019-03-30 15:23] poszer commented on #1017
Table linked_respawn, delete these GUIDLow's.

[2019-03-30 15:29] poszer commented on #1017
A lot of these DB errors are already fixed @Knindzagxg confirmed it.
Closing this

[2019-03-30 15:29] #1017 closed

[2019-03-30 15:31] #605 closed

[2019-03-30 17:00] BarbzYHOOL commented on #1644
Members can edit the original issue and add a list.

[2019-03-30 19:55] #610 closed

[2019-03-30 20:24] Knindzagxg commented on #1654
Yeah i can confirm problems with this quest again.
Not sure why he don't wanna give credit.

Spawned to new one and i was able to complete quest.
Looks like he needs to be respawned.

[2019-03-30 21:27] Knindzagxg commented on #1654
Try removing event flag (It's set to Not Repeat atm)

[code]

Server restart and test

[2019-03-30 23:26] ZeegCL opened #3921 "[FEATURE] Things I would like to see in this new version of AC"
Some of you know that I don't have enough time to properly contribute to the project, so most of what I can do is to offer my opinions and quick fixes. Now, given that we are in the early stage of v2.0, there are some things I would like to see implemented for v3.0.

# 1. A proper ModuleManager class
If you think about modules being one of the main distinguisheable features of AzerothCore, it come

[2019-03-31 16:10] gtao725 opened #1659 "Missing Class Skills on Skill Panel (K Hotkey)"
##### SMALL DESCRIPTION:

Class skills seem to be missing on the Skill Panel (when you press K) of all classes except Death Knights.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

All specs (normally 3 in total in correspondence to talent specs) should show as class skills, showing only 1 or 2 is NOT CORRECT. eg. the Death Knight class skills are the only ones that show correctly:

![image](https://user-im

[2019-03-31 16:52] poszer commented on #1659
Just how i can see, only DK is correct there. Other need to show all 3 spec's in skill tab. Good catch @gtao725

[2019-03-31 17:40] xtrodinary12 opened #1660 "[Raid]Ulduar Teleporter"
Ulduar teleporter . After you kill first 4 boss  U can't go to other  . Ulduar teleporter is not usable .

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/72190222-raid-ulduar-teleporter?utm_campaign=plugin&utm_content=tracker%2F40032087&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountyso

[2019-03-31 17:48] poszer commented on #1660
Please while reporting issue fill template ( TITLE, DESCRIPTION, EXPECTED BLIZZLIKE BEHAVIOUR, CURRENT BEHAVIOUR, STEPS TO REPRODUCE THE PROBLEM, AC HASH/COMMIT )...

-- IF YOU DO NOT FILL THIS TEMPLATE OUT, WE WILL CLOSE YOUR ISSUE! -

[2019-03-31 17:48] #1660 closed

[2019-03-31 20:52] morehack opened #3943 "[JOB OFFER] Creating a website for FusionCMS [PSD]"
Hello! Guys, will anyone be able to "create" a cool template for FusionSMS for free?
I have a unique site layout. Need to do it under the CMS ...
I'll give it to You. the layout which costs $400.

[2019-04-01 03:29] gtao725 commented on #1659
@poszer no probs, I hope it isn't too much trouble fixing this one.

[2019-04-01 04:50] gtao725 opened #1661 "[QUEST] Head of Nefarian not spawned in Stormwind after quest turn-in"
##### SMALL DESCRIPTION:

Head of Nefarian not displayed in Stormwind after quest turn-in to Field Marshal Afrasiabi. He does correctly yell the event text and also gives the big buff.

https://wowgaming.altervista.org/aowow/?quest=7781
https://wowgaming.altervista.org/aowow/?quest=7782

##### EXPECTED BLIZZLIKE BEHAVIOUR:

The head should show hanging near where the quest was turned in to Field M

[2019-04-01 08:39] Pondaveia commented on #1661
I can confirm that this isn't scripted in either factions. I will try to pick this up tonight.

[2019-04-01 08:49] gtao725 commented on #1661
I can confirm it works for the Horde side. You turn the head in to Thrall, and then he directs you to the Overlord near entrance of Orgrimmar. Once turned in there, the Overload guy will mount the head on a pike, yell something, and give everybody a buff. The horde counterpart of this quest was fixed a long time ago in https://github.com/azerothcore/azerothcore-wotlk/issues/541.

[2019-04-01 13:20] poszer commented on #1540
I think you can do that just while adding ( SEC_MODERATOR) which is rank 1.

[2019-04-01 20:59] Selyria opened #1666 "[Druid] Feral Spells are not gated at trainers"
SMALL DESCRIPTION:

Feral spells (Bear and Cat form) can be learned without obtaining the required forms. You should be able to only learn those spells if you have the associated form.

Can be seen here: https://youtu.be/DYTHaE2XyJ4?t=343 (you can see he is lvl 10 but no Demo Roar present, while on the server right now you can learn that spell at lvl 10 even tho you don't have Bear Form.)

In this

[2019-04-01 23:07] poszer commented on #1666
Hm, anyway you can't use these abilities until you get required spec, right?

[2019-04-02 02:06] pangolp commented on #1554
Generally, the problem I have is that when I create a new branch, in the case of Windows (in linux I didn't try it) as I need to compile the whole core again, even if I have already compiled it once. That part isn't quite clear to me and that's why sometimes it's difficult for me to help you with the testing issue.

[2019-04-02 09:50] comix1988 opened #1667 "[QUEST] A Life Without Regret"
DESCRIPTION:

The mission "[A Life Without Regret](https://wowgaming.altervista.org/aowow/?quest=13266)" doesn't work properly

EXPECTED BLIZZLIKE BEHAVIOUR:

when you accept the mission, the undercity portal appears

CURRENT BEHAVIOUR:

the undercity portal doesn't appear

STEPS TO REPRODUCE THE PROBLEM:

- create a horde pg;
- .quest add 13266
- .go 1921.3 -4140.4 41.8 1

BRANCH(ES):
Master

AC

[2019-04-02 10:27] Stoabrogga commented on #1667
You have to start the quest chain with "Herald of War" (13257) or otherwise the phasing will not work. Don't jump into the middle of the quest chain as GM.

[2019-04-02 10:48] #1667 closed

[2019-04-02 14:36] #696 closed

[2019-04-02 20:00] #1639 closed

[2019-04-03 10:44] Falstring commented on #1659
TC has this issue as while back. It's only a visual that can be easily fixed.

https://github.com/TrinityCore/TrinityCore/issues/12311

[2019-04-03 14:25] gtao725 opened #1672 "Compile Failing - All Eluna Errors!"
##### SMALL DESCRIPTION:

Compiling using VS2017 Community Edition just failed on latest commit.
See below errors:
![image](https://user-images.githubusercontent.com/35093669/55486568-1d99a080-565f-11e9-9203-b4bb1f52847d.png)

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Should compile as before.

##### CURRENT BEHAVIOUR:

Compile failing with Eluna.

##### STEPS TO REPRODUCE THE PROBLEM:

1. Just compile

[2019-04-03 15:10] Winfidonarleyan commented on #1672
Please test PR https://github.com/azerothcore/azerothcore-wotlk/pull/1668

[2019-04-03 16:16] Pondaveia commented on #1666
@poszer It's not like what he said is wrong, even if players can't use them It's still a bug. I remember this on retail too. Gotta add a condition to this... not sure if this is db or core.

[2019-04-03 16:18] Pondaveia commented on #1661
@gtao725 You're right, I remember this issue from December but didn't realize it was fixed in January.

[2019-04-03 18:51] poszer commented on #1666
Yes, you re right. I Already checked some old videos, that's why is tag '' Need Feedback '' there. Anyway thanks for confirm @Pondaveia

[2019-04-03 18:52] BarbzYHOOL commented on #1666
very minor bug though

[2019-04-03 18:52] poszer commented on #1659
Yeah, already on list to port. Thank you anyway for ref @Falstring

[2019-04-03 22:57] poszer commented on #1016
Closing this issue. These Db errors aren't displayed in db log anymore.

[2019-04-03 22:57] #1016 closed

[2019-04-03 23:04] poszer commented on #863
Closing this, since these rows already exist in db, and issue is fixed. Thanks anyway

[2019-04-03 23:04] #863 closed

[2019-04-04 01:42] rdcentermrzhi opened #1679 "ByteBuffer byte order"
##### SMALL DESCRIPTION:

in Big-Endian  mac no convert byte order

 template<class T> void append(const T *src, size_t cnt)
        {
            return append((const uint8 *)src, cnt * sizeof(T));
        }

when read in  Big-Endian mac  can happend error

##### EXPECTED BLIZZLIKE BEHAVIOUR:

##### CURRENT BEHAVIOUR:

##### STEPS TO REPRODUCE THE PROBLEM:

1.
2.
3.

##### EXTRA NOTES:

##### BRA

[2019-04-04 01:50] gtao725 commented on #1540
Thx @poszer but how do you mean? I don't quite understand what you mean, sorry I am not too familiar with the definition of SEC_MODERATOR and what you can do with it. All I want is to be able to see other GMs (gmlevel 2 and gmlevel 3) on the Friend List, if it is not possible by design then I will close this issue.

[2019-04-04 02:31] gtao725 commented on #1672
@Winfidonarleyan Works flawlessly, thank you!

[2019-04-04 03:50] gtao725 commented on #1672
PR has being merged to master.

[2019-04-04 03:50] #1672 closed

[2019-04-04 07:29] FrancescoBorzi commented on #1679
Can you put your AC commit hash?

[2019-04-04 14:01] grimgravy commented on #1210
will soon be available

[2019-04-04 19:42] comix1988 commented on #1083
@Nefertumm
I've tested Thaddius now, but I can't find any problems with the damage from the electrical charges.
Tested in a nax 25:
- If two players with opposite electric charge are close they take 4500 damage every 5 seconds;
- if the charges are equal, a buff is applied that increases the damage by 10%;
- If two players with the same charge are close together, they do not take damage;

![wowwik

[2019-04-04 21:49] #587 closed

[2019-04-04 22:44] poszer commented on #563
Tested, can't confirm this. Anyway thanks for report

[2019-04-04 22:44] #563 closed

[2019-04-05 00:44] #1654 closed

[2019-04-05 05:19] Onixiya opened #1684 "Core getting a malformed packet when trying to log in"
Core getting a malformed packet when trying to log in

##### SMALL DESCRIPTION:

Getting a bad packet when i try to log in

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Logging in without a issue

##### CURRENT BEHAVIOUR:

WorldSocket::handle_input_header(): client (account: 0, char [GUID: 0, name: <none>]) sent malformed packet (size: 8, cmd: 1867972641)

##### STEPS TO REPRODUCE THE PROBLEM:

1. Compile

[2019-04-05 06:41] Falstring commented on #1684
I'm not certain about this, but I think it's your ssl version.

1.1.x is not compitable with mangos nor trinitycore. Isn't this the case with AC core aswell? I've only been using 1.0.x (non-light), so not sure.

But I think you need ssl 1.0.x

[2019-04-05 07:57] Onixiya commented on #1684
I'll try a earlier version

[2019-04-05 12:07] Onixiya commented on #1684
Getting the exact same problem, got the client by installing off the disc(physical cd) then applying updates.

[2019-04-05 12:44] gtao725 opened #1685 "[QUEST]Magtheridon's Head Not on Display and No Buff (Horde & Alliance)"
##### SMALL DESCRIPTION:

When turning in the following quests:

[Alliance] The Fall of Magtheridon (https://wowgaming.altervista.org/aowow/?quest=11002)
[Horde] The Fall of Magtheridon (https://wowgaming.altervista.org/aowow/?quest=11003)

There are 2 things that doesn not happen by the end of the hand in:

1. Neither Alliance side nor Horde side gets the zone buff. (Trollbane's Command[https://w

[2019-04-05 13:04] Falstring commented on #1684
try re-installing using the ready-to-play clients from Warmane or alike.

[2019-04-05 13:44] Nefertumm commented on #1684
1.1.x is compatible with AC

[2019-04-05 14:55] gtao725 opened #1687 "[EVENT] Zalazane's Fall (Incomplete Script)"
##### SMALL DESCRIPTION:

After starting the event, all quests can be obtained and completed up until https://wowgaming.altervista.org/aowow/?quest=25495. Then after flying to the little island, Vol'jin never shows up. I tried .gm on and saw the game objectsfor the event are not even there.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

https://wow.gamepedia.com/Zalazane%27s_Fall#Scripted_event
https://www

[2019-04-05 15:04] gtao725 opened #1688 "[Event] Operation Gnomeregan (Completely Missing)"
##### SMALL DESCRIPTION:

Just like the event Zalazane's Fall (Horde Only Event ID: 61), this is the Alliance version of the pre-cataclysm event. It seems this event doesn't even exist in the AC database. Nor does it exist in https://wowgaming.altervista.org/aowow/?events.

However, this event was definitely there in patch 3.3.5, and I found the event in Warmane's Wotlk DB: http://wotlk.cavernofti

[2019-04-05 15:13] Onixiya commented on #1684
It was a client problem. I have no clue whatsoever on how it was caused since i doubt debug versions of wow were released. That was a huge waste of time compiling the core over and over again with different openssl versions. At least i found the problem.

[2019-04-05 15:22] gtao725 opened #1689 "[RAID] Temple of Ahn'Qiraj (Boss Ouro Doesn't Spawn)"
##### SMALL DESCRIPTION:

The optional boss Ouro in AQ40 raid never spawns correctly. So unable to fight it at all.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

https://www.youtube.com/watch?v=uGhW2pvRKA4
https://wow.gamepedia.com/Ouro

##### CURRENT BEHAVIOUR:

You see the boss move around underground but it never emerges from the sand.

##### STEPS TO REPRODUCE THE PROBLEM:

1. .tele aq40
2. fight up t

[2019-04-05 15:33] poszer commented on #1688
Missing script

[2019-04-05 15:35] poszer commented on #1685
Will take a look on this

[2019-04-05 16:58] BarbzYHOOL commented on #1688
In fact, this aowow DB on wowgaming is using a very old TC database, not AC database. Yes it's stupidly misleading :'(

[2019-04-05 17:09] gtao725 opened #1690 "[QUEST] For the Horde! (No Buff After Quest Turn In)"
##### SMALL DESCRIPTION:

After turning in quest https://wowgaming.altervista.org/aowow/?quest=4974 at Thrall, he is supposed to do a buff on everyone in Orgrimmar, everyone at the Crossroads, everyone at Camp Taurajo and everyone at Razor Hill called "Warchief's Blessing". However, this does not happen. Also as soon as someone hands in the quest at Thrall, at the same time at the Crossroads, a NP

[2019-04-05 17:24] #686 closed

[2019-04-05 17:37] Falstring commented on #1684
Ah great. :D

and 1.1.x is compitable. learned smth new too.

[2019-04-05 18:05] gtao725 commented on #1688
Ah ok, so then which event id is it for the event Operation: Gnomeregan?

[2019-04-05 18:10] poszer commented on #1688
Are you on our discord?

[2019-04-05 18:15] BarbzYHOOL commented on #1688
Operation gnomeregan is for the transition between WOTLk to Cata if i'm right, and it's not coded on any emulator (I guess)

[2019-04-05 18:41] gtao725 commented on #1688
Yes indeed it is. But how come Zalazane's Fall is coded although not working 100%? That is the Horde version of wotlk to cata transition event. Both were added in 3.3.5.

[2019-04-05 21:16] Pondaveia commented on #1689
I can confirm this bug without testing since there's no event for Ouro to emerge:

https://github.com/azerothcore/azerothcore-wotlk/blob/master/src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_ouro.cpp#L66

Once I take care of my other bugs I'll remake The Temple of Ahn'Qiraj since most bosses are in need of a Re-vamp. They are still scripted with old timers. Feel free to report any bugs regardin

[2019-04-06 00:26] Pondaveia commented on #1688
This one seems a hard one to script without sniffs...

[2019-04-06 02:06] gtao725 commented on #1690
Will edit this again later today. Seems to be more to it than I thought for how the buff is applied...

[2019-04-06 03:35] #761 closed

[2019-04-06 03:35] #1538 closed

[2019-04-06 04:15] #1684 closed

[2019-04-06 18:06] gtao725 commented on #1690
Updated with FULL DETAILS, videos will follow soon, uploading to Youtube at the moment. The videos are taken from my test characters using Light's Hope Mangos Build: https://github.com/vmangos/core and this DB: https://github.com/brotalnia/database. Although this is Vanilla 1.12, this quest never changed until Cataclysm.

[2019-04-06 18:56] gtao725 commented on #1690
Check out this YouTube playlist: https://www.youtube.com/playlist?list=PL6L9EYYlrCZwfsoRg2MPmHhBNMKbif3mz for full quest mechanics.

[2019-04-06 21:22] Viste opened #1693 "Code review reports(performance, warnings, security, code style)"
##### SMALL DESCRIPTION:

- [ ] Warnings:

https://app.codacy.com/app/FrancescoBorzi/azerothcore-wotlk/issues?bid=11973180&filters=W3siaWQiOiJMYW5ndWFnZSIsInZhbHVlcyI6WyJDUFAiXX0seyJpZCI6IkNhdGVnb3J5IiwidmFsdWVzIjpbbnVsbF19LHsiaWQiOiJMZXZlbCIsInZhbHVlcyI6WyJXYXJuaW5nIl19LHsiaWQiOiJQYXR0ZXJuIiwidmFsdWVzIjpbbnVsbF19LHsiaWQiOiJBdXRob3IiLCJ2YWx1ZXMiOltudWxsXX1d

- [ ] performance:

https://app.codacy.

[2019-04-06 21:25] Viste commented on #1693
Good luck!

[2019-04-07 00:41] Pondaveia commented on #1685
@poszer Is really dedicated to show off heads everywhere xD

[2019-04-07 11:14] FrancescoBorzi commented on #1693
@Viste good job, but why are you using my fork instead of the main repo ?

[2019-04-07 11:19] #1496 closed

[2019-04-07 12:11] FrancescoBorzi opened #3976 "[GENERAL] AzerothCore on LinkedIn"
Software Development companies often look at open source contributions when they want to check a candidate's skills. It's always good to have references of open source projects in your own LinkedIn profile.

For this reason we decided to create an AzerothCore page (as a **No-profit Company**) on LinkedIn. So you can add AzerothCore between your LinkedIn working experiences:

https://www.linkedin.c

[2019-04-07 13:49] Viste commented on #1693
@FrancescoBorzi i get this link from random PR, so its not me )

[2019-04-07 17:46] #1661 closed

[2019-04-08 13:09] Onixiya opened #1698 "No NPC's in Razor Hill"
##### SMALL DESCRIPTION:

Nothing is in Razor Hill

##### EXPECTED BLIZZLIKE BEHAVIOUR:

NPC's spawned in Razor Hill

##### CURRENT BEHAVIOUR:

No NPC is spawned there. Just buildings and dirt.

##### STEPS TO REPRODUCE THE PROBLEM:

1. Walk, ride or fly Razor Hill
2. Look around
3. Job done

##### EXTRA NOTES:
 None

##### BRANCH(ES):

master

##### AC HASH/COMMIT:

e1d782d0de21e603a43fe30bde330a

[2019-04-08 13:40] poszer commented on #1698
Can't reproduce
![razor](https://user-images.githubusercontent.com/41213210/55728529-85ac0600-5a14-11e9-96de-1d462fea3255.jpg)
![razor1](https://user-images.githubusercontent.com/41213210/55728531-85ac0600-5a14-11e9-8496-5687ba0d08e9.jpg)
![razor2](https://user-images.githubusercontent.com/41213210/55728533-86449c80-5a14-11e9-865d-1bb794534adc.jpg)
![razor3](https://user-images.githubusercontent.c

[2019-04-08 13:40] #1698 closed

[2019-04-08 15:01] Onixiya commented on #1698
Thats wierd then. I got nothing for me in there

[2019-04-08 15:54] comix1988 commented on #762
I found several references to valithria's berserk:
![berserk1](https://user-images.githubusercontent.com/22867608/55738343-3b805000-5a27-11e9-90f3-3f7d0a94a063.png)
![berserk2](https://user-images.githubusercontent.com/22867608/55738344-3c18e680-5a27-11e9-80ba-ae4e83fae6c8.png)
![berserk3](https://user-images.githubusercontent.com/22867608/55738346-3de2aa00-5a27-11e9-9072-449e17ffd0d0.png)
![berse

[2019-04-08 20:53] wampirr opened #1701 "Missed / wrong property in worldserver.conf"
Hello!

While configuring my hello world found this:

https://github.com/azerothcore/azerothcore-wotlk/blob/97e7e2228e9b66e15d307f97c1b05160dd612aaa/src/server/worldserver/worldserver.conf.dist#L2319-L2323

Seems to me like a mistake(talent param and mining description).

Thank you.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/72

[2019-04-08 22:54] poszer commented on #600
Same problem again >.<

http://prntscr.com/n9bfu2
http://prntscr.com/n9bgs0

18972 - Orgrimmar Shaman
18970- Darkspear Axe Thrower
18950 - Orgrimmar Grunt

Re-opening this ..

[2019-04-08 23:22] poszer commented on #600
The errors are from Dark Portal
http://prntscr.com/n9bpm2
http://prntscr.com/n9bpw8

Duno what's changed here, but this event is reported that is triggered once the player is in the area, and a few minutes later, we see the creatures arrive.
But what activate it now, there is no players here lol

https://github.com/azerothcore/azerothcore-wotlk/issues/1376

[2019-04-09 08:23] Pondaveia commented on #1701
What do you mean with mistake? What's wrong with this configuration?

[2019-04-09 08:28] Pondaveia commented on #1611
@Viste https://github.com/Viste/Outlandcore/blob/6d0f1d4e104188affbd2532c9b41d7536b40f8aa/src/server/scripts/Northrend/Ulduar/Ulduar/boss_mimiron.cpp#L1554

Did you try swapping with DoCast() ? Just a feeling 🤔

[2019-04-09 09:22] Pondaveia commented on #122
Stupid question but could make a difference. Is your fork updated?

[2019-04-09 09:41] gtao725 opened #1702 "Hanging Head of Nefarian in Stormwind Disappears after 1 Min"
##### SMALL DESCRIPTION:

The hanging head of Nefarian in Stormwind disappears after 1 min of player handing in the quest and getting the buff.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

The head should display for 2 hours as agreed in https://github.com/azerothcore/azerothcore-wotlk/pull/1662.

##### CURRENT BEHAVIOUR:

The head only displays for about 60 seconds and then disappears.

##### STEPS TO R

[2019-04-09 17:20] #1522 closed

[2019-04-09 18:11] wampirr commented on #1701
overall format:
[code]
in other words:
- 1 description for one config property
- 1 value assign for ANOTHER config property
- appropriate missed parts for both of them not found elsewhere in file

I hope that you just did not read my post.

[2019-04-09 18:25] boom8866 commented on #1506
@BarbzYHOOL  https://github.com/TrinityCore/TrinityCore/commit/ce947814c6fa2c32c0908f1e7088ce971f74d365

This update is recommended
File encountered packet too small problem crash occurred

[2019-04-09 18:57] Pondaveia commented on #1701
I think it's missing because its default value is set on code. If you change it then new alterations should happen. You should the next line and test it. See what's the behaviour 😃

Rate.Mining.Amount = 2

[2019-04-09 19:05] Falstring commented on #1702
this should be updated: action_type 50 paramter 2 is measured in seconds.
(@ENTRY,9,3,0,0,0,100,0,3000,3000,0,0,50,179882,7200,0,0,0,0,8,0,0,0,-8925.57,496.042,103.767,2.42801,'Field Marshal Afrasiabi - On Script - Summon Gameobject The Severed Head of Nefarian and despawn after 2 hours'),

---
this should be removed: no point
(@ENTRY,9,6,0,1,0,100,0,30000,30000,0,0,41,7200000,0,0,0,0,0,14,0,17988

[2019-04-09 19:33] FrancescoBorzi commented on #1506
@boom8866 can you open a PR with that?

[2019-04-09 20:34] BarbzYHOOL commented on #1118
it's still WIP?

[2019-04-09 20:35] BarbzYHOOL commented on #122
lol i think we can close this @FrancescoBorzi no?

[2019-04-10 07:08] FrancescoBorzi commented on #122
We need to test on a recent AC version to check if the issue is still there. There is a good chance that it's still broken...

[2019-04-10 07:09] FrancescoBorzi commented on #1118
All the most important changes have been imported. There are still a few ones left but AFAIK no one is working on them. This can be left open and visible to whoever wants to import more changes.

[2019-04-10 07:31] Stoabrogga commented on #600
I'll look into this

[2019-04-10 09:48] Pondaveia commented on #1702
@Falstring make a PR so it can be tested if you will 👍

[2019-04-10 10:46] poszer commented on #1540
You have it in config too allow or no Gm's in friend list  :

#
#    GM.AllowFriend
#        Description: Allow players to add GM characters to their friends list.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

GM.AllowFriend = 0

But showing them online/offline that is not blizzlike. So, i'll close this

[2019-04-10 10:46] #1540 closed

[2019-04-10 11:09] poszer opened #1707 "Creatures in Shadowmoon Valley"
Creatures in Shadowmoon Valley

##### SMALL DESCRIPTION:

The creatures doesn't do damage.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

They should attack the players and do damage with their abilities
[NPC Dragonmaw Peon](https://www.wowhead.com/npc=22252/dragonmaw-peon#abilities)
1. [Sunder Armor](https://www.wowhead.com/spell=15572/sunder-armor)
2. [Kick](https://www.wowhead.com/spell=34802/kick)

###

[2019-04-10 16:47] BarbzYHOOL commented on #1118
because we could also put the "big list to import" as pinned issue

[2019-04-10 17:26] disclosurez commented on #1083
seems fixed

[2019-04-10 17:26] #1083 closed

[2019-04-10 23:27] #1543 closed

[2019-04-10 23:51] ghost opened #1713 "[Molten Core] Majordomo Executus [$25]"
### Majordomo Executus bugs

##### SMALL DESCRIPTION:

1. He is missing the following text after defeat [Proof](https://wowwiki.fandom.com/wiki/Majordomo_Executus)

2. He teleports to the wrong location

3. Missing spell that summons ragnaros and text [Proof](https://www.youtube.com/watch?v=TflRQdFliVY&t=21s)

----------------------------------------------------------------------------------------

[2019-04-11 23:46] #1392 closed

[2019-04-12 00:50] kel8458 opened #1718 "Dalaran NPCs address themselves when speaking"
##### SMALL DESCRIPTION:
Dalaran NPCs address themselves when speaking, instead of the player.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
They should use the player's name instead of their own.

##### CURRENT BEHAVIOUR:
![image](https://user-images.githubusercontent.com/25411980/56004639-cb681780-5d0f-11e9-9e7a-bcc83d711254.png)
A list of the NPCs I've seen doing this:
- Disidra Stormglory `32718` (Wand

[2019-04-12 07:27] Pondaveia commented on #1718
There must be an issue with their SAI when targeting the action invoker

[2019-04-12 07:38] Pondaveia commented on #1621
Just for notice, I'm looking at this issue 😉

[2019-04-12 09:14] Stoabrogga commented on #1707
What has happened to #1678 and #1676?

[2019-04-12 13:15] poszer commented on #1707
Not tested by more people, to confirm that PR was correct, so we closed it. Waiting someone to create better one

[2019-04-12 17:15] gtao725 commented on #1702
I can confirm it works properly now. Despawns after 2 hrs exactly. Can merge.

[2019-04-12 18:42] talamortis commented on #1718
nothing wrong with 3rd person speaking. talamortis does it all the time 😆

[2019-04-13 16:07] #1403 closed

[2019-04-14 12:21] BarbzYHOOL opened #3977 "[DEV] Tables data types"
Why is the column `realmlist.population`'s datatype  `float unsigned [0]` ?

It should be a smallint.

Same for the gamebuild columb `int(10) unsigned [12340]`

In fact, tons of columns are badly defined and it probably makes mysql slower and takes more disk space for no reason

[2019-04-15 08:53] Eliminationzx commented on #99
any news?

[2019-04-15 09:39] Pondaveia commented on #99
People are still deciding if we need boost or not for sockets. There's a discussion going on about C++11 vs Boost. Right @FrancescoBorzi

[2019-04-15 10:29] Eliminationzx commented on #99
My suggestion - **AzerothCore**  should support **boost**.
This will allow us to easily import some commits from TrinityCore and also **boost** have many features that we can use for code optimization.  But it will require a lot of work.

[2019-04-15 11:10] FrancescoBorzi commented on #99
I'm not against Boost. My opinion is just to use standard modern C++ wherever possible instead of other libs. I understand this is not always easy or possible so in some cases we might still need Boost and/or another lib to replace ACE.

[2019-04-15 16:28] #639 closed

[2019-04-15 16:38] #1134 closed

[2019-04-15 17:16] Viste commented on #99
Don't need a boost like that in trinity. Only for some elements

[2019-04-15 17:17] Viste commented on #99
with C++14 i think boost not needed at al

[2019-04-15 22:40] Pondaveia commented on #1140
This included fix wont do. The Player AI is different from TC to AC. Simply importing won't do you need to script this differently.

[2019-04-15 22:41] Pursche opened #3971 "[DEV] Use sphere-plane collision tests for movement spells"
This issue is supposed to be a discussion about heightmaps, height checks and navigation.
Movement spells include blink, shadowstep, charge etc.

I have been looking into height testing on WoW terrains and I believe that I have found the reason that spells like Blink sometimes teleports the player through the ground.

The way height testing is implemented serverside right now is that we figure out

[2019-04-16 09:23] Kittnz commented on #1688
I'm planning on fixing this on TC, fix the current issues on Zalazane's Fall and implement the rest of the event on the echo isles, got a sniff for that and seems okay to script. Operation Gnomeregan isn't sniffed but there are a few scripts out there with a lot of information, maybe i can make it work as well, it's the same guy who scripted both  (blizz) so abilitys etc will work the same.

[2019-04-16 09:26] Pondaveia commented on #1688
The hero we needed but didn't deserve

[2019-04-16 09:29] poszer commented on #1688
Also, working on it :
https://image.prntscr.com/image/Gsq8Wd1gTu6isH1ERyRJrg.png
https://image.prntscr.com/image/A7mjU4mrRAWreGj3Hz4HiQ.png
https://image.prntscr.com/image/dNARr_YxRl_Az6rEuOWVmA.png

[2019-04-16 11:27] Kittnz commented on #1688
403 Forbidden

[2019-04-16 16:25] #675 closed

[2019-04-16 17:00] poszer commented on #1688
Already shared images private :smiley:

[2019-04-16 17:10] poszer commented on #478
It's just an issue with learn commands. As the player in normal way, you can't reproduce this issue. I'm closing this

[2019-04-16 20:01] Pondaveia commented on #1688
Looks good poszer 💃

[2019-04-17 09:34] Pondaveia commented on #1690
Good report :+1: will look into it eventually if no one elae does

[2019-04-17 09:46] #1679 closed

[2019-04-17 09:51] #1542 closed

[2019-04-17 10:15] Pondaveia commented on #948
This issue is related to [this forum post](https://github.com/azerothcore/forum/issues/25)

[2019-04-17 10:35] milestorme commented on #785
i don't know how to report it properly because i don't know how the encounter should go, i just know you cant break any eggs , they aren't clickable unless with gm on but even then nothing happens, you cant kill the boss apparently without breaking them, you can use the orb and take over the other guy but the egg smash doesn't smash em, you actually cant get past the first boss in BWL this raid is

[2019-04-17 10:51] Bogir commented on #1718
For me, it works every time without errors
![изображение](https://user-images.githubusercontent.com/25766571/56282432-97825d00-6128-11e9-8bc8-b83d6b870e83.png)

[2019-04-17 10:57] Pondaveia commented on #785
As far as I have been told, people can open the gate and get past. This has been tested by Discord people. Are you sure about this?

[2019-04-17 11:01] poszer commented on #1718
confirmed
![Screenshot_1](https://user-images.githubusercontent.com/41213210/56283052-ee7c3800-6110-11e9-9920-8b26dbcd2ec0.png)

[2019-04-17 11:11] milestorme commented on #785
if you have a game master with you and .die the boss you can get through the door will open but without a game master the boss cannot be killed and you cannot enter the next area

[2019-04-17 12:00] Bogir opened #1725 "Phrases on Wintergrasp battle ruRU"
Wrong phrases in Wintergrasp's announces and Dalaran's NPC-registrators.

LOCALIZATION = ruRU !!!

1.
Wrong phrases when players damages, breaks towers or defends a fortress.

NPCs Wizard Bredin 32169 (Alliance) and Magister Surdiel 32170 (Horde) show the wrong owner of Wintergrasp in the text above the gossip menu (npc_text id 14775, broadcast_text id 35922 - owner is Horde, but sometimes the rea

[2019-04-17 12:38] Pondaveia commented on #1111
@StygianTheBest and @Viste any news on this?

[2019-04-17 12:42] Pondaveia commented on #1082
Can someone confirm this bug?

[2019-04-17 13:10] Pondaveia commented on #1081
Can anyone confirm this issue?

[2019-04-17 13:14] Pondaveia commented on #1080
Just checked the code and the 25 man spell is the one from wowhead. Can someone confirm this issue? Players should be knocked down.

[2019-04-17 15:19] Pondaveia commented on #1079
@disclosurez Can you provide proof of the expected result?

[2019-04-17 15:45] Viste commented on #1111
@Pondaveia what you want?  what news ? i don't have this bug

[2019-04-17 16:25] Pondaveia commented on #1062
Can someone confirm if this issue is still happening?

[2019-04-17 17:12] #1078 closed

[2019-04-17 17:14] poszer commented on #1062
Why closing?

[2019-04-17 17:16] Pondaveia commented on #1062
Lacking of Hash, also can't reproduce issue.

[2019-04-17 17:17] poszer commented on #1062
Create server, and let it to run for more than 15/20 days. Than you will reproduce it

[2019-04-17 17:26] poszer commented on #1725
@Winfidonarleyan , Can you try this please?

[2019-04-17 19:11] Pondaveia commented on #1081
I confirm this issue

[2019-04-17 19:30] Winfidonarleyan commented on #1725
I'll try tomorrow

[2019-04-17 23:09] Viste commented on #1725
confirm old bug

[2019-04-18 00:45] #600 closed

[2019-04-18 00:45] #1376 closed

[2019-04-18 00:49] #1707 closed

[2019-04-18 01:01] brussens opened #1727 "Server crash after kill boss"
##### SMALL DESCRIPTION:

After some bosses are killed, the server crashes. For example, one of them is https://www.wowhead.com/npc=29313/ichoron

##### STEPS TO REPRODUCE THE PROBLEM:

1. disable game master mode (In this mode, the problem does not manifest itself)
2. go to Ichoron boss
3. Kill him

##### BRANCH(ES):

master

##### AC HASH/COMMIT:

7eb703e

##### OPERATING SYSTEM:

Windows 10 x64

[2019-04-18 01:16] brussens commented on #1727
I'm sorry, the problem is on my side.

[2019-04-18 01:16] #1727 closed

[2019-04-18 06:18] gtao725 commented on #785
guys, you are not supposed to click on the eggs to break them, you are supposed to mind control the boss, and then use one of his spells to kill all the eggs in the room. This is an old school vanilla encounter, which is why I guess a lotta people are not familiar with rofl. I can make a video of it from vmangos later.

[2019-04-18 07:33] milestorme commented on #785
Yeah your supposed to mind control the boss using the orb  then use the spell egg smash to smash em , did you try to complete it first cause my players tryed everything and the eggs won’t break by the mind controlled boss so razergor won’t die

[2019-04-18 07:33] milestorme commented on #785
This is why I didn’t report it because I don’t know how to explain it’s broken , try do the encounter and you will see

[2019-04-18 08:01] Naxxramas-Server commented on #1725
Yep i can confirm too

[2019-04-18 09:20] #1702 closed

[2019-04-18 12:36] Pondaveia commented on #1168
Not sure it's a good idea to implement this one, the discussion had a lot of complains about errors

[2019-04-18 14:00] gtao725 opened #1728 "Hanging Head of Nefarian in Orgrimmar/Stormwind Disappears after 2 Min !!!"
##### SMALL DESCRIPTION:

The hanging head of Nefarian in Stormwind disappears after about 2 min of player handing in the quest and getting the buff.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

The head should display for 2 hours as agreed in https://github.com/azerothcore/azerothcore-wotlk/pull/1662.

##### CURRENT BEHAVIOUR:

The head disappears after hanging/on spike for 2min from BOTH Stormwind & Or

[2019-04-18 14:22] Pondaveia commented on #1728
Now that this was merged and there are no differences, [the issue is here](https://github.com/azerothcore/azerothcore-wotlk/pull/1711/commits/0eb7c925304f5bc35804b487c867b575db50adeb#diff-cf39a49f4983fdb205b45e0e58d66247R7).

As you can see it has been merged with 2 minutes because this that Falstring said is wrong:

On SAI everything you set is in **Milliseconds** and not **seconds**.

FIX:

[cod

[2019-04-18 14:24] poszer commented on #1728
Nope, he's right. It's summoned go ( it's use seconds as timing for despawn ).
Force despawn is in miliseconds. I'll fix this in some minutes

[2019-04-18 16:14] gtao725 commented on #611
The issue still exists as of commit hash 7eb703e. almost 2 years lol...

[2019-04-18 16:19] Pondaveia commented on #611
@gtao725 It ain't forgotten, I'll give an update soon.

[2019-04-18 17:11] gtao725 commented on #785
yes you are right, I just tested, the eggs cannot be destroyed, and razorgore cannot be killed, its hp drops to 1 and then unkillable. Only GM can get past, either .die boss or gm mode on. Even the 2nd boss isn't scripted correctly, no scene between Vaelstraz and Victor Nefarius (Nefarian). This entire raid may need a rewrite, as with many other vanilla and tbc raids...

[2019-04-18 20:12] Pondaveia commented on #785
Thanks for confirmation @milestorme and @comix1988 . Since this is critical I'll try to address it as soon as I can!

[2019-04-19 01:29] Winfidonarleyan commented on #1725
Hm, I don't think I need to check anymore

[2019-04-19 07:19] poszer commented on #1713
Just tested, but i can't confirm everything that you report in this issue:

_About text, He's missing next text on Summon_ :
- [ ] Majordomo Executus says: Very well, <name>.

- [ ] Majordomo Executus yells: Imprudent whelps! You've rushed headlong to your own deaths! See now, the master stirs!

_And the text that you mention for Majordomo Executus on defeat:_

- [ ] Brashly, you have come to wres

[2019-04-19 12:14] Pondaveia commented on #1713
Did you watch the video I linked? His position is like 10 yards to his current position on Azerothcore. When you talk to him then he walks to his final position while casting a spell.
The defeat text is when you beat his fight, not when he gets killed by Ragnaros. You can hear the voice but not read the text.

[2019-04-19 13:25] poszer commented on #1713
Yes, i watch and that's not correct from the video you posted. If you have account on bliz, check there correct position where this creature teleport, or check the official warcraft movies.
It's the same like on this video, and same like on AC :  [Take a look](https://youtu.be/BYMGYNH2L_Y)
Also for the text, i have linked what's quotes missing for this Boss on defeat, not the corresponding voice-t

[2019-04-20 02:59] xDevICCI commented on #655
what happen here?

[2019-04-20 06:51] #615 closed

[2019-04-20 14:38] wampirr opened #3922 "[FEATURE] item lvl (drop) scale alike VAS autobalance"
Hello comrades!

I have a fixed idea about item lvl scaling(ofc stats mainly) =)
Scale drop from BlackTemple same way as creeps are scaled there with VAS Autobalance.
Or any other way like editing db values once and for all to the exact level (db script, module or anything).
Feeling challenging accuracy needed with this formula in db dcript...
If it already exists, would you pls share?

Thanks aga

[2019-04-20 19:16] Pondaveia opened #1734 "[Warrior] Titan-Grip"
Dual wielding

##### SMALL DESCRIPTION:

When you try to equip two items with Titan-grip talent from Fury, it says "I can't equip that"

##### EXPECTED BLIZZLIKE BEHAVIOUR:

You should be able to wield both Shadowmourne and Glorenzelg for example.

##### STEPS TO REPRODUCE THE PROBLEM:

1. Create a warrior
2. learn Titan-grip
3. add shadowmourne and glorenzelg
4. Try to equip both

##### EXTRA NOT

[2019-04-20 19:20] Pondaveia commented on #1734
Didn't learn dual wield 😅

[2019-04-20 19:20] #1734 closed

[2019-04-21 11:40] Knindzagxg opened #1737 "[Quest] Seeds of the Blacksouled Keepers [Fix included]"
Quest name: Seeds of the Blacksouled Keepers
Quest ID: 11319

Issue: Quest Poi showing wrong positions on the map.

How to test:
.tele HowlingFjord
 .quest add 11319

Check Poi locations

[code]

Apply SQL, abandon quest, reload quest_poi, take quest again and check positions now.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7313

[2019-04-21 13:39] Pondaveia commented on #1737
You can open a pr with this fix :smile:

[2019-04-21 14:55] poszer commented on #1737
Knindza sharing his fixes in this way. Do not close this issue if the PR is not created and referenced

[2019-04-21 15:14] Knindzagxg commented on #1737
I hate Git Pondaveia :D

[2019-04-21 21:38] poszer commented on #1737
Hmm, doesn't change nothing for me. Can you check again your fix @Knindzagxg :smiley:

[2019-04-22 01:06] #1728 closed

[2019-04-22 05:50] Pondaveia commented on #1737
@poszer it was missclick, close and comment instead of comment 😴

[2019-04-22 07:49] comix1988 opened #1740 "[NPC] Coilskar defender"
DESCRIPTION:
the npc coilskar defender doesn't attack and it isn't possible to attack it

CURRENT BEHAVIOUR:

the npc coilskar defender doesn't attack and it isn't possible to attack it

STEPS TO REPRODUCE THE PROBLEM:

.go creature 70696 and try to attack it

BRANCH(ES):
master

AC HASH/COMMIT:
commit 6021de887558a9fb4d93278a903d30ae6112e073

OPERATING SYSTEM:
linux

MODULES:
OTHER CUSTOMIZATIONS

[2019-04-22 07:59] comix1988 opened #1741 "[NPC-QUEST] Escape from the staging grounds"
DESCRIPTION:

the "escape from the staging grounds" quest (ID 10425) cannot be completed.

BLIZZLIKE BEHAVIOUR:

![questnether](https://user-images.githubusercontent.com/22867608/56489079-d0338500-64e0-11e9-9157-66a9f7e3c036.png)

CURRENT BEHAVIOUR:

we have more than one bug:
- the npc "captured protectorate vanguard" (ID 86833) is always visible;
- the npc "ethereum guardian" (ID 86834) is not a

[2019-04-22 09:47] poszer commented on #1741
Hmm interesting. As i can see from this creature in db, it has wrong flags :
So posible issue is that, you can't kill/enter in combat with this NPC to escort Quest Creature.

Posting fix in some secs

[2019-04-22 09:53] poszer commented on #1741
Also @comix1988 while doing this quest, please take the quest from Captured protectorate vanguard, than escort him.

![QuestCaptuired](https://user-images.githubusercontent.com/41213210/56495186-3b875200-64f5-11e9-9704-64b25c1ca619.png)

[2019-04-22 10:12] poszer commented on #1740
Same problem, flags :D

[2019-04-22 10:50] poszer commented on #1740
@comix1988 when you can, try the referenced fixes :+1:

[2019-04-22 11:36] #595 closed

[2019-04-22 15:32] Seebaby opened #1744 "(Death's Challenge) quest is okay NPC Wrong Gossip Id"
SMALL DESCRIPTION:

If you accept the quest Death's Challenge you should have a duel against real players or against the NPC's.

This doesn't work because the gossip id is wrong in the script so you can't start the duell.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

start duell about gossip

##### CURRENT BEHAVIOUR:

Duell cannot be started because there is no gossip text available

##### STEPS TO REPROD

[2019-04-22 15:34] Pondaveia commented on #1744
Thanks for the contribution @Seebaby , would you kindly open up a pull request with the changes please? If you need help don't hesitate contacting anyone in Azerothcore's discord channels.

[2019-04-23 00:37] poszer commented on #1744
Changed with this commit https://github.com/azerothcore/azerothcore-wotlk/commit/fe17a0ecccb99ef96b901cdb0b4e16088c32eff6 @Nefertumm

[2019-04-23 03:27] Nefertumm commented on #1744
Typo, feel free to open a pr with the fix.

[2019-04-23 04:25] gtao725 opened #1746 "K'iru's Song of Victory - Isle of Quel'Danas Zone Buff"
##### SMALL DESCRIPTION:

The buff K'iru's Song of Victory (https://wowgaming.altervista.org/aowow/?spell=46302) is NOT ACTIVE on the Isle of Quel'Danas. This buff should be active after K'iru spawns as a result of Isle of Quel'Danas being secured by Shattered Sun Offensive. In Wotlk K'iru is spawned by default without players having to complete the entire Isle of Quel'Danas story chain or having

[2019-04-23 12:03] #1081 closed

[2019-04-23 12:49] #1613 closed

[2019-04-23 18:04] Knindzagxg commented on #1741
Quest it self working and can be completed which u can see bellow in video.

Problem remain with Arena Event:
* Vanguard and Gladiator should spawn at the same time and fight each other until player get close to them and kill Gladiator. At that point, Vanguard should offer quest and proceed with escort.

https://youtu.be/XKwj0yFPoZ0

[2019-04-24 10:02] wetbrownsauce opened #1756 "[Alterac Valley] worldserver crash after defeating the Alliance boss"
##### SMALL DESCRIPTION:
Defeating the Alliance boss ([Vanndar Stormpike](https://wowgaming.altervista.org/aowow/?npc=11948)) as the horde results in a server crash.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
Battleground should end, server should not crash.

##### CURRENT BEHAVIOUR:
Server crashes. See:
![56539028-f6c5e000-6521-11e9-8dd9-7efaa167274f](https://user-images.githubusercontent.com/43800467/

[2019-04-24 10:11] wetbrownsauce opened #1757 "[Alterac Valley] Trash mobs do not randomly wander within their spawn area"
##### SMALL DESCRIPTION:
The random mobs that exist in Alterac Valley should wander within a small radius of their spawn point.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
Trash mobs in AV should wander within a small radius of their spawn point as seen at points in [this video](https://youtu.be/MBg7EPuGixw?t=5)

##### CURRENT BEHAVIOUR:
Trash mobs stay motionless in one place until engaged.
See: [Wild C

[2019-04-24 10:17] wetbrownsauce opened #1758 "[Alterac Valley] Patrols do not patrol [$20]"
##### SMALL DESCRIPTION:
The patrol mobs for the factions currently stand still and do not move instead of patrolling their paths.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
The patrol mobs should move along fixed waypoints.

[Example of Horde patrol pack (entering from left of screen)](https://youtu.be/MBg7EPuGixw?t=33)

Alliance patrols can be found near their end of the map, usually 2 dwarves and an

[2019-04-24 10:18] wetbrownsauce commented on #1757
Upon further investigation, the guards around Graveyard flags should also wander a little bit.
See [this video](https://youtu.be/MBg7EPuGixw?t=312)

[2019-04-24 10:22] wetbrownsauce opened #1759 "[Alterac Valley] Stormpike Quartermaster's gossip options do nothing"
##### SMALL DESCRIPTION:
The gossip options for the Stormpike Quartermaster do nothing when clicked. (Excluding offered quests)

##### EXPECTED BLIZZLIKE BEHAVIOUR:
Gossip options should perform their functions.

##### CURRENT BEHAVIOUR:
Gossip options do nothing when clicked for [Stormpike Quartermaster](https://wowgaming.altervista.org/aowow/?npc=12096)

##### STEPS TO REPRODUCE THE PROBLEM:
1.

[2019-04-24 10:24] wetbrownsauce opened #1760 "[Alterac Valley] Captain Galvangar is facing the wrong direction upon spawn"
##### EXPECTED BLIZZLIKE BEHAVIOUR:
Captain Galvangar should face the entrance of his keep, not the back wall.

##### CURRENT BEHAVIOUR:
[Captain Galvangar](https://wowgaming.altervista.org/aowow/?npc=11947) is facing the back wall of his keep when he initially spawns in.

##### STEPS TO REPRODUCE THE PROBLEM:
1. Create a character
2. Queue for Alterac Valley
3. Type `.debug bg`
4. Enter battle
5.

[2019-04-24 11:11] Falstring commented on #1756
hey,

can you post entire crashlog for this

[2019-04-24 13:22] poszer commented on #1757
Since this creature using SAI already, attaching the random move there in little radius should fix this problem. I'll take a look on this

[2019-04-24 14:16] poszer commented on #1757
@wetbrownsauce When you are able, try the referenced PR please :+1:

[2019-04-24 17:49] poszer commented on #1759
Confirmed. This also didn't work before

[2019-04-24 21:02] poszer commented on #1760
@wetbrownsauce When you can also this one referenced, please :smiley:

[2019-04-25 09:52] poszer commented on #1756
I was in bg with 2 players (Alliance and Horde) - .debug mode on checking some factions related to players. And while doing that, the server just crashed. So i can say the issue is not with related with killing Boss.
![crashAlterac](https://user-images.githubusercontent.com/41213210/56727237-8cdf4d80-6750-11e9-8d45-8228115edfac.png)

[2019-04-25 10:18] poszer opened #1766 "[Alterac Valley] Creatures Frostwolf's and Alterac Ram's faction"
Frostwolfs and Alterac Ram creatures faction

##### SMALL DESCRIPTION:

The previous report was wrong. Everything is updated now

##### EXPECTED BLIZZLIKE BEHAVIOUR:

They should have same factions like Guards in Alterac (For Horde/Alliance). So while the player for first time enter in bg they will see them as Neutral until he get reputation to friendly. Also, the creatures who are friendly with A

[2019-04-25 13:03] Falstring commented on #1756
Question is if this only occurs in debug mode

[2019-04-25 13:24] poszer opened #1768 "[Class/Death Knight]: Army of the Dead aggro"
Death Knight: Army of the Dead aggro

##### SMALL DESCRIPTION:

These summoned pet's shouldn't take aggro in this way.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

While using this spell to summon Army of the Dead, once they are summoned and you are attacking someone, they instantly taking aggro. (It's posible sometimes, but player can easy to take aggro again)

##### CURRENT BEHAVIOUR:

When you fight s

[2019-04-25 13:34] poszer commented on #1756
Maybe, we should test this as in other mode

[2019-04-25 13:50] sucofog commented on #1768
Confirmed, ghouls just take aggro instantly when summoned by spell, this can be critical since if a player is tanking a 25 man raid and ghouls take aggro, whole raid can wipe due to this

[2019-04-25 15:31] Selyria opened #1769 "Quest The Heart of the Mountain boss fight does not work properly"
SMALL DESCRIPTION:

When I did the quest The Heart of the Mountain I noticed when I opened all 12 doors that the boss was spawning but the Warbringer constructs were not moving and just standing around.

EXPECTED BLIZZLIKE BEHAVIOUR:

You open all 12 doors and the boss ENTRY 9476 (name: Watchman Doomgrip) appears.
then the 4 Warbringer constructs should wake up at the same time and attack us.

CUR

[2019-04-25 15:40] Seebaby opened #1770 "Many Smart_scripts are missing in BRD"
SMALL DESCRIPTION:

In BRD almost no NPC casts what is missing many smart_Scripts

I found this link from trinitycore where many npc fixes are included if the 100% are correct I don't know
https://github.com/TrinityCore/TrinityCore/issues/22104

BRANCH(ES):
AzerothCore rev. 22d4cae+ 2019-04-22 13:36:54 +0200 (master branch) (Win64, Release)

####### MODULE:
mod-transmog
mod_world_chat

<bountysour

[2019-04-25 16:55] Seebaby opened #1771 "BRD Ambassador Flamelash is not working as he should"
##### SMALL DESCRIPTION:
Ambassador Flamelash is not working as he should. I have added a video link to this page
https://youtu.be/GR_CQ-eC6ns?t=1200

##### EXPECTED BLIZZLIKE BEHAVIOUR:
He should scream a sentence at the beginning of the fight: Ambassador Flamelash yells: Your reign of terror ends now! Face your doom mortals!

At the beginning of the fight, the seven runes should burn on his plat

[2019-04-25 17:37] Seebaby opened #1772 "BRD The seven minibosses don't work properly"
###### SMALL DESCRIPTION:
The seven minibosses don't work properly miniboss doomrel should be the last to start the attack and also stop the event. and the chest spawns wrong too.

Loot Chest fix for Position

REPLACE INTO `gameobject` (`guid`, `id`, `map`, `zoneId`, `areaId`, `spawnMask`, `phaseMask`, `position_x`, `position_y`, `position_z`, `orientation`, `rotation0`, `rotation1`, `rotation2`,

[2019-04-25 18:19] Selyria opened #1773 "BRD respawntime is too high in The Lyceum"
SMALL DESCRIPTION:

The Lyceum is a place in FRG where many non-elite run around that's also okay you have to collect 2 torches from the Shadowforge Flame Keepers the challenge is that the creatures respawn very fast. that happens but only the respawn is much too long.

EXPECTED BLIZZLIKE BEHAVIOUR:
Link: https://wowwiki.fandom.com/wiki/Lyceum
https://de.wowhead.com/npc=9956/flammenbewahrer-der-sc

[2019-04-25 18:46] Selyria opened #1774 "BRD Magmus fight doesn't go right"
SMALL DESCRIPTION:

After lighting the 2 shadowforge brazier in The Lyceum magmus should say a text it doesn't. If you go around you can already see the guards using their flamethrowers this should only be the case in Fight against Magmus and stop who this death is.

EXPECTED BLIZZLIKE BEHAVIOR:
After lighting the 2 shadowforge brazier in The Lyceum magmus should say a text.
If you attack Magmus,

[2019-04-26 14:30] comix1988 commented on #1766
I have not found any information that confirms that these 2 mobs become friendly when we increase our reputation.
![ram](https://user-images.githubusercontent.com/22867608/56814790-2afe1100-6840-11e9-97c9-3e25460a06f9.png)

![ram2](https://user-images.githubusercontent.com/22867608/56814997-8defa800-6840-11e9-9427-8cef294f1295.png)

![wolf](https://user-images.githubusercontent.com/22867608/568147

[2019-04-26 14:45] poszer commented on #1766
https://github.com/azerothcore/azerothcore-wotlk/pull/1761#issuecomment-486478828

[2019-04-26 15:03] poszer commented on #1766
But yes, there was actually problem. @wetbrownsauce share wrong informations about these creatures. They should be both on faction 7 (Creature).
@Knindzagxg tested it on blizz, and confirm that 7 is correct. The PR is updated. Thanks everyone :heart_eyes:

[2019-04-27 08:20] #1740 closed

[2019-04-27 12:46] Razfury commented on #1768
This is a blizzlike feature - The only time they don't "taunt" is in raids 10/25 doesn't matter.

[2019-04-27 12:59] Razfury commented on #1768
@poszer

[2019-04-27 13:11] poszer commented on #1768
Yeah, i checked day ago. Anyway thanks for info (But also it should be tested in the raids). Just to be sure, if this happens also on bosses, than it's incorrect

[2019-04-27 13:14] brussens opened #1778 "Ulduar Salvaged Siege Engine vehicle problem"
##### SMALL DESCRIPTION:

In the Ulduar, if the second player sit in the [Salvaged Siege Engine](https://www.wowhead.com/npc=33060/salvaged-siege-engine), the person does not display a vehicle, in consequence of the check can not get out of the machine.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

##### CURRENT BEHAVIOUR:

##### STEPS TO REPRODUCE THE PROBLEM:

1. Sit 1st player in Salvaged Siege Engine

[2019-04-27 21:49] Selyria opened #1779 "BRD Emperor Dagran Thaurissan does not say his texts there is only one text available"
SMALL DESCRIPTION:
Emperor Dagran Thaurissan does not say his texts there is only one text available

EXPECTED BLIZZLIKE BEHAVIOR:
The texts he should have said are mob dependent groups see video

Fighting senate
They were just getting in the way anyways.
Is that the best you can do? Do you really expect that you could defeat someone as awe inspiring as me?
Ha! You can't even begin to imagine the

[2019-04-27 21:58] #1760 closed

[2019-04-28 18:49] Motorheadx commented on #627
There's a problem, I confirm.

[2019-04-28 19:13] FrancescoBorzi commented on #627
@Motorheadx can you please open a new report with your details?

[2019-04-28 19:15] STARRHELD commented on #1769
https://github.com/TrinityCore/TrinityCore/commit/d2224dcd7adca251c17d61125cdbeae6af84399c#diff-bafba77814691074e853e8ce2418aa69

[code]

[2019-04-28 19:35] Motorheadx commented on #627
did what pati3nc3 wrote

[2019-04-28 19:43] FrancescoBorzi commented on #1769
@STARRHELD can you please open a PR with this?

[2019-04-28 19:44] FrancescoBorzi commented on #627
@Motorheadx can you please your AC version (commit hash)?

[2019-04-28 19:48] Motorheadx commented on #627
https://github.com/azerothcore/azerothcore-wotlk/commit/5df63b86c2d3251f5f91a834653503c8c33d7a6b

[2019-04-28 21:44] poszer commented on #627
Again, can't reproduce :smiley:
Screenshots as proof :+1:
![casting buff](https://user-images.githubusercontent.com/41213210/56870423-6f8bd700-6a0f-11e9-83b2-ba0f6d579307.png)
![incombat](https://user-images.githubusercontent.com/41213210/56870424-74508b00-6a0f-11e9-89d2-9c1929b9b05c.png)
![casting flash heal](https://user-images.githubusercontent.com/41213210/56870425-774b7b80-6a0f-11e9-8a8a-4140

[2019-04-28 21:45] Motorheadx commented on #627
test caster class please

[2019-04-28 21:47] poszer commented on #627
Okay

[2019-04-28 22:16] poszer commented on #627
Even with casters, i don't see any problem here
![refresh](https://user-images.githubusercontent.com/41213210/56870715-ecb94b00-6a13-11e9-9107-c3e90abea735.png)
![enter](https://user-images.githubusercontent.com/41213210/56870716-ecb94b00-6a13-11e9-997b-fecba99e37fa.png)
![taking](https://user-images.githubusercontent.com/41213210/56870717-ecb94b00-6a13-11e9-958e-2b01fc2a8a00.png)

[2019-04-28 22:19] Motorheadx commented on #627
pvp combat please and do not press the right mouse button when attacking another player and just shoot him with an frost bolt

[2019-04-28 22:22] poszer commented on #627
Than give me instantly all details how to reproduce it. You have edited comment X times. And as you can se in this one, the creature is shooted with firebolt.
Also i'll test it as Player vs Player. But how i remember, there is no problem with this. Let's see

[2019-04-28 22:36] Motorheadx commented on #627
you can ignore me, I told you about the problem, do it or not, you decide and so the problem still have test more carefully

[2019-04-28 22:37] poszer commented on #627
Did i ignore you? Or i'm only here who's trying to see where is problem?

[2019-04-28 23:30] poszer commented on #627
Tested, now can confirm. The only problem is with casters.
How to reproduce this :
1. Create 2 characters for example Priest and Mage ( same faction, Horde ) and 1 character (Ally)
2. Cast spells with mage on Ally and cast Heal or Buff on the mage while he's is in combat
3. The Priest doesn't enter in combat

This is how you should report issues. So we can know how to reproduce it @Motorheadx

[2019-04-28 23:42] poszer commented on #1769
Doesnt' work

[2019-04-29 07:59] FrancescoBorzi commented on #627
@Motorheadx it's not that we don't believe you. Just it's impossible for developers to fix a bug without being able to reproduce it first. That's why @poszer tried very hard to do it and finally came up with the exact steps to reproduce the problem

[2019-04-29 08:52] disclosurez opened #1781 "Kologarn in Ulduar Casts Petrifying Breath too early"
Kologarn in Ulduar Casts Petrifying Breath too early

##### SMALL DESCRIPTION:

Kologarn in Ulduar Casts Petrifying Breath as soon as he is pulled, this needs a delay else it causes a raid wipe.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Kologarn in Ulduar has a small delay before casting Petrifying Breath as soon as he is pulled

##### CURRENT BEHAVIOUR:

Kologarn in Ulduar Casts Petrifying Breath as

[2019-04-29 08:55] disclosurez opened #1782 "Finishing Random Heroic Does not always reward emblems, sometimes gives deserter also"
Finishing Random Heroic Does not always reward emblems, sometimes gives deserter also

##### SMALL DESCRIPTION:

Finishing Random Heroic Does not always reward emblems, sometimes gives deserter also

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Finishing Random Heroic Does gives emblems everytime a random rhc is completed

##### CURRENT BEHAVIOUR:

Finishing Random Heroic Does not always reward emblems, s

[2019-04-29 09:10] Pondaveia commented on #1781
https://wowwiki.fandom.com/wiki/Kologarn

Did you test this with a meele character?

[2019-04-29 09:17] comix1988 commented on #1317
https://github.com/azerothcore/azerothcore-wotlk/issues/1778

[2019-04-29 09:18] comix1988 commented on #1778
already reported here https://github.com/azerothcore/azerothcore-wotlk/issues/1317

[2019-04-29 09:19] #1778 closed

[2019-04-29 09:46] disclosurez opened #1783 "Fix Crossfaction Battleground & Arena Bug [$20 awarded]"
Fix Crossfaction Battleground Module and the Associated Horde Arena Bug

##### SMALL DESCRIPTION:

Take the following commits and produce crossfaction BG.diff or module based into Azerothcore:

https://github.com/Viste/Outlandcore/commit/e83c10bd5eb38bb050d748a3c3616e7498e3a9e7
https://github.com/Viste/Outlandcore/commit/1710d998b644a14f36681f77b2de9c24b318c942
https://github.com/Viste/Outlandcore

[2019-04-29 12:48] Viste commented on #1141
reopen plz

[2019-04-29 13:19] disclosurez commented on #1781
Yes, same issue occured it seems that his pull range is too wide for petryfying breath

[2019-04-29 14:06] Naxxramas-Server commented on #1781
Yes i confirm the bug , Kologarn shouldn't use this ability on pull

[2019-04-29 14:09] Pondaveia commented on #1781
@disclosurez we should add a check if the encounter started 5 seconds ago not to cast [this spell](https://github.com/azerothcore/azerothcore-wotlk/blob/master/src/server/scripts/Northrend/Ulduar/Ulduar/boss_kologarn.cpp#L477)

Something like
[code]

I can commit this later when I get home, should be a quick fix. Even though It would be nice to check how many seconds it takes for it to become vali

[2019-04-29 19:34] Pondaveia commented on #1772
Thanks for feedback 👍

[2019-04-29 19:36] Pondaveia commented on #1779
Thanks for feedback again 👍

[2019-04-30 17:51] Maurowin commented on #633
@poszer you right but look your, you have not horde tag nor alliance you have scourge tag

[2019-04-30 17:53] Maurowin commented on #632
@poszer you have this window only if you have quest. in other case, object don't show window.

[2019-04-30 20:36] Knindzagxg commented on #1080
Yeah, i can confirm mate.
Will post in other one as well, checked Rockshards and Stomp as well.

https://www.youtube.com/watch?v=iOFr86DrfpU

[2019-04-30 20:37] Knindzagxg commented on #1082
Yeah, i confirm this one as well.

https://www.youtube.com/watch?v=iOFr86DrfpU

[2019-04-30 20:42] Knindzagxg commented on #1770
Can cofirm.

Checked SQL, looks good as well.
Applied and no issues at all.

[2019-05-01 06:38] poszer commented on #1768
**Info** :  Need checks in raids / If they don't taunt in raids, this issue can be closed.

[2019-05-01 07:20] poszer commented on #531
Without another program/script to restart it, it is very risky to touch this. If you take a look in shutdown/restart command, only the difference between them is shutdown mask. I'll suggest to close this - Wont fix

[2019-05-01 18:19] poszer commented on #644
Looks like wrong flags. Can you try to run this query and than test that quest @Maurowin
[code]

[2019-05-01 18:25] poszer commented on #1770
Thank you @Seebaby for sharing and @Knindzagxg for testing. Will create PR with this query :+1:

[2019-05-01 21:40] #1718 closed

[2019-05-01 22:02] BarbzYHOOL commented on #627
Big issue

[2019-05-02 09:40] #1781 closed

[2019-05-02 14:51] Pondaveia commented on #1773
## Here's the explanation to the re spawn being 30 seconds.

In theory It's impossible to set their re spawn rate to 30 seconds without touching the configuration files for the server.

Rank | Name | Default Respawn time | corpse decay time (worldserver.conf) | Spawntimesecs + worldserver.conf
-- | -- | -- | -- | --
0 | Normal | 5 min | 60 sec | 6 min
1 | Elite | 5 min | 5 min | 10 min
2 | Rare El

[2019-05-03 01:40] #1741 closed

[2019-05-03 09:53] #1766 closed

[2019-05-03 17:39] forever2019 opened #1793 "Compile the latest source code, the client disconnects every 20-40 minutes."
The compiler core prompts the following warnings:

e:\azerothcore-wotlk\src\server\game\server\worldsocket.cpp(727): warning C4715: “WorldSocket::ProcessIncoming”: Not all control paths return values

About 20-40 minutes, the client will disconnect the link and prompt the following information:
2019-05-04 01:52:50 Socket closed because of: Client didn't send anything for too long
2019-05-04 01:52:

[2019-05-03 17:59] FrancescoBorzi commented on #1793
@forever2019 please add your AC version (commit hash)

[2019-05-03 22:07] poszer commented on #1793
What OS you use, what ac version? Include some details dude.. @forever2019

[2019-05-04 02:26] forever2019 commented on #1793
core:
2019-05-04 01:21:07 AzerothCore rev. 4794695674b8+ 2019-05-03 01:42:24 +0000 (master branch) (Win64, RelWithDebInfo) (worldserver-daemon)

system:
windows10 64bit

No load module

[2019-05-04 16:47] Pondaveia commented on #1774
Can you check if the doors are already open before lighting the braziers?

[2019-05-04 16:48] Pondaveia commented on #1779
Did you test if the boss pulls adds on aggro?

[2019-05-05 07:54] #1744 closed

[2019-05-05 10:55] poszer commented on #1793
I can't reproduce this on Win. Just compiled the latest

[2019-05-05 21:40] poszer commented on #1768
It's fine in raids. Closing this

[2019-05-05 21:40] #1768 closed

[2019-05-05 22:43] #1757 closed

[2019-05-06 13:56] Pondaveia commented on #314
Closing this issue due to missing evidence of the issue.

[2019-05-06 14:11] Pondaveia commented on #152
@Viste any news on this?

[2019-05-06 14:56] Viste commented on #152
I've already forgotten about it lol not hard to fix btw

[2019-05-06 14:57] Pondaveia commented on #508
Many people tried reproducing this issue but without success. Needs further re-search on the topic.

[2019-05-06 15:06] Viste commented on #314
stop close issues when problem are STILL NOT FIXED

[2019-05-06 15:11] Deku commented on #1793
Can't reproduce the issue. Server running on Ubuntu Server, client on Windows.

[2019-05-06 20:43] poszer commented on #1062
CreatureTextMgr: Could not find TextGroup 1 for Creature(Bone Warrior) GuidLow 97670 Entry 26126. Ignoring.

This creatures is spawned on wrong place >.< On every combat, we have db errors about TextGroup. And if you take a look around, he doesn't belong to be there.
https://image.prntscr.com/image/feQG7V4WSs2NGO_4YEZbrA.png

[2019-05-06 21:07] Seebaby opened #1805 "Scholomance Item healthy-dragon-scale droppt permanent"
SMALL DESCRIPTION:

The item healthy-dragon-scale ID 13920 should not drop until you have completed the quest Plagued Hatchlings 5529.

But it always drops on the mobs Plagued Hatchling 10678.

EXPECTED BLIZZLIKE BEHAVIOR:

Item should only drop after the quest Plagued Hatchlings ID 5529 has been completed

the dropprate should also be 6% and not 100

https://www.wowhead.com/quest=5582/healthy-dra

[2019-05-06 21:14] poszer commented on #1805
Will add condition for it. Thanks for reporting @Seebaby

[2019-05-06 21:40] Selyria opened #1806 "Scholomance Darkmaster Gandling does not run quite correctly"
SMALL DESCRIPTION:

The bossfight go Darkmaster Gandling does not run quite correctly

EXPECTED BLIZZLIKE BEHAVIOR:

The boss fight against Darkmaster Gandling should take place in such a way that after some time the player portet into one of the 6 rooms.

There should be 3 guards in every room that you have to kill to open the door.

the tank can also be ported then the aggro should be transferre

[2019-05-06 21:55] poszer commented on #1805
What's loot for this, can't be 100% for sure :laughing:

[2019-05-06 22:22] poszer commented on #1805
Instead of changing titles, you can answer me nvm :angry:

[2019-05-06 22:32] Seebaby commented on #1805
Sry what would you like to know exactly my english is not the best

[2019-05-06 22:34] poszer commented on #1805
It's okay. There is fix referenced, if you can, test it :+1:

[2019-05-06 22:35] Seebaby commented on #1805
Ah okay man today I'm all messed up
I'll test him right now.

[2019-05-07 09:47] Viste commented on #508
for what? just close it like you always do )

[2019-05-07 09:56] Pondaveia commented on #1167
So, I've been reading a bit and It seems Sunwell core people added the flag MaxMMR to avoid people losing too much mmr when they lost points. However I don't quite understand the why since in both Trinity and Azerothcore, this field is only to validate if they get below 0 MMR. In both cases they can't go lower than 0 so I think this check needs to probably be removed if we want to include this cha

[2019-05-07 10:00] FrancescoBorzi commented on #1167
I wouldn't risk to break game functionalities just for the sake of aligning the DB structure to TC. So we can do modification only if we are sure about what we're doing.

For example, we can probably convert `guid`  `slot` and  `matchMakerRating` to be also `UNSIGNED` if we are sure to not have any negative value there.

[2019-05-07 10:02] Pondaveia commented on #1167
True, By the way just found out that we have this configuration CONFIG_MAX_ALLOWED_MMR_DROP. So this means that servers can be configured to balance the arena stats. I say we don't merge the removal of MaxMMR since it actually helps balance out the PvP scenario on servers.

[2019-05-07 10:03] Selyria opened #1809 "Things that should still be fixed Deadmines"
SMALL DESCRIPTION:

I still have the memory of classic that when you kill the first 3 bosses in the deadmines spawn behind you and patrol back and forth who still has it right in his head from 1 boss after the door to 2 boss behind the door so always run from boss to boss this

After looting the Defias Gunpowder an npc should appear that doesn't happen

Captain Greenskin walks alone the two npc ju

[2019-05-07 10:04] Pondaveia commented on #1167
[code]

So there's a limit of MMR that you can lose compared to Trinity core. This limit is calculated with the configuration i mentioned above in mind.

[2019-05-07 10:07] Pondaveia commented on #1167
Also according to TC documentation:

These values can never be negative, GUID for sure, Slot is never less than 0 and matchmakerRating has a check that never allows this to Drop to negative, if your MMR gets negative, it is set to 0 so we can change to unsigned.

[2019-05-07 10:09] FrancescoBorzi commented on #1167
@Pondaveia feel free to submit PR about it :)

[2019-05-07 11:12] nerows commented on #1782
lfg not working good.

[2019-05-07 13:23] poszer commented on #1782
How you mean, can you explain?

[2019-05-07 14:25] poszer commented on #1809
Actually this isn't blizzlike for Gilnid. As you can see on this video everything:
https://www.youtube.com/watch?v=U9jeFJkenX0

Van Cleef

VC comes with two blackguards, which is correct. He summons two blackguards at 50% which is also correct. However, at around 25% he summons an additional two blackguards. Evidence suggests he should only spawn one set of guards at 50%.   - This is correct on AC

[2019-05-07 16:36] Pondaveia commented on #1326
Checked this and we no longer have storageId

[2019-05-07 16:41] FrancescoBorzi commented on #1168
yes, we need to be careful: when (and if) we import such changes, we should also import the fixes to all the issues that the original change caused in TC. That means, looking at the latest TC 3.3.5 code instead of looking only at the diff of the commits to import

[2019-05-07 17:13] forever2019 opened #1814 "Warning for compiling source code."
The following warnings appear with the latest source code:
Previous source code did not have such a prompt.
Does he affect core communications? If so, fix it.
Thank you for your contribution. Thank you!

e:\azerothcore-wotlk\src\server\game\server\worldsocket.cpp(727): warning C4715: “WorldSocket::ProcessIncoming”: Not all control paths return values

AzerothCore rev. 60bbe8f0eacd 2019-05-06 10:46

[2019-05-07 17:16] poszer commented on #1814
You don't need to open same issues:

Already exist https://github.com/azerothcore/azerothcore-wotlk/issues/1793
Closing this.

[2019-05-07 17:16] #1814 closed

[2019-05-07 17:18] forever2019 commented on #1814
I'm just asking if this question has any impact.
Thank you.

[2019-05-07 19:59] Winfidonarleyan commented on #1783
Done

[2019-05-07 20:25] FrancescoBorzi commented on #1783
@Winfidonarleyan which commit fixed the issue?

[2019-05-07 20:26] disclosurez commented on #1783
Private release

[2019-05-07 21:08] poszer commented on #1783
If it's private than you should ask private, not posting it on AC issues.

[2019-05-07 21:34] lwang665 opened #1815 "Build error - my_bool is undefined"
![AC error](https://user-images.githubusercontent.com/49755364/57334584-1101df80-7118-11e9-8899-d8c186e1c7c5.png)

SMALL DESCRIPTION:
Build error for code

##### EXPECTED BLIZZLIKE BEHAVIOUR:
VC should let me build to proceed with installation

##### CURRENT BEHAVIOUR:
VC does not let me build

##### STEPS TO REPRODUCE THE PROBLEM:
1. Pull from git commit
commit a68c13488e59c715c3ab355e0aa5f5b4423

[2019-05-07 21:46] poszer commented on #1815
https://discord.gg/fnYSwt Join here

[2019-05-07 21:55] poszer commented on #1815
Join here https://discord.gg/f9553v

[2019-05-07 23:13] poszer commented on #1815
Fixed

[2019-05-07 23:13] #1815 closed

[2019-05-08 07:36] #1783 closed

[2019-05-08 08:04] FrancescoBorzi commented on #1783
@disclosurez @Winfidonarleyan

I cannot force people to share their custom modules. However Bountysource is meant to sponsor **open source** software and it can **not** be used as a public market where to buy/sell private code like it just happened here.

[2019-05-09 10:41] poszer commented on #1112
Confirmed. Wrongly spawned, too much of them, and also they re stucked. (Low respawn time 2m)
Deleting them from the base is the correct fix.
Thanks for reporting @Falstring
P.s Also next time fill template please, it's hard without details to reproduce this.

[2019-05-09 11:10] #1770 closed

[2019-05-09 13:13] Falstring commented on #1112
I think you tagged the wrong person. :D @poszer

[2019-05-09 13:17] poszer commented on #1112
Yes :rofl:

[2019-05-09 19:27] #1793 closed

[2019-05-10 00:30] #1772 closed

[2019-05-10 19:30] #1701 closed

[2019-05-10 21:19] BarbzYHOOL opened #1821 "Hide itemlevel if value = -1"
Small suggestion : **Hide item level when it's set to 0 or -1**

If "-1" is considered, then need to change the column from `smallint unsigned` to `smallint`

http://www.azerothcore.org/wiki/item_template#itemlevel

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/73994029-hide-itemlevel-if-value-1?utm_campaign=plugin&utm_content=trac

[2019-05-10 22:24] pklloveyou commented on #1659
TC repair is not correct.
The correct way to display it is to show the system name in the professional skills after learning the skills of that system.
:Google Translate

[2019-05-11 00:10] solidmaxtor opened #1822 "Solved bug: A Spirit Ally? id 9847"
Quest: "A Spirit Ally?" id 9847
Questitem: "Feralfen Totem" id 24498

Error: The mission item has no cd and infinite snakes can be invoked.

Simple solved:
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/73998441-solved-bug-a-spirit-ally-id-9847?utm_campaign=plugin&utm_content=tracker%2F40032087&utm_medium=issues&utm_source=g

[2019-05-11 06:16] bogdanian commented on #1815
I am also having this issue, how can I fix it?

[2019-05-11 11:00] poszer commented on #1815
On what OS? And what is your version of mysql ?

[2019-05-11 11:18] bogdanian commented on #1815
Windows 10
MySQL Ver 8.0.16 for Win64 on x86_64 (MySQL Community Server - GPL)

[2019-05-11 12:15] poszer commented on #1815
This will fix your issue, download this mysql
[MySql 5.6](http://dev.mysql.com/downloads/mysql/5.6.html)

[2019-05-11 13:59] Seebaby commented on #1809
So Nostralius has been a very good blizzlike server

I've looked around a little bit again and will post the posts times where you can see my stuff I meant

https://youtu.be/zPJJ8GpIiEM?t=491 The Pat which appear after killing the bosses from behind it takes of course until they are there because they usually run a long way these spawnen not right behind the player but run through the cleaned room

[2019-05-11 17:20] #1112 closed

[2019-05-11 18:36] Knindzagxg opened #1824 "[DB/SAI] Latest DB Errors"
Been checking server last 2 weeks with players, and those are most common Errors that happen from time to time.

Beside Module Spam (Know Error in Server.log) here's the list of most common.

[code]

Most important, i suppose:

[code]

Commit: Up to date - Master
Will see if can sort some of them with Poszer.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www

[2019-05-11 18:39] Knindzagxg commented on #1824
PS. When it comes to Waypoint, multi spawns have issue, but just added 1.
I think all of them need to be re-writen.

[2019-05-11 18:55] poszer commented on #1824
Hmm, let's go. One by one :rofl:

[2019-05-11 19:01] poszer commented on #1824
1.
- [ ] Related to this quest -https://wotlk.evowow.com/?quest=1245

[code]

2.
- [ ]  Waiting my PR to be merged on master ( Than it will fix issue with this movements problems)

[code]

[2019-05-11 23:06] Seebaby commented on #1809
So I searched deep on the internet and found old excerpts from the World of Warcraft books of Classic and your instances.

At the Deadmines I found a contribution that there are the PATROLS after the bosskills I will post the left times here it is a Pdf document.

Page 6 and 7 are the decisive ones

http://ptgmedia.pearsoncmg.com/imprint_downloads/brady/wow/deadmines/Deadmines%20HRBW.pdf

[2019-05-12 01:15] solidmaxtor opened #1826 "Sartharion 10/25 bug area event [$10]"
Sartharion 10/25 bug area event

Description:
When the event starts players can leave the central area and move to any place in the sanctuary with the boss behind them.
The lava does not affect the event and the 3 drakes arrive in the central zone without participating in the event.

This checked in:
 last master branch + full history
 latsmaster branch + no previous history
 last master all branc

[2019-05-12 05:08] Viste commented on #1809
nostalrius video like a proof for wotlk gameplay perfect!

[2019-05-12 10:22] FrancescoBorzi commented on #1826
@solidmaxtor can you please include your AC version (commit hash) ?

[2019-05-12 12:39] FrancescoBorzi commented on #698
is this still an issue? can anyone double check on latest AC ?

[2019-05-12 12:40] Yehonal commented on #698
It requires a totally rework of spell system, so i guess it's still an issue

[2019-05-12 15:19] solidmaxtor commented on #1826
i think so Latest commit dd4d892 the last show, i am compile and testing 12 hours ago aprox.

[2019-05-12 16:14] Seebaby commented on #1809
I think you can never be sure I can just say I'm sure nothing has happened up to Cata in the Deadmines. Would also be a bit stupid of Blizzard to just take the PATROLS out of play.

[2019-05-12 16:34] Seebaby commented on #1774
No, the doors are closed only when both carbon pools are lit, the doors open without a problem.

[2019-05-12 16:51] Seebaby commented on #1779
I have made a video of how it is currently running in the instance and what is said that can be compared with the video as it should actually be.

https://www.youtube.com/watch?v=pczkvwng5nc AC Core

https://www.youtube.com/watch?v=GR_CQ-eC6ns&feature=youtu.be&t=1824 Original

[2019-05-13 15:04] Pondaveia commented on #1822
@solidmaxtor Can you please open a PR with this fix if you will?

If you don't know how you can do it by following these [guidelines](http://www.azerothcore.org/wiki/Dealing-with-SQL-files#how-to-create-an-sql-update-file).
Note: Make sure you sync your fork, create a new branch from master and then follow the guidelines above.

[2019-05-13 21:31] Seebaby commented on #1826
Yes I can confirm it is possible to refuel Sartharion at the entrance the 3 kites come but to a flown.

Video https://youtu.be/kTnuJ47lvSE

AzerothCore rev. f05fee74365a+ 2019-05-13 17:15:14 +0000 (master branch) (Win64, Release)

[2019-05-13 22:01] Seebaby commented on #1756
So I killed BG 4 times, killed Horde boss 2 times, killed Alli Boss 2 times and conquered everything in between. No crash

AzerothCore rev. f05fee7+ 2019-05-13 17:15:14 +0000 (master branch) (Win64, Release)

MODULE:
mod transmog
mod_world_chat

[2019-05-13 22:51] FrancescoBorzi commented on #1756
thanks @Seebaby for your feedback, could you please test the same with this PR too?

https://github.com/azerothcore/azerothcore-wotlk/pull/1695

[2019-05-14 00:36] Pondaveia commented on #1826
These videos are really helpful @Seebaby thank you. Another boss bug to take care of :joy:

[2019-05-14 00:39] #1805 closed

[2019-05-14 01:08] mpfans opened #1833 "ICC 10/25 switching normal to heroic"
## Raids in 10 and 25 man Normal/Heroic

##### EXPECTED BLIZZLIKE BEHAVIOUR:

When you enter a raid in 10 man normal and kill a boss, you can't get out the dungeon and re-do the same dungeon in 10 man heroic because the 10 modes share the same ID. For example:

Kill Lich King in 10 man normal do get atunement with Icecrown Citatel. When the Raids reset, you can't re-do 10 man normal, finish the ra

[2019-05-14 05:59] poszer commented on #642
Quest works fine on https://github.com/azerothcore/azerothcore-wotlk/commit/f05fee74365ab3360766234d5471f4909c5bacc5. Closing this.

[2019-05-14 05:59] #642 closed

[2019-05-14 10:23] Pondaveia commented on #1833
Sorry I'm didn't understand this issue, maybe use a traducer? Or if you tell us your mother tongue someone in the team might be able to understand what's the problem.

[2019-05-14 10:24] mpfans commented on #1833
Chinese

[2019-05-14 10:28] mpfans commented on #1833
sorry,my English is very poor,I am a Chinese

[2019-05-14 10:28] #1771 closed

[2019-05-14 10:48] Pondaveia commented on #1833
@mpfans We appreciate your report. Maybe try using this translator to see if we understand what's the problem.

https://translate.yandex.com/?lang=en-zh

Or you can always try to find someone Chinese in our discord channels:
https://discord.gg/rGpc9V

[2019-05-14 10:52] mpfans commented on #1833
ICC 10   OR 10 hero , you know?

[2019-05-14 11:31] Pondaveia commented on #1833
Talked to @mpfans to understand the issue and updated description for him. This needs further research.

[2019-05-14 16:49] Maurowin commented on #1833
No in the end of WOTLK, you don't need finish ICC normal mode to do it heroic mode.

[2019-05-14 20:33] Seebaby commented on #1713
So I have to say that what's not true I only know that in Classic Majordomo Executus that you looked at him and said a few sentences and then teleported.

After that he didn't stand where he stands now but walked a little and cast a cast that had made a big flame aoe then Ragnaros appeared and the two spoke a little.

Video https://www.youtube.com/watch?v=nCX3HV4vlXA Classic Time

[2019-05-15 00:36] mpfans commented on #1833
if killed 10 man normal Lich King in Icecrown Citatel, and then next week..you can't in any 10 man raid,at will switch 10 man normal/heroic mode.

[2019-05-15 01:19] #820 closed

[2019-05-15 08:52] Pondaveia commented on #1833
What do you mean with can't in any 10 man raid? You can't join 10 man's after the weekly reset?

[2019-05-15 08:56] mpfans commented on #1833
sry,I mean "in any 10 man raid,can't switch 10 man normal/heroic mode."

[2019-05-15 09:01] Pondaveia commented on #1833
Is that what's supposed to happen or is that the current behavior on azerothcore?

[2019-05-15 09:20] #1167 closed

[2019-05-15 09:43] mpfans commented on #1833
this is  supposed to happen
"in any 10 man raid,can't switch 10 man normal/heroic mode."

[2019-05-15 11:33] Pondaveia commented on #508
@poszer has been investigating and what's happening is due to poor SAI scripting. Many events, quests and creatures are being spawned without being reset and this accumulates memory overtime. I do believe that if we focus on snipping these bad scripts that the server performance will stabilize, however it takes quite the effort to find those broken scripts.

[2019-05-15 14:19] Seebaby commented on #1822
Fix is good and tested

[2019-05-15 15:36] Knindzagxg opened #1835 "[SAI] Weird issue"
Hey,

Few players on my server found really weird issue in Borean Tundra at Fizcrank Airstrip.

There's mini event, when Robot drags plane, Fighter come from house, get inside and start flying around zone -> Works really nice.

Script wise, everything is perfect, there's no errors when checked and everything should work as supposed.

But problem is next:

* If there's no player in zone and around

[2019-05-15 17:29] Seebaby commented on #1822
So I made a PR request and hope that I did everything correctly.

Is my first PR

[2019-05-15 18:41] Selyria commented on #1835
Yes I can confirm as soon as you are out of range the plane stops and stops.

Airplanes start when players are at the airport when you drag it out for a few days some 100-1000 airplanes can come together depending on the number of players.

[2019-05-15 19:31] poszer commented on #1835
Big issue, and need to be tracked as high priority

[2019-05-15 20:25] FrancescoBorzi commented on #508
I haven't investigated this yet, but according to what you're saying we should find a way to solve the issue at a generic level. So the SAI system should prevent poorly written SAI scripts to cause memory issues.

[2019-05-15 23:00] solidmaxtor commented on #1822
Thanks Selyria the fix is aproved, it's my first contribution T_T

[2019-05-16 08:49] mpfans opened #1841 "Paladin Seal of Vengeance bug"
all the Seal class spells(Seal of Command\Seal of Righteousness\Seal of Vengeance\Seal of Justice\Seal of Light\Seal of Wisdom)  should be triggered by the following spells:

Protection
 Judgement of Light (id=20271)
Shield of Righteousness (id=61411)
Hammer of the Righteous(id=53595)

Retribution
 Judgement of Light (id=20271)
Crusader Strike (id=35395)
Divine Storm(id=53385)

##### SMALL DESCRIP

[2019-05-16 11:42] poszer commented on #1841
Only melee attacks will apply the proc
![Screenshot_1](https://user-images.githubusercontent.com/41213210/57850365-0dd4b680-77de-11e9-922e-c1eed8331c1d.png)
![Screenshot_3](https://user-images.githubusercontent.com/41213210/57850421-2e047580-77de-11e9-8fa9-43c2f7de6120.png)

[2019-05-16 12:11] Pondaveia commented on #1841
Correct behavior. Thanks for validation @poszer 👍

[2019-05-16 12:11] #1841 closed

[2019-05-16 20:04] Selyria commented on #1822
Yes is fixed has been accepted and will soon be put together good fix.

[2019-05-16 22:24] solidmaxtor opened #1843 "Chaman Reincarnation does not consume ankh [$10]"
This is low priority but i am report this.
Chaman Reincarnation does not consume ankh

When a shaman dies and uses reincarnation the ANKH are not consumed.
test without having the reincarnation glyph and orcs, trolls, dranei.

Testet last banch
No modules
ubuntu 16.04

<bountysource-plugin>

---
There is a **[$10 open bounty](https://www.bountysource.com/issues/74264125-chaman-reincarnation-does-n

[2019-05-16 22:37] poszer commented on #1843
Confirmed

[2019-05-17 00:52] poszer commented on #627
@Motorheadx Can you try the fix?

[2019-05-17 10:42] Pondaveia commented on #1773
@Selyria Can you try the query above?

[2019-05-17 13:17] Shard-MW commented on #1843
According to Player::GetResurrectionSpellId(), spell used for shaman reincarnation is 21169.
When you manually `.cast 21169` Ankh is consumed. If you've the Glyph of Renewed Life, reincarnation spell (21169) doesn't consume Ankh (and that's what's intended).
But when you don't have the reincarn glyph, and you `.cast 21169 triggered`, the Ankh isn't consumed.

So I think, the reincarnation spell 21

[2019-05-17 16:57] Knindzagxg commented on #1824
Few SAI fixes for now. Most of them just have wrong Link IDs or issue with targets.

[code]

[code]

[code]

[code]

[code]

[code]

More coming in next few days, and will cover text issues as well.

[2019-05-17 17:30] Selyria opened #1845 "Illidan Stormrage Black Temple small mistakes in the text and wrong spells"
SMALL DESCRIPTION:

Illidan should be a little confused by the sentences he says and Akama once checked out seems to be.

Wrong spells work magic

The shadow spirits like to stay with the same goal and don't run over to another one.

EXPECTED BLIZZLIKE BEHAVIOR:

The Zauber and Phasen on the side.

https://wow.gamepedia.com/Illidan_Stormrage_(tactics)

text that Illidan, Akama and Maiev should say

[2019-05-18 10:35] forever2019 opened #1846 "Core Crash Caused by Odur Monster"
When I attack the monster below the view, the core will collapse immediately.
![image](https://user-images.githubusercontent.com/49540243/57968332-4ff72700-799b-11e9-978a-2ad891bb41b0.png)
![image](https://user-images.githubusercontent.com/49540243/57968334-56859e80-799b-11e9-98de-bf76ba295bd8.png)

Restart the core and prompt the character to go online.
2019-05-18 18:26:07 ERROR: WaypointMovement

[2019-05-18 11:03] poszer commented on #1846
What is the creature name, entry from picture? Also, these Db errors are for other creatures, not related to this one from image

[2019-05-18 11:48] forever2019 commented on #1846
creature_template entry  Below

32882
32883
32886
32907

[2019-05-18 12:26] poszer commented on #1846
Tested, can't reproduce. Killed him without problem (Maybe you have issue with Module VAS-Autobalance, or even if you have module  boss announcer, someone already reported while killing boss, the server crash)

![Screenshot_4](https://user-images.githubusercontent.com/41213210/57969577-dea67c80-7978-11e9-91c2-35eb14dcca8d.png)
![Screenshot_3](https://user-images.githubusercontent.com/41213210/5796

[2019-05-18 12:39] forever2019 commented on #1846
Thank you
I'll remove the module and reconfirm it.

[2019-05-18 12:54] poszer commented on #1846
Ok, i'll repopen issue, since there is PR related to it. For these waypoints errors in DB log. It will closed with it automatically. Also, tell us when you remove module, what's happening. Would like to help you. But as you can see, i don't have crash after killing this creature

[2019-05-18 13:04] forever2019 commented on #1846
Hello!
After I deleted the mod-vas-autobalance module, everything is fine now.

[2019-05-18 13:08] poszer commented on #1846
Great. If you want, you can report issue at this link:
https://github.com/azerothcore/mod-vas-autobalance
Also, if you are able to test this :
https://github.com/azerothcore/azerothcore-wotlk/pull/1847
Just check your DB log, and will you get these errors anymore included in your issue :

2019-05-18 18:26:07 ERROR: WaypointMovementGenerator::LoadPath: creature Winter Revenant (Entry: 34134 GUID: 3

[2019-05-18 13:34] forever2019 commented on #1846
Hello!
After testing, it was found that all the problems caused by the module conflict were normal after the module was removed.
Thank you.
This problem can be closed.

[2019-05-18 16:30] pklloveyou commented on #1833
#
#    Instance.SharedNormalHeroicId
#        共享正常与英雄副本进度
#        默认：    0 - （禁用）
#                      1 - （启用）

Instance.SharedNormalHeroicId = 0

[2019-05-18 18:45] Selyria commented on #1773
So under 60 seconds, I can't get the spawn time right.

[2019-05-19 01:40] EricksOliveira opened #1849 "[QUEST] Death's Challenge"
##### SMALL DESCRIPTION:

Quest ID: 12733
It is not allowing the duel with the death knight.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

When picking up the Quest ID: 12733 is automatically released the Duel option with the 5 Death Knights!

##### CURRENT BEHAVIOUR:

When you get to Quest ID: 12733 the Duels with the 5 Death Knights is not activated!

##### STEPS TO REPRODUCE THE PROBLEM:

1. Create a D

[2019-05-19 09:35] Knindzagxg opened #1850 "[Quest] [DB] The Gearmaster"
Quest The Gearmaster

Potential Memory Leak -> Once you spawn NPC, gobject should phase away, but it remain visible and you can spawn NPC as much as you want.

Tried with Force despawn and respawn (Despawn works, but never respawn after kill) and visibility but no luck so far.

.quest add 11798
.tele Borean Tundra

Spawn one NPC for quest and keep clicking on object to spawn more.

Commit: Latest,

[2019-05-19 09:38] Knindzagxg opened #1851 "[Quest] [SAI] The Assassination of Harold Lane"
Quest The Assassination of Harold Lane

Quest it self working, but provided item does not.
Unless you are a tank, its pretty tricky to do this one.

What should happen:

- Once you use quest item, bunch of Mamoths should appear and Stampede towards you and NPC doing damage -> Around 50ish % of hes total. Players can be hit as well.

Tried to make, but Stampede spell for this quest is kinda bugged

[2019-05-19 09:44] Knindzagxg opened #1852 "[Quest] [SAI] The Key of Warlord Zol'Maz"
Quest The Key of Warlord Zol'Maz object issue.

All is good up to very very last part, when you spawn NPC.
Hes 'text' is good, gathering items for him is good, but when you spawn him, gates infront of him are not removed, which makes quest unavailabe.

Reported by players as previous quests.

.quest add 12712
.tele ZulDrak

![quest](https://user-images.githubusercontent.com/27079035/57980400-68168

[2019-05-19 09:48] Knindzagxg opened #1853 "[Quest] Going Bearback"
Event to ride bear and etc for Going Bearback working nice.

But, NPC's that are required for quest are friendly (35)
Tried to change Faction ID towards them, but for some reason they always remain friendly.

Also, when i tried to modify their factions towards Sons of Hodir, faction is not found in DBC.
Setting it to faction 190 or 7 will make them neutral and quest will be available, but after re

[2019-05-19 09:53] Knindzagxg opened #1854 "[Quest] Jack Likes His Drink"
While doing quest, NPC takes money for it, but never provider furter service to complete quest.
6 players confirmed it on server so far.

.quest add 11466
.tele HowlingFjord

Commit: Up to date.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/74353841-quest-jack-likes-his-drink?utm_campaign=plugin&utm_content=tracker%2F40032087&utm_

[2019-05-19 09:58] Knindzagxg opened #1855 "[Quest] Lightning Infused Relics"
Report came from player, and was able to confirm myself.

[code]

There should be something like instant injection. I tried to fix, but no luck so far.

.quest add 11494
.tele HowlingFjord

Commit: Up to date.

![quest1](https://user-images.githubusercontent.com/27079035/57980564-58983d80-7a2d-11e9-89a1-565eb409ff33.jpg)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!]

[2019-05-19 10:04] Knindzagxg opened #1856 "[Quest] The Ring of Blood: Brokentoe"
Potential memory leak again, small one tho.

While doing quest in Nagrand Arena, and you spawn Brokentoe, once you kill it it doesnt despawn it at all.

Report came from players, and tried my self.
Was able to confirm and produce with spawning few of them when in party.

.quest add 9962
.tele Nagrand

![quest2](https://user-images.githubusercontent.com/27079035/57980626-1e7b6b80-7a2e-11e9-8b4c-3ee

[2019-05-19 10:08] Knindzagxg opened #1857 "[DB] Northrend herbs"
More and more players (Over 20 now) reporting there is very very small number of herbs spawns in Northrend at the moment.

Made a character and checked my self -> There is so small number of them.

Check it yourself:

Create character
Teach yourself herbalism
Tele anywhere to Icecrown
Set some speed and track flowers
Roam for a while and see how much of them is spawned

Commit: up to date

<bounty

[2019-05-19 11:18] Meltie2013 commented on #1853
This possibly would be core side if I am not mistaken.

[2019-05-19 12:00] poszer commented on #1849
Are you sure? This is fixed some days ago
https://github.com/azerothcore/azerothcore-wotlk/pull/1755

[2019-05-19 12:03] #1849 closed

[2019-05-19 12:11] Selyria commented on #1849
Works problem-free the npc have just a countdown so you can not immediately challenge the same again 5-10 min believe

https://youtu.be/bKMM5LifJRM

[2019-05-19 12:55] EricksOliveira commented on #1849
Yes. You still have the same problem! I just did the test again!

[2019-05-19 13:01] poszer commented on #1849
There isn't problem with this. Create DK and try again

[2019-05-19 13:04] EricksOliveira commented on #1849
https://prntscr.com/nqiw46

[2019-05-19 13:12] poszer commented on #1849
First, you're testing it with GM char, with GM on -> Incorrect
Second, you have to test it with player account.
Third, complete previous quest required to open this one.
Done

[2019-05-19 13:32] EricksOliveira commented on #1849
https://prntscr.com/nqj4pr

Yes. You still have the same problem! I just did the test again! Account players and completed all previous quests! Anyone else with this problem or just me?

[2019-05-19 13:40] poszer commented on #1849
Did you apply this https://github.com/azerothcore/azerothcore-wotlk/commit/c05cea14b67ba142b6aa39d64cb09c5553e2aef8

[2019-05-19 13:42] EricksOliveira commented on #1849
Yes. Is applied

[2019-05-19 13:43] poszer commented on #1849
It's problem from your side (modifications). Just tested again, test is working on master, and there isn't problem with it.
![dk teste3](https://user-images.githubusercontent.com/41213210/57982977-c1db7900-7a4c-11e9-8121-76998f85bdb8.png)
![dkquest](https://user-images.githubusercontent.com/41213210/57982978-c1db7900-7a4c-11e9-9d77-35bbc4df81a6.png)
![dktest2](https://user-images.githubusercontent

[2019-05-19 16:29] forever2019 opened #1858 "Dark City Battle Mission Restoration."
Hello!
Did the Battle of the Dark City be restored?
I haven't seen any fixes for this task, so I want to ask.
Thank you!

[2019-05-19 16:30] #1858 closed

[2019-05-19 16:31] poszer commented on #1858
While reporting issue please fill up template. Thanks

[2019-05-20 01:13] #1822 closed

[2019-05-20 08:59] poszer commented on #1857
Checking ac database, and comparing them with some wotlk databases it looks fine..

- [ ] Goldclever 207

- [ ] Firethorn 21

- [ ] Tiger Lily 134

- [ ] Talandra's Rose 77

- [ ] Frozen Herb 135

- [ ] Adder's Tongue 84

- [ ] Lichbloom 180

- [ ] Icethorn 142

- [ ] Frost Lotus 4

- [ ] Mana Thistle 35

- [ ] Nightmare Vine 52

- [ ] Netherbloom 68

- [ ] Netherdust Bush 43

- [ ] Ragveil 51

-

[2019-05-20 12:31] #1835 closed

[2019-05-20 22:32] poszer commented on #152
Confirmed. really weird bug lol

[2019-05-21 00:43] #627 closed

[2019-05-21 02:44] mpfans commented on #1833
国服原来是可以在副本内切难度的...这个开启后是不是可以切换了?

[2019-05-21 10:38] poszer commented on #544
As the default it's empty. Closing this

[2019-05-21 10:38] #544 closed

[2019-05-21 10:57] poszer commented on #550
Confirmed, he's right. There should be hammer in hand after quest complete https://youtu.be/hjuWgUxJ9ZA?t=340