[2020-11-25 00:21] BarbzYHOOL commented on #3676
i also think so but didn't check in details

just was like "guid" can't be used twice, it's not possible

[2020-11-25 02:16] BarbzYHOOL commented on #3712
Alright, i'll show you how to debug an issue...

so... i thought maybe there is a deep bug (as I told you @Kitzunu in private message) and i did more tests in the Ratchet Inn

Basically, the areatrigger for the Inn is 30 radius. (prob the same on every inn?)
Actually, in the code, it doesn't remove the "zzzz" when you leave the Inn's areatrigger radius, it removes the "zzzz" you leave the "area" a

[2020-11-25 05:02] LukasVolgger commented on #3676
@BarbzYHOOL check ingame before PR with  .npc info on both creatures

[2020-11-25 09:11] Kitzunu commented on #3712
A commit didnt, I saw the code.
But they have refactored the whole rested system and I dont know which commit it is. but you probably right ^^

[2020-11-25 11:19] LukasVolgger commented on #3343
https://github.com/azerothcore/azerothcore-wotlk/issues/3656

[2020-11-25 11:19] #3343 closed

[2020-11-25 11:23] LukasVolgger commented on #3282
Working very well on commit 2788d49

Closing this one as there is no bug.

[2020-11-25 11:23] #3282 closed

[2020-11-25 11:28] LukasVolgger commented on #3011
https://github.com/azerothcore/azerothcore-wotlk/issues/3605

[2020-11-25 11:28] #3011 closed

[2020-11-25 11:37] LukasVolgger commented on #1390
Confirmed on https://github.com/azerothcore/azerothcore-wotlk/commit/2788d495f9e861d5e6b7bf69378f9600bea513c4

[2020-11-25 11:41] LukasVolgger commented on #1357
There is no issue. The table you looking for is quest_request_items_locale.

Here ist the locale Text for CompletionText.

The problem is, that the columns in quest_template doesn't match with the locales columns.

[2020-11-25 11:41] #1357 closed

[2020-11-25 11:44] FrancescoBorzi commented on #1390
@LukasVolgger thanks for doing some bug triage, for this and the other issues.

[2020-11-25 13:29] Si1ker commented on #3702
Note: The .teleport name command also exhibits this behavior
This statement is **false**, a player teleported in this way:

- Click player
- `.tele name tirisfal`

The player will be teleported to "default" phase, not the gm one.

[2020-11-25 15:35] Si1ker commented on #3693
@Err0r1 Err0r1 edited 4 minutes ago
❌  Request: Update mythic+ system so that it works with lastest AC

❌  Fork with mythic+ system: https://github.com/Visionre/azerothcore-wotlk/tree/mythic_plus_335
❌ after this commit it's broken: azerothcore/azerothcore-wotlk@833611f

✔️ Nvm.

🤔 ?

[2020-11-25 15:56] Whistl3r commented on #2843
Hello, unfortunately it can break DK I suppose, because then Death Strike (45470) is visible and I can click it and it instantly heals without global cooldown as many times as I want.

It may be caused by me customising server to my requirements but I am not touching the core at all. I have looked already to my scripts which autolearn spells on insta 80lvl and I am not making mistake there by lear

[2020-11-25 16:01] Whistl3r commented on #2843
Could someone point me into direction where I can find data/settings regarding spell book ? Or should I have a look into class specific settings? I already tried to find it but without luck.

[2020-11-25 16:12] Si1ker commented on #3728
@55Honey get changes from #3765 and try to repro the issue 🐱

[2020-11-25 16:31] FALL1N1 commented on #3733
That's the uint64/uint64-list/vector to ObjectGuid/ObjectList conversion, right?

[2020-11-25 16:40] FALL1N1 commented on #3739
You don't need boost if you know the new cpp17 syntax and functions.

[2020-11-25 17:07] Si1ker commented on #2690
#2738

[2020-11-25 17:07] #2690 closed

[2020-11-25 17:23] Maurowin commented on #2843
Do u see, u havent rank on it.

[2020-11-25 18:00] 55Honey commented on #3728
Unfortunately i can not compile and test myself.

[2020-11-25 19:15] steenburgh commented on #3702
Just tested on my server and yep, I was mistaken - the `.tele name` command does not modify the player's phase. I've updated the description to reflect this.

[2020-11-25 19:59] BarbzYHOOL commented on #3676
ingame it's two different guid ^^ but maybe you missclicked one of the big roy and you selected twice the same NPC, hence the confusion

it doesn't change anything though, the issue is valid and the fix too, i was just curious

[2020-11-25 20:15] Rochet2 commented on #3733
Maybe such a change was done at the same time, but that change is not what this issue is about.

The point of the guid system improvement is not to just change to some class/struct/typedef instead of uin64, but to move away from using a single guid for the same spawn. See https://github.com/TrinityCore/TrinityCore/blame/5270ff58daf31ce10919d9da53e09f494956a5f2/src/server/game/Maps/Map.h#L622-L627

[2020-11-25 20:29] LukasVolgger commented on #3676
okay then it must be like this, I should go to sleep earlier o.o

[2020-11-25 21:07] #3676 closed

[2020-11-25 22:12] #3724 closed

[2020-11-26 03:26] Voxstrasza opened #3769 "Invisible Wall in Halls of Reflection ending [Alliance]"
##### CURRENT BEHAVIOUR:
There is an invisible wall on the gunship on the Alliance ending of Halls of Reflection.  You are able to walk up over it, but when you are on the ship, you have to jump over it to go back down the ramp.  This is only present on the Alliance ending.

https://i.imgur.com/WHOyFO5.jpg

##### EXPECTED BLIZZLIKE BEHAVIOUR:

There should not be an invisible wall here.

##### STE

[2020-11-26 06:07] CyberFoxHax opened #3770 "[Quest] "When cows come home" wrong text."
[[When cows come home]](https://www.wowhead.com/quest=10337)

##### CURRENT BEHAVIOUR:
I don't know what the real text is supposed to be but right now it looks like this:

the cow says this 2 times during the escort.

##### OPERATING SYSTEM:
Server: Debian 10
Client: Windows 10

##### AC HASH/COMMIT:
e1bf18374124ff05ab41f8014f001d27af1ab865

<bountysource-plugin>

<bountysource-plugin>

---
Want t

[2020-11-26 07:07] aradep opened #3772 "[Core] Applying glyphs with dual spec"
##### CURRENT BEHAVIOUR:
Players are sometimes prevented from inscribing the same Glyph into both specs.

##### STEPS TO REPRODUCE THE PROBLEM:
1. Create a character, level to 80, learn Dual Talent Specialization.
3. Get 2x of the same glyph.
4. Apply one glyph to first spec.
5. Activate secondary specialization.
6. Apply other glyph to second spec.

##### EXTRA NOTES:
[Video](https://www.youtube.

[2020-11-26 07:54] Voxstrasza commented on #3770
well, it seems that Bessy is supposed to say this:

[code]

[2020-11-26 11:50] Whistl3r commented on #2843
ah thanks, I'm new into this stuff :) will have a look at it today

[2020-11-26 12:12] #3702 closed

[2020-11-26 14:53] #3728 closed

[2020-11-26 15:26] Maurowin opened #3774 "[SUGGESTION] progressive server"
It would be nice to have a module or events to have a progressive server.

Let me explain. A system that allows to give access patch by patch to WOTLK in a simple and automatic way.

Restricting the continuos to patch 1 and so on.

This includes the :

- dungeons
- raids
- season pvp (stuffs)
- the emblems provided by the group search tool
- pnj who provide the stuffs via the emblems etc...
- etc.

[2020-11-26 16:34] FrancescoBorzi commented on #3774
@Maurowin I think what you mean is basically what I wrote here: https://github.com/azerothcore/forum/issues/124

@Si1ker as you did this work already, can you help to build such DB migrations?

[2020-11-26 17:21] GMKyle commented on #2782
No recent update on this issue.... anyway, i have been working in a solution, Looking for information about which spells should proc beacon, i found this:
[warmane holy paladin guide] (http://forum.warmane.com/showthread.php?t=325569)
[code]
Wowhead comment
[wowhead](https://es.wowhead.com/spell=53563/se%C3%B1al-de-la-luz)
[code]
Then i assume that beacon of light only procs when paladin cast:
- H

[2020-11-26 17:46] FrancescoBorzi commented on #3102
I fixed all gcc warnings some time ago and make our build fails if new ones are introduced by a PR. So this can be closed :)

[2020-11-26 17:46] #3102 closed

[2020-11-26 17:54] Maurowin commented on #3774
@FrancescoBorzi In principle, yes! It is to make a progressive server with the outgoing content as on the official one.

[2020-11-26 18:18] BarbzYHOOL commented on #3712
https://github.com/TrinityCore/TrinityCore/pull/15327/files can help

[2020-11-26 19:29] 55Honey opened #3776 "[Naxxramas] Slime debuff persistent through death"
##### CURRENT BEHAVIOUR:
If a toon dies from [Slime](https://wotlkdb.com/?spell=28801) in Thaddius' room in Naxxramas, there is a chance that the debuff is not properly removed after releasing spirit. I could'nt find any relation to classes and/or specs.
Its probably related to the Thaddius encounter itself, since thats the only situation when some toons of my raid die from it. 3-5 out of 20 toons

[2020-11-26 19:42] 55Honey opened #3777 "[Malygos] No "Release Spirit" button for holy priest"
##### CURRENT BEHAVIOUR:
If a holy priest with spirit of redemtion dies during the dragon phase (P3) it does not get a "Release Spirit" button. Reloading UI, which works usually, does not release either.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
There should always be a "Release Spirit" button after death.

##### STEPS TO REPRODUCE THE PROBLEM:
- Bring a Holy Priest with [Spirit of Redemption](https://

[2020-11-26 19:50] Si1ker commented on #3776
How even people get or "die" that?  : S

[2020-11-26 19:52] Voxstrasza commented on #3776
knuckle draggers

[2020-11-26 19:57] Si1ker commented on #3776
I mean dying in Naxx is nearly impossible unless you afk , that spell is caused by that green-slime thing (water) in the environment that does not move, does not attack, does not attack you.

So just trying to understand this report, your players afk in the slime water, they died, they come back to the keyboard and when they released they still have the debuff??

[2020-11-26 19:58] 55Honey opened #3778 "Travelers Tundra Mammoth merchants bugging"
##### CURRENT BEHAVIOUR:
The merchants, which belong to the [Traveler's Turndra Mammoth](https://wotlkdb.com/?item=44234), dismount when u go through a instance portal. dismounting the toon despawns them. re-mounting makes everything work as intended again

##### EXPECTED BLIZZLIKE BEHAVIOUR:
The merchants should always stick to the mount.

##### STEPS TO REPRODUCE THE PROBLEM:
- Mount a [Traveler

[2020-11-26 19:59] 55Honey commented on #3776
Im a multiboxer and my movement wasnt good enough to make the jump from the platforms down to Thaddius at the start ;-)

[2020-11-26 20:00] Voxstrasza commented on #3776
on thaddius this could actually be an issue; if a raid leader calls a wipe everyone will jump off into the slime, and if you're not in range of thaddius he'll start aoe blasting the room.

also, if someone misses the jump, they could potentially die en route to the platform to try again and be stuck with the debuff

but if you die in naxxramas you should probably throw your computer away

[2020-11-26 20:01] Si1ker commented on #3776
"but if you die in naxxramas you should probably throw your computer away"
G O L D  🤣

[2020-11-26 20:02] 55Honey commented on #3776
I won't do that. I'm happy to entertain though :-P

[2020-11-26 20:06] Voxstrasza commented on #3776
I'll take a look too

I'm sure a lot of us have been in raids with keyboard drooling idiots that for some reason can't make that thaddius jump and somehow end up wiping the raid, there's always one person

[2020-11-26 20:07] 55Honey commented on #3776
And now imagine that person plays all 25 toons ;-)

[2020-11-26 20:29] 55Honey opened #3779 "Equipping [fishing pole] staff possible without enough bag space"
##### CURRENT BEHAVIOUR:
When ones inventory is full and the toon wears a main hand + offhand item, it is currently possible to equip a [fishing pole] staff, even though the toon has no bag space to store both items. This results in the player being forced to delete the shield/offhand.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
Since it's not possible to check a 3.3.5 live realm and theres no footage fr

[2020-11-26 21:06] r0m1ntik commented on #3779
![Снимок экрана 2020-11-26 в 22 03 26](https://user-images.githubusercontent.com/40755539/100391330-5b68eb00-3033-11eb-87d5-cf0f5aa5f225.png)

"This item cannot be exchanged" no bag space

[2020-11-26 21:26] 55Honey commented on #3779
I must admit that i can not reproduce it with a fishing pole either.  But it works with a staff. Editing initial post.

[2020-11-26 22:32] #1165 closed

[2020-11-26 22:32] #1166 closed

[2020-11-26 22:32] #1168 closed

[2020-11-26 22:32] #1169 closed

[2020-11-26 22:32] #1170 closed

[2020-11-26 22:32] #1173 closed

[2020-11-26 22:32] #1174 closed

[2020-11-26 22:32] #1175 closed

[2020-11-26 22:32] #1182 closed

[2020-11-26 22:32] #1184 closed

[2020-11-26 22:32] #1185 closed

[2020-11-26 22:32] #1190 closed

[2020-11-26 22:32] #1191 closed

[2020-11-26 22:32] #1192 closed

[2020-11-26 22:32] #1194 closed

[2020-11-26 22:32] #1198 closed

[2020-11-26 22:32] #1199 closed

[2020-11-26 22:32] #1200 closed

[2020-11-26 22:32] #1201 closed

[2020-11-26 22:32] #1202 closed

[2020-11-26 22:32] #1239 closed

[2020-11-26 22:32] #1313 closed

[2020-11-26 22:38] Voxstrasza commented on #633
it seems to me that this scourge icon that you have is either a custom addition or something that was removed from the final game, and remains in the files.

here is a video of the DK quest chain from 2009: https://www.youtube.com/watch?v=1Mj-LW5NU1g&ab_channel=stevoman16

you can see the alliance faction badge there, and every other video I've found (from 2008 to 2015) of the DK quest chain, ther

[2020-11-26 22:51] #633 closed

[2020-11-27 00:08] JamesGent commented on #1521
This was a rename suggestion which didn't seem to stick. No comments in 20 months so I will close it and if you want to suggest the rename again (if it's still relevant at all) then feel free to make a new one.

[2020-11-27 00:08] #1521 closed

[2020-11-27 00:29] Voxstrasza commented on #1916
I created a Shaman, activated Lightning Shield, dropped some totems and the buff persisted.  Same with Water Shield.  Cannot reproduce.

[2020-11-27 00:29] #1916 closed

[2020-11-27 00:35] Voxstrasza commented on #1898
You can modify quest experience from here in worldserver.conf:

[code]

If you want to increase experience for an individual quest, Keira3 has an option in quest_template for easy access.

Since this has been open since May 2019 and no replies since, I will be closing it - if the above options don't help you feel free to open a new suggestion.

[2020-11-27 00:35] #1898 closed

[2020-11-27 03:12] Voxstrasza commented on #324
I cannot reproduce the bugs listed in the OP, I think it was fixed but this holds true:

Gonna go ahead and close this because the original issue is fixed and the quests can be completed.  @Flerex please open a new issue to address the spacebar and recall bug.

[2020-11-27 03:12] #324 closed

[2020-11-27 03:16] Voxstrasza commented on #3774
keep in mind this also involves removing certain items and spells from profession trainers, a lot of research needs to go into it.

[2020-11-27 03:44] Voxstrasza commented on #1942
Still an issue as of `f6d4ceeebc62`

[2020-11-27 04:15] Voxstrasza commented on #3769
Probably has to do with the placement of the gunship, might be too low

[2020-11-27 04:33] Voxstrasza commented on #1895
@chinaryan how can we reproduce this?  is it a problem over a year later?

@Helias have you figured out how to reproduce?  labeling unconfirmed

[2020-11-27 04:34] Voxstrasza commented on #2170
prolly same boat as #1895 but no idea how to reproduce @blackdev01

unconfirmed until further notice

[2020-11-27 07:21] Helias commented on #1895
I don't know how to reproduce this :(

[2020-11-27 07:43] Maurowin commented on #3774
It's big work yes !

For season pvp, I'm not sure, but there are NPCs dedicated to each season and other NPCs that group all the stuffs together. So yes, I think there will have to be some restrictions.

[2020-11-27 08:24] steenburgh commented on #1845
What do you mean by 'the same goal'? We've been doing the Illidan fight and the shadowfiends always seem to spawn directly on top of the player with the debuff, and then randomly aggro a player. We're not sure if this is how it's supposed to work. Thoughts?

[2020-11-27 09:41] Helias commented on #1895
I think we can close this because the problem is a lot "old" and the core now is different.
I tested some async system related to spells for this issue https://github.com/azerothcore/azerothcore-wotlk/issues/2170 that can be related to this one and I didn't find anything.

I think that we can leave open https://github.com/azerothcore/azerothcore-wotlk/issues/2170 but we can close this issue.

[2020-11-27 09:41] #1895 closed

[2020-11-27 09:49] Maurowin opened #3781 "Creature/DB: Missing waypoint for some dragons"
##### CURRENT BEHAVIOUR:

There are dragons in the sky which does not move.
There are flying without Patch from cataclysm but no waypoint are scripted.
![WoWScrnShot_112620_015710](https://user-images.githubusercontent.com/31663279/100434948-8b4cd880-309d-11eb-8e98-79d235839246.jpg)
![WoWScrnShot_112620_015713](https://user-images.githubusercontent.com/31663279/100434952-8be56f00-309d-11eb-9414-c9

[2020-11-27 10:03] Kitzunu commented on #3781
Dont report several non relevant bugs in one report.

This makes it very hard to close reports with PRs and fixes, and very hard for everyone to keep track of bugs etc.

[2020-11-27 10:03] Helias commented on #1898
FYI: we have a field `RewardXPDifficulty` in quest_template which change the Quest XP based on the related level.

[2020-11-27 11:12] Maurowin commented on #3781
not several but few. We have in this issue 2 minors bugs

[2020-11-27 11:16] Maurowin opened #3782 "[raid] Minor bugs ulduar"
##### CURRENT BEHAVIOUR:

For starters, at Ulduar to the first boss, Brann is invisible when he talks
![WoWScrnShot_112620_145034](https://user-images.githubusercontent.com/31663279/100434865-6f493700-309d-11eb-8b1a-019c5cfe2cda.jpg)

A lot of anima in first boss too, maybe some replicate.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

- Bronzebeard Radio's weapon and dial bubles should not apear, because

[2020-11-27 11:50] #2260 closed

[2020-11-27 11:58] Maurowin commented on #3781
The issue is scinded, u can remove label. @Kitzunu

[2020-11-27 12:35] Kitzunu commented on #3781
Thanks

[2020-11-27 13:18] Maurowin commented on #3781
My plaisure

[2020-11-27 17:15] JamesGent commented on #1377
Issue is still live. NPC walks normally/fine for most of her journey, and then floatwalks/breaks on her way from one point to the next.

Repro steps: .go creature 68725

![Desktop 27-11-2020 17-13-56-364](https://user-images.githubusercontent.com/61194190/100472346-003b0500-30d4-11eb-8b57-b1c35d2046f0.png)

[2020-11-27 17:22] JamesGent commented on #1773
Can confirm the issue is still live in master, however I can also confirm that the partial fix provided works. Recommended to integrate the partial fix into master branch and settle for 60 secs which isn't the blizzlike 30 secs but is better than 6 minutes.

![Desktop 27-11-2020 17-18-00-499](https://user-images.githubusercontent.com/61194190/100472852-f5cd3b00-30d4-11eb-91e3-a9ab9d1551b8.png)

[2020-11-27 17:29] JamesGent commented on #1690
Can confirm after completing the quest no buff or yell is to be had. Ghost/Deleted user said they were looking into it.

![Desktop 27-11-2020 17-28-46-664](https://user-images.githubusercontent.com/61194190/100473340-08943f80-30d6-11eb-9dd2-75617a603882.png)

[2020-11-27 17:40] JamesGent commented on #1689
Confirmed still an issue from my testing. There's an Ouro Spawner NPC which attacks you and can be attacked, and upon killing it nothing happened.

The Ouro spawner NPC in the database has no scripts/AI attached. This thread contains a PR that claims to fix it but unknown if it does.

https://github.com/azerothcore/azerothcore-wotlk/pull/2997

![Desktop 27-11-2020 17-33-34-53](https://user-images.

[2020-11-27 17:44] 55Honey opened #3783 "[Talent] Demonic Pact stacking behaviour"
##### CURRENT BEHAVIOUR:
In its current state, the [Demonic Pact](https://wotlkdb.com/?spell=47240) stacks with itself:

If Demonic pact procs from the felguard critical strike, it does correctly increase the spell power for party and raid members. However, if it procs again while Demonic Pact is already up, it a adds another 10% (assuming 5/5 talents) on top of the spell power gained from the buf

[2020-11-27 17:48] JamesGent commented on #1687
I can also confirm. The entire chain works up until this quest.

![Desktop 27-11-2020 17-47-05-644](https://user-images.githubusercontent.com/61194190/100474551-c7e9f580-30d8-11eb-9a02-547ded8ee115.png)

 The quest is more but not fully completeable if you spawn NPC 39654 yourself manually after arriving.

![Desktop 27-11-2020 17-46-25-663](https://user-images.githubusercontent.com/61194190/100474

[2020-11-27 17:51] JamesGent commented on #1693
Good reports based on Francesco's fork(?) but information is likely outdated at this point and new reports would need to be made. If you feel this is wrong feel free to reopen the issue.

[2020-11-27 17:51] #1693 closed

[2020-11-27 18:14] JamesGent commented on #1535
Progress/Confirmed:

You can find Shay, speak to her, loot the bell from the chest, and agree to escort her. You can escort her to Rockbiter's camp, but when you get there, you can't hand the quest in! Likely a missing trigger from her getting close to camp. The blizzlike behaviour of her wandering off & you having to call the bell to get her attention is not implemented either.

Super dangerous b

[2020-11-27 18:16] Voxstrasza commented on #3781
The dragons you are seeing are sitting because they're a custom model that you imported.  The model is from Cataclysm.  Here is the real model, and it is flying:

https://i.imgur.com/ebAsjG4.jpg

They are missing waypoints though, so if you can edit your original issue to mention that they're simply missing waypoints it would be a lot better.

[2020-11-27 18:21] Maurowin commented on #3781
I will remove the patch of cataclysm.

[2020-11-27 18:23] JamesGent commented on #1438
Can confirm still acts in this way. I show in the screenshot one ticket opened by a character & closed by a character, and then a ticket opened/closed by the console.

![Desktop 27-11-2020 18-22-21-611](https://user-images.githubusercontent.com/61194190/100476456-89a30500-30dd-11eb-9a9c-1e82318a8eaa.png)

[2020-11-27 18:26] JamesGent commented on #1659
Issue still exists I would recommend anyone competant to port the trinitycore fix from 2014.

https://github.com/TrinityCore/TrinityCore/issues/12311

https://github.com/TrinityCore/TrinityCore/commit/2a3546ca36468b81d673bdb27315006144af3165

![Desktop 27-11-2020 18-24-36-561](https://user-images.githubusercontent.com/61194190/100476577-dbe42600-30dd-11eb-9e37-02f29593a0b1.png)

[2020-11-27 18:27] Voxstrasza commented on #1884
I cannot reproduce on `f6d4ceeebc62+`.  Here is my worldserver:

[code]

Must've been fixed in the last year and a half - closing.

[2020-11-27 18:27] #1884 closed

[2020-11-27 19:55] Helias commented on #1535
What about the possible fix?

[2020-11-27 22:54] Voxstrasza commented on #1950
@sluggor did you talk about this with @FrancescoBorzi ?  is this issue still relevant?

[2020-11-27 22:57] Voxstrasza commented on #1968
Still not implemented as of `37d1f2be4729`

@Shard-MW any news on the PR you created to close this?

[2020-11-27 22:58] BarbzYHOOL opened #3784 "Slightly edit the output msg when loading tables"
Just a quick refactor idea, when we load (and reload) tables, it says
[code]
1) Imo we should replace "smthg" by something close to the table name or the exact table name
2) We should replace "definitions" by "rows" as we are simply loading rows from the DB, no need to try to sound more intelligent than needed, let's be clear

Result::
[code]
note: backticks are just there to delimit the table nam

[2020-11-28 00:09] BarbzYHOOL opened #3785 "Feature: custom string table"
For custom stuff, we could have a table called `custom_strings` or `custom_text`

[code]

this would allow to not bother anymore with custom IDs in all the text tables

this can maybe be applied to other aspects of the game but dunno if worth it

note: maybe this is a bad idea, cause if we start to do this for every table, we will end up with custom_creature, custom creature_template, custom_item_

[2020-11-28 04:13] Voxstrasza commented on #1885
Cannot reproduce as of 3`7d1f2be4729`.

Water Elemental seems to have been reworked in December 2019.

Closing.

[2020-11-28 04:13] #1885 closed

[2020-11-28 04:19] Voxstrasza commented on #1939
Still an issue as of `37d1f2be4729`

[2020-11-28 04:50] Voxstrasza commented on #1809
I went in and tested this on `37d1f2be4729` and the Taskmaster spawns when clicking on the gunpowder, and the NPCs patrol with Captain Greenskin in sync.  Closing this issue as the OP's problems have been fixed, although Sneed's door doesn't open after he dies - should be an easy fix by replicating the first bosses code.

[2020-11-28 04:50] #1809 closed

[2020-11-28 05:35] locus313 commented on #2003
confirmed on https://github.com/azerothcore/azerothcore-wotlk/commit/37d1f2be4729e4f9465a0591d451af4b8a945418

[2020-11-28 05:53] Si1ker commented on #533
https://github.com/mangostwo/server/blob/master/src/game/ChatCommands/MailCommands.cpp#L104

https://github.com/mangostwo/server/blob/982efdd77b42e5d08a23c204f6a9c47a07ab3940/src/game/WorldHandlers/MassMailMgr.cpp

https://github.com/mangostwo/server/blob/ffc60e5d0aaf5d84161ced512ec00fcd233cf7da/src/game/WorldHandlers/MassMailMgr.h

https://github.com/mangostwo/server/blob/ffc60e5d0aaf5d84161ced51

[2020-11-28 05:56] locus313 commented on #2039
confirmed on https://github.com/azerothcore/azerothcore-wotlk/commit/37d1f2be4729e4f9465a0591d451af4b8a945418

[2020-11-28 06:34] locus313 commented on #2111
confirmed on https://github.com/azerothcore/azerothcore-wotlk/commit/37d1f2be4729e4f9465a0591d451af4b8a945418

[2020-11-28 07:13] #3599 closed

[2020-11-28 09:12] markvetwow commented on #3740
Any guesses what might cause this? :(

[2020-11-28 09:57] PivanDepolo opened #3788 "(DB/Quest): Guardian of the Monument"
https://www.wowhead.com/quest=11059/guardian-of-the-monument
**SMALL DESCRIPTION**:
You need to call the guard for 35 apexis crystals, kill him and bring the quest item "head". However, the quest item never fell from two of these monsters.
Based on the characteristics of this mob (~ 140k HP) and the fact that the quest is in the location for ~ 70 level, I assume that the quest item should fall wit

[2020-11-28 09:59] PivanDepolo opened #3789 "Satellite And Ship"
**SMALL DESCRIPTION**:
When traveling by ship from one continent to another, the satellite disappears

**BRANCH(ES)**: master

AC HASH/COMMIT: AzerothCore rev. 37d1f2b

**OPERATING SYSTEM**: Debian 10

**MODULES**: Anticheat, ResetDuel, CFBG, Transmog, PvPTitles

[2020-11-28 10:07] LukasVolgger commented on #2400
Cannot reproduce on commit https://github.com/azerothcore/azerothcore-wotlk/commit/2788d495f9e861d5e6b7bf69378f9600bea513c4

![image](https://user-images.githubusercontent.com/55922592/100499395-a2f19300-3169-11eb-894a-63721975f46b.png)
![image](https://user-images.githubusercontent.com/55922592/100499407-b8ff5380-3169-11eb-81b1-94a7d06295a7.png)

[2020-11-28 10:07] #2400 closed

[2020-11-28 10:07] 55Honey opened #3790 "[Buffs] Wrong stacking behavior for Totem of Wrath / Demonic Pact"
CURRENT BEHAVIOUR:
[Demonic Pact](https://wotlkdb.com/?spell=47240) does not overwrite [Totem of Wrath](https://wotlkdb.com/?spell=57722) if the bonus spelldamage gained from [Demonic Pact](https://wotlkdb.com/?spell=47240) is lower than the 280SP provided by [Totem of Wrath](https://wotlkdb.com/?spell=57722).

In theory it is possible to have the whole raid buffed with both a 280SP [Totem of Wrat

[2020-11-28 10:08] PivanDepolo opened #3791 "Leave from the dungeon search."
**SMALL DESCRIPTION**:
When leaving the dungeon, by exiting the party, teleports to the cemetery in Durotar. Both the alliance and the horde.

**BRANCH(ES)**: master

**AC HASH/COMMIT**: AzerothCore rev. 37d1f2b

**OPERATING SYSTEM**: Debian 10

**MODULES**: Anticheat, ResetDuel, CFBG, Transmog, PvPTitles

[2020-11-28 10:11] LukasVolgger commented on #3741
Cannot reproduce the issue on commit https://github.com/azerothcore/azerothcore-wotlk/commit/2788d495f9e861d5e6b7bf69378f9600bea513c4

If the crash still persists we can reopen the issue.

[2020-11-28 10:11] #3741 closed

[2020-11-28 10:14] LukasVolgger commented on #2831
Cannot reproduce this issue on commit https://github.com/azerothcore/azerothcore-wotlk/commit/2788d495f9e861d5e6b7bf69378f9600bea513c4

![image](https://user-images.githubusercontent.com/55922592/100499570-e6003600-316a-11eb-818b-971157824ed9.png)

[2020-11-28 10:14] #2831 closed

[2020-11-28 10:19] LukasVolgger commented on #3270
Cannot reproduce for this 2 creatures on commit https://github.com/azerothcore/azerothcore-wotlk/commit/2788d495f9e861d5e6b7bf69378f9600bea513c4. Sometimes creatures just drop 0 items - just respawn them and try again.

TaDa
![image](https://user-images.githubusercontent.com/55922592/100499630-6cb51300-316b-11eb-8cad-8721ed2cfd31.png)

![image](https://user-images.githubusercontent.com/55922592/10

[2020-11-28 10:19] #3270 closed

[2020-11-28 10:28] LukasVolgger commented on #1007
Cannot reproduce this issue on commit https://github.com/azerothcore/azerothcore-wotlk/commit/2788d495f9e861d5e6b7bf69378f9600bea513c4

![image](https://user-images.githubusercontent.com/55922592/100504649-daae0a00-316c-11eb-97f9-89451e85031f.png)

Funfact - If use a BFA models, you stuck in a bat's ass:
![image](https://user-images.githubusercontent.com/55922592/100502941-5c516800-316c-11eb-8719-

[2020-11-28 10:28] #1007 closed

[2020-11-28 10:30] LukasVolgger commented on #948
I tried agian on this commit https://github.com/azerothcore/azerothcore-wotlk/commit/2788d495f9e861d5e6b7bf69378f9600bea513c4 and everything is fine here

[2020-11-28 10:42] LukasVolgger commented on #2170
I can't confirm the problem either. If the problem persists, please open a new issue with full instructions on how to reproduce the problem.

I close this as there is no reason to keep this open longer than unconfirmed.

[2020-11-28 10:42] #2170 closed

[2020-11-28 10:43] LukasVolgger commented on #2170
@FrancescoBorzi please take a look at this too and remove the bounty

[2020-11-28 10:45] LukasVolgger commented on #2156
@wowmane please add more informations about how we can reproduce this issue if it still exists. If so, just reopen this.

[2020-11-28 10:45] #2156 closed

[2020-11-28 10:54] LukasVolgger commented on #3788
Hello @PivanDepolo and ty for your issue report. As i can see on Wowhead the drop chance is 61,17% https://www.wowhead.com/item=32697/apexis-guardians-head

![image](https://user-images.githubusercontent.com/55922592/100513799-2b733200-3170-11eb-812c-e24de2ee1d3b.png)

It may seem hard that based on the characteristics of the mob it does not drop 100% but as long as there is no blizzlike proof tha

[2020-11-28 10:55] LukasVolgger commented on #3789
Satellite? Sry i don't understand what you mean

[2020-11-28 10:58] LukasVolgger commented on #3791
Cannot reproduce this issue on commit https://github.com/azerothcore/azerothcore-wotlk/commit/2788d495f9e861d5e6b7bf69378f9600bea513c4. If i leave the group while i'm in the dungeon it teleports me exactly to the location i was before.

Please add more detailed informations to your issue reports.

[2020-11-28 10:58] PivanDepolo commented on #3789
companion

[2020-11-28 11:02] LukasVolgger commented on #3789
![image](https://user-images.githubusercontent.com/55922592/100513976-6de93e80-3171-11eb-8012-64fcb7131f08.png)

![image](https://user-images.githubusercontent.com/55922592/100513989-835e6880-3171-11eb-8582-1e404b886d1e.png)

This issue is valid!

[2020-11-28 11:12] PivanDepolo commented on #2899
i can confirm this too!

[2020-11-28 11:24] FrancescoBorzi commented on #3070
why it is less confusing to have them as commented out? From a technical perspective, it makes no difference since compilers already optimise it and remove unused enums like this.

I think this issue can be closed, but feel free to reopen it if you don't agree.

[2020-11-28 11:24] #3070 closed

[2020-11-28 11:37] FrancescoBorzi commented on #718
Has anyone been able to reproduce this issue recently? I think this issue might still be there but it's very hard to reproduce

[2020-11-28 11:37] FrancescoBorzi commented on #3076
this was already done, thanks @Kitzunu

closing

[2020-11-28 11:37] #3076 closed

[2020-11-28 12:26] Helias commented on #644
How to test properly:
[code]
- Use the purple platform to teleport you downstairs

I confirm the issue.

[2020-11-28 12:42] markvetwow commented on #3740
Any guesses on what might cause this? :( It's kinda gamebreaking. You can basically kite the casters all around the building etc. without even being touched.

[2020-11-28 13:15] Helias commented on #644
The fix proposed didn't work, I am creating a PR with another one.

[2020-11-28 13:54] Helias commented on #3648
@placemolle, unfortunately, I don't know the answer, but I think that you can open the PR and may create a discussion there ;-)

[2020-11-28 14:04] Helias commented on #3443
@locus313  any updates about this?

[2020-11-28 14:24] FrancescoBorzi commented on #3784
@BarbzYHOOL just go ahead and open PR :)

[2020-11-28 14:46] Goatform commented on #3789
He probably meant zeppelin 😃

[2020-11-28 14:47] FrancescoBorzi commented on #2170
Bountysource does not let me claim the bounty yet (it's still marked as "open" on Bountysource, I think we just need to wait).

So marking this with the new label "unclaimed bounty" to not lose it.  As soon as Bountysource will let me claim it, I will get this money and re-invest it on AzerothCore.

[2020-11-28 14:57] FrancescoBorzi commented on #3788
I'm not sure about this. Wowhead is not always accurate so we can't rely on it.

Given the current circumstances, I'd set that to 100% drop chance. It's quite reasonable that you kill an NPC and you drop his head for a quest like it usually happens.

Waiting for a second opinion.

[2020-11-28 15:11] Knindzagxg commented on #3788
Drop chance for it is 100%.

Problem why it's showing 61% is due progressive dynamic system which we sadly don't have and no core have it atm.
In other words, a second you start quest, chance for that drop item is 61% and during game (Shard game), until Guardian appears it will go to 100%. It's also a party drop -> Everyone in group is able to get quest item after killing it.

[2020-11-28 15:19] JamesGent commented on #3788
I played retail at the TBC/Wotlk era and I did this quest 5-10 times. The head never failed to drop for me.

I can vouch that it should be a 100% party drop.

[2020-11-28 15:25] FrancescoBorzi commented on #3788
thanks @Knindzagxg @JamesGent for your feedback.

@PivanDepolo please test my fix: https://github.com/azerothcore/azerothcore-wotlk/pull/3796

[2020-11-28 16:24] JamesGent commented on #1393
Confirmed that the NPCs are dummies normally just standing around.

Can also confirm as Poszer says that adding these quests and clicking I'm ready to join your forces in battle causes a HUGE battle between the NPCs and demons.

![Desktop 28-11-2020 16-21-11-898](https://user-images.githubusercontent.com/61194190/100520494-de09bb80-3195-11eb-9f60-4251ee3d2753.png)

[2020-11-28 16:44] JamesGent commented on #1746
Wowwiki says

"This spell is cast by K'iru once all objectives as part of the Shattered Sun Offensive storyline are completed. This buff functions everywhere on the Isle of Quel'Danas and inside Magisters' Terrace. Unlike other zone buffs such as Rallying Cry of the Dragonslayer this is permanent as long as K'iru is active. "

Completion

Once all objectives on the Isle have been completed, and an

[2020-11-28 16:45] JamesGent commented on #1746
If someone wants to test this again after completing all the dailies (likely 10,000+) and finishing the entire questline feel free to create a new issue. We could also handwave the requirements if we want to step away from blizzlike(?)

[2020-11-28 16:45] #1746 closed

[2020-11-28 16:49] JamesGent commented on #1685
Can confirm no head after quest completion nor buff.

![Desktop 28-11-2020 16-48-39-879](https://user-images.githubusercontent.com/61194190/100521127-a735a480-3199-11eb-9d44-f0ad7fc19465.png)

[2020-11-28 16:53] JamesGent commented on #1534
![Desktop 28-11-2020 16-51-05-728](https://user-images.githubusercontent.com/61194190/100521165-ee239a00-3199-11eb-8a12-842281455849.png)

Can confirm cheat god sometimes still takes damage and goes to 1 but never dies.

[2020-11-28 16:56] JamesGent commented on #1666
Can confirm this is still a thing.

![Desktop 28-11-2020 16-55-55-29](https://user-images.githubusercontent.com/61194190/100521287-98032680-319a-11eb-9ede-45b4d5e53986.png)

[2020-11-28 17:01] JamesGent commented on #1531
Libram swapping is apparently a thing but I can't confirm whether or not it is supposed to work in the way written above.

I can confirm it doesn't work as written above. Here's some reading materials that discuss libram switching.

https://www.wowhead.com/forums&topic=114916

http://forum.warmane.com/showthread.php?t=320438

https://www.wowhead.com/item=50455/libram-of-three-truths

[2020-11-28 17:04] JamesGent commented on #1588
Unclaimed bounty available here for anyone who wants to fix this. Lots of TC reading material available to help someone fix this.

[2020-11-28 17:10] JamesGent commented on #1430
Can confirm still a thing.

![Desktop 28-11-2020 17-09-31-722](https://user-images.githubusercontent.com/61194190/100521580-7dca4800-319c-11eb-8197-83fccec0043b.png)

[2020-11-28 17:17] JamesGent commented on #1774
Can confirm fire does no damage and Magmus is silent. Flames do flood the floor now but still no dmg.

![Desktop 28-11-2020 17-15-33-917](https://user-images.githubusercontent.com/61194190/100521750-56c04600-319d-11eb-95b0-12c68724cb3e.png)

[2020-11-28 17:18] JamesGent commented on #1569
Can confirm still bugged.

[2020-11-28 19:18] FrancescoBorzi commented on #1588
added 15$ more to the bounty, so it's currently 20$ in total

[2020-11-28 19:28] FrancescoBorzi commented on #3181
closing as this hasn't been confirmed. If it will be confirmed, it can be reopened.

[2020-11-28 19:28] #3181 closed

[2020-11-28 19:29] FrancescoBorzi commented on #3183
closing as this hasn't been confirmed. If it will be confirmed, it can be reopened.

[2020-11-28 19:29] #3183 closed

[2020-11-28 19:32] Voxstrasza commented on #3183
here's a video from 2009

https://www.youtube.com/watch?v=7F86rdQRiBs&ab_channel=WoWAholics101

[2020-11-28 20:56] Voxstrasza commented on #3788
as @JamesGent says, this is in fact an 100% drop.  I spent a lot of time farming that reputation.

[2020-11-28 21:09] BarbzYHOOL commented on #1882
note: it's a small cleanup of confusing data in the db, i have other things like that in mind (like obsolete entries etc)

[2020-11-28 21:36] #3633 closed

[2020-11-29 01:14] aradep commented on #2748
Fixed in https://github.com/azerothcore/azerothcore-wotlk/pull/2802
[Potential duping method](https://github.com/azerothcore/azerothcore-wotlk/issues/2748#issuecomment-662420060) mentioned by Wowkasu [not possible on AC.](https://www.youtube.com/watch?v=zv4Mhx6LqX4)

[2020-11-29 01:14] #2748 closed

[2020-11-29 01:30] aradep commented on #2695
Unable to reproduce on latest master.
Potentially fixed by https://github.com/azerothcore/azerothcore-wotlk/pull/3223 and/or https://github.com/azerothcore/azerothcore-wotlk/pull/3223.

[2020-11-29 01:30] #2695 closed

[2020-11-29 04:05] aradep commented on #2720
<details><summary>Can't reproduce these on latest master with latest 1v1 arena module. Seems to be fixed</summary>

- [x]  When the arena charter is ready to be returned to the NPC, it is not showing details when hovering the mouse on it
- [x]  You can't return the arena charter and create the arena team unless you log out, or move the arena charter from 1 slot to another in your bags.
- [x]  The

[2020-11-29 06:27] aradep commented on #2800
This is related to the changes made in #2686. According to the feedback in the PR, as well as [my own testing](https://www.youtube.com/watch?v=yNbTu4CVXNY) and the fact that no other issues have been made about it since, I'm going to say it's in an acceptable state and close this.

[2020-11-29 06:27] #2800 closed

[2020-11-29 08:22] aradep commented on #2792
Confirmed on cfc5cf3

![image](https://user-images.githubusercontent.com/61268368/100536943-720d6e80-31fa-11eb-8398-7d4ee6626de2.png)

[2020-11-29 08:43] aradep commented on #2803
Unable to reproduce on latest master. Looks like a problem with macros and not something core-related.

@kuramajssken001 Are you still experiencing this issue?

[2020-11-29 10:23] FrancescoBorzi commented on #2803
closing, we can reopen it if we are able to reproduce the issue

[2020-11-29 10:23] #2803 closed

[2020-11-29 10:46] forever2019 opened #3806 "Black Wing nest error"
At present, there are many problems in the nest of black wings. When will it be repaired?

[2020-11-29 11:01] LukasVolgger commented on #3806
Hallo @forever2019 , please fill the issue template and more detailed information about your issue.

[2020-11-29 11:02] #3791 closed

[2020-11-29 13:33] grimgravy commented on #3774
@Maurowin, in the database still exists these pvp season.

[2020-11-29 20:12] Hacaw commented on #3783
Conclusion
---
**_TLDR_**: Tested, reproduced, tried couple of solutions, but didn't work, tagged some people that might share some insights on this, since I am not that experienced with the API.

I already did some investigation on this ticket, but I still think some more experienced devs could contribute to this.

Code Analysis
---

I have reproduced this issue successfully from the commit: 885f

[2020-11-30 02:27] forever2019 commented on #3806
The problem is very clear here  #3042

[2020-11-30 02:31] #3806 closed

[2020-11-30 11:18] FrancescoBorzi commented on #3783
@Hacaw thanks for your feedback!

yes, it should. There are a lot of things in AzerothCore current design that should have been done differently, but we inherited a lot of legacy code from older mangos/trinitycore projects and changing it is not always easy.

as far as I know, unfortunately, there isn't any

[2020-11-30 15:17] FrancescoBorzi commented on #1927
this issue has been resolved by @locus313  and can now be closed 🎉

[2020-11-30 15:17] #1927 closed

[2020-11-30 16:40] #718 closed

[2020-11-30 16:42] #2212 closed

[2020-11-30 17:04] Hacaw commented on #3770
Tested and reproduced on commit: https://github.com/azerothcore/azerothcore-wotlk/commit/885f45c63c10c96d8a955cf5c659e91acf325a92

@CyberFoxHax I think there is also the issue that Bessy is using the text used by the farmer even when you finish the quest.

We need to update the text used by the farmer and the cow in the database. I will take a closer look on the solution and will try to provide a

[2020-11-30 18:03] Maurowin commented on #3781
@Voxstrasza Issue updated

[2020-11-30 21:22] peti446 commented on #1052
Just as a small update, trinitystring is not the name anymore as it is now acore_string.

[2020-11-30 21:44] peti446 commented on #1116
Still and issue with AC commit: https://github.com/azerothcore/azerothcore-wotlk/commit/003fa8773144dede989e67448bd2ffdee5222d36

When you unlearn a profession while talking to a trainer the low level will update as if you had the profession but you cannot buy any of the recipes because of the required level. More of a visual bug then anything.
Proof:
![image](https://user-images.githubusercontent

[2020-12-01 09:02] CyberFoxHax opened #3818 "[Area] Kirin'var Village in Netherstorm. Collisions Mess. Quest items inaccessible."
![image](https://user-images.githubusercontent.com/7734690/100718614-81590b80-33f6-11eb-8fdb-084c9964889f.png)
![image](https://user-images.githubusercontent.com/7734690/100718649-8ae27380-33f6-11eb-849d-c8c3ec8bdc19.png)

There are a few quest items that and bosses in the houses that you can't access because the doors are blocked. Almost all houses have this issue. I managed to complete the quest

[2020-12-01 10:10] LukasVolgger commented on #3818
Hello @CyberFoxHax.

Could you please add more information about which quests it depends? So it's hard to reproduce.

Note: I did every quest in this area and noticed no bug as you describe.

[2020-12-01 11:14] FrancescoBorzi commented on #1141
I've removed the bounty from here so we can open separate issues and assign the bounties on them accordingly.

Suggestions are welcome.

[2020-12-01 11:43] CyberFoxHax commented on #3818
https://wow.gamepedia.com/Destroy_Naberius! is one
there also another quest where you need to pick up books in the houses. Which i can't enter.

Just try to enter a few houses. If you have no problem i think it's just me. I don't know how the collision data looks, whether or not it's even part of AzerothCore.

[2020-12-01 12:18] LukasVolgger commented on #3818
Tested Quest 10320 https://www.wowhead.com/quest=10320/destroy-naberius and i cannot reproduce this issue.

I also entered every house in that zone without any problems.

Closing this as there is no issue.

[2020-12-01 12:18] #3818 closed

[2020-12-01 15:57] Si1ker commented on #948
This is still active is a concrete point of the vmap, where the mobs get under it, still active, PR linked to this issue seems to fix it and others as well.

[2020-12-01 15:58] FrancescoBorzi opened #3820 "Apply clang-tidy modernize-* checks"
[clang-tidy](https://clang.llvm.org/extra/clang-tidy/checks/list.html) is

Among all its [available checks](https://clang.llvm.org/extra/clang-tidy/checks/list.html), there is a collection of `modernize-*` checks that offer automated fixes. It would be nice to apply them to our codebase in order to make it more "modern" and resolve potential issues and warnings.

[This way](https://www.kdab.com/cl

[2020-12-01 16:02] LukasVolgger commented on #948
@Si1ker Show me a screenshot where this happen?! I tried to reproduce this issue many Times and all is fine...

[2020-12-01 16:11] FALL1N1 commented on #3733
If no one is interested I will open a branch the next few days to back port this.

[2020-12-01 16:58] #862 closed

[2020-12-01 16:58] #2688 closed

[2020-12-01 16:58] #2912 closed

[2020-12-01 16:58] #948 closed

[2020-12-01 16:58] #2124 closed

[2020-12-01 19:09] pangolp commented on #3078
@wackinwallaby Thank you for the report. I will check if the error continues or if it was already repaired.

[2020-12-01 19:20] peti446 commented on #1111
Not happening anymore. Tested on fine https://github.com/azerothcore/azerothcore-wotlk/commit/003fa8773144dede989e67448bd2ffdee5222d36

[2020-12-01 19:20] #1111 closed

[2020-12-01 19:27] peti446 commented on #1159
Still an issue, here is some references:
https://www.youtube.com/watch?v=Nn_fDNtOKUw
https://www.youtube.com/watch?v=VYiVWn8qBcw

Tested on https://github.com/azerothcore/azerothcore-wotlk/commit/003fa8773144dede989e67448bd2ffdee5222d36

[2020-12-01 19:32] pangolp commented on #3078
`.go c 45885`. With that command, you can go to where the NPC is: **Bael'Gar**. Apparently, the dwarves that are in the area, do not perform any kind of patrol. It would be good to have official information about which road they should recognize, in order to try to repair it. There are a few NPCs that do a small patrol, near their point of birth.

![WoWScrnShot_120120_162929](https://user-images.g

[2020-12-01 19:42] peti446 commented on #855
Was able to use the spell correctly and it still completed the quest.

![image](https://user-images.githubusercontent.com/4162295/100788640-43b3ad00-340d-11eb-9cb5-318c48b7e838.png)

Tested on https://github.com/azerothcore/azerothcore-wotlk/commit/003fa8773144dede989e67448bd2ffdee5222d36

[2020-12-01 19:42] #855 closed

[2020-12-01 19:43] pangolp commented on #3079
@wackinwallaby Hello, good afternoon. Thanks for the report. Apologies in advance for the delay. I'm trying to find the area you mentioned, but I can't find it. Could you please provide me with the coordinates? So that I can check if the error persists or if it has already been repaired.

[2020-12-01 19:50] FrancescoBorzi commented on #3733
@FALL1N1 please do

[2020-12-01 19:50] pangolp commented on #3113
Hello, good afternoon. Reading the comments a little, it might be a good idea. But the problem is that I don't know what to do with the topic at the moment. Should I add the label that a developer is needed or should we keep it that way for the time being?

[2020-12-01 19:52] FrancescoBorzi commented on #3078
@pangolp what's the outcome of your tests? is this bug confirmed? if yes, please add the [Confirmed] label

[2020-12-01 19:53] FrancescoBorzi commented on #3113
@pangolp I think this is still valid, so no action required from your side. Thanks for checking!

[2020-12-01 19:59] pangolp commented on #3114
Is it possible to just delete the cache of the developer, or rather, who uses the command? Because it is true that it would be annoying, if you are updating a lot of text, to have to exit, delete cache and re-enter every time you make 1 or more changes. Anyway, the idea of the message, I do not think bad. I think there are other commands, which delete the cache, but only from whoever executes the

[2020-12-01 20:04] pangolp commented on #3078
@FrancescoBorzi In order to know if it is confirmed or not, I need more information. If it is true that the npc do not make any tour, but we need information, where it says that they should do it. That's why, I want to wait to get that information.

[2020-12-01 20:50] 55Honey opened #3831 "[Ulduar] [Hodir] Spells incorrectly ignoring resist"
CURRENT BEHAVIOUR:
During the Hodir encounter in Ulduar it is not possible to resist any incoming Frost damage from falling Icicles and Freeze.
(Not sure about spell ids for both)

EXPECTED BLIZZLIKE BEHAVIOUR:
Frost resistance should allow for both spells to be (partly)resisted.

STEPS TO REPRODUCE THE PROBLEM:
- Take a toon to Ulduar in GM mode
- Wear frost resistance:
.additem 43583
.additem 43

[2020-12-01 21:10] 55Honey commented on #3831
I assume the relevant file for this encounter is src/server/scripts/Northrend/Ulduar/Ulduar/boss_hodir.cpp
According to it, there are [Icicle (small)](https://wotlkdb.com/?spell=62457) and [Icicle (larg)](https://wotlkdb.com/?spell=65370) for the damage/knockback part of Icicle.
Also, ive found [Freeze](https://wotlkdb.com/?spell=62469) in that file.

[2020-12-02 01:04] FrancescoBorzi commented on #3820
@azerothcore/developers @azerothcore/testers  I'm finally done with this. I need reviewers/testers for all the linked PRs, which you can find here:

https://github.com/azerothcore/azerothcore-wotlk/pulls?q=is%3Apr+is%3Aopen+refactor%28Core%29%3A+apply+clang-tidy+modernize

[2020-12-02 08:45] Maurowin commented on #3774
@grimgravy it disable stuffs of next season ?

[2020-12-02 10:33] FrancescoBorzi commented on #3774
as this is a duplicate of https://github.com/azerothcore/forum/issues/124

let's keep discussing it there

[2020-12-02 10:33] #3774 closed

[2020-12-02 18:15] pangolp commented on #3162
Thank you for the report @TheWatchingI. Reviewing the records, I got this information. The only problem, is that if we don't have information of the official values that they should have, it would be difficult to corroborate if the information is correct or not. I leave you some values from other emulators, although I don't think it will help you much.

AzerothCore
![AzerothCore](https://user-imag

[2020-12-02 18:36] FrancescoBorzi commented on #3162
@pangolp nice, good idea to compare with other databases!

[2020-12-02 22:39] PerryCS commented on #3741
I finally had time to update and test the newer changes.  The problem has been fixed.  BTW - I had to delete my entire azerothcore directory and start from scratch to get around those build errors I was experiencing.  I updated the database (option 7) so this is the first time I have ever updated and not reinstalled from scratch ... not as easy as it could be I'm sure, but, at least it worked, and

[2020-12-02 23:01] Helias commented on #3741
Everything you will do or report will be appreciated, this is a learning project so take this occasion to learn more about Ubuntu and AzerothCore, don't worry :wink:
Join our community on Discord if you didn't yet. https://discord.gg/wAYXfcmb

[2020-12-03 00:19] Voxstrasza commented on #1779
Confirmed, still a problem as of `221f33b5b7af`

[2020-12-03 00:21] Voxstrasza commented on #1888
Still an issue as of  `221f33b5b7af`

[2020-12-03 00:24] Voxstrasza commented on #1878
Still an issue as of `221f33b5b7af`

[2020-12-03 12:33] #3631 closed

[2020-12-03 18:46] 55Honey commented on #3779
https://cdn.discordapp.com/attachments/717079797280538695/784127805293068298/2020-12-03_19-40-56.mkv

Tested it with a staff again. Still works. Sorry for confusing it with a fishing pole, its been a while :-)

[2020-12-04 05:55] Algorak commented on #3713
none?

[2020-12-04 13:30] Hacaw commented on #3740
How should we handle this ? Let them cast through walls, or make them move faster to get out of LOS ?

[2020-12-04 14:04] skxawng-cu opened #3846 "Feature: Create a script (db_assembler.bat or db_assembler.exe) for windows systems."
**Describe your feature request or suggestion in detail**

Create a script to assemble the AzerothCore database in windows builds.

**Describe a possible solution to your Feature or Suggestion in detail**

The script may be a batch file .bat or a binary file .exe that scan the data/ folder and assemble the specific .sql files.

**Additional context**

[2020-12-04 14:07] FrancescoBorzi commented on #3713
@azerothcore/testers

[2020-12-04 14:11] FrancescoBorzi commented on #3846
@skxawng-cu the DB assembler already supports Windows, you just have to use it with [git bash](https://gitforwindows.org/).

https://www.azerothcore.org/wiki/Database-Setup

[2020-12-04 14:11] #3846 closed

[2020-12-04 14:12] skxawng-cu commented on #3846
@FrancescoBorzi thanks, I tested and works fine with git bash.

[2020-12-04 15:49] #644 closed

[2020-12-04 17:35] Hacaw commented on #3772
I can confirm this is still an issue, and probably should be considered an almost game breaking issue, since some minor glyphs are chosen for both specs, and it's probably applicable to all classes.

I have created an warrior level 80, learn dual-spec from trainer.

![image](https://user-images.githubusercontent.com/6963500/101195201-be780480-3667-11eb-9daf-acb95e4140ac.png)
![image](https://user-

[2020-12-04 20:15] aradep commented on #2728
Should be fixed after https://github.com/azerothcore/azerothcore-wotlk/pull/3744

[2020-12-04 22:46] aradep commented on #2687
Confirmed on 2a17125. Listed the missing spells below.

<details><summary>Death Knight</summary>

Path of Frost
Rune of Spellbreaking
Rune of Spellshattering
Rune of Lichbane
Rune of Swordbreaking
Rune of Swordshattering
Rune of the Fallen Crusader
Rune of the Nerubian Carapace
Rune of the Stoneskin Gargoyle
</details>
<details><summary>Druid</summary>

Track Humanoids
Feline Grace
Savage Defense

[2020-12-04 23:24] aradep commented on #2719
Pack linking issue confirmed on 2a17125. Couldn't find any stacked worgs, unless @Maurowin is refering to the lack of mob fanning.

[2020-12-04 23:34] aradep commented on #2610
Confirmed on 2a17125.

[2020-12-05 00:12] aradep commented on #2611
Unable to reproduce on 2a17125

___

Seems to be blizzlike https://youtu.be/tVjXhFmzeho?t=142
___

Confirmed. The damage is a bit high compared to videos of retail, but not unwinnable.

[2020-12-05 00:37] aradep commented on #2613
Unable to reproduce on 2a17125.  #2788 did indeed fix it.

[2020-12-05 00:37] #2613 closed

[2020-12-05 00:56] aradep commented on #2612
Confirmed on 2a17125

[2020-12-05 01:29] aradep commented on #2667
Unable to reproduce on 2a17125

[2020-12-05 01:29] #2667 closed

[2020-12-05 01:41] aradep commented on #2693
- [x] Frostbrood Sentry's Bitter Blast is [blizzlike](https://youtu.be/Ijpg8a2X-gc?t=201)

- [x] Ahunite Coldwave casts Bitter Blast and damage is accurate.

[2020-12-05 01:41] #2693 closed

[2020-12-05 12:29] #3438 closed

[2020-12-05 12:52] gengarshadowball commented on #3831
A spellfix needs to be applied to each spell just like [this mimiron spell](https://github.com/azerothcore/azerothcore-wotlk/blob/224a3308e693fe10f86aff20e9ec8760ec39638f/src/server/game/Spells/SpellMgr.cpp#L5192). We must remove the bits that make the spell ignore resistances like that mimiron spell fix.

[2020-12-05 15:25] 55Honey opened #3848 "[Deathknight]"
CURRENT BEHAVIOUR:
After completing [The Light of Dawn](https://wotlkdb.com/?quest=12801) and waiting for a while, the player leaves the phase which contains the [quest giver](https://wotlkdb.com/?npc=29173) for the follow up quest [Taking Back Acherus](https://wotlkdb.com/?quest=13165).
The only Highlord Darion Mograine available to the player at that time was the one on the lower level of Acheru

[2020-12-05 20:16] gengarshadowball commented on #3831
I confirm the issue on AzerothCore rev. 6872a3424489
![image](https://user-images.githubusercontent.com/60325009/101262437-ad49f900-3736-11eb-9f04-f6ff73a008ed.png)

[2020-12-06 01:12] ghost opened #3850 "Battered Hilt Questline: Tempering the Blade"
##### CURRENT BEHAVIOUR:

It's not possible to temper the blade since when you click it nothing happens.

![image](https://user-images.githubusercontent.com/60325009/101268810-910e8200-375f-11eb-9190-cbdf96904540.png)

##### EXPECTED BLIZZLIKE BEHAVIOUR:

https://www.youtube.com/watch?v=ynwZseSrbK8&ab_channel=TheForgeNetworkHQ

##### STEPS TO REPRODUCE THE PROBLEM:

1. .gm on
1. .go 201736
3. q a

[2020-12-06 01:30] ghost opened #3851 "Battered Hilt Questline: Thalorien Dawnseeker"
##### CURRENT BEHAVIOUR:

Not only the body was missing, but after quest complete there's no text.

![image](https://user-images.githubusercontent.com/60325009/101269038-f19ebe80-3761-11eb-8fd2-ab83f64b3a6a.png)

##### EXPECTED BLIZZLIKE BEHAVIOUR:

##### STEPS TO REPRODUCE THE PROBLEM:

1. .q a 24535 (Alliance)
2. .tele sunwell
3. .Try to find the body in the dead scar
4. You didn't find the body

[2020-12-06 08:21] LukasVolgger commented on #3850
This is not an issue, u have to use the blade when the Boss is alive.

[2020-12-06 08:22] LukasVolgger commented on #3850
If you use the blade when the Boss is alive it's working

[2020-12-06 08:25] LukasVolgger commented on #3851
Working on it 👍🏻

[2020-12-06 13:09] betayi opened #3854 "[Raid] [BattleForMountHyjal] Boss's spell should not be interrupt"
[Raid] [BattleForMountHyjal] Boss's spell should not be interrupt

##### CURRENT BEHAVIOUR:
All Boss of BattleForMountHyjal can be interrupt while cast spell!

##### EXPECTED BLIZZLIKE BEHAVIOUR:
boss should immue with interrupt

##### STEPS TO REPRODUCE THE PROBLEM:

1.
2.
3.

##### EXTRA NOTES:

cause the record of creature_template field mechanic_immune_mask was unflaged with MECHANIC_INTERRUPT

[2020-12-06 13:33] 55Honey commented on #3727
I'm a total beginner in anything but lua, trying to understand the C++ code in the [Razorscale bossscript](https://github.com/azerothcore/azerothcore-wotlk/blob/master/src/server/scripts/Northrend/Ulduar/Ulduar/boss_razorscale.cpp). The code below starts in [line 381](https://github.com/azerothcore/azerothcore-wotlk/blob/6872a3424489ed9af2800586e194d6540af18281/src/server/scripts/Northrend/Ulduar/

[2020-12-06 14:42] boom8866 opened #3855 "(Pathfinding): There are some strange problems"
<The creature is in the underground city, and the player can get rid of the battle by adjusting the Z coordinate>

Please reopen this question, there is a problem with the update, which leads to an error in the judgment of mmasp

<I think you don't need too much description. You can follow the coordinates I provided and then cause a battle. In Stone, the creatures will get rid of the battle. The p

[2020-12-06 14:48] FrancescoBorzi commented on #3855
@FALL1N1 please have a look at this

[2020-12-06 16:21] Voxstrasza commented on #1782
@FrancescoBorzi I don't have the means to test this as I don't have a public server anymore, but back in Feburary-March 2020 this did happen a few times.

[2020-12-06 16:26] Voxstrasza commented on #1892
Still an issue as of `9facd81e54ac`

[2020-12-06 16:35] Voxstrasza commented on #1920
Confirmed as of `9facd81e54ac`

The fix in the OP might work but it's not catered to the AC database structure

[2020-12-06 16:45] Voxstrasza commented on #1999
Confirmed as of `9facd81e54ac`

[2020-12-06 16:48] Voxstrasza commented on #1956
All of these are still an issue as of `9facd81e54ac`

@GMKyle Are you still working on this?  Are you done?  Please share the fix so we can close this! :)

[2020-12-06 16:54] Voxstrasza commented on #1874
If I understand the issue, the issue has been fixed.  The spider boss summons Spiderlings, the spider mobs summon more Spiderlings, and the room is populated.

Closing this issue.

[2020-12-06 16:54] #1874 closed

[2020-12-06 16:55] Voxstrasza commented on #1961
Still an issue as of `9facd81e54ac`

[2020-12-06 16:56] Voxstrasza commented on #1982
Confirmed as of `9facd81e54ac`

[2020-12-06 17:01] Voxstrasza commented on #1855
@Knindzagxg Can you provide more info?  I'm not sure how to reproduce this bug.

[2020-12-06 17:05] FALL1N1 commented on #3855
Can you upload a video of it, because I'm currently without a suitable PC to test it with? @boom8866

[2020-12-06 17:08] 55Honey opened #3856 "[Summoning Portal] [Spell] Using a summoning portal costs mana"
##### CURRENT BEHAVIOUR:
Using a summoning portal created by [Ritual of Summoning](https://wotlkdb.com/?spell=698) often costs mana. A level 80 warlock with less than ~460 mana can not use the Summoning Portal to summon another player.
![image](https://user-images.githubusercontent.com/71938210/101286845-168c4380-37ed-11eb-9a94-81a7fbca721f.png)

##### EXPECTED BLIZZLIKE BEHAVIOUR:
The creation of

[2020-12-06 17:11] Voxstrasza commented on #1806
Confirmed, still an issue as of `9facd81e54ac`

[2020-12-06 17:24] boom8866 commented on #3855
@FALL1N1  https://www.youtube.com/watch?v=qTbLc2Vg-yU&feature=youtu.be

[2020-12-06 17:39] FALL1N1 commented on #3855
I'll log retail later to check how it behaves there, than kyou.

[2020-12-07 00:27] aradep commented on #3856
<details><summary>Found this, for anyone looking into it. Maybe related</summary>

```src/server/game/Entities/GameObject.cpp```
![image](https://user-images.githubusercontent.com/61268368/101297471-928f8700-37ff-11eb-8bb3-823495e2c463.png)
</details>
Spell 61993 has a 12% base mana cost, which explains why the warrior and lvl 1 priest aren't affected.

[2020-12-07 00:41] FALL1N1 commented on #3855
Couldn't reproduce it, although as far as I can see from your video - you are jumping from the edge to the rock, which means that the creature cannot find a proper path (which in my opinion is normal, creatures in WoTLK cannot jump), so it goes to the closest point available then enters evade mode for a couple of seconds.

Dunno how it was handled in 3.3.5, so I am open for any suggestions, someon

[2020-12-07 03:46] Crazy-Mathematical opened #3857 "Part of the elwynn forest missions translated into spanish."
[code]

`insert into `quest_offer_reward_locale` (`ID`, `locale`, `RewardText`, `VerifiedBuild`) values('783','esES','Ah, bien. Otro voluntario. Estamos recibiendo muchos de ustedes estos días.$B$BEspero que sean suficientes.$B$BLas tierras humanas están siendo amenazadas desde fuera, y muchas de nuestras fuerzas han sido preparadas en el extranjero. Esto, a su vez, deja espacio para que los grupo

[2020-12-07 03:47] #3857 closed

[2020-12-07 04:29] boom8866 commented on #3855
@FALL1N1  Ok, I don't know how you can't restore my operation, but the operation should not happen in the underground city, and you must kill the creature to get rid of the battle, and even if the creature has no path, it should try for some time before giving up the attack to avoid the player from getting stuck in the BUG, but now the battle is too fast, and the creature has no waiting time at al

[2020-12-07 08:48] FALL1N1 commented on #3855
The evade timer is set to 5s by default, ita the same in TC so I guess its sniff value. You can increase it to your likings.

[2020-12-07 10:23] boom8866 commented on #3855
This modification is useless, I have tested it

[2020-12-07 10:49] FALL1N1 commented on #3855
What exactly did you test and how it is useless, please provide more information so I can work on a fix if necessary.

[2020-12-07 13:07] boom8866 commented on #3855
@FALL1N1 constexpr uint32 DEF_CANNOT_REACH = 5 * IN_MILLISECONDS;

This modification is useless, I have tried it, and the creature is still out of combat soon

The effect is just like in my video, you will see the prompt of getting out of combat/getting into combat and switching all the time

[2020-12-07 13:14] boom8866 commented on #3855
Blizzard's way should be that players can move from low Z coordinates to high Z coordinates, and creatures can certainly keep up with the path movement. If they encounter cliffs or unreachable positions, creatures should wait 5-10S to give up their goals

[2020-12-07 13:43] FALL1N1 commented on #3855
You can test that by standing on that rock and typing ".mmap path" with .gm on enabled, if there are wisps around you, then there's a path for the NPC. If there aren't - the NPC will keep on evading each time you attack it until you go to a reachable position (e.g off that rock).

The "DEF_CANNOT_REACH" variable stands for the "Evade time when unreachable", so the moment you are unreachable - the

[2020-12-07 15:04] Knindzagxg commented on #3855
@boom8866

Have you found any other location where this happens as well?

[2020-12-07 15:33] Knindzagxg commented on #3855
@FALL1N1

Found only 2 smaller issues.
* If you check video from boom (Between 21-24sec youll see NPC targeting him again, which should not happen)
* Timer for evade should be fixed - Think that's the prob for quick evade. (PM me on Disc for videos)

```constexpr uint32 DEF_CANNOT_REACH = 5 * IN_MILLISECONDS; // this is when creatures are in los / no path to the target, 5s wait time then they retu

[2020-12-07 15:37] boom8866 commented on #3855
@Knindzagxg Depending on some places with complex terrain, such problems can occur anywhere

[2020-12-07 15:38] Knindzagxg commented on #3855
Only evade timer is problem, but it's not big one.
Fall should be able to sort it pretty quick xP

[2020-12-07 15:52] FALL1N1 commented on #3855
So it's the evade timer, thank you, I will fix it as soon as I can. This issue can be assigned to me as well if necessary /so I don't forget/, I still bookmarked it tho.

[2020-12-07 15:56] boom8866 commented on #3855
@FALL1N1  Thank you

[2020-12-07 17:36] FrancescoBorzi commented on #3855
thanks @boom8866 for reporting this and @Knindzagxg to bring more clarity in it

[2020-12-07 19:13] Hacaw commented on #3544
I cannot confirm this issue reproduces on the way you described, but there is definitely an issue, since this is a 80 item trinket it would be cool to have it fixed since it's one of the best tank trinkets.

TESTING
---
I created 2 characters and put them to duel.
Once the trinket activated, I did a .damage 5000 to see if everything was absorbed and it was not absorbed 100%.
I haven't found anywhe

[2020-12-07 19:40] Hacaw commented on #2884
I **cannot** reproduce this issue, you can close this (but I found 1 minor issue).

TESTING
---
.q add 9410
Go to the quest location.
Summon wolf, he does both the emotes.
He starts to run and you have to follow him.

It behaves like here: https://www.youtube.com/watch?v=4BGlnjGieUk

Minor-issue: Since I am using the warmane client, and I am still a novice when it comes to extract dbc files from A

[2020-12-07 20:20] FrancescoBorzi commented on #3544
@Hacaw thanks for checking this. Do you think it's somewhat related with the original issue or maybe this deserves a separate repo?

[2020-12-07 20:29] Hacaw commented on #3544
I'd say let's continue investigating here the issue, but update the description of it (current/expected) behavior and strikethrough the old one, since something is fishy.

Also, maybe someone more experienced whom should know or provide the real expected behavior of the item would want to share his opinion.

My opinion is that this item should behave like gossamer.

[2020-12-07 20:30] 55Honey opened #3859 "[Shaman] [Talent] Elemental Focus"
CURRENT BEHAVIOUR:
[Elemental Focus](https://wotlkdb.com/?spell=16164) can proc from healing spells like [Riptide](https://wotlkdb.com/?spell=16246) and [Lesser Healing Wave](https://wotlkdb.com/?spell=49276).

EXPECTED BLIZZLIKE BEHAVIOUR:
The talent description of [Elemental Focus](https://wotlkdb.com/?spell=16164) clearly states that it is meant to be procced from Fire-, Frost- or Nature **dama

[2020-12-07 20:31] Visionre opened #3882 "[FEATURE] learn recipes command with charname"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
A player addition to the .learn all recipes XY commands
E.g.: .learn all recipes Admin Enchanting

**Additional context**
At the moment you have to select the player.

[2020-12-07 20:50] #1261 closed

[2020-12-07 21:34] 55Honey opened #3860 "[Paladin] [Talent] Divinity does not stack with Heal-increasing buffs"
CURRENT BEHAVIOUR:
[Divinity](https://wotlkdb.com/?spell=63650) does not stack with [Improved Devotion Aura](https://wotlkdb.com/?spell=20140) as well as [Tree of Life](https://wotlkdb.com/?spell=33891)-aura.

EXPECTED BLIZZLIKE BEHAVIOUR:
Divinity should not share stacks with these two.

STEPS TO REPRODUCE THE PROBLEM:
Create a new paladin.
.level 79
.learn all my spells
Spec 5/5 divinity and spa

[2020-12-07 22:27] #2884 closed

[2020-12-07 22:28] FrancescoBorzi commented on #2884
thanks @Hacaw !

[2020-12-08 13:45] Hacaw commented on #3778
I can confirm this issue.

TESTING
---
I can reproduce this issue only when exiting the raid.
While entering the raid the vendors are still mounted with the player.

SPEC
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10+Docker
MODULES / CUSTOMIZATION: None

[2020-12-08 13:59] Hacaw commented on #3657
I can confirm this issue.
+ This video has better quality: https://www.wowhead.com/quest=12555/a-tangled-skein#videos:id=76252
+ The tower should drop after killing it.

TESTING
---
Used the commands provided.

SPEC
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10+Docker
MODULES / CUSTOMIZATION: None

[2020-12-08 14:57] Helias commented on #3657
Thanks for the test :+1:

[2020-12-08 16:09] Hacaw commented on #2173
@FrancescoBorzi maybe we should close or update the issues that have no commit-id.

I can not reproduce this issue.

TESTING
---
Created a party of 4 characters, 1 being a shaman.
On shaman I ran the followings:
.character level 80
.learn 3738
.additem 5178
Cast totem of wrath.
Wait 5 minutes, and check permanently the party status.
Everyone kept their Totem of wrath buff.

SPEC
---
COMMIT: 1b156e

[2020-12-08 16:21] FrancescoBorzi commented on #2173
@Hacaw thank you!

[2020-12-08 16:21] #2173 closed

[2020-12-08 17:33] Hacaw commented on #2168
I **can not** reproduce this issue.

![image](https://user-images.githubusercontent.com/6963500/101519644-1bd3c480-398c-11eb-86d8-8e4dd274f2e6.png)
![image](https://user-images.githubusercontent.com/6963500/101519758-3c9c1a00-398c-11eb-888c-cc182e06b1f9.png)

TESTING
---
Used testing steps mentioned by author.
@andoys it would be nice if you can provide some teleport gm command to get there faster

[2020-12-08 17:46] 55Honey opened #3865 "[Shaman] [Talent] Blessing of the Eternals"
CURRENT BEHAVIOUR:
[Blessing of the Eternals](https://wotlkdb.com/?spell=51555) does not award the 80% increase in chance to apply Earthliving on targets below 35%hp. It feels like it was 20% total still.

EXPECTED BLIZZLIKE BEHAVIOUR:
With 20% baseline chance and an 80% increase it should be a 100% proc.

STEPS TO REPRODUCE THE PROBLEM:
- Create a Shaman and a second toon.
- both toons: .level 79

[2020-12-08 17:50] #2168 closed

[2020-12-08 17:57] abebeos opened #3866 "[PROJECT] Clarify and Document Bounty-Process"
(This is a bit "off", you should rephrase this, because you risk that capable people will just go away.)

-

## Current Status

* People start working on bounties, without making an entry in bountysource.
* People stop working without notice when they continue (blocking this way other workers)
* Generally unclear process

## Expected

* Provide a document which clarifies compact(!) and concise(!)

[2020-12-08 18:01] Hacaw commented on #1079
I **can not** reproduce this issue as described.

I think someone already lowered the number of adds.

TESTING
---
#Scenario-1 (RAID 10-N):
.die on Sartharion
22 mobs are spawned

#Scenario-2 (RAID 25-N):
.die on Sartharion
22 mobs are spawned

#Scenario-3 (RAID 10-N)
.damage until Sartharion is at 90% hp
22 mobs are spawned

SPEC
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10+Docker
MODULES / CUSTO

[2020-12-08 18:05] Maurowin commented on #3854
Please provide Hash commit pls

btw i confirm

[2020-12-08 18:17] abebeos commented on #3451
@FrancescoBorzi , could you update the checkboxes?

- [x] Method_Request - #3459
- [ ] Stack_Trace

[2020-12-08 18:21] abebeos commented on #3451
And additionally, if possible, order the list by expected difficulty (easy first) ?

[2020-12-08 18:35] Hacaw commented on #2428
I **can not** reproduce this issue.

TESTING
---
The author is making a confusion between quests, in the expected-behavior of the issue is referring to the quest: https://www.wowhead.com/quest=12237/flight-of-the-wintergarde-defender#videos:id=86320, while in the title/small-description is referring to another quest which works fine.

For

You don't need to hop on the gryphons that are already spa

[2020-12-08 18:46] Hacaw commented on #2536
@FrancescoBorzi I see no errors in my current working version: https://github.com/azerothcore/azerothcore-wotlk/commit/1b156ef7ebb77b60f630f3951884ec2c07009c29

Are there any reproduction steps, triggering some events or killing some monsters ?

[2020-12-08 18:51] Hacaw commented on #2582
My proposal for this issue is to make the localization as a module and support in the core only the English version.

[2020-12-08 19:02] Hacaw commented on #2605
I can reproduce this issue.
You can spam Explode Ghoul for 5 minutes with 1 sec GCD. You should be able to do it once as specified here: https://wotlkdb.com/?spell=47496
I will try in a couple of days the solution proposed by @GMKyle.

TESTING
---
Used testing steps mentioned by author.
![image](https://user-images.githubusercontent.com/6963500/101528779-63f8e400-3998-11eb-9f40-f8171d6ee978.png)

[2020-12-08 19:12] Hacaw commented on #2608
I can reproduce this issue.

As for the 0:49 in this video: https://www.youtube.com/watch?v=585PbyJAxys peasant attacks while in my image they stay put.

![image](https://user-images.githubusercontent.com/6963500/101530051-11b8c280-399a-11eb-98e3-7e791164446b.png)

TESTING
---
Used testing steps mentioned by author.

SPEC
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10+Docker
MODULES / CUSTOMIZATION:

[2020-12-08 19:20] Hacaw commented on #2872
I can reproduce this, but it's not an issue.
Let's close it.

without .gm on
![image](https://user-images.githubusercontent.com/6963500/101530593-cce15b80-399a-11eb-94e4-8479570b202f.png)

with .gm on
![image](https://user-images.githubusercontent.com/6963500/101530630-d79bf080-399a-11eb-883e-d7d2c0b9dcfa.png)

TESTING
---
Used testing steps mentioned by author.

SPEC
---
COMMIT: 1b156ef7
OPERATIN

[2020-12-08 19:23] Hacaw commented on #3528
@FrancescoBorzi please update it with the correct labels, since a fix was already provided :D

[2020-12-08 19:33] Hacaw commented on #3478
I can reproduce this, but I don't think it's an issue.
Based on this video: https://www.youtube.com/watch?v=Vuz_l6uH1y4 the Palemane Tanner casts once and then goes melee.
Since there is no retail documentation provided, I would propose to close this.

TESTING
---
1. .go c id 2949
2. .go c id 2951
3. observe their behavior
4. like @Knindzagxg mentioned, they don't spam their quick-attack/wrath-spe

[2020-12-08 19:43] Hacaw commented on #3371
I cannot reproduce this issue.
I let the mobs attacking me for 5 minutes and they didn't get another buff.

TESTING
---
1. .go c id 18317
2. .die on the Etheral Priest
3. observe the near mobs

SPEC
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10+Docker
MODULES / CUSTOMIZATION: None

[2020-12-08 19:49] Hacaw commented on #3283
I can't reproduce any issue with this specific quest.
@PivanDepolo I don't understand the description.

TESTING
---
1. .go c id 28179
2. .q add 13226
3. it completes without issues

SPEC
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10+Docker
MODULES / CUSTOMIZATION: None

[2020-12-08 19:57] locus313 commented on #3371
Thanks @Hacaw. I will recheck this  on the latest commit to confirm I no longer see this issue.

[2020-12-08 19:59] Hacaw commented on #3204
@FrancescoBorzi please update the labels of this issue, since a solution is already provided.
@grimgravy can you please tell me which insert line or column value is fixing the progress of this quest ? I think I found a similar quest with the similar bug, and maybe the same fix could be applied.

I can reproduce this issue on my version.
![image](https://user-images.githubusercontent.com/6963500/10

[2020-12-08 20:08] Hacaw commented on #3850
Based on the first 2 comments https://www.wowhead.com/quest=24476/tempering-the-blade#comments you should be able to use the item after the boss is killed.

[2020-12-08 20:27] FALL1N1 commented on #3682
What happens if we need a custom column in that table for some reason, we have to redo the procedure?

Also, are there any benefits from this? e.g better performance..etc, or just cosmetic?

[2020-12-08 20:27] #3283 closed

[2020-12-08 20:28] LukasVolgger commented on #3478
Thx for checking this @Hacaw !

[2020-12-08 20:29] #3478 closed

[2020-12-08 20:32] LukasVolgger commented on #2872
The same happens with auctioneers at GM ON. There is a reason for it, not an issue.

[2020-12-08 20:32] #2872 closed

[2020-12-08 20:36] LukasVolgger commented on #2582
I'm not happy with this @Hacaw and i think others will agree with me. Also i use deDE Client and the Blizzlike Core should work with different languages so there should be no mod with localisation tables.

[2020-12-08 20:38] LukasVolgger commented on #2428
Thx for checking @Hacaw !

[2020-12-08 20:38] #2428 closed

[2020-12-08 20:40] LukasVolgger commented on #3854
@Maurowin you could to that do :P

[2020-12-08 20:41] LukasVolgger commented on #1079
Thx for checking @Hacaw!

[2020-12-08 20:41] #1079 closed

[2020-12-08 21:19] locus313 commented on #3371
Retested I am still able to reproduce this issue:
![image](https://user-images.githubusercontent.com/4015312/101542064-1d36ca00-3957-11eb-83b8-b0d6409cbbb6.png)

This was tested with commit https://github.com/azerothcore/azerothcore-wotlk/commit/1b156ef7ebb77b60f630f3951884ec2c07009c29

It seems in the hallway between two of the rooms is where I see it mainly happening. Try using .go c 91239

[2020-12-08 21:44] FrancescoBorzi commented on #3451
@abebeos done, thanks. I'm not sure about the expected difficulty of the tasks. I'd need to investigate to determine it

[2020-12-08 21:49] FrancescoBorzi commented on #2536
@Hacaw mmmh probably not, I don't remember, it was a long ago. Let's close this. We can reopen it if they pop up again.

[2020-12-08 21:53] FrancescoBorzi commented on #2605
thanks @Hacaw !

[2020-12-08 21:55] locus313 commented on #3443
No yet, I haven't tried to look into this further yet.

[2020-12-08 22:03] FrancescoBorzi commented on #2582
Usually, I'd say the more things can go into modules the better. But in this case, I agree with @LukasVolgger as a server should support any language. You can have different clients with different localisations connecting together.

[2020-12-08 22:13] abebeos commented on #3451
Oh, I meant the whole thing, the "Steps" section is essentially a "Completed" section, but this should be deleted an the information should be moved up into the main list (like the example with "Method_Request").

[2020-12-08 22:21] FrancescoBorzi commented on #3451
ah yeah right, @Winfidonarleyan what do you think?

[2020-12-08 22:48] abebeos commented on #3451
It's more or less standard extend the initial list. And any changes of yours can be reversed...

[2020-12-08 23:24] DrtyByt commented on #3682
Lets changes to the DB and App be insulated from each other. Performance
tuning is one aspect as you can make changes to the DB for performance
without requiring changes to the App. If you need a custom column on its
own then no changes needed for the procedure, if you wanted to return the
new column then yes. This does mean that you can do things like remove
unused columns from the DB and just st

[2020-12-08 23:34] FALL1N1 commented on #3682
Not really, the table's columns are returned as an array to the core and the keys of this array will be the values, for example if you swap the name/level entries in the procedure or the table - the worldserver will never boot up.
I personally think that we should leave it as-is, none of the leaked cores has procedures neither does Trinity/Mangos.

Yes - for web apps or other kind of queries it'd

[2020-12-08 23:46] DrtyByt commented on #3682
That's the point, you never have to change what gets sent back to the
worldserver, the output back from the procedure is always the same. The
procedure's output stays the same, if you change the columns or tables that
have the information you still send the data back to the worldserver as
it's expecting to get it.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-

[2020-12-09 01:34] betayi commented on #3854
i thought the hash commit is "commit c563b3a6ad48cb6c1445d244ade52417d63698f9" ? the last line of git log
or the result after typed server info : "01c830ed4691+" ?

[2020-12-09 01:37] betayi commented on #3854
or

commit 01c830ed46918fae2cbaa8b48a6b8cf690ba909e

the first line of git log

sorry, i am not good at this

[2020-12-09 05:08] LukasVolgger commented on #3854
You can easylie find it in your server log/console after starting the worldserver :)

[2020-12-09 06:32] mpfans opened #3869 "Dimensius the All-Devouring cast spell error"
The console can see the log as follows
`CastSpell: unknown spell id 193195 by caster: creature (Entry: 19554)
CastSpell: unknown spell id 198488 by caster: creature (Entry: 19554)
CastSpell: unknown spell id 198488 by caster: creature (Entry: 19554)
CastSpell: unknown spell id 193195 by caster: creature (Entry: 19554)
CastSpell: unknown spell id 198488 by caster: creature (Entry: 19554)
CastSpell:

[2020-12-09 08:31] Helias commented on #3869
Do you use any modules? what is the version/commit of your AzerothCore?

[2020-12-09 08:53] mpfans commented on #3869
use mod-anticheat
AzerothCore revision : 62e7bb332ac9+ 2020-12-03 05:28:21 +0000 (master branch)

[2020-12-09 09:18] locus313 commented on #3855
Isnt the `IN_MILLISECONDS` variable set to 1000? so doing `5 *  IN_MILLISECONDS` should already be equal to 5000.

[2020-12-09 11:19] FALL1N1 commented on #3855
It is, just dumb comment left by me.

[2020-12-09 13:11] Akimboss commented on #3855
I can confirm this problem in Vioet Hold dalaran dungeons when the mobs free the Elemental boss, it does walk for 2 seconds and invade mode, which cause the dungeon to reset, there's no way you can kill that boss it always goes to evade mode when trying to get out of water

[2020-12-09 14:10] skxawng-cu opened #3872 "Only testing [IGNORE THIS] I will close!"
##### CURRENT BEHAVIOUR:

##### EXPECTED BLIZZLIKE BEHAVIOUR:

##### STEPS TO REPRODUCE THE PROBLEM:

1.
2.
3.

##### EXTRA NOTES:

##### AC HASH/COMMIT:

1b156ef7ebb7

##### OPERATING SYSTEM:

##### MODULES:

##### OTHER CUSTOMIZATIONS:

[2020-12-09 14:12] #3872 closed

[2020-12-09 14:48] FALL1N1 commented on #3855
Can anyone else check how it behaves on Retail or any other pserver (e.g Warmane/Dalaran), if I remember well, they chase you for ~7s if you are unreachable (with evade mode on), then reset back to home pos.

[2020-12-09 14:58] Akimboss commented on #3855
Are you talking about Elemental boss in Violet Hold or in general ?

[2020-12-09 15:17] FALL1N1 commented on #3855
In general, the issue is not just about the elemental boss.

[2020-12-09 17:56] Akimboss commented on #3855
Just to mention that, i couldn't confirm the bug that boom8866  talk about, for me the mobs follow me on that rock normally

[2020-12-09 18:09] Hacaw commented on #3557
CONCLUSION
---
I can reproduce this issue.

TESTING
---
Used testing steps mentioned by author.

CONFIG
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10 + Docker for Desktop
MODULES / CUSTOMIZATION: None

[2020-12-09 18:11] Hacaw commented on #3605
CONCLUSION
---
I can reproduce this issue.

TESTING
---
Used testing steps mentioned by author.

CONFIG
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10 + Docker for Desktop
MODULES / CUSTOMIZATION: None

[2020-12-09 18:23] Hacaw commented on #3654
CONCLUSION
---
I can not reproduce this issue.
I can use all his abilities and it look like all of them do damage.
I can unmount without trouble.

@LukasVolgger can you please, recheck ?

TESTING
---
Used testing steps mentioned by author.

CONFIG
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10 + Docker for Desktop
MODULES / CUSTOMIZATION: None

[2020-12-09 18:29] Hacaw commented on #3660
CONCLUSION
---
I can not reproduce this issue.
After breaking 4 chains & a couple of seconds, some phase or event is starting he gets bigger and is attacked by lots of drakkari, until it's killed by the prophet. (similar to the video)

Could it be that I have the Warmane client or it doesn't matter?

![image](https://user-images.githubusercontent.com/6963500/101671416-24480000-3a5d-11eb-99a2-7bd07

[2020-12-09 18:33] LukasVolgger commented on #3654
Just rechecked and everything is fine. Thx @Hacaw !

[2020-12-09 18:34] #3654 closed

[2020-12-09 18:36] LukasVolgger commented on #3660
Same here, tested again and it's working. Thx again @Hacaw !

[2020-12-09 18:37] #3660 closed

[2020-12-09 18:38] Hacaw commented on #3664
@Winfidonarleyan , @Kitzunu was this fixed ?
 I see none at line 3411 on my version.

CONFIG
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10 + Docker for Desktop
MODULES / CUSTOMIZATION: None

[2020-12-09 18:39] Helias commented on #2004
https://github.com/azerothcore/azerothcore-wotlk/pull/3875

[2020-12-09 18:42] Hacaw commented on #3665
@Winfidonarleyan, is there a way I can test this ?
I suppose this is the log message when you startup the worldserver, what I am getting is only this:

`
ac-worldserver_1  | Loading SpellInfo store...`
`ac-worldserver_1  | >> Loaded spell custom attributes in 49 ms
`

CONFIG
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10 + Docker for Desktop
MODULES / CUSTOMIZATION: None

[2020-12-09 18:52] Hacaw commented on #3675
CONCLUSION
---
I can partialy reproduce this issue.
@LukasVolgger it does nothing if you have .gm on
But I cannot start the chain quest, even with the first quest, since all of them act like enemies and do not become neutral.
Is there any reputation needed to start the hain ?

https://www.wowhead.com/quest=11434/forgotten-treasure

TESTING
---
Used testing steps mentioned by author.

CONFIG
---
CO

[2020-12-09 19:03] LukasVolgger commented on #3675
Try

.q a 11509

&

.q c11509

[2020-12-09 19:06] Hacaw commented on #3723
CONCLUSION
---
I can partially reproduce this issue.
1. Yes, the arena master must leave, but he remains and do not move.
2. The corpse of the bosses are cleared only if you loot them, the other that have no loot (like the beasts) will dissapear
3. I killed myself when facing Jaraxxus and the arena was purged.

See screenshot:
![image](https://user-images.githubusercontent.com/6963500/101675375-64

[2020-12-09 19:13] Hacaw commented on #3747
CONCLUSION
---
I can not reproduce this issue.
I can mount the captive drakes without issue and I didn't get unmounted or parachuted.
The only issue that I found is that when you free prisoners the quest is not updated, so should we update the description ?

TESTING
---
Used testing steps mentioned by author.

CONFIG
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10 + Docker for Desktop
MODULES / CUSTO

[2020-12-09 19:19] Hacaw commented on #3848
CONCLUSION
---
I can reproduce this issue.
I think the problem is that the npcs are available as long you are using .gm on, if you set .gm off both Highlord Darion Mograine and Scourge Commander Dalanor.

TESTING
---
Used testing steps mentioned by author.

CONFIG
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10 + Docker for Desktop
MODULES / CUSTOMIZATION: None

[2020-12-09 19:26] LukasVolgger commented on #3747
Please open a new one and thx for testing @Hacaw !

[2020-12-09 19:27] #3747 closed

[2020-12-09 19:28] Hacaw commented on #2967
CONCLUSION
---
I can reproduce this issue.

TESTING
---
Used testing steps mentioned by author.

CONFIG
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10 + Docker for Desktop
MODULES / CUSTOMIZATION: None

[2020-12-09 19:31] LukasVolgger commented on #3848
Thx @Hacaw ! With GM ON you are able to see all creatures which are only shown in phases or not ment to be seen by Players. In that case the NPC should be available during this quest line (Phase) and not seen everytime.

Phases are like dimensions. Be sure to test evwry Issue/PR without GM ON.

[2020-12-09 19:44] Hacaw commented on #2996
CONCLUSION
---
I can reproduce this issue.
@TheWatchingI see my suggestion from https://github.com/azerothcore/azerothcore-wotlk/issues/2967.
There are multiple issues with this quest:

1. npcs should come in waves if you are the bottom of the tower
2. if you kill them quickly enough you have to wait a lot for them to spawn (1-2mins?)
3. after 4 waves of adds the boss will come, if you kill it, it

[2020-12-09 19:51] Hacaw commented on #2999
CONCLUSION
---
I can reproduce this issue.
I found multiple problems:
1.  Nihil the Banished does not walk through air, he walks only on ground
![image](https://user-images.githubusercontent.com/6963500/101679893-9f62e380-3a68-11eb-9ca1-bfce9a91bf34.png)

2. a creature with no visual is spawned an attack the player (see screenshot)
![image](https://user-images.githubusercontent.com/6963500/1016799

[2020-12-09 19:56] Hacaw commented on #3005
@FrancescoBorzi
Is the mail system based on SOAP protocol in AzerothCore for sending and receiving items?
Why not a simple .cpp file for the mail system ?

@wplatform
I am new to the TrinityCore, but I will try to reproduce it on my config.

[2020-12-09 20:03] Hacaw commented on #3026
CONCLUSION
---
1. I can reproduce this issue.
2. I don't find the npc(probably because I have the english client).

@Maurowin I have some suggestions:
- please use some npc ids so I can easily teleport to them
- please use map coords for locations / or taxi nodes
- maybe you should update the title of this issue with: Minor Stormwind NPC bugs ?

TESTING
---
Used testing steps mentioned by author.

[2020-12-09 20:13] Hacaw commented on #3230
CONCLUSION
---
I can reproduce this issue.
Like @BarbzYHOOL said:
1) the effect won't disappear because the drunk level decreases very slowly.
2) .aura 37591 has no effect to the player

TESTING
---
Used testing steps mentioned by author.

CONFIG
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10 + Docker for Desktop
MODULES / CUSTOMIZATION: None

[2020-12-09 20:27] Hacaw commented on #3484
CONCLUSION
---
Pretty hard to test this.
I tried to add the quest for the disciples but is not found.
I went to Naralex who sleeps
.go c id 3679

@ninjaskija can you please provide more gm-commands and test steps so I can easily reproduce it ?

TESTING
---
Used testing steps mentioned by author.

CONFIG
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10 + Docker for Desktop
MODULES / CUSTOMIZATION: None

[2020-12-09 20:36] Hacaw commented on #2609
CONCLUSION
---
I can not reproduce this issue.
@iThorgrim-Hub I don't understand what is the issue. Saronite arrows are spawned on the ground and you can easily loot them.
What do you mean by pnj ?  I watched the retail video and the arrows were also on the ground.

TESTING
---
Used testing steps mentioned by author.

CONFIG
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10 + Docker for Desktop
MODULES

[2020-12-09 20:48] Hacaw commented on #3388
CONCLUSION
---
I can reproduce this issue.
Tested with the human paladin, not the blood elf.
While relogging and recasting the seal it resets correctly.

@FrancescoBorzi What are the tables to check the real stats of a character ?

TESTING
---
Used testing steps mentioned by author.

CONFIG
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10 + Docker for Desktop
MODULES / CUSTOMIZATION: None

[2020-12-09 21:18] Hacaw commented on #3675
@LukasVolgger I know these commands, but I can't start the chain as a normal player with gm off.

[2020-12-09 21:19] LukasVolgger commented on #3675
It's a different quest to be friendly wirh that NPCs

[2020-12-10 00:06] abebeos commented on #3451
Why removing ace completely?

[2020-12-10 01:01] Kitzunu commented on #3664
Yes.
It is refactored the whole thing so you wont be able to look for that line

Anyhow, it will throw DB error if it try to correct spell that doesnt exist. And I did remove this :)

[2020-12-10 01:01] #3664 closed

[2020-12-10 01:04] Kitzunu commented on #3388
Pretty sure this is core.
I believe TC has a way to remove some spells that does this when changing talents in player.cpp check ^°^

[2020-12-10 01:15] Kitzunu commented on #3790
Easy fix with spell groups in db

[2020-12-10 01:56] #3552 closed

[2020-12-10 05:56] #3788 closed

[2020-12-10 15:25] arielcami opened #3876 "[Pit of Saron] Fix needed: Scourgelord Tyrannus breaks before Ice Cave."
Tyrannus isn't spawning the mobs in front of the cave, encounter broken.

##### CURRENT BEHAVIOUR:
As you make your way to the end of Dungeon, Tyrannus [36794] should spawn a little army of undead
to protect the cave entrance, but this never happens.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
Tyrannus must spawn those mobs so the cave encounter can happen, and afterwards,
make the dungeon beatable.

###

[2020-12-10 17:45] Kitzunu commented on #3850
probably spell target too narrow or something

[2020-12-10 20:50] FrancescoBorzi commented on #3682
@DrtyByt thanks for posting this suggestion

you meant this `doesn't` right?

[2020-12-10 21:46] DrtyByt commented on #3682
meant that the current method of direct queries does, but using a semantic
layer makes it so they are not.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40

[2020-12-10 22:09] FrancescoBorzi commented on #3682
@DrtyByt ok, got it. I like your idea in general, however I'm not sure if this could bring unwanted side effects but might definitely worth it a try.

Would you like to provide a proof of concept of this? i.e. a PR that implements and uses one view or stored procedure in the core so we can give it a try

[2020-12-10 22:18] DrtyByt commented on #3682
There is a draft PR out there showing the idea on the auth db. There is an
issue though with it because of some of the code in how it calls for
information in a fetch queue, then calls again with stuff still in the
fetch queue. Here is the Stack question for it.
https://stackoverflow.com/questions/65191535/how-to-clear-the-db-fetch-queue-before-next-query-is-called

Draft PR
https://github.com/aze

[2020-12-10 22:24] FrancescoBorzi commented on #3682
@DrtyByt I see, have you tested it in game already?

[2020-12-10 22:27] DrtyByt commented on #3682
tried, but the server won't stay online because of the error. I've been
trying to resolve the error but no luck so far. The easiest way I know to
fix the error is to just clear the fetch queue before it goes to the next
query, but I'm not familiar with the library being used to connect to MySQL
so I don't know how to do that.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_c

[2020-12-11 06:35] CyberFoxHax opened #3877 "[Quest] The Mark of the Nexus-King. Quest item wont drop."
I tried and failed to complete this quest [[The Mark of the Nexus-King]](https://www.wowhead.com/quest=10976)
You have to run around and interact some purple spheres, which will spawn an elite mob that has a  chance to drop [[Mark of the Nexus-King]](https://www.wowhead.com/item=31941). The item should have 24% chance to drop. I killed around 30 bosses and no mark dropped.

The item does appear in

[2020-12-11 10:22] Kitzunu commented on #3877
check if it has QuestRequired in creature loot template or if it has any conditions to it

[2020-12-11 11:13] CyberFoxHax commented on #3877
![image](https://user-images.githubusercontent.com/7734690/101897111-ff7e9480-3be4-11eb-8578-dfa5f2555e35.png)

[2020-12-11 12:16] Kitzunu commented on #3877
Could also be extremely unlucky, usually, if there are no conditions attached to it that is the reason

[2020-12-11 14:23] #3712 closed

[2020-12-11 17:26] Helias commented on #3451
Because it is an old library not maintained anymore afaik and now the modern C++ already supports a lot of feature and functionalities that ACE provide.
It is also a static dependency that we keep in the repository, removing it will give us a lot of benefits and modern way to implement different design pattern and minor features.

[2020-12-11 17:40] Helias commented on #2967
Thank you @Hacaw for all the tests that you are doing, good job :rocket:

[2020-12-11 19:04] abebeos commented on #3451
Hey, you sound like a salesman now!

Technically, is it really neccessary to strip all(!) of ACE now(!) ?

Can e.g. the config be postponed? Some other stuff not directly available in modern C++?

And shouldn't you possibly migrated away from acs with C17?

In any awy, you need to be faster. WHy delays with things like #3874? Or "Caption Normalization" merge?

Be aware that delays kill motivation

[2020-12-11 19:10] Si1ker commented on #3877
@CyberFoxHax change prop to 100% and test if you can get it, if you can then you are unlucky.
If still cannot get it, there's something else to change a requirement or condition probably.

[2020-12-11 20:55] Helias commented on #3451
You are curious, I think this is a good motivation of contributions.
Anyways, I think that @FrancescoBorzi  and the other developers can give you more technical details about removing ACE :wink:

But it's something that other communities already did with other software, use modern technologies is always a good thing when you remove old dependencies.

[2020-12-12 07:52] Whyy0416 opened #3879 "Walk through a portal can't teleport to dungeon in City"
After commit af53598fa2d7d63021f54a4a2bd37449f31e97cf fix(Core/Game): Rest & Inn Improvements (#3780). You can't teleport to dungeon rage fire cave or jail when walk through a portal. Maybe dungeons in Dalaran affected by this commit too, but I didn't test it yet.

##### CURRENT BEHAVIOUR:
Can't teleport to dungeon rage fire cave or jail by walk through portal.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

[2020-12-12 10:25] FrancescoBorzi commented on #3879
@Meltie2013 @Maurowin @BarbzYHOOL @Si1ker

[2020-12-12 13:18] #3881 closed

[2020-12-12 14:09] #3882 closed

[2020-12-12 14:09] #3883 closed

[2020-12-12 14:09] #3884 closed

[2020-12-12 14:09] #3885 closed

[2020-12-12 14:09] #3886 closed

[2020-12-12 14:09] #3887 closed

[2020-12-12 14:09] #3888 closed

[2020-12-12 14:09] #3889 closed

[2020-12-12 14:09] #3890 closed

[2020-12-12 14:10] #3892 closed

[2020-12-12 14:10] #3893 closed

[2020-12-12 14:10] #3894 closed

[2020-12-12 14:11] #3895 closed

[2020-12-12 14:11] #3896 closed

[2020-12-12 14:11] #3897 closed

[2020-12-12 14:11] #3898 closed

[2020-12-12 14:11] #3899 closed

[2020-12-12 14:11] #3900 closed

[2020-12-12 14:11] #3901 closed

[2020-12-12 14:12] #3902 closed

[2020-12-12 14:12] #3903 closed

[2020-12-12 14:12] #3906 closed

[2020-12-12 14:12] #3904 closed

[2020-12-12 14:12] #3891 closed

[2020-12-12 14:13] #3905 closed

[2020-12-12 14:15] #3908 closed

[2020-12-12 14:15] #3909 closed

[2020-12-12 14:15] #3910 closed

[2020-12-12 14:15] #3911 closed

[2020-12-12 14:15] #3907 closed

[2020-12-12 14:17] #3912 closed

[2020-12-12 14:20] #3913 closed

[2020-12-12 14:20] #3914 closed

[2020-12-12 14:20] #3915 closed

[2020-12-12 14:20] #3916 closed

[2020-12-12 14:21] #3917 closed

[2020-12-12 14:21] #3918 closed

[2020-12-12 14:21] #3919 closed

[2020-12-12 14:21] #3920 closed

[2020-12-12 14:24] zhangxinmrs opened #3928 "support ARM"
Anyone can help to merge this ARM patch, thanks!
https://github.com/zhangxinmrs/Azerothcore-wotlk-ARM

[2020-12-12 14:24] ghost opened #3937 "[SUGGESTION] LUA Script Catalogue"
Create a catalogue, a bit like the module catalogue but for LUA scripts.

Complete and useful LUA scripts, such as systems of the type (EXP Rates Modifier etc.)

This would highlight the creations of LUA developers and avoid having to share links everywhere to external githubs.

All updated scripts would be centralized and we would know where to look for a lua script.

With always the same prerequ

[2020-12-12 14:25] #3922 closed

[2020-12-12 14:25] #3923 closed

[2020-12-12 14:25] #3924 closed

[2020-12-12 14:26] #3925 closed

[2020-12-12 14:26] #3926 closed

[2020-12-12 14:26] #3927 closed

[2020-12-12 14:26] #3929 closed

[2020-12-12 14:26] #3930 closed

[2020-12-12 14:26] #3931 closed

[2020-12-12 14:26] #3932 closed

[2020-12-12 14:26] #3933 closed

[2020-12-12 14:26] #3934 closed

[2020-12-12 14:26] #3935 closed

[2020-12-12 14:26] #3936 closed

[2020-12-12 14:26] #3937 closed

[2020-12-12 14:26] #3938 closed

[2020-12-12 14:26] #3939 closed

[2020-12-12 14:26] #3921 closed

[2020-12-12 14:28] #3940 closed

[2020-12-12 14:31] #3941 closed

[2020-12-12 14:31] #3945 closed

[2020-12-12 14:31] #3942 closed

[2020-12-12 14:31] #3943 closed

[2020-12-12 14:31] #3944 closed

[2020-12-12 14:41] #3946 closed

[2020-12-12 14:46] ghost opened #3965 "[SUGGESTION] LUA Script Catalogue"
Create a catalogue, a bit like the module catalogue but for LUA scripts.

Complete and useful LUA scripts, such as systems of the type (EXP Rates Modifier etc.)

This would highlight the creations of LUA developers and avoid having to share links everywhere to external githubs.

All updated scripts would be centralized and we would know where to look for a lua script.

With always the same prerequ

[2020-12-12 14:46] Frichetten opened #3970 "[GENERAL] at a high level, how does AC work?"
Hi all, hope I posted this in the correct thread.

I stood up an AC server earlier today, and frankly I'm stunned. A few Docker commands and a few tweaks and suddenly I'm playing Wotlk circa 2009. From what little I've played it appears like everything is working pretty flawlessly.

I'm aware this is a dumb question, but how is this all working? As in, was this made entirely by monitoring the netw

[2020-12-12 14:48] #3947 closed

[2020-12-12 14:48] #3948 closed

[2020-12-12 14:48] #3949 closed

[2020-12-12 14:48] #3950 closed

[2020-12-12 14:48] #3951 closed

[2020-12-12 14:48] #3952 closed

[2020-12-12 14:48] #3954 closed

[2020-12-12 14:48] #3955 closed

[2020-12-12 14:48] #3956 closed

[2020-12-12 14:48] #3957 closed

[2020-12-12 14:48] #3958 closed

[2020-12-12 14:48] #3959 closed

[2020-12-12 14:48] #3960 closed

[2020-12-12 14:48] #3961 closed

[2020-12-12 14:48] #3962 closed

[2020-12-12 14:48] #3963 closed

[2020-12-12 14:48] #3964 closed

[2020-12-12 14:48] #3965 closed

[2020-12-12 14:48] #3966 closed

[2020-12-12 14:48] #3967 closed

[2020-12-12 14:48] #3968 closed

[2020-12-12 14:48] #3969 closed

[2020-12-12 14:49] #3971 closed

[2020-12-12 14:49] #3972 closed

[2020-12-12 14:49] #3973 closed

[2020-12-12 14:49] #3974 closed

[2020-12-12 14:49] #3975 closed

[2020-12-12 14:49] #3976 closed

[2020-12-12 14:49] #3977 closed

[2020-12-12 14:49] #3953 closed

[2020-12-12 14:50] ghost opened #3978 "[SUGGESTION] LUA Script Catalogue"
Create a catalogue, a bit like the module catalogue but for LUA scripts.

Complete and useful LUA scripts, such as systems of the type (EXP Rates Modifier etc.)

This would highlight the creations of LUA developers and avoid having to share links everywhere to external githubs.

All updated scripts would be centralized and we would know where to look for a lua script.

With always the same prerequ

[2020-12-12 14:50] #3978 closed

[2020-12-12 14:50] ghost opened #3979 "[SUGGESTION] LUA Script Catalogue"
Create a catalogue, a bit like the module catalogue but for LUA scripts.

Complete and useful LUA scripts, such as systems of the type (EXP Rates Modifier etc.)

This would highlight the creations of LUA developers and avoid having to share links everywhere to external githubs.

All updated scripts would be centralized and we would know where to look for a lua script.

With always the same prerequ

[2020-12-12 14:50] #3979 closed

[2020-12-12 17:07] BarbzYHOOL commented on #3879
can you test in another dungeon/raid to make sure?

[2020-12-12 19:08] vituchito125 opened #3983 "you cannot enter the instances"
I do not know how the problem happened but a band put together a masmorra and used the eye but from there they could not go through the portal
![image](https://user-images.githubusercontent.com/53723504/101992741-66528b00-3c83-11eb-820f-a4c5f28fb7c0.png)

[2020-12-12 19:13] Kitzunu commented on #3983
https://github.com/azerothcore/azerothcore-wotlk/issues/3879

[2020-12-12 19:13] #3983 closed

[2020-12-12 19:13] Kitzunu commented on #3879
https://github.com/azerothcore/azerothcore-wotlk/issues/3983

[2020-12-12 19:23] vituchito125 commented on #3879
en mi servidor no deja entra a la masmorra despues que utilizaron el ojo para encontra la masmorrar seria igual a este caso ?.
modulos
mod-1v1-arena
mod-anticheat
mod-cfbg
mod-learn-spells
mod-npc-promotion
mod-top-arena
mod-transmog-master
mod-world-chat
mod_npc_enchanter
mod-npc-free profesiones

[2020-12-12 19:59] FrancescoBorzi commented on #3879
PR that fixes the issue: https://github.com/azerothcore/azerothcore-wotlk/pull/3984

[2020-12-12 20:28] Meltie2013 commented on #3879
@FrancescoBorzi I have the fix for the issue that was caused. Typo in the code.

[2020-12-12 20:47] FrancescoBorzi commented on #3879
@Meltie2013 please send a PR with it asap

[2020-12-12 20:51] Meltie2013 commented on #3879
Making sure its not effecting anything else.

[2020-12-12 22:24] #3879 closed

[2020-12-12 22:26] FrancescoBorzi commented on #3879
thanks @Meltie2013 for the quickfix

@Whyy0416 @vituchito125 can you please update to latest AC version and let us know if the bug is fixed for you?

[2020-12-13 09:18] Knindzagxg commented on #3162
Not really sure, have to check a lot of things for this.

Their pets were doing quite good damage back in a day.
Will try to find some videos of them for more info.

[2020-12-13 09:21] Knindzagxg commented on #1855
Sadly i can't.

Report came long time ago from player.
It might be fixed with some PR's we had and i can't re-test it cause i modified core for some crazy Kara sorting xP

[2020-12-13 09:46] Whyy0416 commented on #3879
fixed confirm.

[2020-12-13 11:02] FrancescoBorzi commented on #3879
good job @Meltie2013 and thanks @Whyy0416 for reporting the bug and confirming the solution

[2020-12-13 15:37] Hacaw commented on #3217
CONCLUSION
---
I can reproduce this issue.

Ghoul's HP = 3795 (Player with no stamina items + no talent)
![image](https://user-images.githubusercontent.com/6963500/102016449-c1f74400-3d69-11eb-940b-4f3d185712dd.png)

Ghoul's HP = 3795 (Player with stamina items + 3/3 talent)
![image](https://user-images.githubusercontent.com/6963500/102016455-ccb1d900-3d69-11eb-9c14-8bf106618765.png)

TESTING
---

[2020-12-13 15:43] Hacaw commented on #3010
CONCLUSION
---
I can reproduce this issue.

TESTING
---
Used testing steps mentioned by author.

Watching the video posted by the author those 2 extra mobs shouldn't be there, maybe we should move them where they are related instead of deleting them at all.

![image](https://user-images.githubusercontent.com/6963500/102016629-8f9a1680-3d6a-11eb-92ae-fad0b881b5f5.png)

CONFIG
---
COMMIT: 1b156ef7
O

[2020-12-13 15:57] Hacaw commented on #2998
CONCLUSION
---
For me Timmy didn't spawn at all.
So instead I tried to do .npc add 10808 and I saw nothing was spawned, so I switch to gm and observed that Timmy is available only when gm is on, probably this means he is a phase.

The boss in the back is the original one, the 2 from the front are the one spawned by me, all are visible with gm-on.
![image](https://user-images.githubusercontent.com/

[2020-12-13 17:31] Hacaw commented on #3005
CONCLUSION
---
I can reproduce this issue, but...

@wplatform:
- Please correctly format the expected behavior and reproduction steps.
- Please format currently the body of the soap-request, you need to close some brackets.

TESTING
---
Used testing steps mentioned by author.
I also tried using Postman, but I keep getting a socket hang up.
Using curl as suggested by the author, but got curl (52) e

[2020-12-13 17:40] Hacaw commented on #532
Hi @BarbzYHOOL & @FrancescoBorzi it's been 3 years since this issue has been opened, should this still this be opened ?

[2020-12-13 17:49] Hacaw commented on #3711
CONCLUSION
---
I can not reproduce this issue.

@mpfans it looks like you are missing the **slot** variable from the method call:
[code]

TESTING
---
Checked the SpellAuras.cpp.

CONFIG
---
COMMIT: 1b156ef7
OPERATING SYSTEM: Win10 + Docker for Desktop
MODULES / CUSTOMIZATION: None

[2020-12-13 17:49] #3711 closed

[2020-12-13 18:12] Hacaw commented on #3859
CONCLUSION
---
I can reproduce this issue.

TESTING
---
Used testing steps mentioned by author.

CONFIG
---
COMMIT: adf436c9
OPERATING SYSTEM: Win10 + Docker for Desktop
MODULES / CUSTOMIZATION: None

[2020-12-13 19:35] #3770 closed

[2020-12-13 21:30] Helias commented on #3005
@Hacaw https://stackoverflow.com/questions/59382665/how-to-send-commands-using-soap-to-azerothcore-worldserver-console

[2020-12-13 21:38] Hacaw commented on #3005
Thanks @Helias I already found this, but didn't want to add perl or php scripts to run and prefered the curl solution of the author.

[2020-12-13 21:47] Voxstrasza commented on #1855
im going to close this issue then; i'm not sure how to reproduce the bug (i haven't done this quest in a long time so i'm not even sure where to go)

[2020-12-13 21:47] #1855 closed

[2020-12-14 00:11] Helias commented on #3005
You can even add the CURL solution as answer of that stackoverflow question if you make it works

[2020-12-14 19:33] #3876 closed

[2020-12-15 02:57] CyberFoxHax commented on #3877
`UPDATE creature_loot_template
	SET Chance=100
	WHERE Item = 31941`

At first nothing changed but i restarted the server and now it drops every time. So i guess that's that.

[2020-12-15 14:29] arielcami opened #3995 "vmap4extractor.exe couldn't complete it's task."
Current Behavior
When I start vmap4extractor.exe, it stops when it starts to extract objects.
![vmap4extractor error](https://user-images.githubusercontent.com/71854140/102227129-34296f00-3eb7-11eb-962b-9663097540b7.jpg)

Expected Blizzlike behavior.
Needless to say.

##### STEPS TO REPRODUCE THE PROBLEM:
Get a clean client and after extracting maps/dbc, (as per the installation guide), execute vm

[2020-12-15 14:34] pak3935 commented on #2170
any news?

[2020-12-15 15:39] FrancescoBorzi commented on #3995
@arielcami thanks for your report, can you please checkout [this version](https://github.com/azerothcore/azerothcore-wotlk/commit/a06bfa6e5b990d87f499f6671b93f098b47e3908) and see if it works?

Here the instructions:

1) `git checkout a06bfa6e5b990d87f499f6671b93f098b47e3908`
2) delete whatever you have already extracted
3) delete the extractors
4) re-run cmake with `-DTOOLS=1`
5) recompile
6) try

[2020-12-15 15:41] FrancescoBorzi commented on #2170
@pak3935 we weren't able to reproduce the issue

[2020-12-15 16:37] pak3935 commented on #2170
@FrancescoBorzi  this happens by spoofing packets through wpe when sending information about the spell, all I know

[2020-12-15 16:57] #3699 closed

[2020-12-15 17:08] FrancescoBorzi commented on #2170
@pak3935 if you find a way to reproduce the issue (with detailed information so other devs can reproduce it locally) please open a new issue report with all the details

[2020-12-15 17:18] arielcami commented on #3995
@FrancescoBorzi Hi there,

I followed all of you steps. New extractor didn't work either.
Exactly the same error.

[2020-12-15 17:35] FrancescoBorzi commented on #3995
@arielcami that's weird, then I think it's probably something on your side. Are you using an official client or modified?

[2020-12-15 19:01] arielcami commented on #3995
I think so, but I'm still unable to locate de problem, I'm using a client downloaded form a private server.
It have some custom patches, but I always remove them before so the client is default when I use the tools.

[2020-12-15 20:34] locus313 commented on #2262
tested this on commit https://github.com/azerothcore/azerothcore-wotlk/commit/f62693021fa83b270eb82ce624a611ab6337917e
not able to reproduce the issue

[2020-12-15 20:39] #2262 closed

[2020-12-15 20:39] jwh1981 commented on #2262
I’m gonna try it again when I get a few.

On Tue, Dec 15, 2020 at 3:34 PM Patrick Lewis <notifications@github.com>
wrote:

[2020-12-16 09:10] Undead02 commented on #2170
@FrancescoBorzi , hi. I have soft for crash(sor for my eng lang) concretely this crash i dont know, but i have code for 2 crashes, (you already fix this)

[2020-12-16 17:13] FiftyTifty commented on #3995
Downloaded the latest master branch, and can verify that this issue is present. Tested with:

Game client: TrueWoW 3.3.5a (identical to vanilla's files)
VS Compiler: 2019 x64
LibSSL: 1_1-x64
LibCrypto: 1_1-x64
MySQL: 5.7

This issue is not present on my previous, older master branch download. Entering the command `git log` shows the following output for it:

`commit 55deca60aa064a5cfd9717f2fddd030

[2020-12-16 17:33] FrancescoBorzi commented on #3995
@FiftyTifty could you please also try this: https://github.com/azerothcore/azerothcore-wotlk/issues/3995#issuecomment-745373380 ?

So we can exclude the latest changes to the tools

[2020-12-16 17:35] FiftyTifty commented on #3995
After testing my old branch again, this time keeping an eye on vamp4extractor's console output, the error is present on it. I'll try an even older commit, to see how far back this issue goes.

[2020-12-16 17:46] Undead02 commented on #2170
@FrancescoBorzi @Viste https://yadi.sk/d/-jVsLNZ-vdRu5w

[2020-12-16 17:49] Undead02 commented on #2170
crash soft

[2020-12-16 17:55] FrancescoBorzi commented on #3995
@FiftyTifty thanks. If you think it was working fine before, it would be nice to catch which specific commit has broken it.

[2020-12-16 18:21] FiftyTifty commented on #3995
So I've checked a few commits:

[code]

Now, while they all show the error, none of them stop processing. They all finish processing, which is different to @arielcami 's issue.
![image](https://user-images.githubusercontent.com/13511114/102389765-7a6ff280-3fcb-11eb-8e18-fce44a8ce9ac.png)

[2020-12-17 03:08] aradep commented on #3740
Can also confirm, something is odd with ranged mobs and LoS.
[Example of blizzlike behavior in Classic](https://youtu.be/pKCr1DY12XE?t=17740)

[2020-12-17 10:12] mpfans opened #3999 "use ".pinfo" command,server crash"
when GM uses the. pinfo command, the server crash...

 AzerothCore revision            : 4cb0c9fc0042+ 2020-12-10 05:57:54 +0000 (master branch)
OS:ubuntu 18.04
Module:mod-anticheat

[2020-12-17 11:58] mpfans opened #4000 "quest can be repeated"
‘Treats for Great-father Winter ’（id= 6962）quest can be repeated
This quest not be repeated. If it can be repeated, all players can use this quest get a huge sum gold

AzerothCore revision : 4cb0c9f+ 2020-12-10 05:57:54 +0000 (master branch)
OS:ubuntu 18.04
Module:mod-anticheat

[2020-12-17 21:58] FALL1N1 commented on #3733
starting wip in https://github.com/azerothcore/azerothcore-wotlk/pull/4002, it will close a lot more issues so any help is appreciated

[2020-12-17 23:23] Helias commented on #4000
There is a flag which make a quest repeatable or not, should be easy to fix this through Keira3

[2020-12-17 23:36] Kitzunu commented on #4000
https://github.com/azerothcore/azerothcore-wotlk/pull/4004

[2020-12-17 23:43] Kitzunu commented on #3877
Dont trust wowhead :)

It is based from Player info through their addon which can be used in private servers ^^

[2020-12-17 23:43] #3877 closed

[2020-12-17 23:45] Kitzunu commented on #3995
This could be due to faulty clients missing files.

My tip: Test on a clean client

[2020-12-18 00:26] mpfans opened #4005 "enable 'Quests.EnableQuestTracker' option,game delay.."
chang worldserver.conf 'Quests.EnableQuestTracker' to 1
When there are about 800 players logging in the game, the game will have a great delay!
It's not network delay....

AzerothCore revision : 4cb0c9f+ 2020-12-10 05:57:54 +0000 (master branch)
OS:ubuntu 18.04
Module:mod-anticheat

[2020-12-18 00:36] Kitzunu commented on #3999
Can't reproduce this on https://github.com/azerothcore/azerothcore-wotlk/commit/6f214ab089ba works as expected

[2020-12-18 00:38] mpfans commented on #4005
After 2 hours of enable , the quest_tracker table has only 2326 lines of data.then casting, talking to NPC, etc，no matter what you do in the game, there is a great delay. It's not network delay...

[2020-12-18 02:38] mpfans commented on #3999
Do not select any targets and enter. PInfo

[2020-12-18 03:02] Kitzunu commented on #3999
Ofc

[2020-12-18 03:24] mpfans commented on #3999
I found the reason,install Module:mod-anticheat,and enter .pinfo  server crash.....

[2020-12-18 07:45] Kitzunu commented on #3999
Cc @Helias

[2020-12-18 10:47] #4000 closed

[2020-12-18 14:32] Kitzunu commented on #4005
cc @FrancescoBorzi @Helias

[2020-12-18 14:42] FrancescoBorzi commented on #4005
I've implemented this feature myself several years ago at TrinityCore, it's been a while I haven't used it so I can't tell much right now. It would be nice to have a local reproduction of the issue.

BTW this is the (old) web tool to view the data in the table: https://github.com/TrinityCore/TC-Quest-Tracker

[2020-12-18 16:34] FrancescoBorzi opened #4006 "Feature: improve our Docker structure [$50]"
## Current setup

We currently have a [Docker setup](https://www.azerothcore.org/wiki/Install-with-Docker) that allows the user to install AC easily with a simplified procedure.

The building blocks of the current Docker setup are:

- everything inside the [docker/](https://github.com/azerothcore/azerothcore-wotlk/tree/master/docker) directory
- [docker-compose.yml](https://github.com/azerothcore/

[2020-12-18 16:38] FrancescoBorzi opened #4007 "Feature: anticheat"
There is a [PR from kvpika](https://github.com/azerothcore/azerothcore-wotlk/pull/2088) that has never been completed and merged. It would be nice to complete it by adapting it to the latest AC.

It would be nice to implement these new features to the mod-anti-cheat that we already have here:

https://github.com/azerothcore/mod-anticheat

It would be great to use that one and create configurations

[2020-12-18 16:51] arielcami commented on #3995
I Downloaded a clean client.
Pulled be4743b
cmake'd > compiled > same error after map 724.

[2020-12-18 17:15] FiftyTifty commented on #3995
@arielcami It's normal for the error to show. What isn't normal is for the processing to stop.

To make sure, download the TrueWoW client which has completely unmodified files.

[2020-12-18 21:53] Okuluss opened #4009 "Quest: They're Alive! Maybe..."
Quest: They're Alive! Maybe... is bugged as no researcher is spawning. Quest can still be completed, though.

##### CURRENT BEHAVIOUR:
By destroying "webbed creature" a random mob will spawn in it's place but none of the missing researchers for the actual quest. Even if it counts for quest.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
Researcher has to spawn and flee with various text as e.g. "We're free!

[2020-12-19 11:59] r0m1ntik commented on #3779
Confirm with a staff
[350f18106826f61d6c6cb76faffcc09bc6975dbb](https://github.com/azerothcore/azerothcore-wotlk/commit/350f18106826f61d6c6cb76faffcc09bc6975dbb)

[2020-12-19 23:30] Kitzunu commented on #3856
It must be some other trigger spell... Because I flopped this into DBC Data corrections
[code]
And it still says "Not enough mana".
and I know nothing is wrong with the spellInfo->powerType change because when I did this spell 698 (Ritual of Summoning) now cost health instead of mana

[2020-12-20 00:03] Kitzunu commented on #3856
Got the fix for ya :D https://github.com/azerothcore/azerothcore-wotlk/pull/4013

[2020-12-20 00:11] Kitzunu commented on #3869
Weird, they dont have that spell to cast in Smart_scripts, and I can confirm that those spell does not exist so it is a valid error just don't know how

[2020-12-20 00:49] Kitzunu commented on #3859
Here's the fix, please test it =) https://github.com/azerothcore/azerothcore-wotlk/pull/4014

[2020-12-20 01:23] Kitzunu commented on #749
![image](https://user-images.githubusercontent.com/24550914/102703048-4d8d3b00-426a-11eb-9fac-01cbb699b0e4.png)

Can't reproduce.

[2020-12-20 01:23] #749 closed

[2020-12-20 01:47] Kitzunu commented on #3865
I can confirm this.

[2020-12-20 02:09] Kitzunu commented on #3865
Please test the fix :) https://github.com/azerothcore/azerothcore-wotlk/pull/4015

[2020-12-20 03:16] abebeos opened #4016 "[PROJECT] Complaint: My contribution efforts are undermined"
# IF YOU DO NOT FILL THIS TEMPLATE OUT, WE WILL CLOSE YOUR ISSUE! -->

Remove this, it's nonsense.

## CURRENT BEHAVIOUR:

PR's are not merged, e.g.:

* #3874 (this related to bounty work, so, you place a bounty, then block the efforts to solve the problem)
* #3867, #3863 - super-trivial documentation changes not merged, despite beeign approved.

@FrancescoBorzi cites a "process", but then, lookin

[2020-12-20 04:44] Voxstrasza commented on #4016
cry more

[2020-12-20 05:02] abebeos commented on #4016
Oh, it's your users crying, because you alienate contributors despite this:

356 open issues, 96 open PR's

[2020-12-20 05:20] aradep commented on #4016
So... you want your PRs to be merged faster? Can't you just work in a fork?

[2020-12-20 05:29] abebeos commented on #4016
A fork? for this: #3867, #3863

it's not enough that you cannot write decent (normal) captions, you "rebel" (4th person now) to not commit them immediately.

This is called "insanity" (resisting to become better).

[2020-12-20 05:30] Voxstrasza commented on #4016
why not send shin a DM over discord and bring up your concerns like an adult, rather than make a spectacle over a public forum?

[2020-12-20 05:33] abebeos commented on #4016
discord? I see.

Where is the public forum? This here is an issue-tracker, the perfectly valid medium for what I filed.

You go continue playing - obviously you've even lower knowledge than this @FrancescoBorzi .

Go, go!

[2020-12-20 05:44] aradep commented on #4016
"3 decades" of experience, and you haven't managed to learn professionalism 😄

[2020-12-20 05:47] abebeos commented on #4016
You're right, quite unprofessional of me to waste my time here replying to "contributors", instead of waiting what the "members" have to say.

Now go away, open some fork to play with...

[2020-12-20 15:00] Kitzunu commented on #3789
Probably falls through the texture

[2020-12-20 15:21] Ramys commented on #3789
Satellite?

[2020-12-20 15:27] Kitzunu commented on #2998
Test this https://github.com/TrinityCore/TrinityCore/commit/c69825d96d6c7ff847c196c908e1040cb7a8d5db

[2020-12-20 19:16] vituchito125 opened #4019 "problemas para entra a la icc"
Buenas hay un problema la cual es dificil de entra caminando defrente para poder ingresa a la instancia de la icc en light king

foto 1 la forma de que no se puede ingresar
![1](https://user-images.githubusercontent.com/53723504/102722099-d8068680-42cc-11eb-9f21-5ae9d1b4c470.jpg)
fot 2 : en esta forma se puede ingresar
![tiene que ](https://user-images.githubusercontent.com/53723504/102722108-e48a

[2020-12-20 22:28] abebeos commented on #4016
you should really not delete comments of others.

[2020-12-21 01:09] #4016 closed

[2020-12-21 07:45] Yehonal commented on #4019
Only english here and please, follow the istructions to open a proper issue

[2020-12-21 07:45] #4019 closed

[2020-12-21 08:53] mpfans commented on #4005
Now it is not a tool to view the data in the table, but when the table is written, the game will be delayed

There may not be a server to replicate at this time, because I have a lot of players. There is no delay when there are only a few players

When 800 players are online, there is a delay. After 2 hours, there are only 2000 + rows in this table

[2020-12-21 13:00] Yehonal commented on #4005
Considering the code related to the Quest Tracker system, I cannot spot anything that can generate a lag since the INSERT/UPDATE queries are thrown asynchronously

https://github.com/azerothcore/azerothcore-wotlk/pull/1233/files

[2020-12-21 21:27] Okuluss opened #4025 "Brewfest Banner outside Exodar on 21st of Dec"
Noticed brewfest banner at entrace of Exodar during feast of winter veil (21st of Dec)

##### CURRENT BEHAVIOUR:
2 x brewfest banner at entrance of Exodar during feast of winter veil. Obviously dont belong there during that time of the year.
see pic below:
![WoWScrnShot_121920_151216](https://user-images.githubusercontent.com/76229969/102823640-90baeb80-43db-11eb-86ad-03a00650ca45.jpg)

##### EXPE

[2020-12-22 00:37] Kitzunu commented on #4025
Feel free to test https://github.com/azerothcore/azerothcore-wotlk/pull/4026

[2020-12-22 00:40] IceNet commented on #4007
There's alrdy a passive anti-cheat module.

[2020-12-22 14:38] Kitzunu commented on #3675
https://github.com/azerothcore/azerothcore-wotlk/pull/4030

[2020-12-22 20:21] r0m1ntik commented on #4009
[TrinityCore/commit/d59f111](https://github.com/TrinityCore/TrinityCore/commit/d59f111cabb0bb6e2709026f03657826f8c96ecb)

[2020-12-22 21:24] #3856 closed

[2020-12-22 23:21] Helias commented on #4009
Fixed! let's test it!
https://github.com/azerothcore/azerothcore-wotlk/pull/4035

[2020-12-22 23:45] Helias commented on #4007
Yes, but it does not the same checks of that PR, I think we need the kvipka's PR in the core

[2020-12-23 00:52] lcfeva opened #4037 "[NPC] Thrallmar Bloodmages incorrect behavior when fighting"
##### CURRENT BEHAVIOUR:

[Arcanist Torseldori](https://www.wowhead.com/npc=19257/arcanist-torseldori) (creature entry 19257) and [Bloodmages](https://www.wowhead.com/?npc=19258) outside of Thrallmar uses melee when fighting against the Infernal Invaders.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

They should be casting spells (comment section on wowhead suggests a special version of blizzard).

#####

[2020-12-23 00:53] BarbzYHOOL opened #4038 "Feature: rework table spell_area + add features"
**Describe your feature request or suggestion in detail**

spell_area rework + new features

1 - Rename `spell_area` to `spell_location`

2 - Add a new column `location_scope` with values 0 = map, 1 = zone, area = 2
for all the existing rows we set it to 2 as it's already using area ID.

Column `area` gets renamed to `location_id` and there you put either the map ID, or zone ID, or area ID

Remind

[2020-12-23 09:09] mpfans commented on #3679
![image](https://user-images.githubusercontent.com/18187177/102979867-a4806200-4541-11eb-86fa-c198a4694ebd.png)

[2020-12-23 09:12] mpfans commented on #3679
I use AC core, there is no other custom code

[2020-12-23 09:13] mpfans commented on #3679
module:mod-anticheat

[2020-12-23 09:48] Kitzunu commented on #3679
Add rev and a crashlog pls

[2020-12-23 11:46] Yehonal opened #4039 "No NPCs during character creation cinematic intro video and other flyby"
##### SMALL DESCRIPTION:

The cinematic video after the character creation doesn't show the NPCs during the flyby transition since the objects are not in sync with the camera.

The fix is available here: https://github.com/TrinityCore/TrinityCore/commit/87b4533046d337fe05d7891c3632d34f8811b73e  we should be able to easily import it

##### EXPECTED BLIZZLIKE BEHAVIOUR:

You should be able to see th

[2020-12-23 12:02] Helias commented on #3789
It is present also in TC 3.3.5a https://github.com/TrinityCore/TrinityCore/issues/8772
There is also a patch/fix but not stable for what I see, but it can always be helpful.

[2020-12-23 12:04] Yehonal opened #4040 "[LOOT] White items on starting areas have a wrong drop rate, must be lower"
##### SMALL DESCRIPTION:

White items (equip) at the starting zone should NOT have a high percentage of drop (+70%)

thanks to Grasswalker from ChromieCraft for the feedback

##### EXPECTED BEHAVIOUR:

The percentage of the drop is around 1-5%

https://wowgaming.altervista.org/aowow/?npc=1866#drops

The related issue on TC where we can also find the **FIX**: https://github.com/TrinityCore/TrinityC

[2020-12-23 13:55] Helias commented on #3848
Probably in these commits there is the fix:
https://github.com/TrinityCoreLegacy/TrinityCore/commit/4a052cb444c098b215800b22939e67fb3373411d
https://github.com/TrinityCoreLegacy/TrinityCore/commit/9c0cd63e933ece1a9b878b90103b305358202d25#diff-5bda463c97bdf069905cfcfea97432e3a9d7b310dd68649429236d7c809bc6d9

I will check them more in detail.

[2020-12-23 22:11] Helias commented on #3848
For me this quest does not work at all, I can't even reproduce the bug :S

[2020-12-24 18:58] r0m1ntik commented on #4037
sorry can't create PR,
[code]

[2020-12-25 06:32] Si1ker commented on #3869
https://www.wowhead.com/spell=198488/infernal-power
Added in patch 7.0.1.20740

🤔  wtf ..

I can confirm the spell is neither in the core nor into the NPC's 'smart_script'

@mpfans , were you able to check at the exact moment when the NPC was doing something and then you get that error in the console? We could reduce the scope of this unexpected behavior in that way.

[2020-12-25 12:53] morpheux opened #4048 "[AreaTrigger] ICC Entrance not working always"
##### CURRENT BEHAVIOUR:
Sometimes we are unable to enter ICC and it is necessary to try more often or to enter from the side. (no error just portal not working)

##### EXPECTED BLIZZLIKE BEHAVIOUR:
ICC Portal should always put you in or warn about quest or other difficulty kills missing.

##### STEPS TO REPRODUCE THE PROBLEM:
1 - Go to Icecrown Citadel Entrance
2 - Try to enter

##### EXTRA NOTES

[2020-12-25 15:12] mpfans commented on #3679
rev https://github.com/azerothcore/azerothcore-wotlk/commit/672057316a516f6126ee07f53006546eb238b7de
not carsh log...

[2020-12-25 15:56] #570 closed

[2020-12-25 15:56] #3528 closed

[2020-12-25 16:24] Kitzunu commented on #3679
Without a crashlog we can't figure out the issue

[2020-12-25 18:10] #3524 closed

[2020-12-25 21:10] r0m1ntik commented on #4048
Confirm [96c7d42](https://github.com/azerothcore/azerothcore-wotlk/commit/96c7d423806c3fd8c7390bbcd373ece62f438ac1)

[2020-12-25 21:17] Kitzunu commented on #4048
@Meltie2013 might have a clue? =)

[2020-12-25 21:29] Kitzunu commented on #4048
@morpheux @r0m1ntik Could you please try this fix
[code]
 From Meltie https://github.com/Meltie2013/azerothcore-wotlk/commit/550fede1671613a844545f8810b986a31892fe5d
 If it works I can PR it when I have time

[2020-12-25 22:59] r0m1ntik commented on #4048
@Kitzunu it's work ! ThankU

[2020-12-25 23:08] Helias commented on #4048
@Kitzunu if you create the PR for me, you can put as To Be Merged if the build pass

[2020-12-25 23:15] Kitzunu commented on #4048
@Helias okok =)

[2020-12-26 00:44] #4048 closed

[2020-12-26 01:55] nicoaravena opened #4051 "Smokywood supplies has an outdated year in description"
Accepting the quest https://www.wowhead.com/quest=8861/new-year-celebrations will give the item https://www.wowhead.com/item=21545/smokywood-supplies witch is supposed to be used before the next year.
The box actually says "Use before 2010", should be "Use before 2021" and this need to be updated every year.

![imagen](https://user-images.githubusercontent.com/4155059/103144187-1e604900-4704-11eb-

[2020-12-26 01:59] Kitzunu commented on #4051
As a personal opinion I dont want to change this

[2020-12-26 02:08] Si1ker commented on #4051
@Kitzunu reason? If you want to block blizzlike behavior, there should be a good reason, right? 🐱

[2020-12-26 02:10] Kitzunu commented on #4051
Pure nostalga for a cosmetic thing.
Also DBC data

[2020-12-26 02:20] Si1ker commented on #4051
I just did some investigation, this won't be changed:

On wowhead "Live" (meaning Shadowlands) it will display 2012: https://www.wowhead.com/item=21545/smokywood-supplies
![image](https://user-images.githubusercontent.com/61223313/103144387-36c56900-46ee-11eb-8dad-c66e0b88467b.png)

On wowhead "Classic" it will display 2010: https://classic.wowhead.com/item=21545/smokywood-supplies
![image](https:

[2020-12-26 02:20] #4051 closed

[2020-12-26 11:24] FrancescoBorzi commented on #3528
@Hacaw you should already have the permissions to change labels, haven't you?

[2020-12-26 11:33] FrancescoBorzi opened #4056 "CMake Deprecation Warning at var/build/obj/googletest/googletest-src/CMakeLists.txt"
Probably just updating the gtest version will fix the issue

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/95476642-cmake-deprecation-warning-at-var-build-obj-googletest-googletest-src-cmakelists-txt?utm_campaign=plugin&utm_content=tracker%2F40032087&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysourc

[2020-12-26 11:47] Wowhungarian opened #4057 "[Wintergrasp] Object visibility distance"
##### CURRENT BEHAVIOUR:
The problem is that, the destroyable game objects like Towers and Walls have low visibility distance at WG. Therefore [Wintergrasp Cannons](https://wowgaming.altervista.org/aowow/?npc=28366), which have greater visibility distance, than  the WG Towers, loads and falls down to the ground. Because of that, the Cannons on the Towers are usually unusable.

##### EXPECTED BLIZZ

[2020-12-26 11:49] FrancescoBorzi opened #4058 "Feature: RDF queue announcer"
Similarly to the BG queue announcer (disabled by default and that could be enabled via conf) it would be nice to have an announcer of RDF queue.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/95476640-feature-rdf-queue-announcer?utm_campaign=plugin&utm_content=tracker%2F40032087&utm_medium=issues&utm_source=github)** We accept boun

[2020-12-26 13:38] imxari opened #4059 "(DB/CORE) Fel Reaver"
##### CURRENT BEHAVIOUR:

The Fel Reaver roaming around Helfire in Outlands glitches through the floor and cuts across the map to return to it's original spawn point/waypoint.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

The NPC is meant to circle Helfire and eventually make it back to it's waypoint without cutting across the map.

##### STEPS TO REPRODUCE THE PROBLEM:

1. Go to Helfire and watch the Fel

[2020-12-26 15:56] FrancescoBorzi opened #4060 "DB/Quest: Soaket Pages"
##### SMALL DESCRIPTION:
When you loot the quest item for this quest, it disappears and the other party members cannot loot it until respawn.

https://www.wowhead.com/quest=9062/soaked-pages

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Typically when doing quests that require to loot only 1 item, all the party members all allowed to loot it.

##### CURRENT BEHAVIOUR:

##### STEPS TO REPRODUCE THE PROBLEM

[2020-12-26 16:52] LukasVolgger commented on #4059
You are using a modified client. Please retry with an clean WotLK client.

[2020-12-26 17:45] Yehonal commented on #4060
Probably we should use 2 seconds instead of 0 that can also cause some concurrency issue in core

Check this related issue: https://github.com/TrinityCore/TrinityCore/issues/20162

You could also get fixes for other similar objects

[2020-12-26 18:16] FrancescoBorzi commented on #4060
are you sure about this? because if that is true, then we have a problem:

![image](https://user-images.githubusercontent.com/75517/103156972-c29eca00-47ae-11eb-8f9e-60967e58d65a.png)

[2020-12-26 18:51] Yehonal commented on #4060
Not all objects are interactive. That's why they might not have respawntime
probably.
Anyway, it's very unlikely that you have a problem with 0 sec respawntime,
but should be safer to set 1 or 2 secs. Just test the result in game.

Il sab 26 dic 2020, 19:16 Francesco Borzì <notifications@github.com> ha
scritto:

[2020-12-26 21:01] #4025 closed

[2020-12-26 21:13] imxari commented on #4059
Tried without a modded client, issue is still present. I think it's a waypoints issue as he reaches Honor Hold and cuts across the middle of the map.

[2020-12-27 02:04] wizzymore commented on #3850
It doesn't work for you because you killed the boss without attacking it.

It is usable with the Crucible of Souls, and to get this one spawned you need to enter in combat with the boss.

The only think i can confirm here is that the item can be used without having the boss killed which i will come with a fix for.

[2020-12-27 02:10] wizzymore commented on #3850
Also you can check this:
https://www.wowhead.com/quest=24476/tempering-the-blade#comments:id=911172

[2020-12-27 02:43] wizzymore commented on #3851
Expect of the missing quest text, there is no issue here, could complete the quest based on this video:
https://www.youtube.com/watch?v=_YlPOW1IU0U

https://prnt.sc/wamarv
https://prnt.sc/wambb8

[2020-12-27 04:20] #3675 closed

[2020-12-27 10:03] #3854 closed

[2020-12-27 12:16] LukasVolgger commented on #3850
Thx @wizzymore for your feedback! In that case we can close this issue as everything is fine here like in the given yt video.

[2020-12-27 12:17] #3850 closed

[2020-12-27 13:32] Maurowin commented on #3854
No i cant because i'am talking about mechanic. You can't in BattleForMountHyjal interrupt spell.

[2020-12-27 13:58] FrancescoBorzi opened #4065 "Low population of Ghostclaw Lynx"
Original report from @NicoAravena

I was doing the quest https://www.wowhead.com/quest=9158/bearers-of-the-plague and searching for Ghostclaw lynx was hard, because of the low population of them.
![imagen](https://user-images.githubusercontent.com/4155059/103162483-eaeaf080-47cf-11eb-84ce-394df44a7249.png)
On the image, the left blue area, was empty of any kind of mobs and near of the Farstrider E

[2020-12-27 14:59] FrancescoBorzi opened #4066 "Stranglethorn Fishing Extravaganza"
Original report by @JamesGent

##### SMALL DESCRIPTION:

STV Fishing Extravaganza not working as intended from my experience.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

NPCs spawn (working)
2pm fishing tourney is announced (working)
All schools become tastyfish schools (not working)
Someone hands in 40 fish and wins (also a second place prize)

##### CURRENT BEHAVIOUR:

The schools do not become Tastyf

[2020-12-27 15:10] FrancescoBorzi commented on #4066
@LukasVolgger there was a report here https://github.com/azerothcore/azerothcore-wotlk/issues/2404 which is now closed. However, according to @JamesGent , the issue is still there.

[2020-12-27 15:11] Wowhungarian commented on #4066
Same as Kalu'ak Fishing Derby. All of them should be fixed. They are important parts of the game.

[2020-12-27 15:16] Yehonal commented on #4066
https://github.com/azerothcore/azerothcore-wotlk/pull/2463

This pull request can be related but probably it doesn't fix the issue for all cases

[2020-12-27 17:06] wizzymore commented on #4065
I saw this on discord some days ago,

Based on the new wowhead, there are 125 spawn:
![image](https://user-images.githubusercontent.com/25827787/103175907-60a99780-4876-11eb-9bff-a258bbab5286.png)

Based on our current database, there are only 19 spawns, 2 are on the left side, 17 on the right side.

I feel you about this, on the left zone, i only encountered 3 mobs, the 2 Lynx spawns and one Mist

[2020-12-27 17:46] wizzymore commented on #4066
Hi,

I don't see any problem with the event.
This:

Is not true, the schools appear on random points on the map and i can confirm they are working.
![image](https://user-images.githubusercontent.com/25827787/103176571-81282080-487b-11eb-83b4-b4a2c9d948ef.png)
![image](https://user-images.githubusercontent.com/25827787/103176575-8b4a1f00-487b-11eb-9203-f1f1317d5722.png)
This is with the event start

[2020-12-27 17:47] wizzymore commented on #4066
There are a total of 52 pools from which you can fish.
[code]
Instead of this: 164445, all are the fishing pools needed for this event.

[2020-12-27 17:50] wizzymore commented on #4066
Also, some random funny stuff that i just discovered, after i tested all schools and collected 40 fish, i selected the Hook of the Master Angler and seems like this item is completely bugged, you click on it it gets consumed and you don't transform into a fish..

[2020-12-27 18:01] JamesGent commented on #4066
The wiki says;

other sources say the tastyfish are 80%+ droprate during the event.

I fished for 45 minutes (until a server restart) and caught over 300 fish/boxes in/around STV and got zero Tastyfish on Chromiecraft.

Something is definitely off even if some things are technically working.

Perhaps the bug is that Tastyfish can ONLY be caught from the 52 pools that spawn?

[2020-12-27 18:18] wizzymore commented on #4066
Hi, yes, "Perhaps the bug is that Tastyfish can ONLY be caught from the 52 pools that spawn?" this is right, you can only catch them from the pools.
This is written as well in the fishing tournament rules as well:
![image](https://user-images.githubusercontent.com/25827787/103177161-a53a3080-4880-11eb-9b7e-4a60df478126.png)

[2020-12-27 18:53] wizzymore commented on #3174
Seems like this happens only when the character is in character select screen.
When the account connects to the server, only then it is checked for the offline mute.

What we need to do is to implement a check at the login of the character as well.

[2020-12-27 18:54] JamesGent commented on #4066
Here’s the hidden vital patch note change which renders my report technically not correct.

 Patch 5.1.0 (2012-11-27): Now caught from any pool in Stranglethorn Vale during the event.
Previously only found in event-specific Tastyfish schools

I stand by that something is still funky on ChromieCraft if I can spend an hour fishing from pools all over STV and I didn’t find a single TastyFish pool or

[2020-12-27 19:16] wizzymore commented on #4066
No, i triggered it in both ways by chaging the event time in the DB.

Also, .event start is the same as the automatic trigger.
Keep in mind 52 spawn on that huge map makes the fishing pool rare so you have to stay a little to find them, also, there is not a single pool in Booty Bay ( intended behaviour ).
Some close pools you can find are by my location, here are 3 pools at a relative close positi

[2020-12-27 22:50] Viste commented on #4007
for that you need remove position hardcodes from almost all scripts and make them dynamic like in TC and mangos

[2020-12-27 23:08] Winfidonarleyan commented on #4007
Totally useless module

[2020-12-27 23:11] wizzymore commented on #3371
Confirming this.

What happens is that the nearby priests that are not in combat are casting the shields.

[2020-12-28 00:44] wizzymore commented on #3284
Seems like it worked here:
https://github.com/azerothcore/azerothcore-wotlk/issues/258

[2020-12-28 00:49] wizzymore commented on #3284
I think i found the sweet spot:

![image](https://user-images.githubusercontent.com/25827787/103182855-48a63800-48b7-11eb-9369-fea22a39e707.png)
It works from here

[2020-12-28 09:22] #4060 closed

[2020-12-28 15:55] imxari opened #4077 "(DB/Quest) Taken by the Scourge"
##### CURRENT BEHAVIOUR:

- When you free a Warsong Peon they take too long to despawn. And they don't say anything.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

- In retail when you free a Warsong Peon they say one of many different lines and then despawn a few seconds later.

##### STEPS TO REPRODUCE THE PROBLEM:

1. Go to Warsong Hold in Borean Tundra.
2. Obtain the quest "Taken by the Scourge" (.ques

[2020-12-28 16:51] Hacaw opened #4078 "[Quest] Galaen's fate missing text on quest accept"
##### SMALL DESCRIPTION:

Missing npc texts after taking quest.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

On accept:

The ghost of Galaen appears.
_Galaen says: Morae... Is that you?
Galaen says: No... you're not Morae, but I sense that you have met. When you see her, tell her that I survived the crash, only to be done in by the infiltrators.
Galaen says: Let her know... my last thought was of her..._

[2020-12-28 17:25] Kitzunu commented on #4077
Gonna open a PR

[2020-12-28 17:35] Kitzunu commented on #4077
Please test it =) https://github.com/azerothcore/azerothcore-wotlk/pull/4079

[2020-12-28 17:58] imxari commented on #4077
Tested, works perfectly. Amazing work :D

[2020-12-28 18:18] wizzymore commented on #4078
Confirm, i will create a PR soon for this

[2020-12-28 21:07] wizzymore commented on #4078
I don’t think Waiting to be tested label in needed

[2020-12-28 21:17] 55Honey opened #4083 "[Ulduar] [Freya] [Fix included] Ancient Conservator add aura fix"
#CURRENT BEHAVIOUR:
Ancient Conservator adds apply their pacifying and silencing aura instantly.
https://streamable.com/5tggk5

EXPECTED BLIZZLIKE BEHAVIOUR:
Ancient Conservator adds apply their pacifying and silencing aura after 6 seconds.
https://www.youtube.com/watch?v=mc2ZOf3CkKA&ab_channel=Ciderhelm

STEPS TO REPRODUCE THE PROBLEM:
.cheat god
Enter Ulduar
Move or teleport to Freya
Pull her, w

[2020-12-28 21:19] wizzymore opened #4084 "Feature: SmartAI makes player to do an action on a specific target"
**Describe your feature request or suggestion in detail**

Add a specific option in SAI to as an example make a player cast a spell on a specific target.
This could help us move scrips from c++ to SAI and create more specific scripts that use spells.

**Describe a possible solution to your Feature or Suggestion in detail**

A good example is this script here which cannot be move to SAI because of

[2020-12-28 21:31] Hacaw opened #4085 "[Quest] Ending the Bloodcurse missing text on gameobject action"
##### CURRENT BEHAVIOUR:

The creature only spawns and attack the player.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Atoph the Bloodcursed should yell: _Who dares to defile our beloved ?_

[Proof](https://youtu.be/XyH_d4IGZFo?t=260)

##### STEPS TO REPRODUCE THE PROBLEM:

1. q a 9683
2. go c id 17713
3. modify swim speed 15 and get to the top of the island ( don't know a specific tele location)
4. righ

[2020-12-28 22:03] Hacaw opened #4086 "[Quest] Show-Gnomercy missing text and scripts"
##### CURRENT BEHAVIOUR:

Engineer "Spark" Overgrind spawns and attack the player with no texts and then walks weirdly.

There are multiple but little issue with this quest.

- [ ] Missing text when you use the option when talking with him.

Engineer "Spark" Overgrind laughs.
Engineer "Spark" Overgrind says: Does it frighten you to know that there are those would serve the Legion with such devotio

[2020-12-28 22:12] Kitzunu commented on #4084
I dont know, but if you cast the spell on a target, is it yours or the targets npc's then?

Thinking of SMART_ACTION_CAST and SMART_TARGET_ACTION_INVOKER

[2020-12-28 22:14] wizzymore commented on #4084
The casting is still done by the creature or GOB.

[2020-12-28 22:19] Kitzunu commented on #4084
then there's probably not a way to force player cast through sai, since the sai is assigned to a creature or gob

[2020-12-28 22:24] Hacaw opened #4087 "[Quest] What We Know display bug"
##### CURRENT BEHAVIOUR:
Quest is marked as a group-quest.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
Quest should be a normal one.
https://wotlk.evowow.com/?quest=9753

##### STEPS TO REPRODUCE THE PROBLEM:

1. q a 9753

##### EXTRA NOTES: reduce spawn-time for the creature

##### AC HASH/COMMIT: 53dbc93f443d8327077c501eba39947e76bd2e83

##### OPERATING SYSTEM: Windows 10 - Docker for Desktop

##### MO

[2020-12-28 22:26] Kitzunu commented on #4087
No.
https://wowwiki.fandom.com/wiki/Quest:What_We_Know...?oldid=1485483 Rev from 2008

Group

[2020-12-28 22:26] #4087 closed

[2020-12-28 22:28] Kitzunu commented on #4086
I believe this is a generic issue for the core

[2020-12-28 22:29] wizzymore commented on #4084
This is possible to be done, as an example, this is how AreaTrigger is done:
![image](https://user-images.githubusercontent.com/25827787/103246625-da23b180-496c-11eb-8b31-7c101573546b.png)
The caster becomes a summoned unit and then casts the spell on the target, the problem is not if this can be done, is if people want to see this thing.

[2020-12-28 22:33] Hacaw commented on #4087
@Kitzunu it's just a speak to a npc quest which is near the quest giver.
I don't think it was intended by Blizzard and that's why it was fixed, but nevertheless, thanks for checking out.

[2020-12-28 22:35] Kitzunu commented on #4087
Yea I am closing it since it is blizzlike, so we should keep it like that

[2020-12-28 22:35] wizzymore commented on #4084
Actually, after looking a bit in the script, i think this is what i was looking for:
SMART_ACTION_CROSS_CAST
I will test this and close the issue if i am right

[2020-12-28 22:36] Kitzunu commented on #4084
Nice

[2020-12-28 22:38] Kitzunu commented on #4084
Yea should in theory work with SMART_TARGET_ACTION_INVOKER

[2020-12-28 22:53] wizzymore commented on #4084
Yep, this works:
![image](https://user-images.githubusercontent.com/25827787/103247591-0db40b00-4970-11eb-8652-90ea5ad895c9.png)

The set-up in DB.
![image](https://user-images.githubusercontent.com/25827787/103247598-14428280-4970-11eb-97d0-e060cf7f6adb.png)

I will close this issue, also, i recommend switching that c++ script to SAI, i will send you the script if you are interesed

[2020-12-28 22:53] #4084 closed

[2020-12-28 22:54] Kitzunu commented on #4084
Better change it in another PR imho since it is already tested and approved

[2020-12-28 23:32] wizzymore commented on #4086
Can confirm both, working on a PR

[2020-12-29 00:34] wizzymore commented on #4086
Also, while wondering on the bitch there is no script going on.

"Wandering around the beach

While Engineer "Spark" Overgrind wanders around the beach, collecting seashells, he says 1 out of 6 random quotes, followed by 1 out of 3 random emotes, when he finds a shell:

    Engineer "Spark" Overgrind says: A-ha! Found one!
    Engineer "Spark" Overgrind says: Another one!
    Engineer "Spark" Over

[2020-12-29 03:23] wizzymore commented on #4087
All of this chain except the last questions are meant for group, also from wowhead comments i think the chain should be draenei only as well, will need to look into this more

[2020-12-29 07:36] mpfans opened #4090 "Rest not triggering in Honor Hold Inn (and other inns)"
.go -702 2721 94 530

Check your state

![20201229153315](https://user-images.githubusercontent.com/18187177/103266929-98861b80-49eb-11eb-912d-f8f4e4079fb2.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/95550404-rest-not-triggering-in-honor-hold-inn-and-other-inns?utm_campaign=plugin&utm_content=tracker%2F40032087&utm_medium=i

[2020-12-29 08:14] mpfans opened #4091 "NPCs don't attack when silenced, they stand still"
All NPCs that have mana and can cast spells have this bug...

1.  .go 16222.1 16252.1 12.5872 1 0 0
2. .gm on
3. .npc add 16977
4. Stay away from NPC,then .gm off
5. Approach or attack NPCs with skills
6. When NPC casts, try to interrupt NPC casting
7. It will stand still and wait for the silence to pass

EXPECTED BLIZZLIKE BEHAVIOUR:
When NPC casts, try to interrupt NPC casting or out of NPC's vi

[2020-12-29 09:21] Hacaw opened #4092 "[NPC] Demolitionist Legoso has a weird behavior"
##### CURRENT BEHAVIOUR:
Demolitionist Legoso spam cast Lightning Shield when he detects aggros.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
Not sure about this one, I searched WoWPedia, WoWHead, WoWWiki but couldn't find what should he actually do, since some guards are attacking mobs outside of city should he also attack creatures that are approaching ?

##### STEPS TO REPRODUCE THE PROBLEM:
1. go c id

[2020-12-29 09:46] #4040 closed

[2020-12-29 09:47] FrancescoBorzi commented on #4090
@mpfans please include your AC version (commit hash) when reporting an issue

[2020-12-29 09:48] #4065 closed

[2020-12-29 09:48] FrancescoBorzi commented on #4091
@mpfans please include your AC version (commit hash) when reporting an issue

[2020-12-29 09:51] mpfans commented on #4090
sry... i forgot

 AzerothCore revision            : 96c7d423806c+ 2020-12-24 02:48:51 +0000 (master branch)
OS:ubuntu 18.04

[2020-12-29 09:51] mpfans commented on #4091
sry..
AzerothCore revision : 96c7d42+ 2020-12-24 02:48:51 +0000 (master branch)
OS:ubuntu 18.04

[2020-12-29 09:59] Hacaw opened #4093 "[Spell] Polymorph on creatures is overpowered [$15]"
##### CURRENT BEHAVIOUR:
The creature waits 3-4 seconds after the effect is finished.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
The creature should attack you right away after the effect is finished.

##### STEPS TO REPRODUCE THE PROBLEM:
1. create mage character
2. learn all my spells
2. go c id 17348 (melee creature) / go c id 17606 (range creature)
3. get a bit of distance and cast Polymorph Rank 1

[2020-12-29 10:15] Hacaw opened #4094 "[Quest][Client] The Sun Gate missing animation"
##### CURRENT BEHAVIOUR:
1. The laser beams are missing
![image](https://user-images.githubusercontent.com/6963500/103276330-e80a1e80-49ce-11eb-943b-620806b169cc.png)

2. After taking the quest 9740 https://www.wowhead.com/quest=9740/the-sun-gate#videos:id=33955 and disable Sunhawk Portal Controller it should disable the animation of the associated laser beam.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

[2020-12-29 10:33] Hacaw opened #4095 "Core/Spell: SPELL_EFFECT_CREATE_RANDOM_ITEM will still cast even if there are no free bag space"
##### CURRENT BEHAVIOUR:
Container item gets deleted.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
Container item should be opened up to visualize what contains even though the backpack is full.

##### STEPS TO REPRODUCE THE PROBLEM:
1. create fresh character with default backpack (only hearthstone)
2. additem 2212 14
3. additem 5523
4. your backpack is now full
5. try to open up the shell
6. you get the

[2020-12-29 12:44] Kitzunu commented on #4091
I think there are like 5 open issues about this or similar to this.

[2020-12-29 12:45] Kitzunu commented on #4090
@Meltie2013

[2020-12-29 12:51] Kitzunu commented on #4092
smart_scripts
---
[code]
| entryorguid | source_type | id | link | event_type | event_phase_mask | event_chance | event_flags | event_param1 | event_param2 | event_param3 | event_param4 | event_param5 | action_type | action_param1 | action_param2 | action_param3 | action_param4 | action_param5 | action_param6 | target_type | target_param1 | target_param2 | target_param3 | target_param4 | target_x

[2020-12-29 12:56] Kitzunu commented on #4092
I wonder if he even should, in TC script he doesn't use the spell

[2020-12-29 13:09] Meltie2013 commented on #4090
@mpfans I checked the inn and it seems the area trigger id might not be correct. I checked the inn over at Thrallmar and its working just fine.

[2020-12-29 14:08] mpfans commented on #4090
supplement:
When you use the hearthstone to return to the Honor Hold Inn, you can get a rest
When you walk into Honor Hold Inn, you don't get any

[2020-12-29 14:09] Meltie2013 commented on #4090
@Kitzunu @BarbzYHOOL @FrancescoBorzi @mpfans
Well found the problem, well a number of them. With how area triggers are handled in the project, no wonder most Inn are not working. One issue for Honor Hold Inn, it was no radius in the database as shown below.

![image](https://user-images.githubusercontent.com/5354732/103289345-95b80600-49ac-11eb-806e-e2ad5ab81f4f.png)

Second, hard coding values fo

[2020-12-29 14:19] Meltie2013 commented on #4090
Changing the radius value to 35, flag is applied in the Inn as shown below. Found over 30+ Inns affected by this.
![WoWScrnShot_122920_081822](https://user-images.githubusercontent.com/5354732/103290189-8df96100-49ae-11eb-9b10-8d7d1c5d263c.jpg)

[2020-12-29 14:48] triggytag opened #4096 "Compilation VS 15 2017"
Use x86 (32)
MySQL 5.7.25-win32
OpenSSL 1.1.1i Win32

Visual Studio 2017 15.9.30

I get "warnings":
9>------ Сборка начата: проект: Recast, Конфигурация: Debug Win32 ------
9>Building Custom Rule D:/Server/azerothcore-wotlk-3.0.0-dev/deps/recastnavigation/Recast/CMakeLists.txt
9>CMake does not need to re-run because D:/Server/azerothcore-wotlk-3.0.0-dev/build/deps/recastnavigation/Recast/CMakeFile

[2020-12-29 14:49] Kitzunu commented on #4096
2 issues
1. Never copy paste into an issue, use pastebin or gist
2. This is not English.

[2020-12-29 14:53] triggytag commented on #4096
What does the language have to do with it?
If warning LNK4221

[2020-12-29 15:06] Winfidonarleyan commented on #3174
try https://github.com/WarheadCore/WarheadCore/commit/097df4e7b85c8b7ad026c34fe41adf7f83f33379

[2020-12-29 15:38] Kitzunu commented on #4096
1 & 3 still persists.

[2020-12-29 15:41] FrancescoBorzi commented on #4095
are we sure that it's not a problem in the client?

[2020-12-29 16:05] triggytag commented on #4096
+ problem
13>d:\server\azerothcore-wotlk-3.0.0-dev\src\server\game\battlegrounds\battlegroundqueue.h(105): error C2429: для атрибут "nodiscard" нужен флаг компилятора "/std:c++17"  (компилируется исходный файл D:\Server\azerothcore-wotlk-3.0.0-dev\src\server\scripts\Spells\spell_generic.cpp)

13>d:\server\azerothcore-wotlk-3.0.0-dev\src\server\game\battlegrounds\battlegroundqueue.h(105): error C24

[2020-12-29 16:08] FrancescoBorzi commented on #4096
@triggytag `azerothcore-wotlk-3.0.0-dev` you should not use that, just clone the latest version of AC using git

[2020-12-29 16:18] r0m1ntik commented on #4095
confirm [5d8ada5
](https://github.com/azerothcore/azerothcore-wotlk/commit/5d8ada587d043e17ee9115260206158623b01468)

[2020-12-29 16:18] triggytag commented on #4096
10>d:\server\azerothcore-wotlk-master\src\common\datastores\dbcfileloader.h(38): error C2429: для атрибут "nodiscard" нужен флаг компилятора "/std:c++17"  (компилируется исходный файл D:\Server\azerothcore-wotlk-master\src\server\shared\DataStores\DBCDatabaseLoader.cpp)
10>d:\server\azerothcore-wotlk-master\src\common\datastores\dbcfileloader.h(46): error C2429: для атрибут "nodiscard" нужен флаг

[2020-12-29 16:21] Hacaw commented on #4095
Tested with warmane client and chromie craft client.

[2020-12-29 16:23] Kitzunu commented on #4096
You need to update Visual studio to VS2019

[2020-12-29 16:25] triggytag commented on #4096
Lol? No! I not want update!
AzerothCore Requirements
Install Visual Studio version >= 15.9.17 (VS 2017 Community / VS 2019 Community)
I have 15.9.30.

[2020-12-29 16:26] Kitzunu commented on #4096
https://github.com/azerothcore/wiki/pull/318 VS2017 clearly does not work with the new /std:c++17
You can also read this https://stackoverflow.com/questions/65450355/visual-studio-attribute-nodiscard-requires-compiler-flag-stdc17

We will soon deprecate VS 2017 so nobody else gets this issue

[2020-12-29 16:49] r0m1ntik commented on #4094
confirm

[2020-12-29 18:31] r0m1ntik commented on #4094
[TrinityCore/sql/old/3.3.5a/world/64_2019_03_19/2019_01_22_04_world.sql](https://github.com/DeltaIN/TrinityCore/blob/0567b3245a04f3957f20db7791cbb7fcd77bfabd/sql/old/3.3.5a/world/64_2019_03_19/2019_01_22_04_world.sql)
![Снимок экрана 2020-12-29 в 18 51 03](https://user-images.githubusercontent.com/40755539/103305828-7355d500-4a0c-11eb-9dc0-1060d5b18438.png)

[2020-12-29 19:42] #4096 closed

[2020-12-29 20:07] Okuluss opened #4098 "NPC AI: Minions dont enter flight"
I noticed that some NPC minions dont enter combat like Succubus minion from IIkrud Magthrull (GUID 32439).  Please also see pic below. Might be the only one as e.g his summuned minions at 50% hp immediatly support him. If you start to fight succubus while Magthrull is still alive, it uses melee attack and lash of pain.

CURRENT BEHAVIOUR:
Minion dont enter fight.

STEPS TO REPRODUCE THE PROBLEM:
G

[2020-12-29 20:17] wizzymore commented on #4095
Confirm this, this is treaky to get done.
The item is using the spell: 58172
So the checks we need to do is:
Before casting spell that has the effect: "Open Item" we need to check if the player has enough inventory space, but you can't check it without casting the spell to know what dropped, and if you cast it and then just don't give the player the items because he has no space in inventory you n

[2020-12-29 20:42] Okuluss opened #4099 "[Quest] Gyromasts Revenge"
Wrong gossip for quest. Threshwackonator doesnt attack player when approaching Gelkak Gyromast to turn in quest.
Quest ID: 2078

##### CURRENT BEHAVIOUR:
As described above.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
Please also see video below:
https://classic.wowhead.com/quest=2078/gyromasts-revenge#videos:id=170980
with gossip:
![image](https://user-images.githubusercontent.com/76229969/103312463-6ab

[2020-12-29 22:08] Kitzunu commented on #4099
I dont really understand. Do you mean that he is not starting to attack if you press the gossip?

[2020-12-29 22:14] Okuluss commented on #4099
No, sorry. Threshwackonator just gets hostile when you apporach Gelkak but doesnt attack player. Before is friendly as it should be.

[2020-12-29 22:18] wizzymore commented on #4092
Seems like he casts some kind of Frost Shock everytime he enters combat ( only when he aggros from OOC, not by switching targets IC ).
https://www.youtube.com/watch?v=lARzK9CLu24
Other than that i couldn't find anything else.

[2020-12-29 22:33] Kitzunu commented on #4099
ah

[2020-12-30 00:11] wizzymore opened #4101 "[Quest] Urgent Delivery! + Botanist Taerix"
##### CURRENT BEHAVIOUR:

"Urgent Delivery!" currently has the Prev Required quest to be "Botanist Taerix" but it should be this:
https://wowwiki.fandom.com/wiki/Quest:Urgent_Delivery!#Quest_progression
![image](https://user-images.githubusercontent.com/25827787/103321634-4bce2f00-4a43-11eb-8d70-a3e25c92f388.png)

![image](https://user-images.githubusercontent.com/25827787/103321767-df076480-4a43-

[2020-12-30 00:19] Kitzunu commented on #4101
But shouldnt they be accessed all at the same time? Due to the [1]

[2020-12-30 00:21] wizzymore commented on #4101
That is the level of the quest

[2020-12-30 00:22] Kitzunu commented on #4101
Makes very much sense

[2020-12-30 00:22] mpfans opened #4102 "quest 9575 &9572 wrong location"
1. quest a 9575 or 9572
2. Look at the location of the quest
As shown in the figure, it is shown in the position of 3. In fact, it should be in the position of 1

![20201230082036](https://user-images.githubusercontent.com/18187177/103322153-024c0700-4a78-11eb-8408-07059a809d49.jpg)

AzerothCore revision : 96c7d42+ 2020-12-24 02:48:51 +0000 (master branch)
OS:ubuntu 18.04

<bountysource-plugin>

-

[2020-12-30 00:24] Kitzunu commented on #4101
however, isnt that quest supposed to be able to be done by all races? That means it would clash if we changed it, no?

[2020-12-30 00:24] Kitzunu commented on #4101
I might be wrong, it is too late to use the brain

[2020-12-30 00:25] Kitzunu commented on #4101
anyhow https://github.com/TrinityCore/TrinityCore/issues/16391 is where it was added

[2020-12-30 00:28] mpfans opened #4103 "error buff"
1..go -4620.14209 -1243.340332 -53.041912 1
2.View buffs

![20201230082917](https://user-images.githubusercontent.com/18187177/103322511-1fcda080-4a79-11eb-81ba-bb92a256e84e.jpg)

AzerothCore revision : 96c7d42+ 2020-12-24 02:48:51 +0000 (master branch)
OS:ubuntu 18.04

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/95569537-error-b

[2020-12-30 00:29] BarbzYHOOL opened #4104 "GetAverageItemLevel 2 functions for 1 usage? Remove one function?"
##### CURRENT BEHAVIOUR:

I wrote this a few months ago (and I don't remember the details) and posted in discord, I post it here and if you guys don't agree or explain to me why these two functions are needed, then just close it::

Why twice a similar function? Shouldn't we only use one? here is my (attempt) analysis of the code:
[code]
GetItemLevelIncludingQuality() already does that part `sum +=

[2020-12-30 00:31] BarbzYHOOL opened #4105 "Feature: Calculate ilevel from owned equipment in bag/bank"
**Describe your feature request or suggestion in detail**

On this page is written "Officially, average item level is calculated from the best item you own for that slot, not what you have equipped" which would be very practical for players and an improvement with 0 drawback.
Some players equip lower ilvl items on specific occasions, if it instead checked what is inside the bag + bank, it would sa

[2020-12-30 00:36] BarbzYHOOL commented on #4090
very interesting, have u compared the values to the dbc ones Meltie?

[2020-12-30 00:41] wizzymore commented on #4101
@Kitzunu actually the rest of the classes have the correct order:
9369 ( Replenishing the Healing Crystals for the other classes, not for Draenei ) continues with Urgent Delivery! as it should.
![image](https://user-images.githubusercontent.com/25827787/103322814-753d8980-4a48-11eb-8284-bf4043ff225d.png)

[2020-12-30 00:50] mpfans commented on #4103
The second bug
change worldserver.conf
Wintergrasp.Enable = 1 to Wintergrasp.Enable = 0
A party to a Alliance or Horde , still get 'Essence of Wintergrasp' buff

[2020-12-30 01:13] BarbzYHOOL commented on #4090
so maybe need to fix all the 37 inns listed above with a "custom" radius value?
However Meltie told me the DBC have same value for the inn radius and that it works fine on his TC based core... so that might not be the best method to follow

@Yehonal  here are the PRs that lead to this (in order to fix another bug ofc):
- https://github.com/azerothcore/azerothcore-wotlk/pull/3985

[2020-12-30 02:37] wizzymore commented on #4105
Hi,

iLvL even if it is present, is not used in gear comparations.
Gearscore should be used as a default system by everyone, something that was created by the community for the community.

[2020-12-30 02:42] wizzymore commented on #4104
Hi Barbz, this is because one is used for dungeon finder where heirlooms are given bonuses for easier queues, while to the other situations ( like Raid Browser ) you don't want this kind of behaviour.

[2020-12-30 03:59] nicoaravena opened #4106 "Weird interaction with maps in Ghostlands"
##### SMALL DESCRIPTION:
In Amani camps near Zul'Aman, some pet Lynx have a weird behaviour whe moving near houses (watch the video https://youtu.be/v9gHYshNNrM).

##### EXPECTED BLIZZLIKE BEHAVIOUR:
No dancing lynx

##### CURRENT BEHAVIOUR:
Pet lynx start moving weird near house entrance from amani's camps.

##### STEPS TO REPRODUCE THE PROBLEM:

1. Go to Ghostlands
2. Go Amani camps near Zul'Ama

[2020-12-30 10:20] FrancescoBorzi commented on #4005
The issue might be that we directly run a query each time a quest is completed/abandoned/etc... so with many players online this can lead to performance issues.

[2020-12-30 12:37] Kitzunu commented on #4106
Never report several unrelated bugs in one issue.

[2020-12-30 12:56] Winfidonarleyan commented on #4005
I think I know what can be done

[2020-12-30 12:58] nicoaravena commented on #4106
@Kitzunu Just updated the issue, will create new ones for others.

[2020-12-30 13:00] Kitzunu commented on #4106
Also add rev

[2020-12-30 13:21] FrancescoBorzi commented on #4103
@mpfans please open a separate error for each bug

[2020-12-30 13:27] FrancescoBorzi commented on #4005
go @Winfidonarleyan  :)

[2020-12-30 13:27] nicoaravena commented on #4106
Updatated again  @Kitzunu

[2020-12-30 13:29] nicoaravena opened #4108 "Escape from the Catacombs weird npc behaviour"
In my trip arround Ghostlands on ChromieCraft leveling my char and found little weird things.

I found weird is doing the rescue mission in the Amani Catacombs (https://www.wowhead.com/quest=9212/escape-from-the-catacombs), when killing the mobs in the ambush, Ranger Lilatha stay in combat and follow the path attacking first mob in sight, in this case were 2 bats, she went to them running faster t

[2020-12-30 13:31] FrancescoBorzi commented on #4108
@nicoaravena thanks for the report. A little tip: you can just copy paste [this](https://raw.githubusercontent.com/chromiecraft/chromiecraft/main/issue_template.md) template when reporting issues that you find on ChromieCraft.

[2020-12-30 13:37] mpfans commented on #4103
ok

[2020-12-30 13:39] mpfans opened #4109 "'Essence of Wintergrasp' buff error"
1. change worldserver.conf
Wintergrasp.Enable = 1 to Wintergrasp.Enable = 0
2. restart worldserver
3. A party to a Alliance or Horde , still get 'Essence of Wintergrasp' buff

AzerothCore revision : 96c7d42+ 2020-12-24 02:48:51 +0000 (master branch)
OS:ubuntu 18.04

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/95629452-essence-of-

[2020-12-30 14:22] r0m1ntik commented on #4103
[code]

[2020-12-30 14:31] Winfidonarleyan commented on #4005
I'm start work, need test https://github.com/WarheadCore/WarheadCore/pull/182

[2020-12-30 14:38] r0m1ntik commented on #4109
[code]
Try this @mpfans

[2020-12-30 15:18] r0m1ntik commented on #4102
Idk if existe in DBC WorldMapAreaId for Hellfire Peninsula, but MapID in DB is wrong,
[code]

[2020-12-30 15:29] wizzymore commented on #4102
@r0m1ntik Does this fix the issue completely?

[2020-12-30 15:32] r0m1ntik commented on #4098
@Okuluss this demon don't attack ?
![Снимок экрана 2020-12-30 в 16 31 27](https://user-images.githubusercontent.com/40755539/103363891-8f18b400-4abc-11eb-8647-6706c0eef52e.png)

[2020-12-30 15:40] r0m1ntik commented on #4093
confirm [d513d80
](https://github.com/azerothcore/azerothcore-wotlk/commit/d513d8064a31cdde183ebabfcab171e369b30a23)

[2020-12-30 16:20] Wowhungarian opened #4113 "[Wintergrasp] Low Cannon damage range, and low player visibility"
##### CURRENT BEHAVIOUR:
WG Cannons should have a much higher damage range based on some retail videos.
Currently it has only  150 yard range.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
It should have at least aprox. 260 yard range.
https://www.youtube.com/watch?v=d5VaiGFbR5I

##### STEPS TO REPRODUCE THE PROBLEM:
- Join to an active wg with 2 character (different fraction).
- Try to shoot one of your c

[2020-12-30 16:25] nicoaravena commented on #4108
@FrancescoBorzi just uptade the issue to match with given template.

[2020-12-30 16:43] r0m1ntik commented on #4102
@wizzymore the coordinates of the points are correct, but there the problem in the ID of the map was simple, it does not show where to be in the game, since the quest is performed in the insta and this insta is not in WorldMapAreaId.dbc

[2020-12-30 16:47] r0m1ntik commented on #4085
confirm [d513d80
](https://github.com/azerothcore/azerothcore-wotlk/commit/d513d8064a31cdde183ebabfcab171e369b30a23)

[2020-12-30 17:14] r0m1ntik commented on #4085
suggestion:
[code]

[2020-12-30 18:08] wizzymore commented on #4101
Please add this to 1-19 for correct project tracking.

[2020-12-30 18:35] wizzymore commented on #4099
Hi, i will create a PR for this soon.

Thanks for the report 😄

[2020-12-30 19:37] Okuluss commented on #4098
Hi r0m1ntik! The succubus doesnt attack. Shes already around before the fight (on the right hand side in my pic). The summoned viodwalkers during fight work as intended.

[2020-12-30 20:10] FrancescoBorzi commented on #4103
@r0m1ntik can you please [open a PR](https://www.azerothcore.org/wiki/How-to-create-a-PR) with it?

[2020-12-30 20:11] FrancescoBorzi commented on #4109
@r0m1ntik thanks for your fix but as I said in the other one: can you please create a PR?

[2020-12-30 20:16] FrancescoBorzi commented on #4108
@nicoaravena yeah it's ok, I mean for the future so it's easier for you ;)

[2020-12-30 20:16] FrancescoBorzi commented on #4085
@r0m1ntik same here, can you open a PR please? we can help you if needed

[2020-12-31 00:33] locus313 opened #4116 "(DB/Creature): Mottled Worg location in tree"
##### CURRENT BEHAVIOUR:

Mottled Worg is located inside a tree
![image](https://user-images.githubusercontent.com/4015312/103387883-0a796600-4abb-11eb-9518-1f9b84a1ec28.png)

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Mottled Worg should not be in the tree

##### STEPS TO REPRODUCE THE PROBLEM:

1. .go c 17952
2. walk forward (it will look like your not in the tree)
3. turn around and see the Mottled W

[2020-12-31 07:25] mpfans commented on #4102
tested... There is no location for quests now
![20201231152330](https://user-images.githubusercontent.com/18187177/103399472-40caea00-4b7c-11eb-860b-ca85810336b9.png)

Because it is an instance quest, the location will not appear on the map

[2020-12-31 07:25] mpfans commented on #4102
Confirm that it has been fixed

[2020-12-31 08:36] mpfans commented on #4103
![20201231163603](https://user-images.githubusercontent.com/18187177/103402035-4c231300-4b86-11eb-9146-19dca5516565.jpg)

tested.
Confirmed it's fixed

[2020-12-31 11:46] Helias commented on #4116
this was a easy one https://github.com/azerothcore/azerothcore-wotlk/pull/4117

[2020-12-31 12:52] triggytag opened #4118 "Rev: 6414b40518da (abort() has been called)"
**Rev:**
6414b40518da

**Last info Console:**
2020-12-31 16:23:38 Starting up Auction House Listing thread...
2020-12-31 16:23:38 worldserver process priority class set to HIGH
2020-12-31 16:23:38 Max allowed socket connections 1024
2020-12-31 16:23:38 AzerothCore rev. 6414b40518da 2020-12-31 01:07:35 +0000 (master branch) (Win32, Debug) (worldserver-daemon) ready...
2020-12-31 16:24:40 Command: .

[2020-12-31 14:57] wizzymore commented on #4118
Hi,

Please use the proper template and also include the hash/commit of your core, this is very important.

Also, please include your crashlog by posting it to a third party app like pastebin and adding here the link

[2021-01-01 00:13] Helias opened #4124 "Quest: Garments of the Light"
##### CURRENT BEHAVIOUR:
This quest consists of cast lesser heal to the NPC `Guard Roberts`, after healing him he says `Ah, priest....etc` this works but the quest does not complete :pensive:
![image](https://user-images.githubusercontent.com/519778/103431307-4a7d3d80-4bce-11eb-9f42-4afe2c42e4a5.png)

##### EXPECTED BLIZZLIKE BEHAVIOUR:
The quest should be completed after the heal to the Guard Rob

[2021-01-01 01:07] Helias commented on #4124
I had to cast also Power Fortitude rank 1 after the heal and it worked, I was wrong.

[2021-01-01 01:07] #4124 closed

[2021-01-01 10:49] chrisg-carleton commented on #4006
Is anyone working on this? I'd like to take a crack at it.

[2021-01-01 11:29] FrancescoBorzi commented on #4006
@chrisg-carleton not that I'm aware of, please go ahead :)

[2021-01-01 14:59] disclosurez commented on #4007
I use kvipka's anticheat over at wotlkraids, I can provide feedback to this anticheat and fixes to false positives where I have found them

[2021-01-01 15:02] Ramys commented on #4007
it would be interesting for you to post here.

[2021-01-01 15:06] disclosurez commented on #4007
if someone wants to merge the existing PR with the current build then I can comment on my findings.

[2021-01-01 16:48] Yehonal commented on #4007
please guys, to implement these new features, reuse the mod-anticheat that we already have here: https://github.com/azerothcore/mod-anticheat

You can open a PR there changing the readme etc. but would be great to use that one and creating conf to enable/disable certain checks...instead of creating a new anticheat from scratch.

[2021-01-01 17:51] lineagedr commented on #3387
Moving this https://github.com/azerothcore/azerothcore-wotlk/blob/master/src/server/game/Entities/Player/Player.cpp#L18356
Above:
_LoadAuras(holder->GetPreparedResult(PLAYER_LOGIN_QUERY_LOAD_AURAS), time_diff);

Solves the issue

[2021-01-01 18:16] FrancescoBorzi commented on #4007
@Yehonal I agree with it and I've updated my original post.

[2021-01-01 18:38] FrancescoBorzi commented on #3387
@lineagedr thanks for your solution, could you please [open a PR](https://www.azerothcore.org/wiki/How-to-create-a-PR) with it?

[2021-01-01 19:02] #4009 closed

[2021-01-01 19:53] BarbzYHOOL commented on #4104
What do you mean? it's to allow heirloom wearing players to pass the ilvl check?

[2021-01-01 19:55] BarbzYHOOL commented on #4105
it is used for the LFG so it would be better this way, but it's trivial

[2021-01-01 20:24] JamesGent opened #4127 "Shadowglen Webwood Spiders Population"
Shadowglen Webwood Spiders Population

##### CURRENT BEHAVIOUR:

Currently there are 5-6 spiders grouped closely in the entrance, and the spiders are paired in twos all over the cave. It feels like there's 2x too many spawns in this interior.

Go ingame and compare the current level of spiders (over 50 in the cave, 5 in the entrance, moslty in pairs) to this video from 2008 of them mostly alone an

[2021-01-01 21:11] Kitzunu commented on #4118
abort() is called here:
https://github.com/azerothcore/azerothcore-wotlk/blob/9be41ff4e628e1f6c3bc92a8140a9f8139c89ff5/src/common/Debugging/Errors.cpp#L111-L126
and here
https://github.com/azerothcore/azerothcore-wotlk/blob/9be41ff4e628e1f6c3bc92a8140a9f8139c89ff5/src/common/Database/MySQLConnection.cpp#L548-L557
But it can't be this because this is only SQL

But also in a hand full of deps:
g3dli

[2021-01-01 21:29] Winfidonarleyan commented on #4118
1. Use `RelWithDebInfo` build type for windows.
2. Check `Crash` folder
3. Try debug `worldserver.exe` with `Visual Studio`
- Example
![image](https://user-images.githubusercontent.com/18329778/103446525-129bf600-4cb3-11eb-8bd6-347682fdbfcc.png)

[2021-01-01 21:35] Kitzunu commented on #1666
I suppose this is easily fixed with conditions

[2021-01-02 10:18] 55Honey opened #4132 "[Portal] Instance portal not working"
#CURRENT BEHAVIOUR:
While testing my fixes for Gruul i entered and left Gruuls lair quite a few times. Each and every time i wanted to left the dungeon, walking straight through the middle of the portal did not work. Entering the lair has never been a problem.
[Portal fail](https://streamable.com/bpsqrj)
[Portal success](https://streamable.com/cg6rlh)

EXPECTED BLIZZLIKE BEHAVIOUR:
Players should

[2021-01-02 11:50] r0m1ntik commented on #4132
fixed [#4050](https://github.com/azerothcore/azerothcore-wotlk/commit/d3aff86c32334ad86d93aa37f09221c162049cf7)

[2021-01-02 11:52] 55Honey commented on #4132
Im going to update my server and test it again then.

[2021-01-02 12:18] Helias commented on #4132
@55Honey if the bug persists reopen or comment this issue

[2021-01-02 12:18] #4132 closed

[2021-01-02 12:57] JamesGent opened #4133 "Laris Geardawdle (9616) missing text"
Laris Geardawdle (9616) missing text

##### CURRENT BEHAVIOUR:

His first text works but if you ask him the his dialogue options it says "Greetings %N."

##### EXPECTED BLIZZLIKE BEHAVIOUR:

He should have more text on his dialogues. I don't know what the text is but not Greetings X.

https://classic.wowhead.com/npc=9616/laris-geardawdle

https://wow.gamepedia.com/Laris_Geardawdle

##### STEPS TO

[2021-01-02 13:03] #4078 closed

[2021-01-02 13:07] FrancescoBorzi commented on #4133
@JamesGent thanks for the report, please add the [1-19] label too when reporting bugs about this part of content :)

[2021-01-02 13:44] r0m1ntik commented on #4127
SELECT COUNT(1) FROM `creature` WHERE `id` = 1986;
TrinityCore DB: 45
AzerothCore DB: 62

[2021-01-02 17:45] #4086 closed

[2021-01-02 17:56] ghost opened #4136 "Siltfin Murloc Population too high on Siltfin Shore (Azuremyst)"
Siltfin Murloc Population too high on Siltfin Shore (Azuremyst)

##### CURRENT BEHAVIOUR:

There are almost 100 Siltfins on the small beach which made doing the lvl 8 quest extremely hard for a group of two (Priest/Shaman) players. I couldn't imagine doing it alone as every pull pulls 2-5 murlocs.

https://www.wowhead.com/quest=9562/murlocs-why-here-why-now

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Ha

[2021-01-02 18:05] r0m1ntik commented on #4136
confirm
![Снимок экрана 2021-01-02 в 19 04 34](https://user-images.githubusercontent.com/40755539/103463542-66e3bc00-4d2d-11eb-8e8a-86a6e57cecb5.png)

[2021-01-02 18:11] r0m1ntik commented on #4136
[code]
TrinityCore: 90
Azerothcore: 99

[2021-01-02 18:14] JamesGent opened #4137 "Guvan (npc 17482) incorrect NPC flags (can't train priests past lvl 6)"
Guvan incorrect NPC flags (can't train priests past lvl 6)

##### CURRENT BEHAVIOUR:

Guvan is the priest trainer in the 5-12 village. He should be able to train priests spells at lvl 8, 10, etc. Currently only can train up to 6.

https://www.wowhead.com/npc=17482/guvan

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Guvan should have flags to train priests of higher levels.

##### STEPS TO REPRODUCE THE PR

[2021-01-02 18:17] JamesGent commented on #4136
Lmao that I guess there's 100 murlocs and there's 99 Siltfins and 1 Murgurgula equalling exactly 100 murlocs.

[2021-01-02 20:23] r0m1ntik commented on #4136
I do not know how much should be in fact, maybe someone has more information, or implement 9 less as in TrinityCore ? @JamesGent

[2021-01-02 20:23] Si1ker opened #4139 "(DB/creature_template): Death Knight Understudy wrong spell bar order"
NPC name: [Death Knight Understudy](https://www.wowhead.com/npc=16803/death-knight-understudy)
NPC ID:16803
Location: Naxxramas (Map 533) at Military Quarter

Abilities:
[Blood Strike](https://www.wowhead.com/spell=61696/blood-strike)
[Taunt](https://www.wowhead.com/spell=29060/taunt)
[Bone Barrier](https://www.wowhead.com/spell=29061/bone-barrier)

##### CURRENT BEHAVIOUR:

Currently:
Blood Strik

[2021-01-02 20:42] Kitzunu commented on #4139
@Si1ker can you give me a screenshot from the video? Cant check it now but I might know the issue

[2021-01-02 20:49] r0m1ntik commented on #4139
@Kitzunu
![Снимок экрана 2021-01-02 в 21 49 14](https://user-images.githubusercontent.com/40755539/103466328-67d41800-4d44-11eb-8efe-b2611a7b2755.png)

[2021-01-02 20:54] Kitzunu commented on #4139
I think the issue is that it just skips spell 1 - 3 and squishes them together since they have no values

[2021-01-02 22:05] Si1ker opened #4140 "(DB/npc_spellclick_spells): Missing secondary effect on Obedience Crystal"
Entities involved in this issue:

NPC = [Death Knight Understudy](https://www.wowhead.com/npc=16803/death-knight-understudy)

NPC = [Obedience Crystal](https://www.wowhead.com/npc=29912/obedience-crystal)

Spell = [Obedience Chains](https://www.wowhead.com/spell=55520/obedience-chains)

Location: Naxxramas (Map 533) at Military Quarter

##### CURRENT BEHAVIOUR:

If you use the Obedience Crystal to

[2021-01-03 01:04] Kitzunu opened #4142 "Core/Creature: hardcoded gossips in npc_taxi"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/World/npc_taxi.cpp#L21-L44

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Needs to convert this into DB so that Locales can make use of it

##### AC HASH/COMMIT: https://github.com/azerothcore/azerothcore-wotlk/commit/79aa5606547d

##### OPERATING SYSTEM: w10

[2021-01-03 01:06] Kitzunu opened #4143 "Core/Creature: hardcoded gossips in npc_professions"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/World/npc_professions.cpp#L31-L98
https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/World/npc_professions.cpp#L827-L829

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Need to convert to DB so locales can m

[2021-01-03 01:10] Kitzunu opened #4144 "Core/Creature: hardcoded gossips in npcs_special"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/World/npcs_special.cpp#L652
https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/World/npcs_special.cpp#L1529-L1546
https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150

[2021-01-03 01:11] Kitzunu opened #4145 "Core/Gob: hardcoded texts in go_scripts"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/World/go_scripts.cpp#L1002
https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/World/go_scripts.cpp#L1044-L1046
https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76

[2021-01-03 01:13] Kitzunu opened #4146 "Core/Creature: hardcoded text in boss_ahune"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_ahune.cpp#L17-L18

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysourc

[2021-01-03 01:14] Kitzunu opened #4147 "Core/Creature: hardcoded gossips in zone_zangramarsh"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Outland/zone_zangarmarsh.cpp#L121-L122
https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Outland/zone_zangarmarsh.cpp#L318-L320
https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d89

[2021-01-03 01:16] Kitzunu opened #4148 "Core/Creature: hardcoded gossips in zone_terokkar_forrest"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Outland/zone_terokkar_forest.cpp#L509-L510

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/957

[2021-01-03 01:18] Kitzunu opened #4149 "Core/Creature: hardcoded gossips in zone_shattrath"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Outland/zone_shattrath_city.cpp#L34
https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Outland/zone_shattrath_city.cpp#L256
https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d8985425

[2021-01-03 01:19] Kitzunu opened #4150 "Core/Creature: hardcoded gossips in zone_shadowmoon_valley"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Outland/zone_shadowmoon_valley.cpp#L731-L732

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9

[2021-01-03 01:20] Kitzunu opened #4151 "Core/Creature: hardcoded gossips in zone_netherstorm"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Outland/zone_netherstorm.cpp#L1625

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/95701923-co

[2021-01-03 01:21] Kitzunu opened #4152 "Core/Creature: hardcoded gossips in violet_hold"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/VioletHold/violet_hold.cpp#L35-L37
Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/95

[2021-01-03 01:22] Kitzunu opened #4153 "Core/Creature: hardcoded text in boss_skadi"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/boss_skadi.cpp#L85

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.

[2021-01-03 01:24] Kitzunu opened #4154 "Core/Creature: hardcoded text in boss_razorscale"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/Ulduar/Ulduar/boss_razorscale.cpp#L64-L71

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/i

[2021-01-03 01:25] Kitzunu opened #4155 "Core/Creature: hardcoded text in boss_mimiron"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/Ulduar/Ulduar/boss_mimiron.cpp#L240-L258
Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/iss

[2021-01-03 01:26] Kitzunu opened #4156 "Core/Creature: hardcoded text in boss_ignis"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/Ulduar/Ulduar/boss_ignis.cpp#L46-L55

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues

[2021-01-03 01:27] Kitzunu opened #4157 "Core/Creature: hardcoded text in boss_hodir"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/Ulduar/Ulduar/boss_hodir.cpp#L133-L140

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issu

[2021-01-03 01:28] Kitzunu opened #4158 "Core/Creature: hardcoded text in boss_general_vezax"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/Ulduar/Ulduar/boss_general_vezax.cpp#L89-L95

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.co

[2021-01-03 01:30] Kitzunu opened #4159 "Core/Creature: hardcoded text in brann_bronzebeard"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/Ulduar/HallsOfStone/brann_bronzebeard.cpp#L13-L18
https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/Ulduar/HallsOfStone/brann_bronzebeard.cpp#L104-L146

Need to convert to DB s

[2021-01-03 01:32] Kitzunu opened #4160 "Core/Creature: hardcoded gossips in oculus"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/Nexus/Oculus/oculus.cpp#L60-L66

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9570

[2021-01-03 01:33] Kitzunu opened #4161 "Core/Creature: hardcoded emote in boss_krickandick"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/FrozenHalls/PitOfSaron/boss_krickandick.cpp#L30
Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.

[2021-01-03 01:34] Kitzunu opened #4162 "Core/Creature: hardcoded gossips in trial_of_the_champion"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/trial_of_the_champion.cpp#L11-L14

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](h

[2021-01-03 01:35] Kitzunu opened #4163 "Core/Creature: hardcoded emote in boss_argent_challange"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/boss_argent_challenge.cpp#L75
Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https:

[2021-01-03 01:37] Kitzunu opened #4164 "Core/Creature: hardcoded gossips in zone_witergrasp"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/zone_wintergrasp.cpp#L34-L37

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9570191

[2021-01-03 01:38] Kitzunu opened #4165 "Core/Creature: hardcoded text in zone_sholazar_basin"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/zone_sholazar_basin.cpp#L268-L279
https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/zone_sholazar_basin.cpp#L549-L550
https://github.com/azerothcore/azerothcore-wotlk/blob/79aa

[2021-01-03 01:39] Kitzunu opened #4166 "Core/Creature: hardcoded gossips in zone_howling_fjord"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/zone_howling_fjord.cpp#L311-L312

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/957

[2021-01-03 01:40] Kitzunu opened #4167 "Core/Creature: hardcoded text in zone_dragonblight"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/zone_dragonblight.cpp#L39-L47

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/957019

[2021-01-03 01:41] Kitzunu opened #4168 "Core/Creature: hardcoded gossip in zone_borean_tundra"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Northrend/zone_borean_tundra.cpp#L263

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/95701906

[2021-01-03 01:42] Kitzunu opened #4169 "Core/Creature: hardcoded gossips in culling_of_stratholme"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Kalimdor/CavernsOfTime/CullingOfStratholme/culling_of_stratholme.cpp#L139-L144

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](htt

[2021-01-03 01:43] Kitzunu opened #4170 "Core/Creature: hardcoded text in instance_hyjal"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/instance_hyjal.cpp#L31-L32
Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.b

[2021-01-03 01:44] Kitzunu opened #4171 "Core/Creature: hardcoded text in hyjalai"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjalAI.cpp#L31

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysourc

[2021-01-03 01:45] Kitzunu opened #4172 "Core/Creature: hardcoded gossips in hyjal"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal.cpp#L26-L37

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysou

[2021-01-03 01:45] Kitzunu opened #4173 "Core/Creature: hardcoded gossip in zone_thunder_bluff"
##### CURRENT BEHAVIOUR:

https://github.com/azerothcore/azerothcore-wotlk/blob/79aa5606547d898542557a01a2150f76e477e9e9/src/server/scripts/Kalimdor/zone_thunder_bluff.cpp#L32

Need to convert to DB so locales can make use of it

AC HASH/COMMIT: 79aa560
OPERATING SYSTEM: w10

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/95701901-c