[2021-03-21 03:52] Kitzunu commented on #4930
More info https://dev.mysql.com/worklog/task/?id=12391

[2021-03-21 04:27] Kitzunu commented on #4930
figured it out :D

[2021-03-21 06:17] Zoidwaffle commented on #4928
Sure, I can take a look and fix this zone, but I don't have time before Monday or Tuesday. Fixing all zones at once is a bit much, but I did plan to pool all herbs/minerals/treasures eventually, taking one zone at a time.

[2021-03-21 10:34] Zoidwaffle commented on #4928
As written above, I will not get around to fix this today. I self-assigned it and will do it soon (did the same for some other zones already, so should be trivial).

[2021-03-21 11:34] Winfidonarleyan commented on #4898
https://github.com/WarheadCore/mod-server-auto-shutdown

[2021-03-21 13:04] valens14 commented on #4569
I've been working with all of the vanilla raid content on my server and this issue was not unique to Garr, but affected every boss in Molten Core that had adds.  For example, if you engage Majordomo and kill 3 of the adds before wiping, you will be able to engage him again but he will only have 5 adds remaining.  This issue also affected Bug Trio in AQ40.  If you killed any of the three bugs then

[2021-03-21 14:15] #1534 closed

[2021-03-21 14:15] #3257 closed

[2021-03-21 14:17] #3352 closed

[2021-03-21 14:18] #4249 closed

[2021-03-21 14:18] #3443 closed

[2021-03-21 14:19] #2208 closed

[2021-03-21 14:19] #4845 closed

[2021-03-21 14:19] #4811 closed

[2021-03-21 14:19] #4468 closed

[2021-03-21 14:20] #4666 closed

[2021-03-21 15:24] FrancescoBorzi commented on #4928
@Zoidwaffle thank you!

[2021-03-21 15:26] FrancescoBorzi commented on #4898
@Winfidonarleyan thanks! can you please add it to `azerothcore/` organisation and to the mod catalogue as well

[2021-03-21 15:31] FrancescoBorzi commented on #4569
hello @valens14 and welcome to AzerothCore. This is how you can share your fixes:

https://www.azerothcore.org/wiki/How-to-create-a-PR

if you have any questions or need some assistance, please ping us on https://discordapp.com/invite/gkt4y2x

[2021-03-21 16:33] JamesGent opened #4934 "Shimmering Flats not enough Salt Flats Scavenger or Salt Flats Vulture"
##### CURRENT BEHAVIOUR:

1 quest location has 0 vultures.

1 quest location has 3 vultures.

![WoWScrnShot_032121_162856](https://user-images.githubusercontent.com/61194190/111912722-d6cb2e00-8a62-11eb-9692-66b0798c6c20.jpg)

![WoWScrnShot_032121_163020](https://user-images.githubusercontent.com/61194190/111912720-d337a700-8a62-11eb-8c76-86a0e3b6d8c6.jpg)

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Muc

[2021-03-21 16:45] Winfidonarleyan commented on #4898
https://github.com/azerothcore/mod-server-auto-shutdown

[2021-03-21 16:51] Voxstrasza commented on #4934
This is blizzlike because Shimmering Flats quests are designed to make you absolutely miserable.

[2021-03-21 20:25] markvetx commented on #4928
@Zoidwaffle Hi there! Wanted to ask you, where do you collect the data before making new pools? Do you check all the nodes/chests etc. before making a new pool?

I'm asking, so that may be I could try to make the same SQL commits as you've already done just for another zones. :)

[2021-03-21 20:56] nolt opened #4935 "[DB/Spawn] Mining Nodes: Multiple mining vein"
##### CHROMIE ISSUE:
https://github.com/chromiecraft/chromiecraft/issues/242
https://github.com/chromiecraft/chromiecraft/issues/243
https://github.com/chromiecraft/chromiecraft/issues/247
https://github.com/chromiecraft/chromiecraft/issues/252
https://github.com/chromiecraft/chromiecraft/issues/258
https://github.com/chromiecraft/chromiecraft/issues/268

##### CURRENT BEHAVIOUR:

Swamp of Sorrows

[2021-03-21 21:00] nolt commented on #4935
I'm preparing DB update for bugged spawned points.

Need some one help to decide what we will do with multiple spawn points in case where we have two different mining veins. Maybe I should move and make more distance to each other? or leave only one vein but which one.

[2021-03-21 21:02] nolt commented on #4935
Barrens update:
[code]

[2021-03-21 21:06] 55Honey commented on #4935
The guid should be unique. U don't need to check for the id here.

[2021-03-21 21:11] #2830 closed

[2021-03-21 21:12] 55Honey commented on #4935
There should be no same spawns of minerals / herbs inside of each other or overlapping each other. We will not be able to track the perfect original data, but i am fairly sure, that all nodes -except Gravemoss- which spawn in a 10y radius, are double tracked from gathered live data in merged data sets.
This should pass as a "improvement to become more blizzlike".
I suggest multiple PRs for these.

[2021-03-21 21:18] nolt commented on #4935
So you say it's better to delete existing ID and spawn new one?

[2021-03-21 21:20] nolt commented on #4935
Ashenvale fix:

[code]

[2021-03-21 21:25] nolt commented on #4935
Swamp of sorrows partial → 6056, 32756 - Iron Deposit:
[code]

[2021-03-21 21:43] nolt commented on #4935
Western Plaguelands → partial for 7115, 45552 - Mithril Deposit
[code]

[2021-03-21 21:48] 55Honey commented on #4935
You do not need to gather all changes in the issue. Your best bet, is to fork the main repo and create an SQL patch according to [this guide](https://www.azerothcore.org/wiki/How-to-create-a-PR). Mind step 5!
Then make a Pull Request with it, when you're done coding.  List the proposed changes there and link this issue :>

[2021-03-21 21:54] nolt commented on #4935
Yea I know :) but I paste here for mine history :) I know what I have fixed and what is left.
About PR i know how to do it, thanks.

[2021-03-21 21:55] nolt commented on #4935
Arathi Highlands:
[code]

[2021-03-21 21:58] 55Honey commented on #4935
You will create lots of pings with this to anyone watching the repo, i would rather save my progress e.g. in the PR.

[2021-03-21 21:59] nolt commented on #4935
Oh :) ok then :D

[2021-03-21 23:04] nolt commented on #4935
Multiple veins and decision what to leave based on veins object map at https://classic.wowhead.com/

[2021-03-22 02:40] #4207 closed

[2021-03-22 03:03] Winfidonarleyan commented on #4669
Start work after #4692

[2021-03-22 03:42] #4627 closed

[2021-03-22 05:28] mpfans opened #4939 "Equipment picking mode bug [$10]"
##### CURRENT BEHAVIOUR:
When `loot:master looter` mode is set, no matter what items are allocated by the `master looter`, even if you set epic quality
![20210322131448](https://user-images.githubusercontent.com/18187177/111944012-a7272f00-8b11-11eb-91c2-daa5e2f0408d.jpg)
![20210322131502](https://user-images.githubusercontent.com/18187177/111944023-ac847980-8b11-11eb-9c7c-d2c117811815.jpg)

#####

[2021-03-22 06:31] markvetx commented on #3740
This issue is still present even after #4894

[2021-03-22 07:09] esanhueza commented on #3740
Yeah, it seems casters must change to melee if the target is out of sight and only try to cast again after successfully reaching the target. Right now they try to cast constantly (even when moving) without accounting for their last action.
About the delay, it seems that there is some kind of delay between actions, so if you stop (interrupt, silecence, LoS, etc) one action, they wait for their "nex

[2021-03-22 08:04] jpaechnatz opened #4940 "Docker: acore-docker-build - Building with Modules fails"
Docker: Building with Modules fails

##### CURRENT BEHAVIOUR:
If I place any module code in the modules directory, the acore-docker-build fails.

##### EXPECTED BLIZZLIKE BEHAVIOUR:
building runs thru and everything is fine... ;-)

##### STEPS TO REPRODUCE THE PROBLEM:

1. Place any module source in modules directory.
2. start rebuild with acore-docker-build

##### EXTRA NOTES:
Error message
100%]

[2021-03-22 12:48] FrancescoBorzi commented on #4494
should be fixed by: https://github.com/azerothcore/azerothcore-wotlk/pull/4872

feel free to reopen if that's not the case

[2021-03-22 12:48] #4494 closed

[2021-03-22 12:52] FrancescoBorzi commented on #4898
@Winfidonarleyan nice, can you please make the credit headers to follow the AC format?

[2021-03-22 13:26] FrancescoBorzi commented on #4940
@jpaechnatz have you tried a clean build?

https://stackoverflow.com/questions/58202062/docker-building-deleted-modules-from-cache

[2021-03-22 14:35] Stifler82 opened #4942 "NPC Nancy Vishas not responding to combat."
Originally reported https://github.com/chromiecraft/chromiecraft/issues/222

##### CURRENT BEHAVIOUR:

NPC doesn't respond to combat.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

NPC should aggro and engage in combat when hit.

Additionally, according to [a wowhead comment from 2006](https://classic.wowhead.com/npc=3984/nancy-vishas#comments:id=2801423), she should be in the house talking to herself with

[2021-03-22 15:18] #4935 closed

[2021-03-22 15:36] Winfidonarleyan commented on #4898
Okay

[2021-03-22 15:49] jpaechnatz commented on #4940
That worked.

[2021-03-22 17:06] Winfidonarleyan commented on #4940
Need clean build for update pch files

[2021-03-22 21:30] Stifler82 opened #4943 "Quest: Body and Heart - it miss the "Completion POI""
Originally reported https://github.com/chromiecraft/chromiecraft/issues/275

##### FACTION

- [ ] Alliance
- [x] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Quest: [**Body and Heart**](https://wowgaming.altervista.org/aowow/?quest=6002)
[It has wrong QuestPOI position](https://media.discordapp.net/attachments/766767499987386402/823539916

[2021-03-22 22:03] JamesGent commented on #4699
I like this idea a lot and would vouch for its value in decreasing the frequency of rare/epic drops. It would make the task of adjusting loot to match blizzlike rates a lot less time consuming.

[2021-03-22 23:05] #4940 closed

[2021-03-23 00:01] nolt opened #4944 "[Quest]Going, Going, Guano! has wrong quest tracker marker"
##### CHROMIE ISSUE: https://github.com/chromiecraft/chromiecraft/issues/240

##### FACTION

- [ ] Alliance
- [x] Horde

##### CONTENT PHASE:

- [ ] Generic
- [ ] 1-19
- [x] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

The Questlocation is according to the Text: Razorfen Kraul in Zone Durotar (south), instead the Tracker points to some weird location of a Spidernest in western Tirisfall Glades, or

[2021-03-23 00:04] nolt commented on #4944
I think it's releaded to this but I totally dunno how to fix it. MapID should be 47 according to https://www.azerothcore.org/wiki/Map

[code]

[2021-03-23 00:45] T1ti opened #4945 "Deadmines - Mr.Smite"
##### CURRENT BEHAVIOUR:
-Mr. Smite always uses his stun (Smite Slam)
-Mr Smite will aggro other nearby creatures when pulled by aggroing the blackguards ![image](https://user-images.githubusercontent.com/40864460/112096791-41818400-8b9f-11eb-9b77-494b5ed8c347.png)

##### EXPECTED BLIZZLIKE BEHAVIOUR:
-He should only use his stun(Smite Slam) in hammer stance (below 33%) https://classic.wowhead.com

[2021-03-23 00:45] T1ti commented on #4945
add this issue to 1-19

[2021-03-23 04:58] T1ti opened #4946 "Deadmines - Van Cleef summons adds twice"
##### CURRENT BEHAVIOUR:
Van cleef will call for help and summon blackguards at both 50% and 25%

##### EXPECTED BLIZZLIKE BEHAVIOUR:

He should only summon guards at 50%, not at 25%.
https://youtu.be/j01MfraN6b0?t=3251

##### STEPS TO REPRODUCE THE PROBLEM:
1. .go c id 639
2. damage him and see when he summons adds

##### EXTRA NOTES:

##### AC HASH/COMMIT:
b8c2c2311d08b2b6332ce013ecc69d4ce7e3350

[2021-03-23 05:52] esanhueza commented on #4812
According to a comment in https://classic.wowhead.com/object=178244/practice-lockbox, it turns gray at 105, I confirmed this using AC #394ae6fd00e42a120a1a97cb8f533767fa792fa7

Also, I made ~ 230 attempts with my skill at 101 but was unsuccessful so I think the problem is in the way the probability of success is calculated.

[2021-03-23 09:26] Zoidwaffle commented on #4928
@markvetx : sure, if you use Linux I can share the way I do it (maybe it will work on Macs as well, not sure). If you use Windows, I can share some of my ideas, but it's more manual work.

But the idea is like this... Go to the zone of interest, then visit the upper left and lower right corner and get coordinates and map number. Use those to look for treasure in the database - check if there are a

[2021-03-23 10:36] Zoidwaffle opened #4949 "Mobs drop bug"
##### FACTION
Alliance

- [ ] Alliance
- [ ] Horde

##### CONTENT PHASE:
20-29

- [ ] Generic
- [ ] 1-19
- [x] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Mottled Scytheclaw,Mottled Razormaw raptors in Wetlands Whelgar's Excavation Site drop blue items more often than supposed.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Mottled Scytheclaw,Mottled Razormaw raptors in Wetlands Whelgar's Excavation Site

[2021-03-23 10:57] Kitzunu commented on #4946
smart_scripts
---
[code]
| entryorguid | source_type | id | link | event_type | event_phase_mask | event_chance | event_flags | event_param1 | event_param2 | event_param3 | event_param4 | event_param5 | action_type | action_param1 | action_param2 | action_param3 | action_param4 | action_param5 | action_param6 | target_type | target_param1 | target_param2 | target_param3 | target_param4 | target_x

[2021-03-23 11:06] Pensukdeath commented on #4946
We need a test. Can someone check on the official server?! The video is not clear.

[2021-03-23 11:09] Pensukdeath commented on #4946
![image](https://user-images.githubusercontent.com/1245535/112137498-64cd2300-8be1-11eb-8fec-6a88e6a3a10b.png)
wowhead

[2021-03-23 11:51] FrancescoBorzi commented on #4898
@azerothcore/modules @azerothcore/testers @azerothcore/developers

I need a volunteer to test this module and its config on a non-Windows system (or on Windows using Docker because it's linux):

https://github.com/azerothcore/mod-server-auto-shutdown

[2021-03-23 13:08] markvetx commented on #4928
@Zoidwaffle Thank you for this detailed answer! Yes, I'm using Linux. I've got the idea and have one more question. I suppose this type of process can be applied to mine nodes/herbs as well (just change the treasure GUID's to herb/mines GUID's)?

When I asked about where do you collect data, i meant do you use any external DB's like [This one for example](http://wotlkdb.com)?

[2021-03-23 13:23] 55Honey opened #4952 "Attacking NPCs does not aggro their pets"
##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

As a Druid after casting Wrath on [Razormane Hunter](https://wotlkdb.com/?npc=3265) it will initiate fight with the mob, however, it's companion wolf wont attack until it is harmed or in threat distance

##### EXPECTED BLIZZLIKE BEHAVIOUR:

It is expected for

[2021-03-23 13:30] markvetx commented on #4928
@Zoidwaffle Thank you for this detailed answer! Yes, I'm using Linux. I've got the idea and have a few more questions if I may ask you.

1. I suppose this type of process can be applied to mines/herbs as well (just change the treasure GUID's to herb/mines GUID's)?
2. When I asked about where do you collect the data, I meant do you use any external DB's like [This one for example](http://wotlkdb.co

[2021-03-23 13:45] markvetx commented on #4946
According to [this](https://youtu.be/f1vwX_F_yqU?t=39), he is summoning 2 extra adds when VanCleef is below 25%
But.. According to [this](https://www.youtube.com/watch?v=MYh73HIPROY) he isn't.

[2021-03-23 13:48] markvetx commented on #4946
According to [this](https://youtu.be/8FZd0hdYsiU?t=938) and [this](https://www.youtube.com/watch?v=MYh73HIPROY) the boss shouldn't spawn any extra adds when below 25% of HP. Both videos are from current Classic game.

[2021-03-23 13:55] Zoidwaffle commented on #4928
Yeah, for minerals and herbs I made these:

[code]

I often cross-check data with vmangos and TrinityCore if I'm in doubt - I just downloaded their databases and have them locally. But in the case of Eastern Plaguelands, I just used what was in AC already.

I used the Gathermate Data addon when reworking Bloodmyst Isle... It's not exactly a database, but I did use it as a reference for almost all

[2021-03-23 13:59] 55Honey opened #4953 "[Wailing Caverns] [Script] Disciple of Naralex doesn't stop in fights [$15]"
##### FACTION
Horde

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:
1-19

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Disciple of Naralex doesn't stop in fights to help and keeps going,giving you not enough time to kill all the mobs and get overwhelmed at the end.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Disciple of Naralex should stop in fights and help you kill the

[2021-03-23 14:19] markvetx commented on #4928
@Zoidwaffle

I see. What's your opinion on external DB's like [this one again](wotlkdb.com)? I guess they are filled with data from different private servers as well. Should it be used as a reference?

You mean like Westfall for example? A zone with a little sub-zones in it like mines. I saw several times that the mines have a lot of mine node spawned inside of it.

[2021-03-23 14:22] markvetx commented on #4928
@Zoidwaffle

I see. What's your opinion on external DB's like [this one again](wotlkdb.com)? I guess they are filled with data from different private servers as well. Should it be used as a reference?

You mean like Westfall for example? A zone with a little sub-zones in it like mines. I saw several times that the mines have a lot of mine nodes spawned inside of it.

[2021-03-23 14:28] Pensukdeath commented on #4946
OK. Thank. I'm calm)

[2021-03-23 16:12] T1ti commented on #4946
I have no idea where this comes from but I've never seen him summon adds twice on official

[2021-03-23 16:42] Zoidwaffle commented on #4928
I also Google for whatever info I need, so using external DB's is fine. Just remember that they are not necessarily the absolute truth.

For pools, I was thinking more like Duskwood. A lot of mineral veins (maybe all, I didn't check) have a pool with 3 minerals inside it. So 10% for silver, 30% for tin and 60% for copper (or something like that). So only 1 of those will be there at a time. The sam

[2021-03-23 16:54] T1ti opened #4955 "Missing SAI Feature: There is no method to select targets based on their power type"
##### CURRENT BEHAVIOUR:

- [X] The only way to have a spell casting player as a target is to use "when victim is casting any spell"

- [ ] there is no way to target only players/creatures that use mana, creatures that use mana burn/drain spells use it vs mana less players. Currently creatures that use mana drain/burn spells will cast it on any class regardless of if victim has mana or not

#####

[2021-03-23 17:06] Helias opened #4956 "missing SetDeprecatedExternalPasswords in .dist"
@UltraNix, probably you missed to add this conf in the worldserver.conf.dist, please add it to avoid the startup error "missing conf `SetDeprecatedExternalPasswords`".

##### AC HASH/COMMIT:
b8c2c2311d08b2b6332ce013ecc69d4ce7e33500

##### OPERATING SYSTEM:
Ubuntu 20.04

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/97322627-missing

[2021-03-23 18:28] Stifler82 commented on #4881
@nolt
I confirm the bug, and add that it is a problem related to Vmaps
**Video Test:** [Raptor Ridge Cave](https://youtu.be/2fraaaUjavw)

[2021-03-23 18:36] T1ti commented on #4881
Water height requirement for an area with water should be increased for it to be considered underwater

Also I'm not sure how it work but what makes a creature swim might also be related to its own model size/bounding box(seems normal that a smaller creature would be consiered udnerwater in lwoer water), maybe there's an issue with that

[2021-03-23 19:02] Stifler82 opened #4958 "Compleated Quest are not sharable"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/216

##### ISSUE: FACTION SIDE:

![Alliance](https://user-images.githubusercontent.com/1884642/108204869-3a88d100-711c-11eb-8179-e1b9b73ed450.png)

##### CONTENT PHASE:

1-19

##### SMALL DESCRIPTION: Compleated quests are not sharable with party members

Quest: [Oh Brother...](https://classic.wowhead.com/quest=167/oh-brother)

[2021-03-23 19:04] Stifler82 commented on #4958
**Maybe fixed here:** https://github.com/azerothcore/azerothcore-wotlk/pull/4880

[2021-03-23 19:31] locus313 commented on #4898
@FrancescoBorzi i will give this a test

[2021-03-23 20:38] locus313 commented on #4898
this looks pretty good. Worked on ubuntu 20.04.

![image](https://user-images.githubusercontent.com/4015312/112214628-a60f0400-8bdc-11eb-8bdc-cb20712d8527.png)

tested making a change to the config and using `.reload conf`. Like how it displayed this:
![image](https://user-images.githubusercontent.com/4015312/112214697-bc1cc480-8bdc-11eb-8a0e-c549cd321344.png)

[2021-03-23 21:50] Stifler82 opened #4960 "Retribution "Heart of Crusader" talent isn't working properly"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/232
CURRENT BEHAVIOUR:
Heart of Crusader can't be seen on target's debuff when it's victim of a judgement [no matter if yellow, blue or red]
I can't say if does apply, but i think not.

EXPECTED BLIZZLIKE BEHAVIOUR:

This talent applies a "debuff" on target, indicating that the talent is active

STEPS TO REPRODUCE THE PROBLEM:

[2021-03-23 21:54] r0m1ntik commented on #4960
@Stifler82 [4585](https://github.com/azerothcore/azerothcore-wotlk/pull/4585)

[2021-03-23 22:20] Stifler82 opened #4961 "Execute sometimes does no Damage"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/235

##### FACTION

- [ ] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

A week ago someone opened a ticket for execute but did not have enough information. I was recording while farming but most times this happens - it is hard to see because if Execute d

[2021-03-23 22:36] #4213 closed

[2021-03-23 23:35] Stifler82 opened #4962 "[Quest] Matis the Cruel"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/241

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Quest: [Matis the Cruel](https://www.wowhead.com/quest=9711/matis-the-cruel)
Npc_start: [Vindicator Kuros](https://www.wowhead.com/npc=17843/vindicator-kuros)
Zone: [Bloodmyst Isle](

[2021-03-23 23:42] mnclaras commented on #2385
Any news on this? @FrancescoBorzi

[2021-03-23 23:43] r0m1ntik commented on #4822
@Jimmysmom
In src/server/game/Handlers/CharacterHandler.cpp for FRIEND_ONLINE
[code]
And for FRIEND_OFFLINE
In src/server/game/Server/WorldSession.cpp
[code]

[2021-03-23 23:50] Stifler82 opened #4963 "Wrong Turn In Location - The Principal Source"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/245

##### FACTION

- [ ] Alliance
- [x] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

When you have completed the Horde version of the quest [The Principal Source](https://classic.wowhead.com/quest=6127/the-principal-source), the quest completion marker shows up at Dr

[2021-03-23 23:52] Stifler82 opened #4964 "Aquatic Miasma debuff doesn't slow swim speed"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/246

##### FACTION

- [ ] Alliance
- [x] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

The [Aquatic Miasma](https://classic.wowhead.com/spell=19727/aquatic-miasma) debuff you gain from looting the [Half Pendant of Aquatic Agility](https://classic.wowhead.com/item=15883

[2021-03-24 00:11] Stifler82 opened #4965 "Deviate Pythons spawn in the ceiling in Wailing Caverns"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/251

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Two of the [Deviate Pythons](https://classic.wowhead.com/npc=8886/deviate-python) in [Wailing Caverns](https://classic.wowhead.com/wailing-caverns) spawn in the ceiling.

![Deviate P

[2021-03-24 01:16] Stifler82 opened #4966 "Druid can perma root mobs"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/255

##### FACTION

- [ ] Alliance
- [X] Horde

##### CONTENT PHASE:

- [ ] Generic
- [X] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

In Mulgore, as a Tauren Druid, if you cast wrath against any mob and immediately cast entangling roots followed by another wrath the mob will stand in place, then you can keep castin

[2021-03-24 01:17] Stifler82 commented on #4966
Confirmed!
-
**Video Test:** [Druid can perma root mobs](https://youtu.be/vT_DhWfsWUg)

[2021-03-24 01:18] Stifler82 commented on #4966
It is probably an issue related to this problem as well.
https://github.com/chromiecraft/chromiecraft/issues/125

[2021-03-24 01:22] Stifler82 opened #4967 "Lack of herb and mining nodes in Eversong Woods and Ghostlands"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/262

##### FACTION

- [ ] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [x] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Few herb and mining nodes in Eversong Woods. The only rich area in herbs is East from Silvermoon City.
Especially very few mining nodes in Ghostlands, there are only some around the

[2021-03-24 02:00] Stifler82 opened #4969 "Tower of Althelaxx (part 4) Npc Minions not Engaging"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/266

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [ ] Generic
- [ ] 1-19
- [x] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

**Quest:** [The Tower of Althalaxx (part 4)](https://wowgaming.altervista.org/aowow/?quest=970)
**Npcs:**
[Dark Strand Cultist](https://wowgaming.altervista.org/aowow/?npc=3725)
[Dar

[2021-03-24 02:10] Stifler82 opened #4970 "Specific Bandage item [Warsong Gulch Silk Bandage] does not apply Recently Bandaged Debuff"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/269

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Specific Bandage item [Warsong Gulch Silk Bandage] does not apply Recently Bandaged Debuff

![ads](https://user-images.githubusercontent.com/47978220/111910379-c9657200-8a69-11eb-8c4

[2021-03-24 02:14] Stifler82 opened #4971 "Redridge zone Peacebloom spawn inside of a tree"
Originally reported: https://github.com/chromiecraft/chromiecraft/issues/270
Related: https://github.com/chromiecraft/chromiecraft/issues/261

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [ ] 1-19
- [x] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

![Wow_JVIWAIvV8j](https://user-images.githubusercontent.com/24726811/111921289-75eb2800-8a59-11eb-9177-b848cd938969.

[2021-03-24 02:31] Stifler82 opened #4972 "Stonelaton mountains unreachable herb"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/273

##### FACTION
Alliance

- [ ] Alliance
- [ ] Horde

##### CONTENT PHASE:
Generic

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Found a wild steelbloom herb that is unreachable without a flying mount.
Coordinates 37.6 40,5

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Herb supposed to be reachable to

[2021-03-24 02:40] Stifler82 opened #4973 "[HORDE] Mining node inside a wall near Thunder ridge ( outside orgrimmar)"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/276

##### FACTION

- [ ] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Mining node is hidden inside the wall near thunder ridge ( outside orgrimmar)
![Screenshot (5)](https://user-images.githubusercontent.com/80331807/112046147-acb46180-8b71-11eb-9245-f

[2021-03-24 02:41] Stifler82 commented on #4973
In the second image it is evident that the Mining Node is inside the wall, but in the first image it could be that the Mining Node is "downstairs" as **(below there is a sort of Canyon)**

[2021-03-24 03:05] T1ti opened #4974 "Install path is bugged"
##### CURRENT BEHAVIOUR:
-When doing a fresh install of AC, the server will build executables in build/Bin/release-debug regardless of the install path you chose in Cmake.

##### STEPS TO REPRODUCE THE PROBLEM:
1. Clone a fresh install and choose an install path in cmake
2. 2. see where it builds and test that install path

##### EXTRA NOTES:
I have that issue happen to several members of my proje

[2021-03-24 03:10] Stifler82 opened #4975 "Hunter pets are slowed when master is dazed"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/279

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

If you are a Hunter and you get dazed, your pet's movement speed will be reduced as well.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Pets should retain their normal speed despite the mast

[2021-03-24 06:33] T1ti opened #4976 "Creatures don't aggro others in combat/while feared [$10]"
##### CURRENT BEHAVIOUR:
When a creature is feared it will just be completely invisible for other nearby creatures and won't aggro them.
It deosn't aggro on the way back either(when not feared), seems like creatures just don't have a call for help tick while in combat ?

![image](https://user-images.githubusercontent.com/40864460/112265817-65ae9500-8c73-11eb-991e-f71d5bbbad29.png)

##### EXPECTED

[2021-03-24 06:59] markvetx commented on #4928
@Zoidwaffle Okay, I'll try to do something with this when I have a free time. Thank you for the detailed answer again! :)

[2021-03-24 08:40] nolt commented on #4972
Thanks for the link but I have more than one issue with the same problem... and didnt checked all of them while in other hand im preparing PR for it...

[2021-03-24 08:40] nolt commented on #4971
Thanks for the link but I have more than one issue with the same problem... and didnt checked all of them while in other hand im preparing PR for it...

[2021-03-24 09:20] Kitzunu commented on #4974
I believe it will always create the folders bin and debug/relwithdebinfo/release so the question is, in your CMake, did you specify the path to the "Build" folder?

[2021-03-24 09:23] FrancescoBorzi commented on #4898
thank you very much @locus313 for testing this!

@Winfidonarleyan the bounty is yours!

[2021-03-24 09:23] #4898 closed

[2021-03-24 09:34] Zoidwaffle commented on #4928
@markvetx : You're welcome. I can share some Bash-scripts with you as well if interested.

[2021-03-24 10:07] Stifler82 opened #4978 "NPC spawns below ground"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/283

NPC is invisible until you run into aggro range because it spawns below ground

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

NPC is undetectable until getting into aggro range.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

NPC should b

[2021-03-24 10:41] Stifler82 opened #4979 "Battered Junkboxes no loot"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/284

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Battered Junkboxes are empty,opened about 10 and none had any loot.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Battered Junkboxes should have loot.

##### STEPS TO REPRODUCE THE PROBLEM:

[2021-03-24 10:57] Kitzunu commented on #4581
void EscortAI::EnterEvadeMode(EvadeReason /*why*/)
{
    me->RemoveAllAuras();

[2021-03-24 10:59] Kitzunu commented on #4979
it has loot, just very low chanses
item_loot_template
---
[code]
| Entry | Item | Reference | Chance | QuestRequired | LootMode | GroupId | MinCount | MaxCount | Comment |
| ---: | ---: | ---: | ---: | ---: | ---: | ---: | ---: | ---: | --- |
| 16882 | 422 | 0 | 0,05 | 0 | 1 | 0 | 1 | 1 | Battered Junkbox - Dwarven Mild |
| 16882 | 929 | 0 | 10,1 | 0 | 1 | 0 | 1 | 1 | Battered Junkbox - Healing Po

[2021-03-24 11:04] Kitzunu commented on #4581
The question is, as you mentioned, is this intentional or not

[2021-03-24 11:14] Kitzunu commented on #4860
https://github.com/azerothcore/azerothcore-wotlk/pull/4980 should fix your first issue, I upped the range to 100yards (cp from TC)
I don't know if it will fix the second issue, but I added some more checks for how the NPC can get into combat

[2021-03-24 12:53] Zoidwaffle commented on #4974
I checkout the code, the create a "build" folder, from within that:

`cmake ../ -DCMAKE_INSTALL_PREFIX="/your/path/here" <other parameters>` and then `make -j $(nproc) && make install`.

I just rebuild master earlier today, worked fine. Or maybe I misunderstood the issue?

[2021-03-24 13:09] Zoidwaffle commented on #4967
Eversong Woods should be OK for mining nodes?

https://github.com/azerothcore/azerothcore-wotlk/pull/4634

Just checked and found 26 minerals (the pool says 30, but those numbers seem to be slightly off often).

![eversong_minerals](https://user-images.githubusercontent.com/541438/112315219-35ceb400-8caa-11eb-9883-8d5867c55520.png)

I have not investigated missing herbs.

[2021-03-24 13:15] Zoidwaffle commented on #4946
I don't remember the encounter that well TBH, but the top comment here https://classic.wowhead.com/npc=639/edwin-vancleef#comments mentions summoning at 50 and 25%. So maybe that's the source? It's mentioned again near the end of the page.

[2021-03-24 13:35] Kitzunu opened #4981 "Crash: Worldserver asserting in BigNumber.cpp"
##### CURRENT BEHAVIOUR:

I believe it might only be on Windows machines as it has to do with .dll files

After about 4 minutes of the worldserver being online and a character logged in I get this error

Exception thrown at 0x00007FF9BEB1D759 (KernelBase.dll) in worldserver.exe: 0xC0000420: Assertion Failure (parameters: 0x00000204C0609450, 0x00007FF63AF4BE9D).

E:\azerothcore-wotlk\src\common\Cry

[2021-03-24 13:39] thenewblock commented on #4946
https://youtu.be/xYezcS_e9tg?t=363

Looks like he only spawns adds once at 75%?

[2021-03-24 13:41] Kitzunu commented on #4946
Feel free to test the fix above

[2021-03-24 13:45] Winfidonarleyan commented on #4981
Tri disable Warden and retest

[2021-03-24 13:46] FrancescoBorzi commented on #4944
@nolt what is the minimum level required for this quest? so we can put either [1-19] or [20-29] accordingly

[2021-03-24 13:47] Buggyswires commented on #4510
Same issue for Human Male. No fishing possible in either Valley of Spirits or Valley of Honor

[2021-03-24 13:50] Kitzunu commented on #4981
Still crashing

[2021-03-24 13:53] Kitzunu commented on #4981
But this time the parameters changed slightly
Exception thrown at 0x00007FF9BEB1D759 (KernelBase.dll) in worldserver.exe: 0xC0000420: Assertion Failure (parameters: 0x000002A5C13BB050, 0x00007FF6273FBE9D).

[2021-03-24 13:58] Viste commented on #4981
you can revert sha_pass commit :) and all will be ok

[2021-03-24 14:01] FrancescoBorzi commented on #4955
are these SAI features available in TC ?

[2021-03-24 14:25] FrancescoBorzi commented on #2385
@mnclaras unfortunately I don't have any news about this issue. Remember:

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/82633109-icc-sindragosa-los-exploit-last-phase-35?utm_campaign=plugin&utm_content=tracker%2F40032087&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content

[2021-03-24 14:25] Bogir opened #4982 "How-to make salt hash using PHP to register new account from web?"
What is the PHP-algorythm to make salt and verifier data after UltraNix removed Sha_pass_hash ?

commit 485f7e76391a5bbf1af6b3219d27db721af38440

We used before:` $sha_pass_hash = getPasswordHash($account_name, $password);`

And how to make salt and verifier to register new account now?

May be wee ned to place somewhere detailed instruction with examples ?

[2021-03-24 14:26] FrancescoBorzi commented on #4822
@r0m1ntik can you please provide a PR with it?

[2021-03-24 14:31] Kitzunu commented on #4981
Might be my fault for forgetting to update DB with
[code]

Tonight I can recheck

[2021-03-24 14:47] FrancescoBorzi commented on #4982
hi @Bogir this is indeed valid question but please use stackoverflow (github is for bug reports or core feature requests):

https://www.azerothcore.org/wiki/How-to-ask-for-help

[2021-03-24 14:47] #4982 closed

[2021-03-24 14:50] #4930 closed

[2021-03-24 16:50] T1ti commented on #4974
well for me cmake install prefix just gets ignored on windows
Though I rememer that it worked on my debian VPS

[2021-03-24 16:53] T1ti commented on #4946
he is super over leveled, and the reason why the NPCs appear later is because the original NPCs didn't aggro on pull because of the level difference imo

[2021-03-24 16:57] nolt commented on #4944
According to https://classic.wowhead.com/quest=1109/going-going-guano its 30lvl but we can assign it to 20-29 because its Dungeon Quest.

[2021-03-24 16:59] avatar789 commented on #4981
the same error is present on Ubunt
![error](https://user-images.githubusercontent.com/5444058/112352053-05fccc00-8cfd-11eb-9cd5-4085c5de9a6e.png)
u

[2021-03-24 18:51] nolt commented on #4971
This issue releated to the same map: https://github.com/chromiecraft/chromiecraft/issues/261

PR is almost done

[2021-03-24 18:57] nolt opened #4984 "Herbalism Nodes duplicated or wrong spawn"
##### CHROMIE ISSUE:
https://github.com/chromiecraft/chromiecraft/issues/272
https://github.com/chromiecraft/chromiecraft/issues/257
https://github.com/chromiecraft/chromiecraft/issues/249

##### FACTION
- [x] Alliance
- [x] Horde

##### CONTENT PHASE:
- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Wrong spawn or duplicated herbs spawn in:
- Alterac Mountains
- Badland

[2021-03-24 18:58] nolt commented on #4984
PR is on the way for those three issues.

[2021-03-24 19:12] jordigil commented on #4981
I'm testing the lastest commit and my server isn't crashing, with 1 toon logged, server uptime: 30min+

Using:
* Windows 10 x64 (20H2)
* Visual Studio Community 2019
* CMake 3.19.7
* MariaDB 10.5.9
* OpenSSL 1.1.1j

[2021-03-24 19:46] Kitzunu commented on #4981
Yea my bad, somehow I missed the warden update

[2021-03-24 19:46] #4981 closed

[2021-03-24 20:00] Stifler82 opened #4986 "NPC "Fenros" not dropping [Tribal Worg Helm] / Loot Table bug"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/285

##### FACTION

- [x ] Alliance
- [x ] Horde

##### CONTENT PHASE:

- [x ] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

The Rare NPC [Fenros](https://wowgaming.altervista.org/aowow/?npc=507#drops) is not dropping Item [[Tribal Worg Helm]](https://wowgaming.altervista.org/aowow/?item=6204). It is su

[2021-03-24 20:23] Si1ker commented on #4974
Hi, just to check, if not related just tell me  x)

Has this anything to do with this PR https://github.com/azerothcore/azerothcore-wotlk/pull/3196
or this issue? https://github.com/azerothcore/azerothcore-wotlk/issues/1064

It just sounds familiar, but idk.

[2021-03-24 20:37] Stifler82 opened #4987 "Specific Drops and Zone Drops behaving like World Drops"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/286

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Items that should be very specific Zone Drops and Drops from specific NPCS are in World Drop Loot Tables, also know as: "reference_loot_template.sql" in the database.

Some examples

[2021-03-24 20:40] T1ti commented on #4987
Kinda related to https://github.com/azerothcore/azerothcore-wotlk/issues/4699

[2021-03-24 21:19] #4883 closed

[2021-03-24 22:29] iyasenai opened #4989 "[Ulduar]- Problems with Immortal Guardian."
##### CURRENT BEHAVIOUR:

Yogg-Saron's Immortal Guardians attack from a great distance, but can also be the victim of attacks from a much greater distance than melee.
![image](https://user-images.githubusercontent.com/37153212/112390508-6facb400-8cc4-11eb-91ac-fc28b8203b09.png)
https://www.youtube.com/watch?v=HxFV7cOoDhc&ab_channel=Kyonxx

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Immortal Guardians mu

[2021-03-24 22:56] Hacki95 commented on #4974
I think this has something to do you have writing rights to the chosen directory without admin.

If you choose C:/Program Files(x86)/AzerothCore it sometimes cant make the folder, but if you use something like D:/AzerothCore it works (atleast for me).

[2021-03-24 23:00] T1ti commented on #4974
No I chose my E drive and I run VS as admin.
It also happened to all my project members.
I should speciy that we use a fork so that may be the reason, but we didn't modify any of that

[2021-03-24 23:00] Hacki95 commented on #4974
I just compiled it today under windows and it worked for me.

Let me delete my folder and try again.

[2021-03-24 23:01] Kitzunu commented on #4986
MangOS use 25% in their DB
(65009,6204,25,1,1,1,0,'Tribal Worg Helm'),
from this commit https://github.com/cmangos/classic-db/commit/eb37cbe0f660d950f7766ed2e1e253d2c8d6bd48

[2021-03-24 23:01] T1ti commented on #4974
The issues Si1ker posted are related to branch/upstream so that could very well be an issue only for forks

[2021-03-24 23:02] Hacki95 commented on #4974
![grafik](https://user-images.githubusercontent.com/62942638/112394579-45c3b380-8cfd-11eb-93c4-efd8a6bbd925.png)
No problem here.

I just realised something though, did you rightclick on the "INSTALL" and hit "Build"? You need to do it manually after you compiled your core.

[2021-03-25 00:03] T1ti opened #4991 "Issue with Reload commands [$20]"
##### CURRENT BEHAVIOUR:
-When using the reload creature_template command, server will close.
-.reload smart_scripts doesn't seem to do anything

##### EXPECTED BLIZZLIKE BEHAVIOUR:
-don't crash
-smart script should update

##### STEPS TO REPRODUCE THE PROBLEM:
1. find a creature, get his entry ID, do the command, see if it crashes
2. change a creature's SAI, use the sai reload command and see if

[2021-03-25 00:08] T1ti opened #4992 "Warlock's imp doesn't auto cast Blood Pact [$10]"
##### CURRENT BEHAVIOUR:
-With auto cast on, the imp won't auto cast Blood Pact even if it's not activated

##### EXPECTED BLIZZLIKE BEHAVIOUR:
If blood pact is not activated and auto cast is on, always activate it

##### SOURCE:
83e430f28a25b33175569749a0aec46ccc92c9b6

##### STEPS TO REPRODUCE THE PROBLEM:
1. Play warlock, summon an imp
2. Toggle auto cast (right click the ability)
3. try many d

[2021-03-25 00:57] MathematicalWTF opened #4993 "NPC "Colonel Jules" "Fly" after completing quest 10935."
##### CURRENT BEHAVIOUR:

The Colonel Jules: https://wowpedia.fandom.com/wiki/Colonel_Jules, after having "finished the excorcism", he allows you to finish the quest while he is in the air.
![WoWScrnShot_032221_183215](https://user-images.githubusercontent.com/79039973/112389520-da5cf000-8cc2-11eb-8c92-366571110ad2.jpg)

After a few seconds he returns to his bed.

##### EXPECTED BLIZZLIKE BEHAVIOU

[2021-03-25 01:58] Si1ker commented on #4993
Duplicate of https://github.com/azerothcore/azerothcore-wotlk/issues/638

[2021-03-25 01:58] #4993 closed

[2021-03-25 03:00] #4949 closed

[2021-03-25 04:12] hahalmtdhl opened #4994 "Error prompt fatal error C1001: an internal error occurred in the compiler，All structure errors come from "password verification aspect submission""
CURRENT BEHAVIOUR:

Compilation errors after git pull
All structure errors come from "password verification aspect submission"
Error prompt fatal error C1001: an internal error occurred in the structure
![qq222](https://user-images.githubusercontent.com/18229643/112419388-50666300-8d66-11eb-9e51-ef4a597842a1.png)

STEPS TO REPRODUCE THE PROBLEM:

Debug or release will not succeed

EXTRA NOTES:

Th

[2021-03-25 06:24] hahalmtdhl commented on #4994
It has been solved. It can be solved by replacing the previous vs2017 version with the 2019 version

[2021-03-25 08:17] Kitzunu commented on #4994
VS17 not supported, use 19

[2021-03-25 08:17] #4994 closed

[2021-03-25 09:24] FrancescoBorzi commented on #4883
@UltraNix you can claim: https://www.bountysource.com/issues/97181928-feature-by-worldserver-conf-add-a-setting-to-allow-the-transaction-time-to-loot-items

[2021-03-25 10:27] AbraKabastard commented on #4991
Did you kill ans respawn the npc after smartai reload?

[2021-03-25 10:37] Pensukdeath commented on #4946
Above, they have already thrown off a video proof, that Van Cleef not summon, if his health is less than 25%.

[2021-03-25 12:04] r0m1ntik commented on #4992
Confirm

[2021-03-25 12:07] Zoidwaffle commented on #4946
https://youtu.be/j01MfraN6b0?t=3232

so he starts out with 2 guards. 2 more appear around 50% health.

That's it.

So @T1ti is right.

I can't test the suggested fix as my server is fubar because of testing PR's :grin:

[2021-03-25 12:17] Stifler82 opened #4996 "[Mining Node] HORDE - 2 nodes on the exact spot"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/290

##### FACTION

- [ ] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Two nodes on the exact spot outside orgrimmar, five such instances have been noted. You can see the coordinates
on the screenshots which show 2 objects on the same coordinate
![Scree

[2021-03-25 12:22] r0m1ntik commented on #4991
Confirm, conflit after[2031e55]( https://github.com/azerothcore/azerothcore-wotlk/commit/2031e55ec7025c25ac0d9ebba6f2e3efba809fec#diff-59e59afabb9e07b951f9cd43dc7ef08e8c894b2aa889ae394fc4ace2eef09242)

[2021-03-25 12:48] AbraKabastard commented on #4952
I've started work on porting
https://github.com/TrinityCore/TrinityCore/commit/f7a7d02a7f50400cdc2be3c4722afeefe7efce80 and other related changes. What I've ported so far fixes this particular issue but for the sake of it, all needs to be done. I attach a patch file because I no longer am working on this. If someone wishes to continue, feel free...
https://textuploader.com/ts5c1

[2021-03-25 12:55] Stifler82 opened #4997 "DB/Gameobject: Elunite Ore is under terrain."
Originally reported https://github.com/chromiecraft/chromiecraft/issues/287

Alliance - Night Elf
1-19 Bracket

The required items for quest The Shade of Elura (Night Elf Warrior Quest line) are stuck under the terrain. This quest is completeable with the few that are above terrain, but the majority are not accessible (see screenshots). This is the 0/8 Elunite Ore portion of the quest.

![image](h

[2021-03-25 16:42] thenewblock commented on #4991
Can confirm also. Tried killing and respawning.

[2021-03-25 17:03] Stifler82 opened #4999 "Quest: Travel to Darkshire"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/292

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [ ] 1-19
- [x] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Quest Travel to Darkshire (ID 9429) is available to non draenei races
here taking it with a gnome
![aaa](https://user-images.githubusercontent.com/80769357/112488568-ed80c600-8d7d-11

[2021-03-25 17:03] T1ti commented on #4946
Basically it was just one retard in Wowhead comments saying Van cleef summons adds at 25%(could have been because he got stunned, or the starting guards weren't aggroed on pull) and private servers did it :P

[2021-03-25 17:03] thenewblock commented on #4974
This worked

[2021-03-25 17:07] T1ti commented on #4974
maybe that should be added to the wiki....

[2021-03-25 17:08] Stifler82 opened #5000 "Quest A New Plague is not offered for Trolls"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/293

##### FACTION

- [ ] Alliance
- [x] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Quest [A New Plague](https://wotlk.evowow.com/?quest=367) is not offered for Troll.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Apothecary Johaan should offer quest A New Plague for all pl

[2021-03-25 17:08] T1ti commented on #4946
Another suggestion, change his ability from "between 25% and 50% to like 1% and 50%", becasue I believe that currently if you sturn him and burn him below 25% during the CC duration, he will never summon the adds.
it should be "below 50%" rather than a specific range

[2021-03-25 17:12] Stifler82 opened #5001 "Random Dungeon Finder Cooldown is not reseting after killing "last boss" in The Stockade"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/294

##### FACTION

- [ ] Alliance
- [x] Horde

##### CONTENT PHASE:

- [ ] Generic
- [ ] 1-19
- [x] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Random Dungeon Cooldown is not reseting after killing "last boss" in The Stockades. The cooldown prevents from queue for rest of time (15min)

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Ac

[2021-03-25 17:56] Si1ker commented on #4991
![image](https://user-images.githubusercontent.com/61223313/112520539-2494ae80-8d61-11eb-9dd3-f96d39f0145a.png)
![image](https://user-images.githubusercontent.com/61223313/112520544-265e7200-8d61-11eb-9a0b-55ec5e1035af.png)
![image](https://user-images.githubusercontent.com/61223313/112520551-28c0cc00-8d61-11eb-9535-effefbc0ba3c.png)

???

[2021-03-25 18:01] Zoidwaffle commented on #4946
Yep, good idea. If no others decide to give it a go, I can take a look later.

[2021-03-25 18:19] Si1ker commented on #4991
-> .reload creature_template `id of the npc`
-> crash

![image](https://user-images.githubusercontent.com/61223313/112523330-480d2880-8d64-11eb-9bc2-6f2439d0d12f.png)

AC hash/commit = b093380

[2021-03-25 18:59] T1ti commented on #4991
for creature_template, it's probably because the command isn't updated for the new creature_template structure after the dmg changes

[2021-03-25 20:48] Si1ker opened #5003 "(scripts/Patchwerk): Hateful Strike does not hit third target [25-mode]"
## CURRENT BEHAVIOUR:

On the 25 mode of Naxxramas, the boss Patchwerk does not cast Hateful Strike on the third possible target.

## EXPECTED BLIZZLIKE BEHAVIOUR:

On the 25 mode of [Naxxramas](https://wowpedia.fandom.com/wiki/Naxxramas), the boss [Patchwerk](https://www.wowhead.com/npc=16028) should cast a secondary Hateful Strike sequence on the third available target within the melee range wit

[2021-03-26 08:32] Shard-MW commented on #4878
I don't think that this issue comes from server, but mostly from 3.3.5a client.
Is there any proof (video, screen...) anywhere that this worked on retail ?
Because if client sends ItemID to the server and not the GUID, it means that the client was coded like this

[2021-03-26 10:09] mpfans opened #5008 "Compilation failed"
![image](https://user-images.githubusercontent.com/18187177/112615672-beda1c80-8e5d-11eb-9461-45331ade579f.png)

## AC HASH/COMMIT:

877e394e04e13662554f8cce663bea1c646a98d2

## OPERATING SYSTEM:
ubuntu 18.04

## MODULES:
https://github.com/azerothcore/mod-world-chat

[2021-03-26 10:34] Zoidwaffle commented on #5008
Hehe, was about to comment when you closed it. Happy to know you resolved it yourself :+1:

[2021-03-26 10:36] mpfans commented on #5008
I didn't solve it. It was the module that caused the compilation failure

You can't use any module now, otherwise it will fail to compile

[2021-03-26 10:37] mpfans commented on #5008
![image](https://user-images.githubusercontent.com/18187177/112619391-4033ae00-8e62-11eb-9541-a8a4057fa804.png)

https://github.com/azerothcore/mod-multi-client-check

[2021-03-26 10:45] mpfans commented on #5008
![image](https://user-images.githubusercontent.com/18187177/112620333-58f09380-8e63-11eb-9b30-6f6fff8aa065.png)

https://github.com/azerothcore/mod-anticheat

[2021-03-26 11:10] r0m1ntik commented on #4878
@Shard-MW is not a client problem, on warmane it's work.

[2021-03-26 11:10] Zoidwaffle commented on #5008
OK, last I recompiled was yesterday - I will do it again now with my normal modules. I do not have the 2 you mention above though. If I don't see any errors, I can try with the modules you mention as well.

[2021-03-26 11:53] Zoidwaffle commented on #5008
I'm using Debian Testing. I used to use Debian 10, but it stopped working for the map extraction tools recently so I was forced into using Testing as not enough was available in backports. Just to say our systems aren't the exact same.

I see you are using Ubuntu 18.04, perhaps it would be worth it to upgrade to 20.04?

What I use here:
cmake version 3.18.4
Debian clang version 11.0.1-2
build-esse

[2021-03-26 11:57] Zoidwaffle commented on #4986
I believe the drop rate is set to 32% already.

You are just very unlucky.

There is a `GroupId=2` for some of the loot. This is the entire table:
[code]
He should always drop the MinCount from any GroupId not being 0.

So he will drop Ravenwood Bow 68% of the time. The number "0" for Tribal Worg Helm is not "0%" but "it has an equal chance with all other loot having 0". Since it's the only piece

[2021-03-26 12:03] Zoidwaffle commented on #4986
I added a "not confirmed" for now as I believe it works.

[2021-03-26 12:16] Zoidwaffle commented on #5008
I just compiled it, no errors.

[2021-03-26 12:26] r0m1ntik commented on #5008
@mpfans re run your cmake

[2021-03-26 12:31] AbraKabastard commented on #4970
[code]
This should work

[2021-03-26 12:46] ChromieCraftServer commented on #2718
some issues are still valid, others are duplicated, other have been fixed already. It's better to close this and open/confirm 1 ticket per bug

thanks for your report @Maurowin

[2021-03-26 12:46] #2718 closed

[2021-03-26 12:47] ChromieCraftServer commented on #4106
is this still valid?

[2021-03-26 12:49] AbraKabastard commented on #4772
Linking issue #4975

[2021-03-26 12:49] ChromieCraftServer commented on #4330
is this still an issue?

[2021-03-26 12:50] Stifler82 commented on #4790
Ok, after careful consideration, I have reached the conclusion that this is not a Bug.

The reason is: The Warlock does not make a Summon through SAI, that is, that summons the Demon's ID, but summons the Demon through Spell, this means that the NPC (Summoner) shares their "Properties" with the Demon exactly as it happens between Warlock Character and Demon, so they share Stats like "Armor" etc..

[2021-03-26 12:50] #4790 closed

[2021-03-26 12:53] ChromieCraftServer commented on #4458
@Voxstrasza any news ?

[2021-03-26 12:53] #4465 closed

[2021-03-26 12:58] ChromieCraftServer commented on #4581
what's the status of this?

[2021-03-26 12:59] ChromieCraftServer commented on #4592
what's the status of this?

[2021-03-26 13:02] Stifler82 opened #5011 "Wailing Caverns Disciple of Naralex moves too fast"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/297

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Disciple of Naralex in Wailing Caverns moves too fast.
Using the macro `/run print(GetUnitSpeed("target"))` his walking speed is observed to be slightly above 3.5

##### EXPECTED BLI

[2021-03-26 13:06] ChromieCraftServer commented on #4667
is this still an issue?

[2021-03-26 13:16] mpfans commented on #5008
ubuntu 18.04
cmake version 3.19.2
clang version 10

no any module
![image](https://user-images.githubusercontent.com/18187177/112636716-6cf2c000-8e78-11eb-8b86-0279f457ea12.png)
Compilation complete

[2021-03-26 13:26] mpfans commented on #5008
I'm very sorry for the compilation failure caused by my module code changed to 0 bytes

[2021-03-26 13:26] #5008 closed

[2021-03-26 14:01] mpfans opened #5012 "server crash"
## CURRENT BEHAVIOUR:
After compiling, the login game crashes in a few minutes

![image](https://user-images.githubusercontent.com/18187177/112642962-c78f1a80-8e7e-11eb-810b-c9560edb3776.png)

## AC HASH/COMMIT:
877e394e04e13662554f8cce663bea1c646a98d2

## OPERATING SYSTEM:
ubuntu 18.04

## MODULES:
mod-anticheat
mod-multi-client-check

[2021-03-26 14:04] Kitzunu commented on #5012
Update your DB, https://github.com/azerothcore/azerothcore-wotlk/commit/61cc641fccb4c7111735d923caeb773f0347bd35 fixes it

[2021-03-26 14:04] #5012 closed

[2021-03-26 14:13] mpfans commented on #5012
if set `Warden.Enabled = 1` and `Warden.ClientCheckFailAction = 2`
Many players will be banned for the reason of 'login state - (may be false positive)'

[2021-03-26 14:14] Kitzunu commented on #5012
@UltraNix

[2021-03-26 15:24] FrancescoBorzi commented on #5012
can you please open a separate issue with this? @Footman had the same

@UltraNix can you please have a look at it?

[2021-03-26 15:34] Footman opened #5013 "Pull request # 4933 is breaking some area auras"
## CURRENT BEHAVIOUR:

pull request #4933 broke some area auras like https://www.wowhead.com/spell=58600/restricted-flight-area
now players dont get this buff anymore when fly above dalaran and are falling to the ground.
also i think this is connected to some new issues in ICC but cant provide more info yet.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.

[2021-03-26 15:37] FrancescoBorzi commented on #5013
@Kitzunu @pklloveyou

this is what I mean by: testing that a PR does not bring regression.

In general:  when testing a PR, we should NOT (only) test that the PR works as intended, but that ANYTHING that is **related** to that change is still working fine.

@Kitzunu can you please check this? quite urgent

[2021-03-26 15:44] Footman opened #5014 "Pull request #4909 is breaking scripts / spells"
## CURRENT BEHAVIOUR:

#4909

Spell and Scripts now trace for ground Z starting from creatures feet + 0.5 units and will fail if creature is just a bit inside ground.
Before they started to search from feet + creatures collision and did not fail.

This causes a lot of bugs related to ground Z finding like creatures falling throw earth. Some spells failing etc.

<bountysource-plugin>

---
Want to b

[2021-03-26 15:46] FrancescoBorzi commented on #5014
@pklloveyou please be more careful when testing PRs

@WojtekNosal can you please have a look? otherwise we need to revert it :(

[2021-03-26 15:46] Err0r1 commented on #5014
Maybe BWL orb issue related?

[2021-03-26 15:49] Kitzunu commented on #5013
![image](https://user-images.githubusercontent.com/24550914/112657890-25a60880-8e53-11eb-8436-c361a5bc0284.png)
works 9c80fd344b50

[2021-03-26 15:54] FrancescoBorzi commented on #5014
@Footman please give some examples of what has been broken by that PR so we can check and fix.

[2021-03-26 15:59] Kitzunu commented on #5013
on it

[2021-03-26 16:31] Zoidwaffle commented on #5011
You can fix it with a simple:
[code]
This aligns the data with TC as well. Not sure why he had a walking speed of 1.4 before.

[2021-03-26 17:05] Voxstrasza commented on #4458
no idea how to fix the issue and make it work correctly.

[2021-03-26 17:50] AbraKabastard commented on #5014
Are you sure this issue is caused by the PR https://github.com/azerothcore/azerothcore-wotlk/pull/4893 and not something that actually messes with positional information like..
https://github.com/azerothcore/azerothcore-wotlk/commit/b4242735749ca6ff4d7e370cc0d41105f5856f60

I don't think this is related to @WojtekNosal's work at all

[2021-03-26 17:54] claudiodfc commented on #5014
@Footman Can you show a specific test case so I can try to replicate it without some commits?

[2021-03-26 18:01] UltraNix commented on #5012
Cannot confirm - no crash and no bans with this setup.

[2021-03-26 18:42] GMKyle commented on #5003
I think the  issue is in Hateful Strike's target selection in 25 mode, we apply the same target selection (10m mode) no matter instance mode(10/25)
Reading the code's comments
```US : // Cast Hateful strike on the player with the highest amount of HP within melee distance, and second threat amount```
[code]
Hateful Strike hit only 1 target , the 2 off-tanks are needed to fully protect melee as wik

[2021-03-26 23:02] tkn963 opened #5017 "Issue with Warden"
## CURRENT BEHAVIOUR:

The client gets kicked after a certain amount of time. For me, this appears to occur after 60 to 80 minutes of being in-game. The server does not crash, and the client can log back in again instantly. I can be in the middle of fighting when I'm suddenly kicked out of the game

## EXPECTED BLIZZLIKE BEHAVIOUR:

The client should not get kicked for no real reason

## SOURCE:

[2021-03-26 23:41] JamesGent opened #5018 "Invisible Wall/Barrier in Stormwind causes issues with running + camera movement."
Invisible Wall/Barrier in Stormwind causes issues with running + camera movement.

## CURRENT BEHAVIOUR:

As you can see in my video, tall races/tall mounts cannot run down the mage tower.

https://youtu.be/DxrFw0GMIKo

In addition to this, the hidden wall provides camera jumps/stutters/issues when the camera hits it.

## EXPECTED BLIZZLIKE BEHAVIOUR:

Not entirely sure.

The wall/issue is related

[2021-03-27 03:26] #4946 closed

[2021-03-27 10:53] markvetx opened #5021 "Charge distance errors after #3384"
## CURRENT BEHAVIOUR:

If you try to charge, you will get an error that "Target is too close". This error is identical on druid and warrior.

After #3384

## EXPECTED BLIZZLIKE BEHAVIOUR:

It shouldn't be working like that, obviously.

## STEPS TO REPRODUCE THE PROBLEM:

1. Create druid or a warrior.
2. Learn "Charge" spells for those classes respectively.
3. Try to use it on neutral/hostile NPC's

[2021-03-27 10:56] Stifler82 opened #5022 "[Summary Report]: Vmaps/Mmaps/Pathfinding (or LOS event in general)"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/303

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x ] enUS
- [ ] other (specify)

##### FACTION

- [ x] Alliance
- [ x] Horde

##### CONTENT PHASE:

- [x ] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

**Since there are different Reports that all converge on the same problem, I am opening a (UNIQUE)

[2021-03-27 10:58] Stifler82 commented on #4881
https://github.com/azerothcore/azerothcore-wotlk/issues/5022
https://github.com/chromiecraft/chromiecraft/issues/303

[2021-03-27 10:59] Stifler82 commented on #4810
https://github.com/azerothcore/azerothcore-wotlk/issues/5022
https://github.com/chromiecraft/chromiecraft/issues/303

[2021-03-27 10:59] #4810 closed

[2021-03-27 10:59] Stifler82 commented on #4808
https://github.com/azerothcore/azerothcore-wotlk/issues/5022
https://github.com/chromiecraft/chromiecraft/issues/303

[2021-03-27 10:59] Stifler82 commented on #4806
https://github.com/azerothcore/azerothcore-wotlk/issues/5022
https://github.com/chromiecraft/chromiecraft/issues/303

[2021-03-27 10:59] Stifler82 commented on #4620
https://github.com/azerothcore/azerothcore-wotlk/issues/5022
https://github.com/chromiecraft/chromiecraft/issues/303

[2021-03-27 10:59] Stifler82 commented on #4603
https://github.com/azerothcore/azerothcore-wotlk/issues/5022
https://github.com/chromiecraft/chromiecraft/issues/303

[2021-03-27 10:59] Stifler82 commented on #4435
https://github.com/azerothcore/azerothcore-wotlk/issues/5022
https://github.com/chromiecraft/chromiecraft/issues/303

[2021-03-27 10:59] Stifler82 commented on #4411
https://github.com/azerothcore/azerothcore-wotlk/issues/5022
https://github.com/chromiecraft/chromiecraft/issues/303

[2021-03-27 10:59] Stifler82 commented on #4620
https://github.com/azerothcore/azerothcore-wotlk/issues/5022
https://github.com/chromiecraft/chromiecraft/issues/303

[2021-03-27 11:35] Stifler82 commented on #4806
Same problem: https://github.com/chromiecraft/chromiecraft/issues/215

[2021-03-27 12:36] FrancescoBorzi commented on #5017
@UltraNix can you please have a look at this? It looks like several people are experiencing this when testing with players (even though it's not easy to reproduce on a local server without players).

[2021-03-27 12:42] FrancescoBorzi commented on #5021
@markvetx thanks for reporting

@Helias please have a look at this

[2021-03-27 12:44] FrancescoBorzi commented on #4808
this is specific enough to keep it open, also it's quite important

@Stifler82 I agree to group similar issues together, but for that we need to use projects. Not merging all issues into one

[2021-03-27 12:49] UltraNix commented on #5017
I won't be able to fix it if I won't get any futher info.
I will try to reproduce it on my local.

[2021-03-27 13:09] mpfans commented on #5017
if `set Warden.Enabled = 1` and `Warden.ClientCheckFailAction = 2`
Many players will be banned for the reason of `login state - (may be false positive)`

From 22 o'clock yesterday to now, 18 players have been ban for this reason
![image](https://user-images.githubusercontent.com/18187177/112721706-6def2480-8f40-11eb-96ae-24c621c14246.png)

[2021-03-27 13:44] mpfans opened #5024 "Raid:'Felmyst' Break away from the battle"
## CURRENT BEHAVIOUR:
In Sunwell Plateau, fight with Felmyst will automatically break away from the fight

## EXPECTED BLIZZLIKE BEHAVIOUR:
When felyst is summoned, it should fight with the player until the player dies or it is killed

## EXTRA NOTES:
Upgrade from https://github.com/azerothcore/azerothcore-wotlk/commit/cb0fb719db050b2c6b7651c5ade044b3d318c453 commit to https://github.com/azerothco

[2021-03-27 14:25] JamesGent opened #5025 "Rimblat Earthshatter missing dialogues/texts"
Rimblat Earthshatter missing dialogues/texts

## CURRENT BEHAVIOUR:

![WoWScrnShot_032721_142337](https://user-images.githubusercontent.com/61194190/112723768-159c3080-8f08-11eb-8a30-203d77e0c7d6.jpg)

"Greetings %N".

## EXPECTED BLIZZLIKE BEHAVIOUR:

Gossip

Eastern Plaguelands

I've been expec...

<Rimblat coughs.>

Excuse me, old habit. I am Rimblat of the Earthen Ring.
WoW Icon update.png The

[2021-03-27 14:29] JamesGent opened #5026 "Rayne Missing Dialogues/texts"
Rayne Missing Dialogues/texts

## CURRENT BEHAVIOUR:

"Greetings %N" for all dialogue.

## EXPECTED BLIZZLIKE BEHAVIOUR:

Gossip

Eastern Plaguelands

Hello, <class>. Please excuse me as I am having a conversation with Rimblat. He believes that even this land is not beyond saving.

    Gossip Hello, Rayne. What brings the Cenarion Circle to the Plaguelands?

    We are all drawn here for different

[2021-03-27 14:48] UltraNix commented on #5017
https://github.com/TrinityCore/TrinityCore/issues/5767
It looks like this specific warden check is false positive.

[2021-03-27 15:06] UltraNix commented on #5017
@tkn963 Check #5027

[2021-03-27 15:10] JamesGent opened #5028 "Rohan the Assassin missing dialogue/texts"
Rohan the Assassin missing dialogue/texts

## CURRENT BEHAVIOUR:

"Greetings %N" for all replies.

## EXPECTED BLIZZLIKE BEHAVIOUR:

The title is misleading. I'm really a very nice person once you get to know me.

    Gossip What is it that you do exactly, Rohan?

    Ah, as the title states I am an assassin for the Scarlet Crusade. I spend my days exterminating high priority targets and nights at

[2021-03-27 15:12] JamesGent opened #5029 "Huntsman Leopold Missing dialogue/texts"
Huntsman Leopold Missing dialogue/texts

## CURRENT BEHAVIOUR:

"Greetings %N" for most dialogue.

## EXPECTED BLIZZLIKE BEHAVIOUR:

They almost sent my brother, Loksey, to this gathering. He cannot even take care of his hounds, let alone represent the Scarlet Crusade in a competent manner.

    Gossip What is Cryptstalker armor?

    The preternatural ability of the crypt fiend to hunt and kill i

[2021-03-27 15:51] Err0r1 opened #5030 "Lichking resets after dialogue when he can't find player (LoS?)"
## CURRENT BEHAVIOUR:
the Lich King resets when the player is not in LoS.

## EXPECTED BLIZZLIKE BEHAVIOUR:
the Lich King should run to the player and attack him

## SOURCE:

## STEPS TO REPRODUCE THE PROBLEM:

1. go to lichking (ICC last boss)
2. start dialogue
3. hide (like in video)

## EXTRA NOTES:
video issue: https://vid.dragonwrath.net/v/J98Sxd
maybe related to:
https://github.com/azerothco

[2021-03-27 17:22] FrancescoBorzi commented on #5028
as a general rule: if a content is available for 50-59, no need to add label 60

[2021-03-27 17:23] FrancescoBorzi commented on #5030
@Err0r1 do you know which commit broke this?

[2021-03-27 17:30] Err0r1 commented on #5030
unfortunately i'm not sure :/

[2021-03-27 19:04] hahalmtdhl opened #5031 "Players log in and start timing. It is estimated that they will be forced to log out in about 1 hour and 10 minutes."
**CURRENT BEHAVIOUR:**

Every time players log in, they will start to time, and they will be forced to log out in about 1 hour and 10 minutes.

**SOURCE:**

Through debugging, it is found that the execution of worldsession destructor will result in the forced logout of players.

Debug the breakpoint to the following code.

if (_ player)
   LogoutPlayer(true);

**STEPS TO REPRODUCE THE PROBLEM:**

[2021-03-27 20:30] disclosurez commented on #5030
can confirm same issue here

[2021-03-27 20:35] disclosurez commented on #5017
confirm same issue here

[2021-03-27 20:37] UltraNix commented on #5017
@disclosurez Have you tested provided fix from here: #5027?

[2021-03-27 20:54] disclosurez commented on #5030
maybe https://github.com/azerothcore/azerothcore-wotlk/pull/4893 causing the problem

[2021-03-27 22:39] disclosurez commented on #5017
jsut did, will let u know outcome.

[2021-03-27 22:39] disclosurez commented on #5031
https://github.com/azerothcore/azerothcore-wotlk/pull/5027

fix maybe here

[2021-03-28 00:02] #4403 closed

[2021-03-28 09:03] hahalmtdhl commented on #5031
Has this problem been incorporated into the project?

[2021-03-28 10:20] #5013 closed

[2021-03-28 10:47] FrancescoBorzi commented on #5014
yes, it was a mistake. The PR is:

https://github.com/azerothcore/azerothcore-wotlk/pull/4909

created by @UltraNix , not  @WojtekNosal (apologies for the confusion).

[2021-03-28 10:51] Footman commented on #5014
It is hard to reproduce those bugs. Also not only this commit is causing this but also some other connected to LOS. There are a lot of new bugs happening on live server now. After I reverted al commits that are connected to Z height / LOS everything got fine.

There are bugs like:
- bosses evading randomly
- sindragosa not launching air phase
- lichking ghouls falling throw earth
- event with spid

[2021-03-28 10:57] Hacki95 opened #5036 "NPCs don't attack the player if he is in water"
#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [ ] Alliance
- [x] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

While fighting Venture Co. NPCs in Barrens, noticed if I attack them from Water, either by Taunting or Casting spells NPC get triggered but instantly return to passive state. [Vide

[2021-03-28 10:59] FrancescoBorzi commented on #5036
@Hacki95 don't forget **1-19** ;)

[2021-03-28 11:00] Hacki95 commented on #5036
Not done yet ;)

[2021-03-28 11:04] FrancescoBorzi commented on #5014
thansk @Footman ,  @UltraNix  can you please have a look at these?

[2021-03-28 11:14] Kitzunu commented on #262
I am going to close this as we had no reports or activity in this post about this topic since 2016.

If anyone has this issue in the future, please open a new report.

[2021-03-28 11:14] #262 closed

[2021-03-28 11:17] Kitzunu commented on #92
If Windows is a traditional setup, then I can tell you that this is not an issue there

[code]

[2021-03-28 11:19] FrancescoBorzi commented on #5030
cc @UltraNix

[2021-03-28 11:35] Hacki95 opened #5037 "3 minutes spawn timer for Black Lotus in Burning Steppes"
#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

This black lotus can be repeatably gathered every 3 minutes. Tested for ~ 10 times.

Note by Hacki: It's also a double spawn, so you get atleast 2x Black Lotus every few minutes.

[2021-03-28 12:37] UltraNix commented on #5014
@Footman Could you add 1yard more  and see the results?

[2021-03-28 12:44] claudiodfc commented on #5014
What about setting up a check in case there are units with an invalid z coordinate and set them at the height of terrain?

[2021-03-28 12:45] claudiodfc commented on #5014
What makes them go into the ground in the 1st place though? When they calculate a path they should take terrain into consideration, right?

[2021-03-28 12:46] UltraNix commented on #5014
I see problems with falling mobs do exist in Lich king room? There is a huge gameobejct instead of terrain.

[2021-03-28 13:13] UltraNix commented on #5030
Cannot reproduce it.

[2021-03-28 13:54] claudiodfc commented on #5014
ToGC should be checked aswell

[2021-03-28 13:55] UltraNix commented on #5014
@Footman Give me more specific examples of problems with z offset calculations.

[2021-03-28 14:13] Hacki95 commented on #4953
Could the video be from a private server? The second text says "... I must cast the Spel to banish..." if I read that correctly.

[2021-03-28 14:55] disclosurez commented on #4661
bump.

[2021-03-28 14:55] #4551 closed

[2021-03-28 14:55] #4960 closed

[2021-03-28 15:05] UltraNix commented on #5036
These specific mobs do not have inhabit type INHABIT_WATER.

[2021-03-28 15:18] Hacki95 commented on #5036
Thanks for the tip! So those mobs need this added?

[2021-03-28 15:19] UltraNix commented on #5036
Just set in DB inhabit type to 3 (ground + water).

[2021-03-28 15:20] Hacki95 commented on #5036
Thanks for your help. Will open a PR later.

[2021-03-28 16:27] Knindzagxg opened #5039 "[WOTLK Dungeons] CLS System and General Tests [WIP]"
## Tested Dungeons:
[X] The Nexus
[X] The Oculus
[X] Utgarde Keep
[X] Utgarde Pinnacle
[X] Halls of Stone
[X] Halls of Lighting
[ ] Gundrak
[ ] Drak'Tharon
[ ] Azjol Nerub
[ ] Ahn'kanet Old Kingdon
[ ] Violet Hold
[ ] Culling of Stratholme

---

## Damage Tests Performed:
- With Pre-Raid Rare Gear equiped (200ish iLvl).
![Defense rating](https://user-images.githubusercontent.com/27079035/112758319

[2021-03-28 16:45] #5017 closed

[2021-03-28 16:48] disclosurez commented on #5030
confirmed #4893 was causing this issue, please revert

[2021-03-28 16:52] UltraNix commented on #5030
`m_respawnedTime` is not initialized - it's the only problem with that commit.

[2021-03-28 16:54] UltraNix commented on #5014
I think most problems with evading/not attacking caused by #4893.

[2021-03-28 16:56] FrancescoBorzi commented on #5030
@UltraNix can you please provide a PR with this?

[2021-03-28 17:02] UltraNix commented on #5030
No problemo.

[2021-03-28 17:17] ChromieCraftServer commented on #4661
added 15$ bounty on this

[2021-03-28 17:17] ChromieCraftServer commented on #4661
@disclosurez you can add more: https://www.bountysource.com/issues/96796144-icc-bosses-stuck-in-the-floor-after-flying?utm_campaign=plugin&utm_content=tracker%2F40032087&utm_medium=issues&utm_source=github

[2021-03-28 17:18] ChromieCraftServer commented on #4661
added a 15$ bounty here.

@disclosurez @bronzato  you can add more: https://www.bountysource.com/issues/96796144-icc-bosses-stuck-in-the-floor-after-flying?utm_campaign=plugin&utm_content=tracker%2F40032087&utm_medium=issues&utm_source=github

[2021-03-28 18:03] T1ti commented on #5039
I read something about that in very old issues, it's a global issue with how creatures work, they only see players when players move.

[2021-03-28 18:05] T1ti commented on #5039
See : https://github.com/azerothcore/azerothcore-wotlk/issues/524

[2021-03-28 18:24] Knindzagxg commented on #5039
Yeah, it's known issue.
I'm just confirming while testing.

CLS working pretty good so far tho, i like it xP

[2021-03-28 18:36] Err0r1 commented on #5030
Yes.

[2021-03-28 19:05] #5025 closed

[2021-03-28 20:15] T1ti commented on #4955
I don't think so.

[2021-03-28 20:29] #5030 closed

[2021-03-28 21:39] Si1ker commented on #5039
Same as said in discord, but just to keep note on it, svala has no error.

Videos from 2008 confirms she always keep the full casting of "Ritual of the sword" no matter if there are banshees alive or not.

https://www.youtube.com/watch?v=GpPAvgaqGlk
20 oct 2008
[15:36]
https://www.youtube.com/watch?v=tSjkLlgvew0
23 nov 2008
[15:36]
https://www.youtube.com/watch?v=gfnGFbAC4dI
26 nov 2008

[2021-03-28 22:06] #4928 closed

[2021-03-28 22:36] T1ti opened #5045 "Feature: New creature grouping system [$55]"
**Describe your feature request or suggestion in detail**
Create a new table to group creatures together. This is really required to fix linked aggro in instances, a lot of packs are meant to be aggro together but currently it only checks for distance, and sometimes that distance isn't enough. It's a very widespread issue that makes some packs too easy and scuffed in almost every instance.

Exampl

[2021-03-28 22:42] T1ti commented on #5045
This could also be used to easily make groups of creature respawn if the whole group hasn't been beaten, which is something usualy done in C++ (like respawn boss' adds if players wiped nd boss didn't die, this is a big issue and missing on a lot of bosses currently)

[2021-03-28 23:19] T1ti commented on #5045
It's actually far worse than that, you can currently even pull boss adds separately if they're far enough
Example with Golemagg adds
![image](https://user-images.githubusercontent.com/40864460/112771582-cac80900-902c-11eb-8c47-084698bfd47e.png)

[2021-03-29 00:44] T1ti commented on #4976
@UltraNix if you wanna take a look at this

[2021-03-29 01:41] icecatbing commented on #5021
same problem here.

[2021-03-29 03:12] Si1ker commented on #4989
Confirmed, the issue can be seen only when the entity has the aura of "Empowered" = 65294

### Without aura:
![image](https://user-images.githubusercontent.com/61223313/112782349-0dc4b500-900a-11eb-9280-184cc024b30b.png)

### With aura:
![image](https://user-images.githubusercontent.com/61223313/112782413-2cc34700-900a-11eb-8344-eae9e31b13b3.png)

[2021-03-29 03:59] Stifler82 opened #5047 "SAI's ISSUES"

[2021-03-29 04:36] Knindzagxg commented on #5039
As you can see on my picture, Ritual was over 10-15 sec and for some reason she was up in the air still.
Also, forgot to mention -> There was no fallin' sword animation, but will retest again to be sure.

[2021-03-29 07:49] markvetx commented on #5029
Can be closed. #5035 is merged.

[2021-03-29 07:49] markvetx commented on #5028
Can be closed. #5035 is merged.

[2021-03-29 07:49] markvetx commented on #5026
Can be closed. #5035 is merged.

[2021-03-29 08:08] zqgmzq commented on #5021
+1

[2021-03-29 10:36] yuanf225 opened #5048 "Compile error with DENABLE_EXTRA_LOGS - it should be added in the CI"
## CURRENT BEHAVIOUR:
An error occurred while compiling the core. The compilation could not be completed

system：Ubuntu18.04
 compilation commands ：cmake ../ -DCMAKE_INSTALL_PREFIX=/www/game/server/ -DCMAKE_C_COMPILER="clang" -DCMAKE_CXX_COMPILER="clang++" -DWITH_WARNINGS=1 -DTOOLS=1 -DSCRIPTS=1 -DENABLE_EXTRAS=1 -DENABLE_EXTRA_LOGS=1

error messages：
[ 69%] Building CXX object src/server/scripts/

[2021-03-29 10:45] pklloveyou commented on #5048
It's like this
[code]

[2021-03-29 10:46] pklloveyou commented on #5048
![image](https://user-images.githubusercontent.com/18535853/112826045-12977080-90bf-11eb-91a6-7b6ff1a8b9fd.png)

[2021-03-29 10:52] yuanf225 commented on #5048
![image](https://user-images.githubusercontent.com/43561197/112826616-d0226380-90bf-11eb-8b5f-30ad31f5f1a7.png)
Thank you. I'll test it right away

[2021-03-29 11:20] yuanf225 commented on #5048
![image](https://user-images.githubusercontent.com/43561197/112829465-c13db000-90c3-11eb-92b2-f83f5a188657.png)
I revised the new error report

[2021-03-29 11:25] yuanf225 commented on #5048
![image](https://user-images.githubusercontent.com/43561197/112829973-7a03ef00-90c4-11eb-9092-8957cc622a5d.png)
I added false on the second line as well, so let me try that

[2021-03-29 11:38] pklloveyou commented on #5048
Every line needs to be added

[2021-03-29 11:49] Hacki95 opened #5050 "Quest Deviate Hides is not available for Alliance"
#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

The quest [Deviate Hides](https://wotlkdb.com/?quest=1486) is available from level 13 to both factions and is not a chain, but the quest giver is uninteractable for me at level 16.

[2021-03-29 12:12] #5029 closed

[2021-03-29 12:12] #5028 closed

[2021-03-29 12:13] #5026 closed

[2021-03-29 12:13] yuanf225 commented on #5048
![image](https://user-images.githubusercontent.com/43561197/112834899-23e67a00-90cb-11eb-9594-a7ab22bef2a0.png)
I wonder if these two lines need to be added?

[2021-03-29 13:16] FrancescoBorzi commented on #5048
we should probably add `DENABLE_EXTRAS` to our CI in order to prevent bugs like this from happening

[2021-03-29 13:20] FrancescoBorzi commented on #5047
waiting for @Stifler82 to finish this report by including more details about the case.

[2021-03-29 13:22] yuanf225 commented on #5048
look forward to

[2021-03-29 13:24] yuanf225 commented on #5048
WardenMac.cpp and WardenWin.cpp This error needs to be handled

[2021-03-29 14:28] AbraKabastard commented on #5045
Please see table creature_formations. If AC doesnt have a wiki see also https://trinitycore.atlassian.net/wiki/spaces/tc/pages/2129997/creature+formations and you could use https://trinitycore.atlassian.net/wiki/spaces/tc/pages/2130218/linked+respawn for something with the molten core hounds

[2021-03-29 15:09] #4550 closed

[2021-03-29 15:30] T1ti commented on #5045
Did you even read ?

[2021-03-29 15:38] AbraKabastard commented on #5045
What part did I miss?

[2021-03-29 16:24] #3644 closed

[2021-03-29 16:24] #2832 closed

[2021-03-29 16:30] Helias commented on #5021
https://github.com/azerothcore/azerothcore-wotlk/pull/5052

[2021-03-29 16:36] grabthar opened #5054 "BWL Broken"
## CURRENT BEHAVIOUR:

Broken bwl.
All access to creature instance(boss) like:
`instance->GetCreature(DATA_RAZORGORE_THE_UNTAMED)`
return nothing

## EXPECTED BLIZZLIKE BEHAVIOUR:

fixed bwl boss / instance

## SOURCE:

## STEPS TO REPRODUCE THE PROBLEM:

1. Build from #3673
2. go into bwl the razorgore orb doesn't cast mc
3. razorgore can't reach p2 can't stop casting mc aura and so on.

## EXTRA

[2021-03-29 17:08] Helias opened #5055 "During Curing the Sick, killing the deer after curing it counts towards quest completion [$10]"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/312

related to #312

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

During the quest [Curing the Sick](https://wotlkdb.com/?quest=6124), you use a [quest

[2021-03-29 17:57] JamesGent opened #5056 "Loot that is being rolled for disappears from existence if all 5 people enter an instance at the same time. [$5]"
Loot that is being rolled for disappears from existence if all 5 people enter an instance at the same time.

## CURRENT BEHAVIOUR:

Loot that is being rolled for disappears from existence if all 5 people enter an instance at the same time.

https://cdn.discordapp.com/attachments/806142311120633907/826152060826550282/unknown.png

This chatlog contains 4 people rolling greed and then "everyone passe

[2021-03-29 18:17] jordigil commented on #5055
I can confirm same bug for Tauren (horde side)

[2021-03-29 18:51] Err0r1 commented on #5054
Confirmed

[2021-03-29 18:57] Si1ker commented on #5054
@FALL1N1 👀

[2021-03-29 18:59] FALL1N1 commented on #5054
Thanks for the report, I'm on it.

[2021-03-29 19:14] UltraNix commented on #4812
https://classic.wowhead.com/object=178244/practice-lockbox#comments:id=3151097:reply=1362023
There are green until 104. At 105 they are grey. No bug.

[2021-03-29 19:26] UltraNix commented on #4806
I believe it's fixed already by #4909. @Stifler82 could you retest? I cannot reproduce it.

[2021-03-29 19:50] UltraNix commented on #4806
I cannot reproduce it - might be fixed by #4909.
@Stifler82 Could you retest it?

[2021-03-29 19:58] wine-la commented on #5048
remove DENABLE_EXTRA_LOGS=1, and try it again.

[2021-03-29 20:57] grabthar commented on #5054
Also don't forget to re add nefarian->SetHomePosition(NefarianLoc[1]); otherwise he stay in the air until he reset

[2021-03-29 23:49] Hacki95 commented on #4953
Found another issue, if you fail to keep him alive and wipe he doesn't reset. I am pretty sure he should though when the group wipes because else its impossible to complete the random dungeon.

[2021-03-30 03:01] thenewblock commented on #4991
@Winfidonarleyan Does #5020 also fix the smart_script issue?

[2021-03-30 03:03] Winfidonarleyan commented on #4991
Try

[2021-03-30 04:23] yuanf225 commented on #5048
Why can't I use DENABLE_EXTRA_LOGS

[2021-03-30 04:52] T1ti commented on #4966
This sounds like it is related to this https://github.com/azerothcore/azerothcore-wotlk/issues/5039#issuecomment-808933825

[2021-03-30 09:43] UltraNix commented on #4720
Cannot confirm.
Cast 16280 on self, do 2 melee swings - 1 stack is left.
Again, cast 16280 on self - the buff duration is refreshed and got 3 stacks again.

[2021-03-30 10:55] #5021 closed

[2021-03-30 11:23] Zoidwaffle commented on #5037
I recall reading about this a long time ago in Classic... From what I recall it's something like 1 spawn per zone with 1 hour respawn rate... So 2 every 3 minutes in the same location is a bit much. Maybe I can find time to fix it tomorrow, but others are welcome to fix it as well.

[2021-03-30 12:19] Stifler82 commented on #4962
Fixed!
-
**Video Test:** [Matis the Cruel](https://youtu.be/wSYq4CDev8I)

[2021-03-30 12:23] ReynoldsCahoon opened #5063 "Voice Chat"
## CURRENT BEHAVIOUR:
Voice Chat ([Added in Patch 2.2.0](https://wowpedia.fandom.com/wiki/Patch_2.2.0)) support is currently missing.

## EXPECTED BLIZZLIKE BEHAVIOUR:
Players should be able to create/join voice chat channels to communicate with other players. They should also have the ability to mute other players individually.

## SOURCE:
| Channels & Moderation | Mute Players |
|---|---|
| ![im

[2021-03-30 12:54] ReynoldsCahoon commented on #5063
Beyond the expected Blizzlike behavior, it would be nice if this were extendable via the modular structure. An example module would be the addition of proximity voice.

[2021-03-30 14:57] Stifler82 commented on #4720
@UltraNix
https://github.com/azerothcore/azerothcore-wotlk/issues/4723

[2021-03-30 15:03] T1ti commented on #5037
yes that's how it works, there can only be 1 black lotus per zone and they have 1 hour respawn

[2021-03-30 15:17] Knindzagxg commented on #5054
Yeah, can confirm it.
For some reason Orb doesn't work now.

When it comes to Nefarian, it worked well for me.

PS. If you gonna solo test Nefarian,  .learn 47922 -> Will give you immunity trough phase 1, so you don't get mind control.

[2021-03-30 15:22] T1ti commented on #5054
which orb, the teleport orb outside or the mind control orb ?

[2021-03-30 15:56] Knindzagxg commented on #5054
Mind control one

[2021-03-30 16:07] FrancescoBorzi commented on #4592
@Stifler82 why closing this? please include a reason.

[2021-03-30 16:44] Knindzagxg commented on #5054
Nah mate, fresh build.
For some reason it doesn't start fight.

[2021-03-30 16:47] FALL1N1 commented on #5054
I see, I will test that as well, thanks!

[2021-03-30 17:47] PatheticNeatness commented on #4756
@dingweijie you definitely have a '#' in your db info, remove it and that will work

[2021-03-30 17:52] PatheticNeatness commented on #4756
@Winfidonarleyan
add this
` src/common/Configuration/Config.cpp | 11 +++++------
 1 file changed, 5 insertions(+), 6 deletions(-)

diff --git a/src/common/Configuration/Config.cpp b/src/common/Configuration/Config.cpp
index 205ea26c..6372634f 100644
--- a/src/common/Configuration/Config.cpp
+++ b/src/common/Configuration/Config.cpp
@@ -45,7 +45,6 @@ namespace
             throw ConfigException(aco

[2021-03-30 18:38] Stifler82 commented on #4720
@UltraNix
Exacly

[2021-03-30 19:57] Hacki95 commented on #5037
I was kinda hoping you would do this one :P This screamed Zoidwaffle to me.

[2021-03-30 20:05] Zoidwaffle commented on #5037
Hehe, yeah, let me see if I can find the time tomorrow 😁

[2021-03-30 20:42] T1ti opened #5066 "Quest The fargodeep mine doesn't complete"
## CURRENT BEHAVIOUR:
Exploring the whole cave never completes the quest

## EXPECTED BLIZZLIKE BEHAVIOUR:
It should complete when you reach the area trigger

## SOURCE:

## STEPS TO REPRODUCE THE PROBLEM:

1. take the quest in goldshire and explore the mine
2. see if it completes
3.

## EXTRA NOTES:
I tried it on chromiecraft, a bunch of other dudes I met in that mine said it didn't work for them

[2021-03-30 20:49] T1ti commented on #5066
Content 1-19 category

[2021-03-30 22:38] Si1ker commented on #4661
Same behavior as reported at #4900

[2021-03-30 22:42] Hacki95 commented on #4953
https://youtu.be/xeW3Nl9akYA?t=1830 You can see here in which frequency the adds spawn.

Also a bit before that we can see that he does indeed helps fighting the adds while he walks to cleanse the cavern.

[2021-03-30 22:45] Hacki95 commented on #5011
Could it be that he walks even slower than 1? https://youtu.be/xeW3Nl9akYA?t=1721 I found this video.

[2021-03-30 22:56] Hacki95 commented on #5066
I completed this quest just a few days ago on several characters. Its a bit tricky to find the correct area but it definitely works.

[2021-03-30 22:56] #5066 closed

[2021-03-30 23:45] Hacki95 commented on #5031
@hahalmtdhl This issue can be closed right?

[2021-03-31 00:29] thenewblock commented on #4991
Issue should be reopened as .reload smart_scripts still does not work.

[2021-03-31 02:49] Stifler82 commented on #4847
@T1ti

https://user-images.githubusercontent.com/1884642/113083402-0bae5200-91d4-11eb-9745-6c942c5e437b.mp4

[2021-03-31 03:10] Stifler82 commented on #4847
Fixed!
-
**Video Test:** [Helcular's Revenge](https://youtu.be/uTFaIo2bw50)

[2021-03-31 04:01] eTzmNcbkrng commented on #5011
He does walk slower than 1, I mentioned this in the original ticket, citing a Wowhead comment, I hesitate to say your video confirms it as it's from Classic, but it certainly lends credence.

[2021-03-31 04:09] eTzmNcbkrng opened #5068 "Feature: Auction House getAll scan"
**Describe your feature request or suggestion in detail**
Add the Auction House feature to run a getAll scan which was added to WoW in 2.3

**Describe a possible solution to your Feature or Suggestion in detail**
https://github.com/TrinityCore/TrinityCore/commit/3aaeb574050668e5a240078f6e40337c3975d110

**Additional context**

**getAll**
- Download the ENTIRE auction house as one single page. Only

[2021-03-31 04:24] #4849 closed

[2021-03-31 04:29] xclid commented on #5031
its all good here
after #5027

[2021-03-31 06:41] LannyE commented on #4715
I think I got this.  This is a Stitches 2.0 situation.  I should have a PR coming soon been working on this for a few weeks (Formations, Combat Rez, waypoint adjustments, smart scripts workarounds, bug testing, etc.).  Smart scripts is an extreme finiky beast, have very little hair left.  All I have left is to attempt to optimize the scripts.

[2021-03-31 07:47] Zoidwaffle commented on #5037
Done. This should be better - and much easier to tweak later if needed. A bit crazy I could literally pick 20 Black Lotus in a zone easily...

[2021-03-31 08:06] Hacki95 commented on #5011
Yeah I just used this video as it is the highest quality one I could find. I spend a while checking if WC was changed in TBC or WOTLK though, so in my opinion it can be used as a source to fix this encounter (atleast the movement part, not damage values etc).

[2021-03-31 09:50] #5050 closed

[2021-03-31 10:51] yuanf225 commented on #5063
Can be made into a team/team voice function, it will only take effect when joining a team/team, you can choose to turn on/mute

[2021-03-31 11:15] hahalmtdhl commented on #5031
Yes, it has been solved.

[2021-03-31 11:15] #5031 closed

[2021-03-31 11:23] ReynoldsCahoon commented on #5063
This sounds like module functionality, as the original client/server supported this in a very specific way.

[2021-03-31 11:26] yuanf225 commented on #5063
The text is cold, only warm words can play more emotionally ：D

[2021-03-31 12:21] claudiodfc opened #5077 "Rock Shell - Several NPCs issue"
## CURRENT BEHAVIOUR:

On AzerothCore rev. #54fab687f7d1 [Rock Shell](https://tcubuntu.northeurope.cloudapp.azure.com/aowow/?spell=33810) doesn't trigger Enrage.

## EXPECTED BLIZZLIKE BEHAVIOUR:

- Should trigger Enrage

## SOURCE:

## STEPS TO REPRODUCE THE PROBLEM:

1. .go c id 23267
2. Break rock shell
3. No enrage

## EXTRA NOTES:

## AC HASH/COMMIT:

#54fab687f7d1

## OPERATING SYSTEM:

Wind

[2021-03-31 13:59] Winfidonarleyan opened #5081 "[Build Warning]: Warning after 2a601a1"
## CURRENT BEHAVIOUR:
- https://gist.github.com/Winfidonarleyan/51c437cc00437f64af0ab2deec885edc#file-build-log-L777
- Line problem in source - `azerothcore-wotlk\src\server\game\Entities\Player\Player.cpp(6399)`
- I think problem after 2a601a1

Only `Player.cpp` build log
[code]

## AC HASH/COMMIT:
ab42e0c

## OPERATING SYSTEM:
- Win 10
- Visual Studio 2019
![image](https://user-images.githubuser

[2021-03-31 14:51] thenewblock opened #5083 "SmartScript reload command broken."
## CURRENT BEHAVIOUR:

When you execute the command .reload smart_scripts it does nothing.

## EXPECTED BLIZZLIKE BEHAVIOUR:

You should be able to kill and respawn the mob and the smart script should update.

## SOURCE:

N/A

## STEPS TO REPRODUCE THE PROBLEM:

1. Go in game
2. Execute ".reload smart_scripts"
3. Watch as it doesn't work

## AC HASH/COMMIT:

https://github.com/azerothcore/azerothc

[2021-03-31 19:32] BlueSkyCubeGaming opened #5085 "GM's and Friendslist Issue"
## CURRENT BEHAVIOUR:

We are facing a weird Issue regarding GM's and Users. and GM's themselves.

When a Player and a GM add eachother to the Friendslist, the GM always appears as Unknown even tho the GM Account is Online and standing right next to him.
We turned the Function

`GM.AllowFriend = 1` on. but we still have the GM shown as Unknown.
The same occurs when two GM accounts add eachother to

[2021-03-31 20:24] JamesGent opened #5086 "Warsong Gulch Interior/Exterior Boundary is Incorrect (Doesn't Allow Mounting) [$10]"
Warsong Gulch Interior/Exterior Boundary is Incorrect (Doesn't Allow Mounting)

## CURRENT BEHAVIOUR:

You must be 5+ yards outside of the building to mount up, causing people to awkwardly stand and click and try to find a spot outside they are allowed to mount at.

As you can see I'm quite far outside but I can't mount due to being indoors. "Can only use outside" is the error presented.

![WoWScr

[2021-03-31 21:23] temzky commented on #21
I was wrong.
It is OK to keep 'GPLv2 or later' and AGPLv3 files in the same project. When they are combined together during the build process, 'GPLv2 or later' files are interpreted as GPLv3 and there is no incompatibility - they don't need to be relicensed. Sorry for the confusion.

[2021-03-31 23:33] FrancescoBorzi commented on #5031
thanks all for your feedback

[2021-03-31 23:38] FrancescoBorzi commented on #5081
@claudiodfc please have a look at this

@Winfidonarleyan is there a way to make the CI Windows build fail whenever there are new warnings? just like in Ubuntu

[2021-04-01 00:01] #5083 closed

[2021-04-01 00:14] Cinnamohn commented on #4961
It's not reporting when it fails to connect with the target. I believe it can only miss, but you'll never see it in the combat log.

Take a random low-level character and a geared 80 with the caps met, turn on .cheat power/cooldown, and then spam it on a custom Lv83 dummy or something with each one.

[2021-04-01 00:17] FrancescoBorzi commented on #21
no worries and thanks for trying to help!

[2021-04-01 01:31] Winfidonarleyan commented on #4991
How to repeat problem?

[2021-04-01 01:38] thenewblock commented on #4991
Change a smart script and reload it in game.

[2021-04-01 02:41] Winfidonarleyan commented on #4991
Need example

[2021-04-01 02:49] thenewblock commented on #4991
Ok, so Hamhock in Stockades for example.

If you change his spell Chain Lightning (421) to Fireball (133) and then .reload smart_scripts you _should_ be able to go ingame and do .reload smart_scripts, kill and respawn him and he will cast fireball instead of chain lightning.

Right now doing the command and respawning him does nothing, you have to restart the world server.

[2021-04-01 02:51] Winfidonarleyan commented on #4991
Sql please

[2021-04-01 02:58] thenewblock commented on #4991
`SET @ENTRY := 1717;
DELETE FROM smart_scripts WHERE entryOrGuid = 1717 AND source_type = 0;
UPDATE creature_template SET AIName="SmartAI" WHERE entry= @ENTRY;
INSERT INTO smart_scripts (entryorguid, source_type, id, link, event_type, event_phase_mask, event_chance, event_flags, event_param1, event_param2, event_param3, event_param4, action_type, action_param1, action_param2, action_param3, action

[2021-04-01 03:56] locus313 commented on #5048
@FrancescoBorzi sure,ill look at adding this.

[2021-04-01 04:54] Winfidonarleyan commented on #4991
Need readd npc in world or unbind instance after `.reload sm`

[2021-04-01 05:06] #5047 closed

[2021-04-01 07:24] Hacki95 opened #5088 "Wailing Caverns NPCs spawn below ground"
Evolving Ectoplasm and Druid of the Fang spawning below ground.

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Evolving Ectoplasm is undetectable until getting into aggro range.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

NPCs should be above ground and visible.

##### STEPS TO REPRODUCE THE PROBLEM:

`.gm fly

[2021-04-01 07:37] Nefertumm commented on #5003
The good old issue again... I will try to solve this.

[2021-04-01 09:44] UltraNix commented on #4653
https://wowpedia.fandom.com/wiki/PvP_flag
`Whatever the reason for flagging was, there is a five-minute delay to pulling down your PvP flag, after which you will return to normal PvE mode without fear of those of the opposite faction. The exception is FFA flag which is removed in just a few seconds.`

[2021-04-01 10:40] Footman commented on #5037
Problem that it happens with nearly all burning crusade / classic herbs. for example https://wowhead.com/object=181276/flammenkappe

[2021-04-01 10:50] UltraNix commented on #4653
https://www.youtube.com/watch?v=SRMAgXl8wCM
2:35 - leaves arena, 3:08 - turn off FFAPvP --> 33 sec
4:58 - leaves arena, 5:28 - turn off  FFAPvp --> 30 sec

For me it's like more 30 sec.

[2021-04-01 11:01] UltraNix commented on #4653
@JamesGent
https://www.youtube.com/watch?v=SRMAgXl8wCM
2:35 - leaves arena, 3:08 - turn off FFAPvP --> 33 sec
4:58 - leaves arena, 5:28 - turn off  FFAPvp --> 30 sec

https://www.youtube.com/watch?v=Idqi9e8_Sf4&t=171s
3:43 - teleport to spirit healer, 4:14 - turn off FFAPvP --> 31 sec

For me it's like more 30 sec.

[2021-04-01 12:13] claudiodfc commented on #5081
This warning is a [Compiler Warning (level 3) C4018](https://docs.microsoft.com/en-us/cpp/error-messages/compiler-warnings/compiler-warning-level-3-c4018?f1url=%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(C4018)%26rd%3Dtrue&view=msvc-160).

I'm not using any unsigned vs signed comparison on my commits so I don't think this change did this. Also when compiling i never got this warning, this is from a

[2021-04-01 12:54] claudiodfc commented on #5081
Nevermind, I think I got it 🤔

[2021-04-01 13:19] pklloveyou commented on #4942
Tested

[2021-04-01 13:53] FrancescoBorzi opened #5092 "Feature: limited Battleground.QueueAnnouncer"
Only show the announcement when X-1 players are queued, where X is the min amount of players required to start the BG.

Suppose that X=4 is the number of players required to join Warsong Gulch.

`Battleground.QueueAnnouncer.Enable = 1` (current)

[code]

`Battleground.QueueAnnouncer.Enable = 2` (new conf)
[code]

[2021-04-01 14:30] ghost opened #5094 "Wetlands Mottled Raptor and Highland Raptor Loottables Incorrect"
Wetlands Mottled Raptor and Highland Raptor Loottables Incorrect

## CURRENT BEHAVIOUR:

The raptors currently drop a full array of blues. If you farm there for 20-30 mins you will gain 50-100 blue items.

## EXPECTED BLIZZLIKE BEHAVIOUR:

Each raptor only drops a couple blues listed on sources below. It should be less drops, and less items.

## SOURCE:

https://classic.wowhead.com/npc=1020/mottle

[2021-04-01 15:27] #4956 closed

[2021-04-01 15:27] #4971 closed

[2021-04-01 15:28] #4860 closed

[2021-04-01 15:28] #5000 closed

[2021-04-01 15:28] #4999 closed

[2021-04-01 15:28] #4984 closed

[2021-04-01 15:29] #4458 closed

[2021-04-01 15:29] #5036 closed

[2021-04-01 15:30] #4863 closed

[2021-04-01 15:30] #4962 closed

[2021-04-01 15:31] #4847 closed

[2021-04-01 15:31] #4862 closed

[2021-04-01 15:31] #5037 closed

[2021-04-01 15:32] #4868 closed

[2021-04-01 15:32] #5011 closed

[2021-04-01 15:33] #4996 closed

[2021-04-01 15:36] #4942 closed

[2021-04-01 15:37] #4806 closed

[2021-04-01 15:37] #4784 closed

[2021-04-01 15:58] JamesGent opened #5095 "Heart of the Crusader / Judgment does not apply the effect"
Heart of the Crusader / Judgment does not apply the effect.

## CURRENT BEHAVIOUR:

Apparently nothing happens. I am not 100% sure as I can only test on a training dummy with/without the talents, but it does not appear to have any affect.

## EXPECTED BLIZZLIKE BEHAVIOUR:

3% crit increase debuff.

## SOURCE:

https://wotlk.evowow.com/?spell=20337

## STEPS TO REPRODUCE THE PROBLEM:

1. Create a P

[2021-04-01 15:59] JamesGent commented on #5086
Florencio — Today at 16:48
I could find like  4 spots where that happens on my local server

Tested & confirmed by discord Chromie user.

[2021-04-01 17:11] JamesGent commented on #5095
Duplicate of https://github.com/azerothcore/azerothcore-wotlk/issues/4960 my bad didn't see it was closed. Fix wasn't pulled for Chromie yet.

[2021-04-01 17:11] #5095 closed

[2021-04-01 17:23] Footman commented on #4742
This issues should have need fixed by #4879

[2021-04-01 18:10] LautaroJMolina commented on #5086
Tried a couple spots.
I did find something odd, this seems to happen when going from the interior to the outside.
In the spot in the above screenshot it's extremely noticeable. When exiting the interior you can't mount for quite a distance, but if you come from the exterior towards the entrance, it's much more accurate.

Another location I found:
![42 77, 64 47](https://user-images.githubuserconte

[2021-04-01 18:21] JamesGent opened #5098 "Incorrect respawn timer for the restoration buff in Battlegrounds [$15]"
WHAT CLIENT DO YOU PLAY ON?

enUS

FACTION

Alliance
Horde

CONTENT PHASE:

Generic
1-19
20-29
30-39

CURRENT BEHAVIOUR:

Restauration buff respawn timer in battlegrounds is several minutes.
EXPECTED BLIZZLIKE BEHAVIOUR:

Restauration buff respawn timer in battlegrounds should be 20 seconds.

evidence link from wowhead:
https://classic.wowhead.com/guides/classic-wow-warsong-gulch-advanced-intro-ru

[2021-04-01 18:30] JamesGent commented on #5098
Further info;

Wowpedia has
"Power-ups
There are three types of power-ups found in Warsong Gulch. To use them, simply walk up to one. They will respawn after a short period of time. "

from 2009. This is kinda useless because "short period of time" doesn't help us determine if it should be 2 minutes or 20 seconds.

[2021-04-01 18:40] Si1ker commented on #5098
https://github.com/azerothcore/azerothcore-wotlk/blob/f11d3a5402904984339d4166c45fc4e2bca549dd/src/server/worldserver/worldserver.conf.dist#L2883

[2021-04-01 19:17] Bloodelf94 commented on #4992
for me it seems Imps rank 1 for blood elf warlocks can't shoot fireballs, only if  i click fire all the time? same in rank 2 of same imp fireballs disapear as a spell for it and adds health bonus for party and raid members. now imp can't even auto attack, not that it could before either.

[2021-04-01 19:39] T1ti commented on #4992
Imp can't auto attack on retail/classic, it's normal

[2021-04-01 19:59] UltraNix commented on #4603
It's not fixable to me due to this file https://github.com/azerothcore/azerothcore-wotlk/commit/c8f43d85849c40e08d0da38913489426a0c35388#diff-1112e71683f3846188be11dff3849305b218f551b531913dbe360939ad206f25 and calculations done here - I don't get it at all.
This filter is the cause of the problems described here.

[2021-04-01 20:24] nolt opened #5099 "Wrong spawn points of mining veins"
## CURRENT BEHAVIOUR:

While exploring Redridge Mountains I've noticed few additional wrong/unreachable spawn points  of mineral veins.

## EXPECTED BLIZZLIKE BEHAVIOUR:

Mineral veins should be reachable, not too close to each other nor placed inside the object.

## SOURCE:

## STEPS TO REPRODUCE THE PROBLEM:

1. .go object 5236 is unreachable
2. .go object 4755 and 5746 very close to each other

[2021-04-01 22:04] Yehonal commented on #4603
That filters adds the slope "difficulty" to the dijkstra algorithm used for
the pathfinding. Thus having the creatures "preferring" a smoother path
rather then climbing mountains. We could skip negatives angles (downhills)
or completely remove that calculation eventually

Il gio 1 apr 2021, 21:59 UltraNix ***@***.***> ha scritto:

[2021-04-01 22:36] nolt opened #5101 "Imps on the mountains - Redridge Mountains"
## CURRENT BEHAVIOUR:

While looking wrong mineral vein spawn I meet those three little fella
https://imgur.com/zrDLxCz
https://imgur.com/2RXv2tE
https://imgur.com/e0sx12E

No GUID in creature table.

## EXPECTED BLIZZLIKE BEHAVIOUR:

They shouldn't be there.

## SOURCE:

## STEPS TO REPRODUCE THE PROBLEM:

1. .go xyz -8787 -2161 194
2. .go xyz -8754 -2191 229

## EXTRA NOTES:

## AC HASH/COMMIT:

[2021-04-02 00:37] #4262 closed

[2021-04-02 01:02] #5014 closed

[2021-04-02 01:04] Algorak commented on #4961
This also happens sometimes with other classes like my death knight. I spam my spells and there are no numbers or there is no miss because nothing happens. Apparently this only affects Melees.

I couldn't explain why that is, I have my hit rating and my weapons knowledge. But still this happens very often with some melee magic.

[2021-04-02 09:00] Yehonal commented on #4603
I've checked that code a little bit better, and I think what happens is that when you fall down to a cliff, the pathfinding finds too high slopes on every possible paths and the algorithm doesn't work properly then. When it happens on the retail the pet is literally teleported close to the character, I think that on wotlk the pet should be forced to walk down to the cliff instead, so maybe we shou

[2021-04-02 09:54] UltraNix commented on #4603
The "force" flag is already present, but it's ignored by pathgenerator, because it throws an error earlier.
`dtStatus PathGenerator::FindSmoothPath`
[code]

[2021-04-02 09:57] UltraNix commented on #4603
In `PointMovementGenerator`, whenever the path returns `NO_PATH`, it builds the path anyway with `init.MoveTo`. Maybe just copy it to `FollowGenerator` for pets?

[2021-04-02 10:35] FrancescoBorzi commented on #5098
@Si1ker if the default `Battleground.BuffRespawn ` is not correct then this is a valid issue. We didn't change it in Chromie

[2021-04-02 10:45] claudiodfc commented on #5014
@UltraNix any chance this PR could break some spell target SRC entry?

[2021-04-02 10:50] Bloodelf94 commented on #4992
oh alright, never played Warlock before now. but though it worked as a hunter pet in functions.
Seems to me there wont be any reason to summon them if you got to control their attack while you use your own attack. But thank you very much for the reply :-)

I dont know how to update DB / server. but tried follow a tutorial where i made a git pull. if my server is updated i really dont know, but tri

[2021-04-02 10:54] UltraNix commented on #5014
Not really sure, but I guess not.

[2021-04-02 11:17] Yehonal commented on #4603
I followed the logic and yes, that's definitely the solution. We return NO_PATH but the path generation for the pet must always be forced when no path is available.

I think the problem is here: https://github.com/azerothcore/azerothcore-wotlk/blob/HEAD/src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp#L338

I'm from the smartphone and I cannot test it today

[2021-04-02 11:19] Yehonal commented on #4603
I've also checked the @Footman PR here: https://github.com/azerothcore/azerothcore-wotlk/pull/5097/files and that one doesn't fix this bug, so my suggestion is to open a PR by removing/changing that stop condition so it can be easily tested and merged asap

[2021-04-02 11:26] UltraNix commented on #4603
I'll do it.

[2021-04-02 11:32] Yehonal commented on #4603
ok thanks :) by the way I'm curious if that condition was placed there intentionally for some reason, or is it a copy/paste mistake.

@Footman any idea?

[2021-04-02 12:58] jordigil commented on #5101
They looks like pets of the warlock orcs of stonewatch keep, maybe?

[2021-04-02 14:21] mpfans commented on #4091
This issue has not been fixed

[2021-04-02 14:48] apav commented on #4551
This is still not working for me, the debuff isn't applied when I cast a Judgement on the live server.

[2021-04-02 16:01] skxawng-cu opened #5104 "Feature: Login and register from the website!!"
**Describe your feature request or suggestion in detail**

Hi, I don't understand the new structure of account table and how can I register or login from the website.

**Describe a possible solution to your Feature or Suggestion in detail**

How can I encrypt the account password with PHP?

**Additional context**

After the update:
485f7e76391a5bbf1af6b3219d27db721af38440
My website stop working,

[2021-04-02 17:41] Err0r1 commented on #5104
if you have modified fusion yourself, you should also be able to copy paste the SRP6 branch :)

Can be closed, no azerothcore feature

[2021-04-02 18:24] ReynoldsCahoon opened #5105 "Feature: Adjust maximum allowed players in instances"
**Describe your feature request or suggestion in detail**
I would like the ability to modify the maximum allowable number of players in any given instance. Perhaps this is already possible, but [it is not clear where to find these values](https://stackoverflow.com/questions/65309733/locating-file-controlling-instance-maxplayers).

**Describe a possible solution to your Feature or Suggestion in det

[2021-04-02 18:24] skxawng-cu commented on #5104
I found this https://github.com/TrinityCore/TrinityCore/issues/25157
Very helpful, I am updating my webpage, thanks.

[2021-04-02 18:27] #5104 closed

[2021-04-02 19:18] ReynoldsCahoon commented on #5063
Realized that the repo contains a [VoiceChatHandler](https://github.com/azerothcore/azerothcore-wotlk/blob/master/src/server/game/Handlers/VoiceChatHandler.cpp), but is possibly unused?

[2021-04-02 20:11] 55Honey opened #5107 "nodes spawn isinde each other simultaneously"
## CURRENT BEHAVIOUR:

![image](https://user-images.githubusercontent.com/71938210/113450377-10efe480-9400-11eb-9492-85ab8bac99ae.png)
These 2 spawn simultaneously inside of each other.

## EXPECTED BLIZZLIKE BEHAVIOUR:

They should be grouped.

## SOURCE:

## STEPS TO REPRODUCE THE PROBLEM:

1.
2.
3.

## EXTRA NOTES:

##### AC HASH/COMMIT:

https://github.com/chromiecraft/azerothcore-wotlk/commit

[2021-04-02 20:25] 55Honey commented on #5105
You need to modify a .dbc file for this. I think it's map_difficulty if i remember correctly.

[2021-04-02 21:24] ReynoldsCahoon commented on #5105
Ah, you are correct. However, the feature request still stands, as modifying the database is a much easier endeavor than modifying `.dbc` files.

[2021-04-02 21:33] T1ti commented on #5105
There is already a map dbc table in the database, I think i works so you are free to fill it, it should overwrite DBC files

[2021-04-02 21:50] ReynoldsCahoon commented on #5105
Oh! I see how this works. The table shares the structure of the DBC and values in here will overwrite values from the dbc file?

This is certainly workable, but requires a user to open a dbc to determine the format of entries. It would be more convenient if these were all populated here, so they could be viewed and modified without external tools.

[2021-04-02 22:06] Si1ker opened #5108 "(Core/Spell): Charge with spell ID 55317 is not working"
## CURRENT BEHAVIOUR:

[Charge](https://www.wowhead.com/spell=55317/charge) which is used by [Deathcharger Steed](https://wowgaming.altervista.org/aowow/?npc=16067#abilities) is broken or not working ("You're too close" warning, no matter the distance)

## EXPECTED BLIZZLIKE BEHAVIOUR:

Spell should be usable as a normal charge spell

## SOURCE:

[Spell on Wowhead](https://www.wowhead.com/spell=55

[2021-04-02 22:39] Helias opened #5109 "Second Quest in a serie "A New Plague" is offered only for Undead and not for all hordes"
related to https://github.com/chromiecraft/chromiecraft/issues/326

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [ ] Alliance
- [x] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Second quest in serie A New Plague (https://wotlk.evowow.com/?quest=368) is not offered for Trolls.

##### EXPEC

[2021-04-02 22:52] ReynoldsCahoon commented on #5105
The process currently, as described, is to extract a dbc, find the entry you want (referenced by it's `MapID`) and insert a row into the `mapdifficulty_dbc` table that has the modified `MaxPlayers` value.

An example of some functionality that this feature would allow:
[code]

For comparison, a query like this from CMangos
[code]
In the current implementation, so far as I can tell, you'll need to

[2021-04-02 22:55] Helias commented on #5098
the BUFF_RESPAWN_TIME conf is applied only to warsong gulch and to all buffs, I suggest to delete this conf and put different times or use multiple conf for BG respawn times

[2021-04-02 23:13] T1ti commented on #5105
you want to update your client map.dbc too, and just replacing the file in your server folder is easier

[2021-04-02 23:25] ReynoldsCahoon commented on #5105
Oof, it has to be modified on the client as well to work at all?

[2021-04-03 00:33] T1ti commented on #5105
For this change specifically, I don't think so(it might be needed to change the number of players on the icon near the minimap though) but for other map.dbc chanegs yes

[2021-04-03 00:39] T1ti commented on #5108
I am able to use it without any issue

[2021-04-03 00:41] T1ti commented on #5108
https://i.gyazo.com/ad88559dbe32dfc036f56e90e2dfd7f2.mp4

[2021-04-03 02:52] T1ti commented on #4992
What I meant by auto attack is physical attacks(melee hits)
Imps are unable to melee hit, but they can still auto cast firebolt which is their main ability

[2021-04-03 02:57] Si1ker commented on #5108
Forgot to re-run updates for DB, is working.

[2021-04-03 02:57] #5108 closed

[2021-04-03 03:00] T1ti opened #5111 "Warlock's Imp keeps Phase shift in combat"
## CURRENT BEHAVIOUR:
-Imp will not lose the phase shift buff when it attacks.
-It will never be attackable by creature even if it has max threat, the creature will always go for the master because phase shift makes the imp immune.
![image](https://user-images.githubusercontent.com/40864460/113466058-10277480-9439-11eb-8d13-3c62c981957f.png)

## EXPECTED BLIZZLIKE BEHAVIOUR:
-Imp should lose phase

[2021-04-03 03:05] Si1ker opened #5112 "(DB/creature): Missing Marauding Geist at Naxxramas"
## CURRENT BEHAVIOUR:

Missing Marauding Geist at Naxxramas

## EXPECTED BLIZZLIKE BEHAVIOUR:

![image](https://user-images.githubusercontent.com/61223313/113466169-dcc3f600-93f6-11eb-9a61-77947dcb6da7.png)

## SOURCE:

https://www.wowhead.com/npc=30083/marauding-geist#comments

## STEPS TO REPRODUCE THE PROBLEM:

1. .go c id 30083
2. ![image](https://user-images.githubusercontent.com/61223313/113

[2021-04-03 03:17] T1ti opened #5113 "Imp regens mana while casting"
## CURRENT BEHAVIOUR:
-Casting doesn't stop the imp mana regen, the Imp has unlimited mana right now because of that

## EXPECTED BLIZZLIKE BEHAVIOUR:
-Imp shouldn't regen when casting, it should have to wait 5 second before being able to regen like all other entities in the game

## SOURCE:

## STEPS TO REPRODUCE THE PROBLEM:

1. get your imp to spam firebolt on a creature and look at its mana

#

[2021-04-03 06:56] UltraNix commented on #4557
Cannot reproduce it.

[2021-04-03 07:02] Yehonal commented on #4557
https://github.com/azerothcore/azerothcore-wotlk/blob/HEAD/src/server/game/Handlers/MiscHandler.cpp#L427

@FrancescoBorzi is it your conf? **PreventAFKLogout**

[2021-04-03 07:08] eTzmNcbkrng commented on #5055
There is Blizzard original bug that caused this to happen but only with Entanglling Roots.
Blizzard never fixed this and it was still present in 3.3.5 only becoming obsolete when the quest was removed in 4.0.
Does AzerothCore want to reproduce Blizzard original bugs?
I think it should with an option to “fix” the bug.

 \- https://www.wowhead.com/quest=6129/curing-the-sick#comments:id=24320

[2021-04-03 07:15] eTzmNcbkrng commented on #4945
This could more easily be fixed with #5045.

[2021-04-03 07:24] Yehonal commented on #4557
setting PreventAFKLogout to 0 will fix your issue, I think that the logout after a timeout is handled exactly in the same way of the manual logout, hence when you are AFK and you click on the button manually that opcode will be called and the PreventAFKLogout won't let you log out.

I think this config is also a little bit dangerous to use with the WoW client since it expects to be logged out norm

[2021-04-03 07:28] Bloodelf94 commented on #4992
No problem. didn't know that regarding melee. But they can't seem to auto fire spells. Tried making set to auto and activate it's buff. But it just stands and takes the damage. i got to click the manual fire button. But i think you guys are handling it now. it is just me that needs to know how to update the DB. will probely make a thread later today :-)

[2021-04-03 07:29] UltraNix commented on #4557
It's already set to 0 - it's default setting.

[2021-04-03 07:29] 55Honey commented on #5105
Server-Side only works. I can run 25 in 5man heroics with a standard client just fine.

[2021-04-03 07:34] 55Honey commented on #4557
It wasn't 0 on ChromieCraft apparently.

[2021-04-03 09:14] ReynoldsCahoon commented on #5063
In the TrinityCore discussion referenced in this issue, user @FALL1N1 references getting this working in some fashion in AzerothCore.
https://github.com/TrinityCore/TrinityCore/issues/15057#issuecomment-383313037

After poking around this user's repositories, I believe the code he's referencing may be [here](https://github.com/FALL1N1/HysteriaCore/tree/master/src/server/game/VoiceChat).

[2021-04-03 09:35] FrancescoBorzi commented on #4557
it has been set `PreventAFKLogout = 2` on ChromieCraft

[2021-04-03 11:51] UltraNix commented on #4510
The problem is with calculations in `WorldObject::GetMinHeightInWater()`

[2021-04-03 12:21] UltraNix commented on #4510
[code]
`IsInWater` means also shallow water, so `max_z-GetMinHeightInWater()` might be under the ground.

[2021-04-03 12:55] Knindzagxg commented on #5039
- Culling of Stratholme - Chromie have issue with double text options.
![double](https://user-images.githubusercontent.com/27079035/113478886-f3685c80-948b-11eb-83ed-d69e35a8ee3a.png)
![double again](https://user-images.githubusercontent.com/27079035/113478887-f5cab680-948b-11eb-97f8-0d2933d656ac.png)

- Meathook and Salramm should start walking / roam once spawned.
- Also, there should be "flag"

[2021-04-03 15:05] UltraNix commented on #4435
Cannot reproduce it - maybe already fixed by.. something :)

[2021-04-03 16:21] Stifler82 commented on #4435
It is STILL a problem and I'm able to reproduce it..

https://user-images.githubusercontent.com/1884642/113484588-05a0c580-94a1-11eb-83de-df818bbb44a8.mp4

[2021-04-03 16:50] Stifler82 opened #5115 "Flurry Shaman Talent give wrong percentages."
Related TO: https://github.com/azerothcore/azerothcore-wotlk/issues/4723

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Flurry Shaman Talent currently works with these wrong percentages:
**6/12/18/24/30%**
**Flurry:** [Rank 1]

[2021-04-03 16:50] T1ti opened #5116 "Creatures leash system not blizzlike"
## EXTRA NOTES:
This is based on Classic, I don't know if this system changed in BC or Wotlk. if we have any evidence it did or that it  is different, then ignore this

## EXPECTED BLIZZLIKE BEHAVIOUR:

1. There's a small radius around the aggro point where creature will never leave combat
2. Outside of that radius, the leash is timer based(around ~12sec _(seems to be based on creature level and a

[2021-04-03 17:53] #4557 closed

[2021-04-03 17:53] FrancescoBorzi commented on #4091
@esanhueza can you please have another look at this?

[2021-04-03 17:59] FrancescoBorzi commented on #5104
This can also help:

https://stackoverflow.com/questions/66783717/how-to-make-salt-hash-using-php-to-register-new-account-from-web

[2021-04-03 18:07] Helias opened #5118 "Engineering Item: "Explosive Sheep" Doesn't Disappear After 3 Minutes"
related to https://github.com/chromiecraft/chromiecraft/issues/331

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enUS

##### FACTION

- [ ] Alliance

##### CONTENT PHASE:

- [ ] Generic

##### CURRENT BEHAVIOUR:

"Explosive Sheep" doesn't disappear after 3 minutes as the tooltip says, thus it's infinitely stackable.
https://classic.wowhead.com/item=4384/explosive-sheep

##### EXPECTED BLIZZLIKE BEHAVIO

[2021-04-03 18:15] Stifler82 opened #5120 "Hunter bug with melee weapons"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/131

##### ISSUE: FACTION SIDE:

![Alliance](https://user-images.githubusercontent.com/1884642/108204869-3a88d100-711c-11eb-8179-e1b9b73ed450.png)
![Horde](https://user-images.githubusercontent.com/1884642/108204991-63a96180-711c-11eb-9ed9-138c233070a6.png)

##### CONTENT PHASE:

Not phase-specific

##### SMALL DESCRIPTION:

A

[2021-04-03 19:13] UltraNix commented on #4435
Yep - I forgot about the mmaps folder :)

[2021-04-03 19:15] Helias opened #5124 "Electromagnetic Gigaflux Reactivator buff not staying [$15]"
https://github.com/chromiecraft/chromiecraft/issues/327

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [ ] 1-19
- [x] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Item Electromagnetic Gigaflux Reactivator ( https://wowgaming.altervista.org/aowow/?item=9492 ) is a cloth helmet that, whe

[2021-04-03 19:48] ReynoldsCahoon commented on #5063
Spoke with @FALL1N1 on Discord and he gave an example of how to enable the clientside interface:

[2021-04-03 22:48] Helias commented on #5055
No, AzerothCore will not keep the known bugs of Blizzard 😅

[2021-04-04 00:35] FrancescoBorzi commented on #5039
excellent news @Knindzagxg good job!

[2021-04-04 01:11] #5120 closed

[2021-04-04 01:27] T1ti commented on #5116
Note : the current AC system feels extremly obnoxious in cavesa nd tunnels with turns thata ren't a straight line, i had creatures chasing me for nearly 40 seconds in the jasperlode mine without hitting them because I was theorycally not existing the radius

[2021-04-04 01:37] T1ti commented on #5116
https://www.youtube.com/watch?v=x6P801lzTOk
Video example, this kobold keeps chasing for 50 seconds without hitting him in a huge circle

[2021-04-04 02:58] #5112 closed

[2021-04-04 03:20] esanhueza commented on #4091
I can confirm the problem persist, but I think it's another problem not related to the PR.

This specific NPC has the following entries in the table smart_scripts:

1. Arch Mage Xintor - On Reset - Disable Combat Movement (No Repeat)
2. Arch Mage Xintor - On Aggro - Cast 'Fireball' (No Repeat)
3. Arch Mage Xintor - On Aggro - Increment Phase By 1 (No Repeat)
4. Arch Mage Xintor - Within 0-40 Range

[2021-04-04 17:06] Si1ker opened #5126 "(DB/POI): Your Fortune Awaits You - Wrong POI end"
Originally reported on ChromieCraft's discord by this guy:

![image](https://user-images.githubusercontent.com/61223313/113515936-b015f880-9534-11eb-9612-3590c4d46e56.png)

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [ ] enUS
- [x] other (esES)

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

POI end fo

[2021-04-04 17:22] Si1ker commented on #5101
They have no GUID because they're summoned by spell/SAI. Confirmed.
![image](https://user-images.githubusercontent.com/61223313/113516531-f7ea4f00-9537-11eb-8672-a4ed288ac7c2.png)

[2021-04-04 17:22] JamesGent opened #5127 "Mobs aggro for eating food. [$5]"
## CURRENT BEHAVIOUR:

Mobs aggro for eating food. The screenshot shows a mob running to bash my friend Thanoson who is just eating 50 yards away from the mob.

![WoWScrnShot_040421_164251](https://user-images.githubusercontent.com/61194190/113516510-8c71a300-9572-11eb-929e-bd40f3fa6964.jpg)

## EXPECTED BLIZZLIKE BEHAVIOUR:

They should aggro the person hitting them, not prioritise someone eating

[2021-04-04 17:26] JamesGent opened #5128 "Chests don't despawn after being opened and emptied in parties (linked to rolling?)"
## CURRENT BEHAVIOUR:

Chests don't despawn after being opened and emptied in parties (linked to rolling?)

![WoWScrnShot_040421_131548](https://user-images.githubusercontent.com/61194190/113516600-043fcd80-9573-11eb-8330-b27714080e92.jpg)

## EXPECTED BLIZZLIKE BEHAVIOUR:

Chests disappear once emptied.

## SOURCE:

## STEPS TO REPRODUCE THE PROBLEM:

1. Party up
2. Open a chest
3. Watch as you m

[2021-04-04 17:33] JamesGent opened #5129 "Captain's Key (item 9249) droprate far too high"
## CURRENT BEHAVIOUR:

Captain's Key (item 9249) droprate far too high.

We killed 100 mobs and got 57 keys.

## EXPECTED BLIZZLIKE BEHAVIOUR:

0.02% droprate from mobs, 10% from footlockers.

## SOURCE:

https://wotlk.evowow.com/?item=9249#dropped-by

https://classic.wowhead.com/item=9249/captains-key

## STEPS TO REPRODUCE THE PROBLEM:

1. Kill Southsea X in Tanaris' Lost Rigger Cove
2. Observe

[2021-04-04 17:48] Si1ker opened #5131 "(LOS/Spell): Blackrock Summoner cast behind pillar/walls"
## CURRENT BEHAVIOUR:

![image](https://user-images.githubusercontent.com/61223313/113517161-9cba5b80-953b-11eb-867b-753257b1bbe1.png)
![image](https://user-images.githubusercontent.com/61223313/113517185-a5129680-953b-11eb-99b1-b513eef9aa91.png)
![image](https://user-images.githubusercontent.com/61223313/113517190-ac39a480-953b-11eb-8cb0-7a2a7fb96f66.png)

## EXPECTED BLIZZLIKE BEHAVIOUR:

LOS

#

[2021-04-04 17:49] Si1ker commented on #5127
They want some..  ; c

[2021-04-04 18:14] Winfidonarleyan commented on #4991
Any other questions?

[2021-04-04 21:21] FrancescoBorzi commented on #4091
@mpfans

[2021-04-04 21:22] #4510 closed

[2021-04-04 21:24] FrancescoBorzi commented on #5126
@Si1ker don't forget the label + project so we keep track of these ;)

[2021-04-04 21:37] #4890 closed

[2021-04-04 21:37] #5099 closed

[2021-04-04 21:37] #5109 closed

[2021-04-04 21:44] wizzymore commented on #5131
I don't know about Wrath Retail, but on classic wow it is the same.

[2021-04-04 23:31] T1ti opened #5135 ".WDT MWMO chunk should be optional in map extractors"
## CURRENT BEHAVIOUR:
.WDT files made by blizzard all have the MWMO chunk, but it is unused for all maps that have terrain. https://wowdev.wiki/WDT#MWMO.2C_MODF_chunks
Currently the extractors require all .wdt files to have this chunk.
The issue is that modding tools to generate custom maps usualy don't generate this chunk(because it's not needed), and many people struggle to use the extractors wi

[2021-04-05 00:23] laasker opened #5136 "Melee spells with 1s GCD getting affected by Casting Speed Debuffs"
## CURRENT BEHAVIOUR:
The global cooldown of physical spells that have 1s GCD are getting affected by spells that increases casting speed (Curse of Tongues, Rogue Mind Numbing Poison, Snake Trap Mind Numbing Poison, mage arcane Slow, Hunter BM pet Lava Breath, etc).

The GCD is the same, but after using a physical spell, you need to wait ~0.3 sec before being able to use another spell, even though

[2021-04-05 00:56] #5129 closed

[2021-04-05 06:33] pklloveyou commented on #5128
#4413 It's about here

[2021-04-05 06:33] pklloveyou commented on #5128
The error disappears after PR is restored

[2021-04-05 08:52] Helias opened #5140 "Mob is attacking me while being underground."
related to https://github.com/chromiecraft/chromiecraft/issues/340

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [ ] Alliance
- [X] Horde

##### CONTENT PHASE:

- [ ] Generic
- [X] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

There is a mob Kolkar Stormer in the Barrens at the Forgotten pools (GUID: 20534) just where Barak Kodobane is.

[2021-04-05 09:20] Helias opened #5142 "Slaying of the beast Horde only quest given to an alliance player"
https://github.com/chromiecraft/chromiecraft/issues/343

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

After joining RDF and party has been teleported inside Ragefire Chasm dungeon. We started progressing through the dungeon a

[2021-04-05 09:42] FrancescoBorzi commented on #4991
@T1ti @thenewblock please try this and let us know

[2021-04-05 09:45] Kitzunu commented on #4991
the weird thing is that this worked a couple of months back when I last worked with sai

[2021-04-05 09:51] #4782 closed

[2021-04-05 09:59] Helias commented on #5131
yep, I heard that this kind of LoS is "blizzlike", even through the trees.

If we can fix it is better ofc, but probably the structure of these kind of "3d object" are not a "wall" for the spells, so may we could not even fix them for the nature of the 3d models properties

[2021-04-05 10:38] #4768 closed

[2021-04-05 10:39] #5001 closed

[2021-04-05 10:39] #4723 closed

[2021-04-05 10:45] Helias opened #5147 "SPELL_AURA_PREVENT_DURABILITY_LOSS (289) is unusued"
SPELL_AURA_PREVENT_DURABILITY_LOSS (289) is unusued, probably in past we didn't know that the aura 289 was this kind of aura, we need to implement it (look TC to see how it works).

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/97679115-spell_aura_prevent_durability_loss-289-is-unusued?utm_campaign=plugin&utm_content=tracker%2F4003

[2021-04-05 10:48] Kitzunu commented on #5147
[code]

[2021-04-05 10:48] Kitzunu commented on #5147
Only place used

[2021-04-05 10:49] Helias commented on #5147
yep, exactly, it's easy to import ;-)
don't forget to update `SpellAuraEffects.cpp` too, line 351 with
[code]

[2021-04-05 10:50] Kitzunu commented on #5147
Yea, ik, thought that was obvious :D

[2021-04-05 10:52] Kitzunu commented on #5147
Done

[2021-04-05 10:58] pklloveyou commented on #4327
confirm

[2021-04-05 13:05] mpfans commented on #4091
Any tank player knows that,all NPCs that can cast spells will block its perspective to bring all monsters together.
https://youtu.be/UjwQxJONNGs
Please watch this video from 45 seconds,the monster should run to the player, not to the distance to continue casting

[2021-04-05 13:30] #5118 closed

[2021-04-05 13:34] #4556 closed

[2021-04-05 13:35] #4660 closed

[2021-04-05 14:45] Helias opened #5152 "Quest Item "Incendia Agave" Not Spawning Underwater"
https://github.com/chromiecraft/chromiecraft/issues/344

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [X] enUS
- [ ] other (specify)

##### FACTION

- [ ] Alliance
- [X] Horde

##### CONTENT PHASE:

- [ ] Generic
- [ ] 1-19
- [X] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

The level 27 Horde quest "Sacred Fire" requires you to collect 10 units of a herb called Incendia Agave. This is supposed t

[2021-04-05 14:46] Helias commented on #5152
I would add:
there are only 5 spawns of the object to gather the quest item, while the quest ask for 10 quest items, moreover, wowhead also shows more than 5 spawns.

[2021-04-05 15:06] Helias opened #5153 "Rageclaw - No Patrol movement"
https://github.com/chromiecraft/chromiecraft/issues/345

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [ ] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Rageclaw simply stands in one spot and does not do his patrol of laps around his spawn location.

##### EXPECTED BLIZZLIKE

[2021-04-05 15:53] FrancescoBorzi commented on #5152
I would add the project :D

[2021-04-05 17:16] disclosurez commented on #2104
bump, still possible and very annoying

[2021-04-05 20:05] Si1ker commented on #5131
Good enough, closing..

[2021-04-05 20:05] #5131 closed

[2021-04-05 22:47] iEmpress opened #5156 "[Warrior] Victory Rush does not allow for use if Victory Rush was used as the Killing blow"
## CURRENT BEHAVIOUR:
 If Victory Rush is used as the killing blow on a target it is not available for use afterwards.

## EXPECTED BLIZZLIKE BEHAVIOUR:
 Victory Rush should always be available for use after a target dies, even if Victory Rush was used as the killing blow.

## SOURCE:
Proof from Classic TBC beta: https://youtu.be/imySyB3cOO0?t=209

## AC HASH/COMMIT:
  AzerothCore rev. ee1918a3e9b

[2021-04-05 22:59] Stifler82 commented on #4808
@FrancescoBorzi @Yehonal @Helias
In my opinion Charge works well and does not need any Fix, as you can see from my video..
**Video Test:** [Charge](https://youtu.be/GAqi6ebgUfo)

[2021-04-05 23:09] FrancescoBorzi commented on #4808
thanks @Stifler82 for testing this

[2021-04-05 23:20] Stifler82 commented on #4620
@FrancescoBorzi @Yehonal @Helias

The problem has not been solved yet

**Video Test:** [Line of Sight](https://youtu.be/sq5tPhLb3c4)

[2021-04-05 23:28] Stifler82 commented on #4603
@FrancescoBorzi @Yehonal @Helias
Maybe fixed:
- here https://github.com/azerothcore/azerothcore-wotlk/pull/4922
or
- here https://github.com/azerothcore/azerothcore-wotlk/pull/5103

[2021-04-06 00:02] Stifler82 opened #5157 "Brutal Assault debuff remaining after Warsong Gulch ends"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/179

##### ISSUE: FACTION SIDE:

![Alliance](https://user-images.githubusercontent.com/1884642/108204869-3a88d100-711c-11eb-8179-e1b9b73ed450.png)
![Horde](https://user-images.githubusercontent.com/1884642/108204991-63a96180-711c-11eb-9ed9-138c233070a6.png)

##### CONTENT PHASE:

All

##### SMALL DESCRIPTION:

Spell: [Brutal A

[2021-04-06 00:05] Kitzunu commented on #5157
Could be fixed with my PR. Couls you test if it would fix it?

[2021-04-06 00:06] Kitzunu commented on #5157
https://github.com/azerothcore/azerothcore-wotlk/pull/4990

[2021-04-06 00:09] Stifler82 commented on #5157
@Kitzunu
I wold like, but idk how i should test it, because (if i understood it right), this issue is a "Random" bug, and in more i should join a BG for test it and i can't in my local, I would need "Players" for test..

[2021-04-06 00:10] Kitzunu commented on #5157
You could .debug bg and then aura the spell on you and see if it stays or not

[2021-04-06 00:12] Stifler82 commented on #5157
ok, I'll try

[2021-04-06 00:19] Stifler82 commented on #5157
@Kitzunu  when the aura should disappear exactly?

[2021-04-06 00:20] Kitzunu commented on #5157
If I understand your issue correctly, the aura persists when you leave the BG. If my PR would solve this issue, it should remove when you exit the BG.

If not it's fine, then this is just another issue

[2021-04-06 00:21] Stifler82 commented on #5157
OK give me a sec, I'll make a Video for you..

[2021-04-06 00:22] Kitzunu commented on #5157
I dont have the ability to watch videos rn. Would prefer if you just tell me if it solves this issue or not :P

[2021-04-06 04:10] Si1ker commented on #4972
Fixed in https://github.com/azerothcore/azerothcore-wotlk/pull/4985

[2021-04-06 04:10] #4972 closed

[2021-04-06 04:31] Si1ker commented on #501
![image](https://user-images.githubusercontent.com/61223313/113659051-793c0180-965e-11eb-8026-c1a01d994dff.png)

![image](https://user-images.githubusercontent.com/61223313/113659063-7fca7900-965e-11eb-9e16-df332c251a6d.png)

![image](https://user-images.githubusercontent.com/61223313/113659073-835e0000-965e-11eb-8bcd-527a9657950b.png)

Completed both quests today..  c0cb2ea

http://www.wowhead.co

[2021-04-06 04:31] #501 closed

[2021-04-06 04:35] #670 closed

[2021-04-06 04:35] #537 closed

[2021-04-06 04:39] Si1ker commented on #576
No errors on the console. Closing as invalid.

![image](https://user-images.githubusercontent.com/61223313/113659681-cff60b00-965f-11eb-88eb-0f6c7cc24daf.png)

[2021-04-06 04:39] #576 closed

[2021-04-06 04:42] Si1ker commented on #653
The author can re-open the issue with the updated issue template and providing the GUID of the gobjects with problems, closing.

[2021-04-06 04:55] Si1ker commented on #638
Still bugged in c0cb2ea  4/5/2021

[2021-04-06 04:55] #651 closed

[2021-04-06 04:56] #649 closed

[2021-04-06 04:57] #656 closed

[2021-04-06 04:57] #691 closed

[2021-04-06 05:32] T1ti commented on #974
Not true, on blizzlike they don't die, they stay at like 2hp and become unkillable until all are dead, you can still do damage to them and warriors abuse this to generate threat.

Ancient core hounds are the big ones in the rest of the instance, those packs are the normal core hounds.

[2021-04-06 05:34] T1ti commented on #974
and you shouldn't use the creature formation system to link them

[2021-04-06 06:42] Maurowin commented on #653
No but wait, I'm not going to have fun rewriting all the tickets that were reported widely before the update of the template.

Especially since the solution is to get the event from TC...

Closing to close the ticket and increase the counter of closed tickets is counterproductive. I won't reopen another ticket, I don't care if this event is solved or not.

@BarbzYHOOL Je sais pas mais ça respect d

[2021-04-06 07:07] Maurowin commented on #653
So all quest, object, cost, etc.. on this website https://www.dugiguides.com/brewfest-event-guide from 2011

[2021-04-06 08:55] Pholoween commented on #4991
My client doesn't crash but set HP to 1 and make mob fly
![WoWScrnShot_040621_105345](https://user-images.githubusercontent.com/76223768/113685435-8bea2100-96c6-11eb-9234-00e985ea4f66.jpg)

[2021-04-06 12:14] FrancescoBorzi commented on #653
@Maurowin reopened.

[2021-04-06 12:17] #4822 closed

[2021-04-06 12:23] #4992 closed

[2021-04-06 12:24] #4708 closed

[2021-04-06 12:24] #4966 closed

[2021-04-06 12:24] #4720 closed

[2021-04-06 13:18] Helias opened #5164 "Exploit: Can change chat message color"
https://github.com/chromiecraft/chromiecraft/issues/354

possible fix: https://github.com/TrinityCore/TrinityCore/issues/11625

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

It's possible to change your chat message color such

[2021-04-06 13:20] Helias commented on #4620
comment the related PR and tag @UltraNix

[2021-04-06 13:22] Helias commented on #4603
if it's fixed in the one of the two we could leave the bounty to @UltraNix, we just need some tests here

[2021-04-06 16:21] UltraNix commented on #4620
Tested on local - still works okay.

[2021-04-06 16:48] Stifler82 commented on #5157
Fixed!
-
**Video Test:** [Brutal Assault Without my Fix](https://youtu.be/BB6wFEorAZE)
**Video Test:** [Brutal Assault with my Fix](https://youtu.be/sHs_AYOsZIo)

[2021-04-06 18:18] Stifler82 commented on #4969
Fixed!
-
**Video Test:** [Npc Minions not Engaging](https://youtu.be/wXh_WH4I4PA)

[2021-04-06 20:02] Stifler82 commented on #4970
Fixed!
-
**Video Test:** [PvP Bandages](https://youtu.be/JOtWVW9YndM)

[2021-04-06 20:05] necropola commented on #5068
I'd really like to have **AuctionHouse Search with GetAll** working on AC and the commit from TC would apply with very little modifications, if there weren't these weird **pussywizard** modifications:
https://github.com/azerothcore/azerothcore-wotlk/blob/5906222fd6910beec4b5d6c07f4c69f69bb094a4/src/server/game/AuctionHouse/AuctionHouseMgr.cpp#L550-L585
* A special *optimization for a simplified ca

[2021-04-06 21:21] Si1ker opened #5169 "(DB/smart_script): Elder Timberling spams Healing wave whenever low health"
Original report at https://github.com/chromiecraft/chromiecraft/issues/324

#### WHAT CLIENT DO YOU PLAY ON?

- [X] enGB
- [ ] enUS
- [ ] other (specify)

##### FACTION

- [X] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [X] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

[Elder Timberling](https://classic.wowhead.com/npc=2030/elder-timberling) is supposed to cast Healing Wa

[2021-04-06 21:47] #5088 closed

[2021-04-06 23:30] #5169 closed

[2021-04-07 04:46] #4943 closed

[2021-04-07 05:24] Stifler82 commented on #4952
Fixed!
-
**Video Test:** [Razormane Wolf](https://youtu.be/mEaCcBQUlQ8)

[2021-04-07 05:46] Stifler82 commented on #4978
Fixed!
-
![WoWScrnShot_040721_064531](https://user-images.githubusercontent.com/1884642/113816571-ed64cb00-976c-11eb-86cf-a2edd174835d.jpg)

[2021-04-07 06:52] Si1ker opened #5173 "(DB/creature): Ruul Snowhoof"
Original report at https://github.com/chromiecraft/chromiecraft/issues/358

## CURRENT BEHAVIOUR:

NPC = https://classic.wowhead.com/npc=12818/ruul-snowhoof
Quest = https://classic.wowhead.com/quest=6482/freedom-to-ruul
1- Ruul can attack nearby hostile NPCs while in the cage before accepting the quest
2- Ruul is un Tauren form in the cage
3- After he goes out of the cage because the player accept

[2021-04-07 07:13] Stifler82 commented on #5173
Fixed!
-
**Video Test:** [Ruul Snowhoof](https://youtu.be/40Ez3370f_w)

[2021-04-07 11:30] #4939 closed

[2021-04-07 12:57] Yehonal commented on #4764
Any updates here?

[2021-04-07 15:03] pklloveyou commented on #5164
![image](https://user-images.githubusercontent.com/18535853/113889138-83dccf00-97f5-11eb-9fe7-a672b6a2ff71.png)

[2021-04-07 15:14] Kitzunu commented on #5164
That's already in the core

[2021-04-07 15:20] Yehonal opened #5178 "[BUG] Wrong Async queries (especially for pets) and room for improvements"
I've found a technical issue related to the way certain functions are using the AsyncQuery method.

Currently we have 3 ways to execute a query:

1. Enqueue without result (Execute)
    **pro**: it doesn't lock the db so doesn't cause performance issues
    **cons**: doesn't return anything and you cannot write procedural code

2. Execute with sync result (Query)
    **pro**: returns the result of

[2021-04-07 16:07] Inversed98 opened #5179 "Map extractor Compile error / ACore update doesn't contain updated maps"
Error: https://pastebin.com/h7KYKmYf
https://pastebin.com/3jn2Dw2A

## CURRENT BEHAVIOUR:

Unable to compile the maps extractor. Can't compile the core without the maps. The new update doesn't contain updated maps.
After this https://github.com/azerothcore/azerothcore-wotlk/commit/0528e0b4855331572d65237198e1510444fe2cec commit the server won’t start. Data v9 from here https://github.com/wowgaming

[2021-04-07 16:34] Kitzunu commented on #5179
Use gist or pastebin

[2021-04-07 16:57] #5164 closed

[2021-04-07 17:00] Kitzunu commented on #5164
Why was this closed?

[2021-04-07 17:00] Stifler82 commented on #5164
it is Blizz-Like

This is a Blizzard's CODE
`/run if(not scm) then scm = SendChatMessage; end; function SendChatMessage(msg, type, lang, chan) scm("\124cff00B4FF\124Hitem:19:0:0:0:0:0:0:0\124h" ..msg.."\124h\124r", type, lang, chan);end;`

Try it in your client..

It is work it `/run`

Like
`/AFK`
`/DND`
etc

[2021-04-07 17:10] Stifler82 commented on #5164
**"Unaware" to be a [AUTO-CENSORED]**

[2021-04-07 17:11] FrancescoBorzi commented on #5179
what do you mean by `The new update doesn't contain updated maps.` ? where do you expect them to be "contained"?

I don't understand your issue, the new maps worked fine for me

[2021-04-07 17:12] FrancescoBorzi commented on #5164
that's an improvement Stifler

[2021-04-07 17:12] Stifler82 commented on #5164
You can bet your ass about it..

[2021-04-07 17:15] Inversed98 commented on #5179
I just edited the post I hope it makes sense now. Check the second link to pastebin.

[2021-04-07 17:33] #4620 closed

[2021-04-07 18:57] Stifler82 commented on #4986
Hi @Zoidwaffle, has a PR been done on this drop already?

[2021-04-07 19:09] Footman opened #5180 "Vmap issues: Invisible collision + creature spawn"
## CURRENT BEHAVIOUR:

After integration of pull request #4922 by @UltraNix there are some new issue. In the client there are some invisible collisions like the one on the screenshot. This collision is there to prevent players to cover NPC on this place.
The problem is that those NPCs cant spawn at this place anymore and fall throw the floor.

![image](https://user-images.githubusercontent.com/136

[2021-04-07 19:26] Stifler82 commented on #4986
It seems to works to me..
So for me the report is Invalid..
As I believe you can also notice from my video:
**Video Test:** [Tribal Worg Helm](https://youtu.be/gpXNzH219EE)

[2021-04-07 19:26] #4986 closed

[2021-04-07 19:45] Zoidwaffle commented on #4986
@Stifler82 yeah, no PR needed, it works as intended. The reporter just had bad luck.

[2021-04-07 19:55] Stifler82 commented on #4987
@Zoidwaffle Can you do this Fix pls?
I trust of your judgment about drop rate.
(And to avoid misunderstanding, and everything you do of course).😉👍

[2021-04-07 20:03] FrancescoBorzi commented on #5179
you need v10 now, from the same URL

[2021-04-07 20:04] UltraNix commented on #5180
It's not because of new vmaps/mmaps, but wrong phase mask implementation/handling for destructibles. Will look at this tomorrow.

[2021-04-07 20:05] #5179 closed

[2021-04-07 20:28] Drakelol opened #5181 "Demoralizing Roar is not revealing stealth / prowl"
Demoralizing Roar is not revealing stealth / prowl

The demoralizing roar spell does not remove the stealth
https://wotlkdb.com/?spell=99#see-also

When the druid is in the battle against a rogue and he uses Demoralizing Roar, the sneak does not come out of the rogue.

STEPS TO REPRODUCING THE PROBLEM:

1. Druid vs Rogue Duel
2. Rogue uses Stealth spell
3. Druid uses Demoralizing Roar spell near r

[2021-04-07 20:46] Kitzunu commented on #5181
Please do not ignore the issue template

[2021-04-07 21:16] Stifler82 commented on #4997
Fixed!
-
![WoWScrnShot_040721_221528](https://user-images.githubusercontent.com/1884642/113935761-d2d33600-97ee-11eb-9fba-941d6382c9f1.jpg)

[2021-04-07 21:57] Kitzunu commented on #5181
Okay so close, but still missing rev

[2021-04-07 22:48] nolt opened #5183 "Client data v10 package is bugged"
## CURRENT BEHAVIOUR:

With recent commit https://github.com/azerothcore/azerothcore-wotlk/commit/91dfedd0801a8babdb07e1bd865d586096dbbd97
and using v10 client data I get those errors in Server.log:

[code]

## EXPECTED BLIZZLIKE BEHAVIOUR:

## SOURCE:

## STEPS TO REPRODUCE THE PROBLEM:

1. pull recent AC sources
2. compile and use v10 client data

## EXTRA NOTES:

## AC HASH/COMMIT:

https://git

[2021-04-07 22:49] nolt commented on #5183
I've compiled tools and extracted on clean client (ChromieClient btw). All works fine, here are extracted all files:
https://mega.nz/file/RRRyELIC#ewajM0i59llSr9pv-niehf0taGov3l-BFr1UVG9Rn5Y

Can someone else confirm this issue?

[2021-04-07 23:39] Ramys commented on #5183
This version already exists.
https://github.com/wowgaming/client-data

[2021-04-08 00:56] Drakelol commented on #5181
I added the rev, thanks!

[2021-04-08 01:46] Stifler82 opened #5184 "Apprentice Angler - Fishing Extravaganza [$10]"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/310

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [ ] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

The Apprentice Angler quest, part of the Strangelthorn Fishing Extravaganza, rewards too much gold.
Mor

[2021-04-08 01:47] Stifler82 commented on #5184
https://www.wowhead.com/quest=8194/apprentice-angler#comments:id=1021949
![image](https://user-images.githubusercontent.com/60620452/113572951-79fe7480-9619-11eb-84d9-53f056b9d6c9.png)

[Wowpedia article, version from November 5th 2010](https://wowpedia.fandom.com/wiki/Stranglethorn_Fishing_Extravaganza?oldid=2493007), few months prior to Cata release:
![image](https://user-images.githubuserconten

[2021-04-08 02:32] #4961 closed

[2021-04-08 03:09] pklloveyou commented on #5180
![image](https://user-images.githubusercontent.com/18535853/113962746-dc928300-985a-11eb-8322-0e73fe118679.png)
Players don't fall when they stand here

[2021-04-08 05:14] Stifler82 opened #5185 "EPL chest in Tyr's hand is easily accessible and farmable"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/311

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

A chest inside of a small chapel in Tyr's Hand, EPL has a two-minute respawn timer and can be grabbed w

[2021-04-08 05:17] Stifler82 commented on #5185
Fixed!
-
**Video Test:** [EPL chest in Tyr's hand](https://youtu.be/7-8b-cBVdTA)

[2021-04-08 05:37] Stifler82 commented on #5055
@Helias Have you fixed this Bug?
And
Are you took this Case in load?
If yes assign it to yourself pls..

[2021-04-08 07:01] Stifler82 opened #5189 "Skinning boars in starting zone gives medium leather"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/316

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [ ] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Type here.

Skinning boars in starting zone gives medium leather in valley of trials

##### EXPECTED BL

[2021-04-08 07:01] Stifler82 commented on #5189
Fixed!
-
**Video Test:** [Skinning boars](https://youtu.be/72Bt37PcFEY)

[2021-04-08 07:40] Stifler82 opened #5191 "Ranged mobs shooting once and then going melee"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/320

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [X] enUS
- [ ] other (specify)

##### FACTION

- [ ] Alliance
- [X] Horde

##### CONTENT PHASE:

- [X] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Some ranged mobs (e.g. [Palemane Poacher in Mulgore](https://wowgaming.altervista.org/aowow/?npc=2951)

[2021-04-08 07:41] Stifler82 commented on #5191
Fixed!
-
**Video Test:** [Ranged mobs shooting](https://youtu.be/g1LZCnOb3nk)

[2021-04-08 07:48] Helias commented on #5055
For missing time at the end no, I made some try with SAI but without success :(
If you do it, remember to remove the spell_quest.cpp part of this quest.

Anyways if SPELL HIT + creature credit id 12299 works we can surely replace the C++ part.

[2021-04-08 09:32] FrancescoBorzi commented on #5183
@nolt that's weird because I've updated my core, downloaded the v10  and it worked fine for me

[2021-04-08 09:34] #524 closed

[2021-04-08 11:00] #4653 closed

[2021-04-08 11:35] Hacki95 commented on #4764
Somebody needs to test my 2nd PR and give me feedback. As far as I know, this will fix it.

[2021-04-08 12:07] nolt commented on #5183
User Delcid from discord was affected with same issue on Windows.

[2021-04-08 13:01] Helias commented on #5164
In the end, it does not hurt changing the text color, and in this way we are avoiding to remove a blizzard feature of the client actually

[2021-04-08 14:47] cirosantos0 commented on #5183
Same problem for me on ubuntu using acore.sh to download the package.
Worked with the package Ramys shared above.
Acore Version: 1dd7d7514552919b9626ffa22ed4471224afe3c8

[2021-04-08 14:47] disclosurez commented on #4661
#5097 has fixed some of these bugs yet lanathel is still broken

[2021-04-08 15:47] nolt commented on #5183
Wait what? :)
We talking about v10, and Ramys provided link to v10 client data package which cause this issue :)

[2021-04-08 17:32] Ramys commented on #5183
Anyway for me this package works perfectly.

[2021-04-08 17:54] FrancescoBorzi commented on #5183
@Helias is working on this

[2021-04-08 17:58] Delcidx commented on #5183
Yes, i had the issue but resolve it by extracting the data.zip again and compiling the solution.

[2021-04-08 19:14] Stifler82 commented on #4435
@UltraNix
This is still a problem..
**Video Test:** [Vmaps-Pathfinding](https://youtu.be/3RtrpIyF1NQ)

[2021-04-08 19:30] ReynoldsCahoon opened #5194 "Flesh Piercer [3336] Does Not Drop"
## CURRENT BEHAVIOUR:

The Flesh Piercer ([Wowgaming](https://wowgaming.altervista.org/aowow/?item=3336), [Wowhead Classic](https://classic.wowhead.com/item=3336/flesh-piercer), [Wowhead TBC](https://tbc.wowhead.com/item=3336/flesh-piercer)) does not currently drop from [Daggerspine Shorestalkers](https://wowgaming.altervista.org/aowow/?npc=2368) or [Daggerspine Screamers](https://wowgaming.alterv

[2021-04-08 19:31] UltraNix commented on #4435
Yep.

[2021-04-08 19:34] Stifler82 commented on #4435
@UltraNix
Btw, Great Job with LOS! 🚀🚀🚀

[2021-04-08 19:48] cirosantos0 commented on #5183
Sorry, I should have been clearer on my reply;

Using score.sh to download and extract the files leads to the error on topic.

Extracting it manually works.

[2021-04-08 20:08] nolt commented on #5183
Well I used:
[code]
and downloaded using Google Chrome; nothing special but had that issue. Tried few times and same situation. We will wait for Helias reply.

[2021-04-08 20:27] frytik commented on #5183
Can confirm, same issue for me, downloads clean source, compiled and works only with v9 data
Win x64

[2021-04-08 20:35] nolt opened #5196 "Mining veins multiple spawn"
## CHROMIE ISSUE:
https://github.com/chromiecraft/chromiecraft/issues/357
https://github.com/chromiecraft/chromiecraft/issues/356
https://github.com/chromiecraft/chromiecraft/issues/372

## CURRENT BEHAVIOUR:

Mineral veins very close to each other.

## EXPECTED BLIZZLIKE BEHAVIOUR:

Mineral veins shouln't spawn very close with same type.

## SOURCE:

## STEPS TO REPRODUCE THE PROBLEM:

1. .gobjec

[2021-04-08 20:35] nolt commented on #5196
PR is on the way

[2021-04-08 21:01] Kitzunu commented on #5181
fixed https://github.com/azerothcore/azerothcore-wotlk/compare/master...Kitzunu:fix-Demoralizing-Roar?expand=1

[2021-04-08 21:05] FrancescoBorzi commented on #5181
@Drakelol please test it

[2021-04-08 21:07] #4958 closed

[2021-04-08 21:16] nolt commented on #5196
thanks @Delcidx , added to issue and PR

[2021-04-08 21:25] nolt opened #5199 "Spawn at incorrect graveyard when dying in Frostmane Hold, Dun Morogh"
- [ ] enGB
- [X] enUS
- [ ] other (specify)

##### FACTION

- [X] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [X] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

When you die in Frostmane Hold, you get ported to the graveyard in Coldridge Valley.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

When you die in Frostmane Hold, you should be ported to the graveyard south of the Iceflow

[2021-04-08 21:28] nolt commented on #5199
Tested

When you .tele frostmane hold and .die, you will be teleported south of the Lake. But when you enter inside the cave and ,die you will be teleported to (screen attached).
![Zrzut ekranu z 2021-04-08 23-23-05](https://user-images.githubusercontent.com/6367933/114098787-2793b100-98c2-11eb-9186-41d4a4773288.png)

[2021-04-08 21:37] Drakelol commented on #5181
I applied the change, and it's working!
Thanks!

[2021-04-08 21:43] nolt opened #5200 "Undermap Timberstrider Fledgling"
###### CHROMIECRAFT ISSUE: https://github.com/chromiecraft/chromiecraft/issues/374

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

The Timberstrider Fledgling (entry 17372, GUID 62767) is undermap.

##### EXPECTED BLIZZLIKE BEH

[2021-04-09 01:47] eTzmNcbkrng commented on #5183
Same issue.
Windows 10 x64.
Worked fine after I manually downloaded and extracted v10 data.zip from https://github.com/wowgaming/client-data/releases

[2021-04-09 03:09] #4591 closed

[2021-04-09 07:34] #5081 closed

[2021-04-09 08:17] FrancescoBorzi commented on #5183
it's not the same issue, some people are saying it works only with v9 while others say it works fine downloading v10.

honestly, I don't understand where the issue is

[2021-04-09 09:48] Stifler82 opened #5206 "Tab targeting when using a wand is not Blizzlike. [$15]"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/322

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Tab targeting when using a wand works incorrectly.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

On Blizzard se

[2021-04-09 10:09] BlueSkyCubeGaming commented on #5085
We now tried the newest Version and a clean install again, still with the same results.

[2021-04-09 12:04] Kitzunu commented on #5183
I can confirm.

I downloaded the v10 and everything worked perfectly.
I then reran CMake, rebuilt and now I get the same error in worldsevrer and can't get it to start
[code]

[2021-04-09 15:47] yuanf225 opened #5208 "WordServer starts with some Modules configuration errors"
## CURRENT BEHAVIOUR:

## EXPECTED BLIZZLIKE BEHAVIOUR:
These errors should not exist

## STEPS TO REPRODUCE THE PROBLEM:
Use the current AC version and add these modules, then use cmake../ -dcmake_install_prefix =/ WWW /game/server/ -dcmake_cxx_compiler ="clang" -dcmake_cxx_compiler ="clang++" -dwith_warnings = 1-dtools = 1-dscripts = 1-denable_extras =1 to compile it

## AC HASH/COMMIT:
cc48695

[2021-04-09 15:57] ErnestoGonzalezC commented on #5208
@yuanf225  In the config folder there must be both the .conf.dist and .conf configuration files.

[2021-04-09 16:04] yuanf225 commented on #5208
![微信图片_20210409235951](https://user-images.githubusercontent.com/43561197/114208660-4ceef080-9990-11eb-94e7-8aa1a6e538d4.png)
At the same time there is

[2021-04-09 16:53] Caishen-cc opened #5209 "Respawn time of chest in Arathi Highlands is too low"
## CURRENT BEHAVIOUR:

There is a chest in Arathi Highlands that has a respawn time of 2 minutes. People have been standing on it and farming in semi-afk mode. Loot, wait two minutes, loot again. Chest guid: 100067. Screenshot:
![Screenshot from 2021-04-09 12-45-17](https://user-images.githubusercontent.com/81451494/114214386-40d44600-9932-11eb-9105-ffab5d9e9681.png)

## EXPECTED BLIZZLIKE BEHAVIO

[2021-04-09 17:08] Caishen-cc opened #5211 "Respawn time of chest in Arathi Highlands is too low #2"
## CURRENT BEHAVIOUR:

_Similar to https://github.com/azerothcore/azerothcore-wotlk/issues/5209 but because the fix for this is different, I decided to create a separate issue_

There is a chest in Arathi Highlands that has a respawn time of 2 minutes. People have been standing on it and farming in semi-afk mode. Loot, wait two minutes, loot again. Chest guid: 100068. Screenshot:
![Screenshot from

[2021-04-09 18:21] Helias commented on #5183
I will upload a new version soon

[2021-04-09 18:56] #4441 closed

[2021-04-09 18:56] #4466 closed

[2021-04-09 18:56] #5147 closed

[2021-04-09 21:36] JamesGent opened #5213 "Blackfathom Deeps is locked/ended if you wipe on the Torches event."
https://github.com/chromiecraft/chromiecraft/issues/220

## CURRENT BEHAVIOUR:

Blackfathom Deeps is locked/ended if you wipe on the Torches event.

## EXPECTED BLIZZLIKE BEHAVIOUR:

The mobs should not despawn. They should chill in a huddle until you respawn and attempt them again.

## SOURCE:

Wipe at 3:38

2nd attempt at 11:00

https://www.youtube.com/watch?v=cUJXEj8hIdM

Cata live footage from

[2021-04-09 21:38] orfaze commented on #5213
Confirmed

[2021-04-09 21:52] eTzmNcbkrng commented on #5213
Nothing here indicates it was ever the case that wiping on this event caused the dungeon to need to be reset.
https://wowpedia.fandom.com/wiki/Blackfathom_Deeps#Patch_changes
https://wowwiki-archive.fandom.com/wiki/Blackfathom_Deeps#Patches_changes

The text "[Right-click these one at a time because a small group of mobs is summoned from the adjacent doors every time you do. Defeat these one at a

[2021-04-09 22:15] Kitzunu commented on #5213
@Stifler82 it is very useful if you leave coments to why an issue gets closed.

Both for the author to understand the reason and fpr pther staff members to not be confused. Especially when all comments proves this is a bug.

Thanks =)

[2021-04-09 22:16] eTzmNcbkrng commented on #5213
@FrancescoBorzi There is no reason for failing this event to cause Blackfathom Deeps to be uncompletable.

We've provided actual video footage of it working the way we're saying it should be, from two different periods (Classic and Cata).
There's no documentation that it was changed to this state and then back again, which is a pretty big change and you would think that info would exist somewhere.

[2021-04-09 22:17] Kitzunu commented on #5213
I am going to reopen this as it seems valid to me and nothing proving otherwise.

[2021-04-09 22:26] Drakelol opened #5214 "Connection error with mysql"
I pulled the last update of the core, all ok, even when I went to run worldserver.exe, authserver.exe runs normal, but the world server has a connection error with MySQL8.0 but I have already reinstalled mysql and it continues the same mistake.

STEPS TO REPRODUCING THE PROBLEM:
1.Open authserver.exe
2.Open worldserver.exe
3. connection error with MySQL
ERROR: DatabasePool world NOT opened. There

[2021-04-09 22:27] Kitzunu commented on #5214
Check SQL driver log

[2021-04-09 22:36] Stifler82 commented on #5213
The reason is that they've come to "Cry" multiple times for this reason, calling this mechanic a "Bug" each time.
BUT!
They never have a shred of proof that this is a Bug, they ONLY provide links where they say: "There are no references that the Dungeon needs to be reset if wiped".

Yes, maybe that's true, but there aren't even references that say the opposite, so 50% and 50%.

**So for me the rul

[2021-04-09 22:36] Stifler82 commented on #5213
Now i left the comment/reason...

[2021-04-09 22:44] Stifler82 commented on #5213
Ok @FrancescoBorzi  changed my mind about the problem because he showed me the problem from a different perspective that I hadn't considered.

This however does not change my previous reasons, it only changes the result..

[2021-04-09 22:56] Stifler82 commented on #5213
Theoretically, the last Boss should be the "reward" for running the entire Dungeon correctly, so you can proceed to the next step (ONLY IF) you have also finished the "Boss Event".

If you fail the boss event, you cannot proceed to the next step.
In CLASSES and in TBC many dungeons have this "Behavior" / "Mechanics".

So I'm still undecided on this issue.

[2021-04-09 23:09] Drakelol commented on #5214
I am not finding the SQL driver log.
I reviewed everything here, I already made all the changes in worldserver.conf and authserver.conf, and the error still persists

[2021-04-09 23:11] Kitzunu commented on #5214
You need to enabled it in world conf then start the server and you will see what is blocking your connection

[2021-04-09 23:12] Kitzunu commented on #5214
I run mysql 8 and keep the source updated for it so I know it works. Probably just a missing imported db file which is easily resolved

[2021-04-09 23:13] Kitzunu commented on #5213
As I havent tested this yet, only read the issue what I get from it is that if you fail the boss the entire dungeon resets to 0, if thst is correct then I believe it to be a bug.

As far as my knowledge goes only that encounter should reset, not the entire dungeon.

Did I understand the issue correctly?

[2021-04-09 23:19] Drakelol commented on #5214
Ok I'll do it!

[2021-04-09 23:21] eTzmNcbkrng commented on #5213
No, the issue in question is not a boss.
After you defeat [Twilight Lord Kelris](https://wowpedia.fandom.com/wiki/Twilight_Lord_Kelris) there is a door behind him that can only be opened after completing this event.
There are four torches that need to be lit, each torch summons a wave of enemies that must be defeated.
Currently, if you wipe during this event, the mobs despawn and you cannot religh

[2021-04-09 23:21] Stifler82 commented on #5213
No, then ..
The event referenced in the issue is this:
**Video Test:** [Blackfathom Deeps](https://youtu.be/xgVKFQIBJq0)
this is the penultimate Boss (which is an event).

If you fail this event, you cannot finish (The Last Boss)
this is a known behavior in both Classic and TBC.
So the dungeon can do it all, but if you DON'T finish the event that is there before the last boss, you can't finish it

[2021-04-09 23:24] Stifler82 commented on #5213
@Kitzunu
The point is:
- The boss is behind the door.
- If you don't finish the Boss event, the door won't open.
- If the door doesn't open (OBVIOUSLY) you can't get to the last Boss

So in fact: The Dungeon is correct like this.

[2021-04-09 23:25] Kitzunu commented on #5213
Ah okay then we're on the same page.

Really strange that I never heard of this behaviour before. But then I have mostly only cared about wotlk content...

I mean stright out of the box it only make sense that only the event would reset. But I can see where Stiffler is coming from if it works like this somewhere else too. (Could you provide me with an example, that way I can more easily look into

[2021-04-09 23:25] Stifler82 commented on #5213
@Kitzunu
And if you see my video i can get it better..

[2021-04-09 23:34] Stifler82 commented on #5213
@Kitzunu
The last Boss is a: "Reward" because you finished the event boss (In fact they put there a "Closed" door there)..
(IF) you get the Door (OPEN) you can get the  last Boss..

[2021-04-09 23:35] Kitzunu commented on #5213
Yea no misunderstanding there

[2021-04-09 23:37] Stifler82 commented on #5213
For this reason for me this is not a bug..
Because the killing of the Boss is based on the ability of the players to finish the previous boss event.

[2021-04-09 23:39] Anhedonie-Shanrai commented on #2843
Can't confirm.
Neither on newly created Death Knights, nor on lvl 80 Death Knights does this appear when clicking the option "Show all spell ranks" - tested for enUS & deDE.
Running AC from 30.03.21.
![DS](https://user-images.githubusercontent.com/82074951/114250252-6ba7b400-999d-11eb-8486-4c2413b2905e.PNG)

[2021-04-09 23:40] Drakelol commented on #5214
The error below:

2021-04-09 20:33:21 Opening DatabasePool 'world'. Asynchronous connections: 1, synchronous connections: 1.
2021-04-09 20:33:21 MySQL client library: 8.0.23
2021-04-09 20:33:21 MySQL server ver: 8.0.23
2021-04-09 20:33:21 MySQL client library: 8.0.23
2021-04-09 20:33:21 MySQL server ver: 8.0.23
2021-04-09 20:33:21 [ERROR]: In mysql_stmt_prepare() id: 54, sql: "SELECT entry, diffic

[2021-04-09 23:41] Kitzunu commented on #5213
Yea I get that view and I agree so far.
What I want to investigate is if the entire dungeom should reset if you wipe to it. It's like if ICC reset if you wiped on Sindragosa pre event.

Maybe Blizzard did that back in the day, but just hearing it without prior knowledge of the dungeon it seems weird.

It is a prerequisite to finish it before the last boss, as any other boss/event before it. We jus

[2021-04-09 23:44] Kitzunu commented on #5214
Update your DB, your core is up to date but not the DB.

Run the DB Assambler

[2021-04-09 23:45] Stifler82 commented on #5213
@Kitzunu
Do you suggest making the torches retriggerable so that players can retry the event until they succeed?

[2021-04-09 23:45] Drakelol commented on #5214
Ok

[2021-04-09 23:47] Kitzunu commented on #5213
That is what I want to find out. If the event can be redone if failed

[2021-04-09 23:50] Stifler82 commented on #5213
Well, regardless of your research, we could do it anyway, because in any case the purpose of the event is to "Deserve" the chance to kill the last Boss and thus get his loot, if after 10 attempts **(to say)** in the end they manage to do it, in any case it is a deserved thing, so it would be fine for me too.
For me is fair enough in this way..

[2021-04-10 00:04] Kitzunu commented on #5213
I totally agree and it is more logical thst way too, so you dont have to redo the entire dungeon due to wiping at specific event.

I will put this issue as confirmed and anyone that fixes it should do it as mentioned above.

[2021-04-10 01:04] Kitzunu commented on #5214
Did you manage to fix it?

[2021-04-10 01:20] Drakelol commented on #5214
So I managed to fix the old error, but now it has an error in VMAP.
Error below
2021-04-09 21:33:41 ERROR: VMap file 'C:\server\aBuild\bin\Release\Data/vmaps/000.vmtree' is missing or points to wrong version of vmap file. Redo vmaps with latest version of vmap_assembler.exe.

I came back to run the Vmap Assembler again?

Is it normal to give these errors?

[2021-04-10 01:29] Kitzunu commented on #5214
If you are using v10 of the maps, pull the src, run cmake and rebuild

If not, there is a link on the wiki to download them or extract all the files again after the steps above.

This will solve your issue.

Going to close as I consider it resolved

[2021-04-10 01:29] #5214 closed

[2021-04-10 01:30] Kitzunu commented on #5183
@nolt rerun cmake and rebuild and see if the issue still exists

[2021-04-10 01:36] T1ti commented on #5213
I've already wiped on this event in Classic, the mobs will stay and you just have to beat them, it is not locked

[2021-04-10 01:48] Drakelol commented on #5214
@Kitzunu
I did it all these ways, and the error in 000.vmtree continues

[2021-04-10 01:52] Kitzunu commented on #5214
Here is a thread about it https://github.com/azerothcore/azerothcore-wotlk/issues/5183

[2021-04-10 01:58] Drakelol commented on #5214
OK, vou aguardar o Helias xD

[2021-04-10 02:02] ReynoldsCahoon commented on #5213
Another example from a Classic playthrough, that the torches are lit (this group wipes) they return to the room, and the mobs are still present. Once killed, the door opens. [Timestamp of their return after the wipe: 1:17:56](https://youtu.be/-K6N_Pagwcc?t=4676).

I will hop on my classic character at some point and test if there's a despawn timer, or if they remain indefinitely.

For sure the bra

[2021-04-10 02:31] Stifler82 commented on #5213
OK, then..
There is one thing to understand here, a point that (from what I read from the comments) eludes everyone..
- **New WoW Classic** = **Is Not (THE SAME) Old WoW Classic**
- **New WoW TBC** = **Is Not (THE SAME) Old WoW TBC**
and when they will make:
- **New WoW WOTLK** = **it will Not (THE SAME) Old WoW WOTLK**

This because they are making those **"New"** expansion as a **"Re-Make"**
So,

[2021-04-10 02:38] ReynoldsCahoon commented on #5213
Your point is taken. Unless we have video footage from actual Wrath of the Lich King, we cannot conclude this with certainty.

However, assuming this functionality works this way in both Classic, and TBC Classic, and there is no footage that can be retrieved showing it working differently, I think the burden of proof actually rests on you to provide details for why it should work the way that it d

[2021-04-10 02:48] Stifler82 commented on #5213
I DO NOT HAVE to prove anything, for the simple reason that I did NOT open the report (Claiming) that the Dungeon is Bugged.

Plus, I've been a WoW player since 2007 and I know how WoW mechanics worked back then.

To be honest I haven't done this dungeon many times, and all the times I've done it with high level guild PCs helping me, so I've never done Wipe.

But what I know is that I have seen (i

[2021-04-10 02:50] ReynoldsCahoon commented on #5213
I'm not sure what I said that merited hostility.

[2021-04-10 02:50] Stifler82 commented on #5213
In fact i wasn't speak directly with you..(in general)

[2021-04-10 02:52] Stifler82 commented on #5213
So nothing personal..
Let's say that when I find myself explaining a concept after 999 times to 1000 times I get impatient..
After all, I'm human too..

[2021-04-10 02:55] T1ti commented on #5213
Classic is 99.99% the same as vanilla 1.12...
The core mechanics are the same, and the database and scripts are unchanged, there is absolutely 0 reason for it to work differently in classic than in vanilla 1.12

[2021-04-10 02:56] eTzmNcbkrng commented on #5213
Do you not think that if there was a mechanic that made the dungeon unable to be completed that it would be well documented from the moment someone first discovered it?
We have video evidence of it working a particular way 1 expansion later, with no patch notes/guides saying that it was changed.
We have video evidence of the remake of the original working the same way.

All the documentation from

[2021-04-10 02:57] Stifler82 commented on #5213
Oh sorry, do you work to Blizzard?
Sorry i didn't know it..

[2021-04-10 02:58] T1ti commented on #5213
Do you work at blizzard to know it is changed ?

I'm active in the vmangos emulator, Classic has been investigated a LOT, it's very clear that classic scripts and database are all exactly the same as vanilla

[2021-04-10 03:04] ReynoldsCahoon commented on #5213
This comment from a [Thottbot user during patch 2.0.1.2](https://classic.wowhead.com/npc=4832/twilight-lord-kelris#comments:id=2811498) supports the functionality being asked for in this report

This confirms that the mobs survived through three separate attempts, and because they could not kill the mobs, they could not proceed.

All braziers must be touched, and all mobs that spawn must be killed

[2021-04-10 03:07] Stifler82 commented on #5213
No, I don't work there. as it seems you do.
But I notice things, and I wonder "Why" Blizzard made the "OLD" DB of "Wowhead" disappear and "Why" is doing it all over again (if they already had the data) why do it again ?.

Unfortunately some people have the brain as a divider for their ears.

Instead, I use it to reason..

[2021-04-10 03:08] Stifler82 commented on #5213
2007/04/28 (Patch 2.0.12)

Yeah! great proof!
What expansion are we?
Can you refresh my mind?

[2021-04-10 03:09] T1ti commented on #5213
blizzard deosn't make wowhead ? lol
wowhead is a private company

[2021-04-10 03:11] eTzmNcbkrng commented on #5213
The point is, there is nothing, anywhere, that says there was a change to this dungeon that caused a single pull to make the dungeon uncompletable if you fail it.
That's a massive change to the design of the dungeon and it just doesn't exist.

[2021-04-10 03:12] ReynoldsCahoon commented on #5213
Your temperament is concerning. I am doing my best to provide as many details as I can in regards to this report.

These are quotes from you, admitting that you've never seen how this works, yet are claiming authority on how it should work.

[2021-04-10 03:12] Stifler82 commented on #5213
Ah ok, I get it, so they don't cooperate with Blizzard.
They do their own thing, without even consulting with the blizzard right?

So you are basing your thesis that "should" disprove mine on the basis of partnerships and company policies and business techniques, cool..

[2021-04-10 03:16] T1ti commented on #5213
Blizzard had released many dev blogs and made a whole blizzcon pnnel about Classic's developement, they converted the 1.12 database from a backup and the source code, they didn't make custom values 4 funz

People have tried very hard to prove classic had wrong data because it was too easy, they all got crushed and were proven false, nobody has found 1 inconsistency in classic's database and all th

[2021-04-10 03:21] Stifler82 commented on #5213
Yeah and there are also my quotes where I say that I am still undecided about this problem because I am not sure, as (I am NOT SURE) that it is as you say (OR) as I say.

So I'm not saying it's 100% like I say, I'm just saying in my experience usually wow mechanics work like this.

https://github.com/azerothcore/azerothcore-wotlk/issues/5213#issuecomment-817015147

[2021-04-10 03:27] Stifler82 commented on #5213
https://www.toxicgaming.us/wow/vanilla-patch-notes/

https://www.toxicgaming.us/wow/tbc-patch-notes/

https://www.toxicgaming.us/wow/wrath-patch-notes/

if you don't find your proof here, you can't find them in no where

[2021-04-10 03:37] ReynoldsCahoon commented on #5213
Patch notes do not outline changes to dungeon encounters unless they are actually changed from their original implementation.

[2021-04-10 03:42] Stifler82 commented on #5213
this is an example:

- Molten Core
      - Added in-game voice for Ragnaros and Majordomo Executus.
      - Fixed an issue that was causing the first Firelord to stop moving.
      - Garr will now lose his enrage buff when he leaves combat.
      - Majordomo Executus will now make the Flamewaker Healers immune to polymorph at the appropriate time, even after failed attempts.
      - Bringing Flame

[2021-04-10 03:44] skxawng-cu commented on #5183
I have a problem with v10 data, all Workshop's NPCs in Winter Battlefield are underground.

And Singragoza in ICC raid go underground too.

[2021-04-10 03:44] ReynoldsCahoon commented on #5213
Below are all references to Blackfathom Deeps in [pre-release patch notes](https://wowpedia.fandom.com/wiki/Patch/0.x).

[2021-04-10 03:45] ReynoldsCahoon commented on #5213
This is an example of a mechanic from a raid.

[2021-04-10 03:46] skxawng-cu commented on #5183
I want to know what file permissions I have to give to data folder, now I am using 0777 because with default permissions the mage blink can cause that the player go underground.
Any one can help?

[2021-04-10 03:51] skxawng-cu commented on #5180
I can confirm this issue, I have the same problem after update the core and download client data v10.

[2021-04-10 04:02] Stifler82 commented on #5213
Oh yes?
no inconsistency?
So this MOB (and many others I have found) have all these spells?
https://classic.wowhead.com/npc=1934/tirisfal-farmer#abilities
https://tbc.wowhead.com/npc=1934/tirisfal-farmer#abilities

I don't think so..

[2021-04-10 04:38] Stifler82 opened #5215 "[Spell] Winterfall Pathfinder's Faerie Fire does not prevent stealthing"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/348

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Winterfall Pathfinder's (https://wowgaming.altervista.org/aowow/?npc=7442) spell Faerie Fire (https://w

[2021-04-10 05:29] Stifler82 opened #5216 "Darkmoon Faire Prizes are empty [$10]"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/351

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enUS

##### FACTION

- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic

##### CURRENT BEHAVIOUR:

Type here.

Upon receiving Darkmoon Faire prizes (Minor Darkmoon Prize - https://classic.wowhead.com/item=19298/minor-darkmoon-prize), the package enters my bag. When clicking on it to g

[2021-04-10 06:37] Stifler82 opened #5217 "Searing Totem attacks neutral target"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/366

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [X] enUS
- [ ] other (specify)

##### FACTION

- [ ] Alliance
- [X] Horde

##### CONTENT PHASE:

- [X] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Searing totem attacks all neutral in range.
It can even attack low level npc like rats/rabbits...

####

[2021-04-10 06:48] Maurowin commented on #2843
That is why this checkbox must be removed.
There is no rank to display like all energy, rage etc.. classes

[2021-04-10 06:50] Maurowin commented on #2843
If you can click forever without consuming any resource and without GCD, it's cheating, it's a spell that should not be available to players.

[2021-04-10 06:52] Stifler82 opened #5218 "Mangy Nightsabers and Young Thistle Boars can be skinned for Light Hide, Medium Leather, Medium Hide and Red Whelp Scales"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/368

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

[Mangy Nightsabers](https://wotlkdb.com/?npc=2032) and [Young Thistle Boars](https://wotlkdb.com/?npc=1

[2021-04-10 07:02] Stifler82 opened #5220 "Weird mobs pathing issues [$15]"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/369

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Sometimes the mobs will try to reach you through weird paths. I have experienced two different anormal

[2021-04-10 07:03] Stifler82 commented on #5220
https://github.com/azerothcore/azerothcore-wotlk/issues/5022
https://github.com/chromiecraft/chromiecraft/issues/303

[2021-04-10 07:45] Stifler82 opened #5221 "[Quest] Tree's Company [$5]"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/375

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Using the [Tree Disguise Kit] (item 23792) lets the player attack (despite the player being rooted).
Th

[2021-04-10 08:06] Stifler82 opened #5222 "[Quest][NPC]A noble brew (part 2) Lord Baurles K. Wishock missing scripted event [$5]"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/379

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [ ] 1-19
- [x] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

After handing in and completing the quest A Noble Brew (part 2)(https://wowgaming.altervista.org/aowow/

[2021-04-10 08:14] Stifler82 opened #5224 "npc is absolutely bugged out [$15]"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/380

Kel'gash the Wicked in ghostlands does not follow you when you line of sight him with a column, just stays still, unsure of the pathing. He also shoots instant chain lightnings WHILE casting lightning bolt. Chain Lightning is definitely a spell with cast time. I am suspicious that this npc is bugged.
1. It should follow m

[2021-04-10 08:15] Stifler82 commented on #5224
![feba3ae4ddbc00e85a3a3d531384c000](https://user-images.githubusercontent.com/39674406/114037578-67867400-9881-11eb-836e-d28dd99c2bf4.jpg)

[2021-04-10 08:17] Stifler82 commented on #5224
https://github.com/chromiecraft/chromiecraft/issues/303
https://github.com/azerothcore/azerothcore-wotlk/issues/5022

[2021-04-10 08:38] Anhedonie-Shanrai commented on #2843
But that's the point: It isn't available - see my screenshot. Are you sure there is no custom modification you made caused this? Have you tried this on a "clean" AC, without any custom mods (mods in the AC repo should be ok).

[2021-04-10 08:44] Stifler82 opened #5225 "Wrathtail Sea Witch NPCs in Zoram Strand loot table is bugged"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/388

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [ x] enUS
- [ ] other (specify)

##### FACTION

- [ ] Alliance
- [ x] Horde

##### CONTENT PHASE:

- [ ] Generic
- [ ] 1-19
- [x ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Wrathtail Sea Witch NPCs in Zoram Strand loot table is bugged. They can drop anything from lvl 10-30

[2021-04-10 08:51] FrancescoBorzi commented on #5213
Ok, let's end this discussion.

My final verdict: **it should be unlocked**.

Reason: it seems the majority of sources (as we as contributors here) are in favour of unlocking it, even if we are not 100% sure. If later we found out this was a wrong decision, we can always revert.

[2021-04-10 08:54] Stifler82 opened #5226 "High Inquisitor Whitemane Infinite Mana & Instant Casts [$5]"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/389
High Inquisitor Whitemane in Scarlet Monastery does not run out of mana, and will endlessly heal herself with instant cast heals, aswell as smite instantly

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [X] enUS
- [ ] other (specify)

##### FACTION

- [X] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [X] Generic
- [ ] 1-1

[2021-04-10 09:00] Stifler82 opened #5227 "Terenthis (Auberdine, Darkshore) gossip text is missing"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/392

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [X] enUS
- [ ] other (specify)

##### FACTION

- [X] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Terenthis (https://wowgaming.altervista.org/aowow/?npc=3693) has an incorrect gossip text, he says the

[2021-04-10 09:12] FrancescoBorzi commented on #5183
@UltraNix or anyone else: can you confirm this?

[2021-04-10 09:12] FrancescoBorzi commented on #5180
@skxawng-cu please test the fix to this issue: https://github.com/azerothcore/azerothcore-wotlk/pull/5188

and let us know how it goes

[2021-04-10 09:18] UltraNix commented on #5183
Wintergrasp fixed by #5188.
Sindragosa - works okay for me.
@Helias Make sure that `vmap_magic` is updated.

[2021-04-10 10:31] Maurowin commented on #2843
maybe u right, which means it's either an oversight by blizzard or they're stupid

[2021-04-10 11:30] FrancescoBorzi commented on #5227
@Stifler82 why Generic? isn't this 1-19 ?

[2021-04-10 12:43] Helias commented on #5183
client data updated, try this
https://github.com/wowgaming/client-data/releases/tag/v10

@UltraNix what do you mean with vmap_magic?

[2021-04-10 12:53] UltraNix commented on #5183
`VMAP_MAGIC`

[2021-04-10 15:51] cirosantos0 commented on #5183
Sindragosa working without problems.
Can confirm Wintergrasp NPC under floor on c05fa1a0a915ab90e8d7731ad0f8f3b2ff2e7731.
#5188 fixes it.

[2021-04-10 17:16] Drakelol commented on #5214
@Kitzunu
I did the update that Helias put on the other topic, the server works normally, but when I apply my BACKUP of my server, the error in "[ERROR]: Unknown column 'BaseVariance' in 'field list'".
I went to take a look at my backup tables and it doesn't have the new columns "BaseVariance and RangeVariance".
In this case, how can I do it?

[2021-04-10 17:17] nolt commented on #5183
@Helias @Kitzunu
Just finished testing new client data, all works without any problems.
Testing procedure:
- unziped new client_data on revision https://github.com/azerothcore/azerothcore-wotlk/commit/91dfedd0801a8babdb07e1bd865d586096dbbd97 without cmake/rebuild - no errors
- rerun cmake and rebuild with same rev as above - no errors
- pulled rev https://github.com/azerothcore/azerothcore-wotlk/c

[2021-04-10 17:51] Stifler82 commented on #5227
Because beyond the area / npc level, the problem is a generic problem that I have seen in other issues, a problem related to "Gossip" that is also found in other "Level-Range".

[2021-04-10 18:20] Stifler82 opened #5229 "10+ players in warsong per faction"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/335

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [X] enUS
- [ ] other (specify)

##### FACTION

- [ ] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [ ] 1-19
- [X] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

10+ players in warsong.

##### EXPECTED BLIZZLIKE BEHAVIOUR:

Max players per faction is 10.

##### STE

[2021-04-10 18:52] ReynoldsCahoon opened #5230 "Feature: Support Multiple Realms with Docker Installation"
**Describe your feature request or suggestion in detail**

Users should have the ability to add realms to their docker installation.

**Describe a possible solution to your Feature or Suggestion in detail**

I think (and I'm scratching my head because there's a lot to the build process of the docker containers) that basically you'd need to:

1. Update `azerothcore-wotlk/docker/database/generate-da

[2021-04-10 18:54] nethw opened #5231 "Warlock succubus cast is instant if the pet gotta move for casting the spell"
## CURRENT BEHAVIOUR:
Warlock succubus has a weird bahaviour.
When you cast Seduction and that the target is out of range or not in LoS, she gotta move.
And when the pet has finally the range and los for casting, the spell does not have a casting time.
Seduction is just instant

## EXPECTED BLIZZLIKE BEHAVIOUR:
The seduction cast must not be instant

## SOURCE:
this is actually easy to reproduce t

[2021-04-10 19:17] mdawx opened #5232 "Guild Announcements Not Working! :( [$25]"
Originally reported https://github.com/chromiecraft/chromiecraft/issues/390

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

## CURRENT BEHAVIOUR:

Custom guild announcements using the calendar do not work. (Not talking about the message of the day.) The

[2021-04-10 19:39] mdawx opened #5233 "Herbalism: Herb Nodes: 2 Earthroot too close near Far Watch Post, Barrens"
Originally reported: https://github.com/chromiecraft/chromiecraft/issues/393

#### WHAT CLIENT DO YOU PLAY ON?

- [ ]  enGB
- [x]  enUS
- [ ]  other (specify)

##### FACTION

- [ ]  Alliance
- [x]  Horde

##### CONTENT PHASE:

- [ ]  Generic
- [x]  1-19
- [ ]  20-29
- [ ]  30-39

##### CURRENT BEHAVIOUR:

Two Earthroot nodes are too close to each other in northeastern Barrens
##### EXPECTED BLIZZL

[2021-04-10 19:57] mdawx opened #5234 "[Tanaris] Double Mithril Vein spawn"
Originally reported: https://github.com/chromiecraft/chromiecraft/issues/398

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Double spawn - Two Mithril veins spawned on top of eachother.
GUID 32880, 7163
![mithril](https://user

[2021-04-10 21:05] #5183 closed

[2021-04-10 21:13] Dude100 commented on #5183
+1

[2021-04-10 21:56] nethw opened #5235 "Z position of monsters in water"
## CURRENT BEHAVIOUR:
I know it has been recently patched (in january if I remember).
The monsters are indeed walking on the ground inside the water now. But if you pull them, they walk on the water. (we can see the monster walking in the water, but it must walk on the ground)

## EXPECTED BLIZZLIKE BEHAVIOUR:
Monster must keep walking on the ground

## SOURCE:

## STEPS TO REPRODUCE THE PROBLEM:

[2021-04-11 00:29] T1ti commented on #1713
I'm not able to summon majordomo at all, anyone else confirm ?

[2021-04-11 08:40] mdawx opened #5237 "Silverpine forest high level mobs"
Originally reported: https://github.com/chromiecraft/chromiecraft/issues/400

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [X ] enUS
- [ ] other (specify)

##### FACTION

- [ ] Alliance
- [ X] Horde

##### CONTENT PHASE:

- [X ] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

There is a high-level (55) mob in silverpine forest that is supposed to only be in western plaguela

[2021-04-11 08:41] mdawx commented on #5237
According to https://wowpedia.fandom.com/wiki/Skeletal_Executioner these mobs should be located in Ruins of Andorhal only. Other source: https://vanilla-twinhead.twinstar.cz/?npc=1787

[2021-04-11 09:11] FrancescoBorzi commented on #5214
@Drakelol apply your backup and follow the DB update procedure in order to make it up to date.

If you have further questions, please read: https://www.azerothcore.org/wiki/How-to-ask-for-help

[2021-04-11 09:12] FrancescoBorzi commented on #5227
in this case, it would be generic if this bug would be addressed by a generic fix (e.g. a C++ core change) but if we have to fix them one by one with SQL, this seems pretty specific to me.

Anyway, this is just labelling, the most important thing is to fix them :)

[2021-04-11 09:59] #5153 closed

[2021-04-11 09:59] #5157 closed

[2021-04-11 10:00] #4970 closed

[2021-04-11 10:00] #4952 closed

[2021-04-11 10:00] #4978 closed

[2021-04-11 10:01] #4997 closed

[2021-04-11 10:01] #4881 closed

[2021-04-11 10:01] #4969 closed

[2021-04-11 10:01] #4979 closed

[2021-04-11 10:01] #5189 closed

[2021-04-11 10:02] #5191 closed

[2021-04-11 10:02] #5194 closed

[2021-04-11 10:02] #5181 closed

[2021-04-11 10:02] #5196 closed

[2021-04-11 10:02] #5200 closed

[2021-04-11 10:02] #4973 closed

[2021-04-11 10:02] #5107 closed

[2021-04-11 10:03] #4715 closed

[2021-04-11 10:03] #5209 closed

[2021-04-11 10:03] #5211 closed

[2021-04-11 10:03] #5218 closed

[2021-04-11 10:03] #4871 closed

[2021-04-11 10:04] #4963 closed

[2021-04-11 10:04] #5140 closed

[2021-04-11 10:04] #5142 closed

[2021-04-11 10:04] #4964 closed

[2021-04-11 11:15] mdawx opened #5241 "[NPC]Elder Diemetradon Spawned inside a tree in UN'Goro Crater"
Originally reported: https://github.com/chromiecraft/chromiecraft/issues/404

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

One Elder Diemetradon (GUID 24506)  is spawned inside a tree. When he moves around you can barely see

[2021-04-11 11:21] mdawx opened #5242 "[Un'goro Crater] Double Rich Thorium Vein Spawn (and more)"
Originally reported: https://github.com/chromiecraft/chromiecraft/issues/401

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Two Rich Thorium Veins are spawned next to  eachother.
GUID 17507 and 18421
![thorium](https://user-im

[2021-04-11 11:40] mdawx opened #5243 "[Arathi Highlands] Inaccessible herb node and double spawns"
Originally reported: https://github.com/chromiecraft/chromiecraft/issues/394

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Wild Steelbloom (GUID 4214) is spawned too high on a hill making it impossible to reach.

Golthorn GUI

[2021-04-11 12:52] Helias opened #5246 "[NPC]Sethir the Ancient has no waypoints"
https://github.com/chromiecraft/chromiecraft/issues/396

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

Rogue quest (https://wowgaming.altervista.org/aowow/?quest=2242) is hard to do because Sethir the Ancient (https://wowgamin

[2021-04-11 12:58] vtihomirov commented on #4520
@T1ti

Can you please re-test with the latest changes as I think https://github.com/azerothcore/azerothcore-wotlk/pull/5097/files PR addressed the issue.

According to https://youtu.be/vRFfCtpNpcY?t=122 they should provide loot. But not reputation.
Also I wasn't able to find a valid source about the XP. If you can share a source of proof.

[2021-04-11 13:04] vtihomirov commented on #4520
I tried to resolve

with UPDATE_TEMPLATE to dark shades like what they did in TC but there are two main issues with this.
1. For some reason when I update the template I'm unable to loot the mob on death.(No Loot)
2. When the mob resets by either Feign Death or Vanish it retains its updated template to Dark Shade instead of resetting to Scholomance Occultists.

I didn't find an option to reset the

[2021-04-11 13:42] FrancescoBorzi opened #5248 "[EPIC] AzerothCore progression system"
We need a set of SQL files allowing us to switch from the first season of Classic, to the last one of WOTLK.

Every season will be then tested and played on ChromieCraft, so we will improve every single content. The progression phases are listed here: https://www.chromiecraft.com/progression/

This task is **NOT** about fixing stuff, but about enabling/disabling only the right contents per every p

[2021-04-11 13:46] yuanf225 commented on #5248
There is also a corresponding arena

[2021-04-11 13:47] Helias opened #5249 "Stonesplinter Scout Throw ability animation not present"
related to https://github.com/chromiecraft/chromiecraft/issues/405
possible fix https://github.com/TrinityCore/TrinityCore/issues/12796

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [ ] Horde

##### CONTENT PHASE:

- [ ] Generic
- [x] 1-19
- [ ] 20-29
- [ ] 30-39

##### CURRENT BEHAVIOUR:

The mob Stonesplinter Scout (https://wotlk.

[2021-04-11 14:05] Helias opened #5250 "Pet dash does not increase movement speed. [$35]"
related to https://github.com/chromiecraft/chromiecraft/issues/406

The issue is not related properly to the Dash spell but it's related to the Pet behavior, when the Pet is in combat this issue does not happen.

#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [x] Alliance
- [x] Horde

##### CONTENT PHASE:

- [x] Generic
- [ ] 1-19
- [ ] 20-29
- [ ]

[2021-04-11 14:08] #5048 closed

[2021-04-11 15:31] mpfans opened #5252 "Please do PR again for PR 5144"
This commit should not modify the original SQL directly
He should submit a new PR to modify dungeon access Requirements table
Otherwise, the commit is invalid,this SQL will not be executed
Because the launch of this commit(https://github.com/azerothcore/azerothcore-wotlk/pull/5144) is too late, most people have implemented 03_ 29_ 01.sql

[2021-04-11 15:47] mdawx opened #5253 "Graveyard has no Spirit Healer"
#### WHAT CLIENT DO YOU PLAY ON?

- [ ] enGB
- [x] enUS
- [ ] other (specify)

##### FACTION

- [ ] Alliance
- [x] Horde

##### RACE

- [x] Tauren

##### CONTENT PHASE:

- [ ] Generic
- [ ] 1-19
- [ ] 20-29
- [ ] 30-39
- [ ] 40-49
- [x] 50-59

##### CURRENT BEHAVIOR:

Every graveyard has a spirit healer. Dying near Corin's Crossing in [Eastern Plaguelands](https://wowgaming.altervista.org/aowow/?z